/deep/ .mat-dialog-content {
    overflow-y: auto !important;
}

::ng-deep .table-query .ngx-datatable.scroll-horz .datatable-body {
    overflow: overlay;
    height: 375px !important;
    width: auto !important;
}

::ng-deep .table-query .ngx-datatable.material .datatable-header {
    width: auto !important;
}

::ng-deep .table-query .ngx-datatable .datatable-body {
    width: auto !important;
}

::ng-deep .table-query .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #0ac0c1f7;
    color: #004283;
}

::ng-deep .table-query .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #2DCCCD;
    color: white;
}

#infotext {
    width: 100%;
    height: 55px;
    padding: 0;
    background-color: transparent;
    resize: none;
    overflow: hidden
}

#infotext:focus-visible {
    outline: none;
}

h1 {
    color: #004283;
    margin-top: 3px;
    font-weight: bold;
}

.closeIcon {
    color: #004283;
    font-size: 30px;
    float: left;
}

.expandButton {
    color: #004283;
}

.expandButton:hover {
    background-color: #004283;
    color: #2DCCCD;
}

::ng-deep .mat-dialog-title {
    margin: 0;
}

.title-div {
    h1 {
        color: #004283;
        margin-top: 3px;
        font-weight: bold;
    }
    .title {
        height: 40px;
    }
    .close-butt-col {
        .close-butt {
            float: right;
            padding-right: 1px;
        }
    }
    .close-icon {
        float: left;
        color: #004283;
        font-size: 30px;
    }
    .margen-title {
        width: 97%;
        margin: 0 0 2% 1%;
        border-bottom-color: #004283;
        border-bottom-style: inset;
        border-bottom-width: thick;
    }
}

.search-filter-box {
    padding: 0 1rem 0 1rem;
    margin: 0 0 15px 0;
    border-radius: 3px;
    background-color: #f6f6f6;
    .first-search-row {
        margin-top: 15px;
    }
}

.search-buttons {
    padding-top: 5px;
    div {
        text-align: center;
    }
}

.search-table.ngx-datatable.material {
    z-index: 1;
    border-top-style: outset;
    box-shadow: none !important;
}

.font-15 {
    font-size: 15px;
}

.margenTitle {
    width: 96%;
    margin: 0 0 2% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

::ng-deep .tableRepo .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #0ac0c1f7;
    color: #004283;
}

::ng-deep .tableRepo .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #2DCCCD;
    color: white;
}