<div class="container-fluid title-div">
    <div class="row title">
        <div class="col-10">
            <h1 mat-dialog-title>Buscador de tablas</h1>
        </div>
        <div class="col-2 close-butt-col">
            <button mat-icon-button class="close-butt" matTooltip="Cerrar" [mat-dialog-close]="null">
                <mat-icon class="close-icon">clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="row margen-title"></div>
</div>
<div class="container-fluid">
    <div class="row search-filter-box">
        <div class="col">
            <div class="row first-search-row">
                <div class="col-2" *ngIf="searchType === 'DT'">
                    <mat-form-field class="full-width-input font-15">
                        <input matInput type='text' placeholder='Alias' [(ngModel)]="aliasQuery" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="full-width-input font-15">
                        <input matInput type='text' placeholder='Nombre Lógico' [(ngModel)]="baseNameQuery" />
                    </mat-form-field>
                </div>
                <div class="col-2" *ngIf="searchType === 'T'">
                    <mat-form-field class="full-width-input font-15">
                        <mat-select #orginSystemOpt placeholder="Fuente Origen" [(ngModel)]="originSystemQuery">
                            <mat-option *ngFor="let ori of originSystemOptions" [value]="ori.system">
                                {{ori.system}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2" *ngIf="searchType === 'T'">
                    <mat-form-field class="full-width-input font-15">
                        <input matInput type='text' placeholder='UUAA Raw' [(ngModel)]="uuaaRawQuery" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="full-width-input font-15">
                        <mat-select #uuaaSelectorOption placeholder="UUAA Master" [(ngModel)]="uuaaMasterQuery">
                            <mat-option *ngFor="let ua of uuaaMasterOptions" [value]="ua">
                                {{ua}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4 search-buttons">
                    <div>
                        <button mat-icon-button class="expandButton" matTooltip="Mostrar Descripción" (click)="showDescRow = !showDescRow">
                            <mat-icon *ngIf="showDescRow">arrow_drop_up</mat-icon>
                            <mat-icon *ngIf="!showDescRow">arrow_drop_down</mat-icon>
                        </button>
                        <button mat-button (click)="queryData()" class="button-query-global" style="margin-left: 15px; margin-right: 10px;">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-button (click)="cleanQuery()" class="button-query-global">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="showDescRow">
                <div class="col-1"></div>
                <div class="col-10">
                    <mat-form-field class="full-width-input font-15">
                        <input matInput type='text' placeholder='Descripción' [(ngModel)]="observationFieldQuery" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col table-query">
            <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="75" [limit]="5" [rows]='tablesQuery' [selected]="selectedTables" [selectionType]="'multiClick'" (select)='onSelect($event)' [scrollbarH]="true"
                [loadingIndicator]="loadingFlag" style="box-shadow: none;">
                <ngx-datatable-column *ngIf="searchType === 'DT'" name="Nombre Tablón" prop="master_name" [width]="250" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre Lógico" prop="baseName" [width]="250" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Sistema Origen" prop="originSystem" [width]="120" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Descripción" prop="observationField" [width]="450" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <textarea id="infotext" readonly="readonly" matTooltip="{{ row.observationField }}">{{row.observationField }}</textarea>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="searchType === 'T'" name="UUAA Raw" prop="uuaaRaw" [width]="100" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" [width]="100" [sortable]="true">
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="container-fluid" style="margin: 0 1rem 1rem 0;">
        <div class="row">
            <div class="col">
                <button mat-button class="buttonscolor" (click)="validateTables()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!--
<div>
    <mat-form-field class="fieldsearch-form">
        <input matInput type='text' placeholder='Nombre' [(ngModel)]="baseName" />
    </mat-form-field>
    <mat-form-field class="fieldsearch-form">
        <input matInput type='text' placeholder='Descripción' [(ngModel)]="observationField" />
    </mat-form-field>
    <mat-form-field class="fieldsearch-form">
        <mat-select #orginSystemOpt placeholder="Fuente de origen" [(ngModel)]="originSystemQuery">
            <mat-option *ngFor="let s of originSystemOptions" [value]="s.system">
                {{s.system}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fieldsearch-form">
        <mat-select #uuaaSelectorOption placeholder="UUAA Master" (selectionChange)="selectedUuaaMasterOption($event.value)">
            <mat-option *ngFor="let s of uuaaOptions" [value]="s">
                {{s.full_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="getTablesSearch()" class="button-query-global" style="margin-left: 15px; margin-right: 10px;">
    <mat-icon>search</mat-icon>
  </button>
    <button mat-button (click)="clean()" class="button-query-global" style="margin-right: 5px;">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content class="tableRepo" style="height: 70%; padding: 0; border-top-style: groove; border-bottom-style: groove;">
    <ngx-datatable #table class='material search-table' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]='tablesQuery' [selected]="selectedTables" [selectionType]="'multiClick'" (select)='onSelect($event)'
        [scrollbarH]="true" style="width: 100%;" [loadingIndicator]="loadingFlag">
        <ngx-datatable-column name="Nombre" prop="baseName" width="200" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.baseName}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="observationField" width="300" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.observationField}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Sistema Origen" prop="originSystem" width="105" [sortable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Periodicidad" prop="periodicity" width="100" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Estado" prop="viewStateTable" width="80" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.viewStateTable =='' ? 'En backlog' : row.viewStateTable}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="UUAA Raw" prop="uuaaRaw" width="85" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" width="95" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Proyectos" prop="projects" width="100" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.projects.length>0">
                    <div *ngFor="let h of row.projects">
                        <span>{{h}}</span><br>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Casos de uso" prop="use_cases" width="230" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.use_cases.length>0">
                    <div *ngFor="let y of row.use_cases">
                        <span>{{y}}</span><br>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div mat-dialog-actions style="margin-top: 8px; float: right;">
    <button mat-button class="button-query-global" style="margin-right: 5px;" [mat-dialog-close]="null">Cancelar</button>
    <button mat-button class="buttonscolor" style="margin-right: 5px;" (click)="validateTables()">Confirmar</button>
</div>
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->