<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Iniciar Base Operacional</h2>
    </div>
  </div>
</div>

<div autosize>
  <div class="creationtable-container">
    <div class="container-fluid" style="margin-top: 2%;">
      <div class="row">
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA Final" [(ngModel)]="newUuaa" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'finalUuaa'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-3Name">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="Nombre Físico Final" [(ngModel)]="newPhysName" disabled maxlength=24>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3" style="margin-top: 10px;">
          <button mat-button class="button-query-global" [disabled]="checkFillStatus()" (click)="createOpBase()">
            Confirmar Nueva Base
            <mat-icon class="buttonIcon">add_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row rowUpperBorder">
        <div class="col-3">
          <mat-form-field class="inputHelp">
          <input matInput placeholder="Responsable Delivery" [(ngModel)]="newDeliveryOwner" maxlength="40" [formControl]="formCDeliveryOwn" required>
            <mat-error *ngIf="formCDeliveryOwn.errors?.required">El correo es obligatorio</mat-error>
            <mat-error *ngIf="formCDeliveryOwn.errors?.pattern">El correo tiene formato invalido</mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'delivery_owner'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Tipo DB" [formControl]="formControlDBType"
            (selectionChange)="selectDBType($event.value)" required>
              <mat-option *ngFor="let db of dbOptions" [value]="db">
                {{db.toUpperCase()}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlDBType.hasError('required')">
              El tipo de DB es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'db_type'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-5">
          <mat-form-field class="fullInput">
            <mat-select placeholder="Proyecto" (selectionChange)="selectProjectOption($event.value)" required>
              <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                {{p.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row innerRow">
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <mat-select #selectorAmbito placeholder="Ambito" [formControl]="formControlAmbito"
            (selectionChange)="selectAmbito($event.value)" required>
              <mat-option value="K">Global - K</mat-option>
              <mat-option value="C">Colombia - C</mat-option>
            </mat-select>
            <mat-error *ngIf="formControlAmbito.hasError('required')">
              El ambito es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <mat-select #selectorUUAA placeholder="UUAA" (selectionChange)="selectUuaa($event.value)"
              [formControl]="formControlUUAA" required>
              <mat-option *ngFor="let f of uuaaOptions" [value]="f">
                {{f}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlUUAA.hasError('required')">
              La uuaa MASTER es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <mat-form-field class="inputHelp">
          <input matInput placeholder="Descripción Física" [(ngModel)]="newPhysDesc" maxlength="22" [formControl]="formControlPhysDesc" 
              (input)="inputValidatorDesc($event.target.value)" required>
              <mat-error *ngIf="formControlPhysDesc.errors?.required">La descripción física es <strong>obligatoria</strong></mat-error>
              <mat-error *ngIf="formControlPhysDesc.errors?.pattern">La descripción física tiene formato <strong>invalido</strong></mat-error>
              <mat-error *ngIf="!formControlPhysDesc.valid">La descripción física es de al menos <strong>4 caracteres</strong></mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_desc'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <mat-form-field class="inputHelp">
              <input matInput placeholder="Category" [(ngModel)]="newCategory" maxlength="22" [formControl]="formControlCategory" 
                required>
              <mat-error *ngIf="formControlCategory.errors?.required">La categoria es <strong>obligatoria</strong></mat-error> 
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_desc'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2Orig marginLeft">
          <mat-form-field class="inputHelp">
            <input type="number" matInput placeholder="Número de campos" [(ngModel)]="numFields"
              (input)="inputValidatorNumberFields($event)" [formControl]="formControlNumberField" required>
            <mat-error *ngIf="formControlNumberField.hasError('required')">
              El número es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="formControlNumberField.hasError('min')">
              Tiene que haber al menos <strong>un naming</strong>
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'numberField'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row innerRow">
        <div class="col-2">
          <mat-form-field class="inputHelp">
          <input matInput placeholder="Alias" [(ngModel)]="alias" maxlength="20" [formControl]="formControlAlias" required>
              <mat-error *ngIf="formControlAlias.errors?.validateFormAlias && !formControlAlias.errors?.required">El alias tiene formato <strong>invalido</strong></mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'alias'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-6 col-6LogicName">
          <mat-form-field style="width: 95%;">
            <input matInput placeholder="Nombre Lógico" [(ngModel)]="newBaseName" [formControl]="formControlBaseName" maxlength="55" required>
            <mat-error *ngIf="formControlBaseName.hasError('required')">
              El nombre lógico es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-Desc" style="padding-left: 5px;">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Periodicidad" [(ngModel)]="newPeriodicity"
              [formControl]="requiredFormControlPer" required>
              <mat-option *ngFor="let p of periodicityOptions" [value]="p.periodicity">
                {{p.periodicity}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControlPer.hasError('required')">
              La Periodicidad es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-Desc">
          <mat-form-field class="inputHelp">
            <mat-select #tacticalObject matTooltip="Marca objeto táctico" placeholder="Marca obj táctico"
              [formControl]="requiredFormControlMark" [(ngModel)]="newTactical" required>
              <mat-option value="YES">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControlMark.hasError('required')">
              La marca de objeto táctico es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'mark'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <mat-form-field class="fullInput">
            <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="Descripción"
              [(ngModel)]="newDescription">
            </textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': true}">
    <mat-card-content *ngIf="activeHelp === 'finalUuaa'">
      UUAA que se forma despues de seleccionar el ámbito y la uuaa de master.
    </mat-card-content>
  </mat-card>
</mde-popover>