::ng-deep .tableFixed .ngx-datatable.scroll-horz .datatable-body{
    overflow: overlay;
    max-height: 550px !important;
    height: 550px !important;
}
@media only screen and (min-height: 768px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 700px !important;
        height: 700px !important;
    }
}
@media only screen and (min-height: 1080px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 950px !important;
        height: 950px !important;
        font-weight: bold !important;
    }
}
::ng-deep .onlyView{
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
    .mat-form-field-underline{
        border-bottom-style: inset;
        border-bottom-width: thin;
    }
}

.mat-option:hover:not(.mat-option-disabled){
    background: #668eb5 !important;
}

.selectExcelValues{
    color: white !important;
    background: #004283;
}

.searchDiv .mat-form-field{
    font-size: 12px !important;
    display: contents;
}
.mat-form-field{
    font-size: 13px;
    display: contents;
}
.fullInput{
    width: 100%;
}
.generalContainer{
    padding-top: 10px;
    padding-left: 0;
    margin-left: 0;
}
.perimetro{
    flex: 0 0 22%;
}
.col-2tenper{
    flex: 0 0 10.666667%;
    max-width: 10.666667%;
}
.col-2tenper-PlusOne{
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
}
.col-2smallquarter{
    flex: 0 0 9.666667%;
    max-width: 9.666667%;
}
.col-2quarter{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-2Twenty{
    flex: 0 0 20%;
    max-width: 20%;
}
.col10per{
    flex: 0 0 10%;
    max-width: 10%;
}
.col-5-thirty{
    flex: 0 0 34.666667%;
    max-width: 34.666667%;
}
.col-5-minus{
    margin-right: -20px;
}
.inputFieldForHelpPop{
    width: 93%;
    display: inline-block;
}
.inputFieldForHelpPop-Small{
    width: 92%;
    display: inline-block;
}
.mat-card{
    background-color: aliceblue;
}
.helpPopdiv{
    width: 5%;
    display: inline-block;
    padding-left: 5px;
}
.mat-icon-button.redEye{
    .mat-icon {
        color: red !important;
   }
}
.buttonColor {
	color: #004283;
	background: #2DCCCD;
	margin-left: 20px;
}
.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
   }
}
.is-global {
    background: #f2f5a9;
}
.allContain{
    padding-left: 2%;
    padding-right: 2%;
    //margin-bottom: 3%;
}
.is-common-global {
    background: #f5d0a9;
}
.is-proposal {
    background: #f5a9a9;
}
.is-common-proposal {
    background: #d0a9f5;
}
.divH2{
    margin-left: 2%;
    margin-top: 20px;
    color: #004283;
}
.subMargen{
    margin-left: 1%;
    width: 98%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
}
.legacy-repeated {
    background: #AEDEF2;
}
.secondary{
    background: #b3daff;
}
.infoTableReview{
    font-size: 13px;
}
.infoTableReview p{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.tableFiltros table{
    width: 0%;
    display: table-cell;
}
.margen-div{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:1%;
    padding-right:1%;
}
.inputFull{
    width: 100%;
}
.inputHelp{
    width: 95%;
}
.helpPopdiv{
    width: 5%;
    display: inline-block;
    padding-left: 5px;
}
.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}
.col-2Nine{
    flex: 0 0 9.666667%;
    max-width: 9.666667%;
}
.col-2Ten{
    flex: 0 0 10.666667%;
    max-width: 10.666667%;
}
.col-2Elev{
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
}
.allDisabled{
    width: 100%;
}
.prettyFont p{
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
.fieldsearch-form{
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 150px;
    font-size: 12px;
}
.fieldsearch-form-object{
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 250px;
    font-size: 11px;
}
.fieldsearch-form-object2{
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 200px;
    font-size: 11px;
}
.fieldsearch-form-object3{
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 180px;
    font-size: 11px;
}
.fieldsearch-form2{
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 500px;
    font-size: 12px;
}
.fieldsearch-form3{
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 70px;
    font-size: 12px;
}
//Toggle buttons 
#tg-button{
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    label{
        margin-bottom: 0;
    }
}
#tg-button:hover{
    background:#d4edf9;
    color: #004283;
}
#tg-button label {
    float: right;
    width: 10em;
}
#tg-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}
#tg-button label input {
    position:absolute;
    top:-20px;
}
#tg-button input:checked + span {
    background-color: #004283;
    color:#fff;
}
#tg-button input:checked:hover + span {
    background-color:#2DCCCD;
    color:#004283;
}
::ng-deep .searchDiv .mat-form-field{
    width: 100%;
}
::ng-deep .allDisabled .mat-input-element:disabled{
    color: black;
}
::ng-deep .allDisabled .mat-form-field-label{
    color: black;
    font-weight: bold;
}
::ng-deep .allDisabled .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
}


#one{
    float: right;
    position: relative;   
}

#two{
    float: right;
    position: absolute;
    width: 126px;
    top: 10px;
    right: 15px;
}