<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Consultar Tabla</h2>
    </div>
  </div>
</div>

<div class="allContain">
  <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Propuesta">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="reviewInfo"></ng-container>
        <ng-container *ngTemplateOutlet="filtroColumnas"></ng-container>
        <ng-container *ngTemplateOutlet="buscadorNamings"></ng-container>
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
    <mat-tab *ngIf="showTabRaw" label="Raw">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="rawmasterInfo"></ng-container>
        <ng-container *ngTemplateOutlet="filtroColumnas"></ng-container>
        <ng-container *ngTemplateOutlet="buscadorNamings"></ng-container>
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
    <mat-tab *ngIf="showTabMaster" label="Master">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="rawmasterInfo"></ng-container>
        <ng-container *ngTemplateOutlet="filtroColumnas"></ng-container>
        <ng-container *ngTemplateOutlet="buscadorNamings"></ng-container>
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #tableTemplate>
  <ngx-datatable #table class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="' to'" [rows]="tableData"
    [scrollbarH]="true" [limit]="rowsLimit" [loadingIndicator]="loadingIndicator" (page)="onPaginated($event)"
    [rowClass]="getRowClass">
    <ngx-datatable-column name="No." width="15" prop="column" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">{{
        row.column + 1
        }}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('startPosition')" name="Inicio" prop="startPosition" [width]="65"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('endPosition')" name="Final" prop="endPosition" [width]="65"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('length')" name="Longitud" prop="length" [width]="75" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('originType')" name="Tipo Origen" prop="originType" [width]="110"
      [sortable]="false"></ngx-datatable-column>
    <!-- Campos de HOST -->
    <ngx-datatable-column *ngIf="
        visibleColumn('outRec') &&
        showHostTableFields &&
        activeTab === 'FieldReview'
      " name="Outrec" prop="outRec" [width]="130" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="
        visibleColumn('outVarchar') &&
        showHostTableFields &&
        activeTab === 'FieldReview'
      " name="Varchar Salida" prop="outVarchar" [width]="130" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="
        visibleColumn('outLength') &&
        showHostTableFields &&
        activeTab === 'FieldReview'
      " name="Salida" prop="outLength" [width]="110" [sortable]="false"></ngx-datatable-column>
    <!--////////////////-->
    <ngx-datatable-column *ngIf="visibleColumn('naming.code')" name="Código" prop="naming.code" [width]="95"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('naming.hierarchy')" name="Jerarquía" prop="naming.hierarchy"
      [width]="95" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('naming.governanceState')" name="Estado Naming Gobierno"
      prop="naming.governanceState" [width]="95" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('naming.naming')" name="Naming" width="200" prop="naming.naming"
      [sortable]="false" [cellClass]="getCellClass"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('logic')" name="Lógico" width="200" prop="logic" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('description')" name="Descripción" width="350" prop="description"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('catalogue')" name="Catálogo" prop="catalogue" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('legacy.legacy') && activeTab === 'FieldReview'" name="Legacy"
      prop="legacy.legacy" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="
        visibleColumn('legacy.legacyDescription') && activeTab === 'FieldReview'
      " name="Descripción Legacy" prop="legacy.legacyDescription" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('destinationType') && activeTab !== 'FieldReview'" name="Tipo de Dato"
      width="100" prop="destinationType" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('logicalFormat')" name="Formato Lógico" width="130" prop="logicalFormat"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('example')" name="Ejemplo" prop="example" width="100" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('legacy.legacy') && activeTab !== 'FieldReview'" name="Campo Origen"
      width="100" prop="legacy.legacy" [sortable]="false" [cellClass]="getCellClassLegacy"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="
        visibleColumn('legacy.legacyDescription') && activeTab !== 'FieldReview'
      " name="Descripción Origen" prop="legacy.legacyDescription" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('key')" name="Key" width="65" prop="key" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>{{ row.key === 1 ? "YES" : "NO" }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('mandatory')" name="Mandatory" width="95" prop="mandatory"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>{{ row.mandatory === 1 ? "YES" : "NO" }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('symbol')" name="Signo" width="65" prop="symbol" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>{{ row.symbol === 1 ? "YES" : "NO" }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('integers')" name="Enteros" prop="integers" width="75"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('decimals')" name="Decimales" prop="decimals" width="80"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('destinationType') && activeTab === 'FieldReview'" name="Tipo Destino"
      prop="destinationType" width="120" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('governanceFormat')" name="Formato Gobierno" prop="governanceFormat"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('format')" name="Formato" prop="format" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('default')" name="Valor Default" prop="default" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('tokenization')" name="Tokenización" width="120" prop="tokenization"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column *ngIf="visibleColumn('tds')" name="TDS" width="80" prop="tds" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>{{ row.tds === 1 ? "YES" : "NO" }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5">
              <span>Filas:</span>
              <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%">
                <mat-form-field>
                  <input matInput type="number" value="{{ rowsLimit }}" (input)="inputValidatorNumbers($event)"
                    (change)="_changeRowLimits($event)" />
                </mat-form-field>
              </div>
              <span>| Total: {{ rowCount }}</span>
            </div>
            <div class="col" style="padding-top: 10px">
              <datatable-pager style="float: right" [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                [hidden]="!(rowCount / pageSize > 1)" (change)="table.onFooterPage($event)">
              </datatable-pager>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</ng-template>

<ng-template #reviewInfo>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="matHeader">
      <mat-panel-title style="font-weight: bold">
        {{ activeObject.uuaaRaw }} / {{ activeObject.uuaaMaster }} -<span style="font-style: oblique">-
          {{ aliasLongTabla }}
        </span>
      </mat-panel-title>
      <mat-panel-description>{{ activeObject.alias }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid infoTableReview">
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-2">
              <p>UUaa Raw:</p>
              {{ activeObject.uuaaRaw }}
            </div>
            <div class="col-3">
              <p>Nombre Raw:</p>
              {{ activeObject.raw_name }}
            </div>
            <div class="col-2">
              <p>UUaa Master:</p>
              {{ activeObject.uuaaMaster }}
            </div>
            <div class="col-3">
              <p>Nombre Master:</p>
              {{ activeObject.master_name }}
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col-2">
              <p>Proyecto:</p>
              {{ activeObject.project_name }}
            </div>
            <div class="col-3">
              <p>Estado:</p>
              {{
              activeObject.stateTable === "N"
              ? "Propuesta"
              : activeObject.stateTable === "G"
              ? "Gobierno"
              : activeObject.stateTable === "F"
              ? "Gobierno Funcional"
              : "Arquitectura"
              }}
            </div>
            <div class="col-2">
              <p>Responsable:</p>
              {{ activeObject.user }}
            </div>
            <div class="col">
              <p>Marca objeto táctico:</p>
              {{ activeObject.tacticalObject === "YES" ? "SI" : "NO" }}
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p>Alias:</p>
              {{ activeObject.alias }}
            </div>
            <div class="col-3">
              <p>Periodicidad:</p>
              {{ activeObject.periodicity }}
            </div>
            <div class="col-2">
              <p>Separador:</p>
              {{
              activeObject.separator !== ""
              ? activeObject.separator
              : "-vacio-"
              }}
            </div>
            <div class="col">
              <p>Sistema Origen:</p>
              {{ activeObject.originSystem }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Contexto de la tabla:</p>
              <textarea style="font-size: 13px; resize: none" rows="3" cols="120"
                [value]="activeObject.observationField" disabled></textarea>
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>Convenciones:</p>
          <p style="background-color: #f2f5a9; color: black; padding-left: 6px">
            Global
          </p>
          <p style="background-color: #f5d0a9; color: black; padding-left: 6px">
            Global y propuesto
          </p>
          <p style="background-color: #f5a9a9; color: black; padding-left: 6px">
            Propuesto
          </p>
          <p style="background-color: #d0a9f5; color: black; padding-left: 6px">
            Propuesto y común
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-4">
          <button *ngIf="editableFlag" style="display: inline-block; float: right;" mat-raised-button class="buttonColor"
            (click)="openEdit()">
            Editar Tabla
          </button>
          <div id="one">
            <div id="two">
              <mat-select #selectorExcel (selectionChange)="genExcels($event.value)">
                <mat-option class="selectExcelValues" [value]="1">Legacy</mat-option>
                <mat-option class="selectExcelValues" [value]="2">Raw/Master</mat-option>
              </mat-select>
            </div>
            <button mat-raised-button class="buttonColor" (click)="selectorExcel.open()">
              Generar Excels
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #rawmasterInfo>
  <!-- Info Raw && Mastah -->
  <mat-expansion-panel class="onlyView">
    <mat-expansion-panel-header class="matHeader">
      <mat-panel-title style="font-weight: bold">
        <div *ngIf="activeTab === 'fieldsRaw'">
          {{ activeObject.uuaaRaw
          }}<span style="font-style: oblique">
            - {{ activeObject.raw_name }}</span>
        </div>
        <div *ngIf="activeTab === 'fieldsMaster'">
          {{ activeObject.uuaaMaster
          }}<span style="font-style: oblique">
            - {{ activeObject.master_name }}</span>
        </div>
      </mat-panel-title>
      <mat-panel-description>{{ activeObject.alias }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid generalContainer">
      <div class="row row-margin">
        <div class="col-3 col-2Twenty">
          <mat-form-field *ngIf="activeTab === 'fieldsRaw'" style="width: 95%; display: inline-block">
            <input matInput placeholder="NOMBRE FÍSICO OBJETO" [(value)]="activeObject.raw_name" disabled />
          </mat-form-field>
          <mat-form-field *ngIf="activeTab === 'fieldsMaster'" style="width: 95%; display: inline-block">
            <input matInput placeholder="NOMBRE FÍSICO OBJETO" [(value)]="activeObject.master_name" disabled />
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverNombreFisicoObj" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverNombreFisicoObj="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 290px">
              <mat-card-content>
                Nombre Técnico/Físico del objeto (Tabla, fichero...) que se está
                documentado.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-5 col-5-thirty">
          <mat-form-field class="inputFieldForHelpPop">
            <input matInput placeholder="NOMBRE LÓGICO OBJETO" [(value)]="activeObject.baseName" disabled />
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverNombreLogicoObj" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverNombreLogicoObj="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                Nombre lógico del objeto (tabla/fichero). (Breve nombre
                funcional). <b>Ejemplo:</b> Tabla mensual de contratos de
                préstamos
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2">
          <div class="inputFieldForHelpPop">
            <mat-form-field *ngIf="activeTab === 'fieldsRaw'">
              <input matInput placeholder="CÓDIGO DE SISTEMA / UUAA" [(value)]="activeObject.uuaaRaw" disabled />
            </mat-form-field>
            <mat-form-field *ngIf="activeTab === 'fieldsMaster'">
              <input matInput placeholder="CÓDIGO DE SISTEMA / UUAA" [(value)]="activeObject.uuaaMaster" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverUUAA" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverUUAA="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 345px">
              <mat-card-content>
                UUAA o nombre del proyecto al que pertenece la tabla/fichero. En
                la herramienta, Se completará por defecto en función del Data
                Source que se haya seleccinoado (y la UUAA informada en el
                documento "DATA SOURCE MAP DE DATIO")
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-sm-3 col10per">
          <div class="inputFieldForHelpPop">
            <mat-form-field>
              <input matInput placeholder="SISTEMA ORIGEN" [(value)]="activeObject.originSystem" name="originSystem"
                disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverOriginSys" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverOriginSys="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                Nombre del Sistema Origen desde el que se carga. Nombre con el
                que se acostumbra a identificar a la UUAA/Sistema Origen. Si hay
                más de un sistema origen, se deberán separar por punto y coma
                (;). En caso de ser un sistema usuario tipo excel, access,
                informarlo con el mismo nombre que el código de sistema/UUAA,
                "Excel_tipos de cambio", Word_Ratings"...
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2tenper">
          <div class="inputFieldForHelpPop">
            <mat-form-field>
              <input matInput placeholder="FRECUENCIA" [(value)]="activeObject.periodicity" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverFreq" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverFreq="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 465px">
              <mat-card-content>
                Frecuencia de actualización de la información contenida en el
                objeto. Hace referencia a si la información del objeto es de
                carácter diario, mensual, trimestral... No tiene porqué
                coincidir con la periodicidad de carga/aprovisionamiento de la
                información en el objeto.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-3 perimetro">
          <div class="inputFieldForHelpPop">
            <mat-form-field>
              <input matInput placeholder="PERÍMETRO" [(value)]="activeObject.perimeter" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverPerimetro" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverPerimetro="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 500px">
              <mat-card-content>
                Perímetro o contenido de la tabla/fichero (información de una
                determinada geografía, entidad, contrapartida, tipo de cliente,
                titularidad, …).
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputFieldForHelpPop">
            <mat-form-field>
              <input matInput placeholder="NIVEL INFORMACIÓN" [(value)]="activeObject.information_level"
                name="information_level" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverInfLevel" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverInfLevel="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                Nivel a la que se encuentra la información de la tabla/fichero
                (cliente, contrato, detalle, …). Para ayudar a la identificación
                del nivel se recomienda consultar los campos clave del objeto
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-5 col-5-minus">
          <div class="inputFieldForHelpPop">
            <mat-form-field *ngIf="activeTab === 'fieldsRaw'">
              <input matInput placeholder="PARTICIONES" [(value)]="activeObject.partitions_raw" disabled />
            </mat-form-field>
            <mat-form-field *ngIf="activeTab === 'fieldsMaster'">
              <input matInput placeholder="PARTICIONES" [(value)]="activeObject.partitions_master" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverParticion" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverParticion="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 500px">
              <mat-card-content>
                "Nombre Físico Campo" por los que se va particionar el objeto.
                <b>1)</b> Se debe incluir cada campo en el orden en el que se
                debe realizar el particionado. <b>2)</b> En el caso de informar
                más de un campo en esta celda, se debe separar por punto y coma
                (;) <b>3)</b> Se debe validar que el "Nombre Físico Campo"
                existe vinculado al "Nombre Físico Objeto" en el DD-F
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2tenper-PlusOne">
          <div class="inputFieldForHelpPop">
            <mat-form-field>
              <input matInput placeholder="TIPO CARGA" [(value)]="activeObject.loading_type" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverLoadingType" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverLoadingType="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 311px">
              <mat-card-content>
                Se detalla si la tabla/fichero se carga de manera incremental o
                si se carga la totalidad de la profundidad en cada ejecución.
                Posibles valores: Completa/Incremental
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-1">
          <div class="inputFieldForHelpPop-Small">
            <mat-form-field>
              <input matInput placeholder="TIPO OBJETO" matTooltip="Tipo del objeto de entrada"
                [(value)]="activeObject.objectType" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverObjType" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverObjType="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 500px">
              <mat-card-content>
                Tipo de objeto correspondiente (vista, tabla, fichero,
                colección, índice, nodo, paquete de mercado…).
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-4">
          <div class="inputFieldForHelpPop">
            <mat-form-field *ngIf="activeTab === 'fieldsRaw'">
              <input matInput placeholder="NOMBRE FÍSICO OBJETO ORIGEN"
                [(value)]="activeObject.physical_name_source_object" name="physical_name_source_object" disabled />
            </mat-form-field>
            <mat-form-field *ngIf="activeTab === 'fieldsMaster'">
              <input matInput placeholder="NOMBRE FÍSICO OBJETO ORIGEN" [(value)]="activeObject.raw_name"
                name="raw_name" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverPhysObject" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverPhysObject="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                Nombre físico del objeto origen del que proviene el objeto que
                se está documentando.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div *ngIf="activeTab === 'fieldsRaw'" class="col-1">
          <div class="inputFieldForHelpPop-Small">
            <mat-form-field>
              <input matInput placeholder="ARCHIVO" [(value)]="activeObject.typeFile" name="typeFile"
                matTooltip="Tipo de archivo de entrada" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverTypeFile" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverTypeFile="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                ​​Tipo de formato del archivo de entrada. Posibles valores
                fixed, csv, avro, parquet, xml, text-extended
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div *ngIf="activeTab === 'fieldsRaw'" class="col-1">
          <div class="inputFieldForHelpPop-Small">
            <mat-form-field>
              <input matInput placeholder="DELIMITADOR" matTooltip="Delimitador del archivo de entrada"
                [(value)]="activeObject.separator" name="separator" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverDelim" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverDelim="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 425px">
              <mat-card-content>
                ​​Delimitador de campos para los ficheros de datos de origen.
                <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV,
                etc). No para ficheros de tipo AVRO o PARQUET. Ejemplos de
                posibles valores: "|", ";" o "#".
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputFieldForHelpPop">
            <mat-form-field style="width: 70%; display: inline-block">
              <input matInput placeholder="PROF. ACTUAL" [(value)]="activeObject.current_depth"
                matTooltip="Profundidad de los historicos" name="current_depth" disabled />
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block">
              <input matInput value="meses" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverProfAct" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverProfAct="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 430px">
              <mat-card-content>
                Profundidad histórica actual que se posee de dicha tabla/fichero
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputFieldForHelpPop">
            <mat-form-field style="width: 65%; display: inline-block">
              <input matInput placeholder="VOL. ESTIMADA" [(value)]="activeObject.estimated_volume_records"
                matTooltip="Volumetría de registros de los historicos" name="estimated_volume_records" disabled />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
              <input matInput value="registros" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverVolReq" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverVolReq="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 430px">
              <mat-card-content>
                Volumen de registros de la tabla/fichero.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputFieldForHelpPop">
            <mat-form-field style="width: 68%; display: inline-block">
              <input matInput placeholder="PROF. REQUERIDA" [(value)]="activeObject.required_depth"
                name="required_depth" type="number" disabled />
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block">
              <input matInput value="meses" disabled />
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverProfReq" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <mde-popover #popoverProfReq="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 455px">
              <mat-card-content>
                Profundidad histórica mínima que se requiere de dicha
                tabla/fichero para cubrir todos los requerimientos existentes
                sobre la misma.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
      </div>
    </div>
    <div class="container-fluid tablaRutas">
      <div class="row">
        <div class="col-md-8 col-lg-8 G">
          <div class="row">
            <table>
              <tr>
                <div class="inputFieldForHelpPop">
                  <mat-form-field *ngIf="activeTab === 'fieldsRaw'">
                    <input matInput placeholder="RUTA ORIGEN" [(value)]="activeObject.raw_path" name="raw_path"
                      disabled />
                  </mat-form-field>
                  <mat-form-field *ngIf="activeTab === 'fieldsMaster'">
                    <input matInput placeholder="RUTA ORIGEN" [(value)]="activeObject.master_path" name="master_path"
                      disabled />
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverOriginRt" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverOriginRt="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px">
                    <mat-card-content>
                      Ruta donde se encuentran los datos de origen en el proceso
                      de ingesta (Por ejemplo:
                      /data/master/core/data/dataset_name). En el caso de una
                      ingesta desde staging a raw y después a master, el
                      directorio de "RUTA" (de staging a raw) se corresponderá
                      con el valor de "RUTA ORIGEN" para el caso de raw a
                      master.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </tr>
              <tr>
                <div class="inputFieldForHelpPop">
                  <mat-form-field *ngIf="activeTab === 'fieldsRaw'">
                    <input matInput placeholder="RUTA ESQUEMA" [(ngModel)]="activeObject.raw_route" name="raw_route"
                      disabled />
                  </mat-form-field>
                  <mat-form-field *ngIf="activeTab === 'fieldsMaster'">
                    <input matInput placeholder="RUTA ESQUEMA" [(ngModel)]="activeObject.master_route"
                      name="master_route" disabled />
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverSchema" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverSchema="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 420px">
                    <mat-card-content>
                      Ruta física en la que se encuentra almacenada la
                      tabla/fichero o Esquema de la BBDD (Según Sistema).
                      Permitirá identificar técnicamente dónde se encuentra el
                      objeto. Se informará la Ruta o el Esquema según la
                      persistencia.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col" style="padding: 0">
              <mat-form-field style="width: 93%; display: inline-block">
                <textarea matInput style="resize: none" rows="3" cols="30" placeholder="DESCRIPCIÓN"
                  [(value)]="activeObject.observationField" disabled></textarea>
              </mat-form-field>
              <div class="helpPopdiv">
                <button mat-icon-button [ngClass]="{ redEye: observationFlag }" class="small"
                  matTooltip="Mostrar/Ocultar Observaciones" (click)="observationFlag = !observationFlag">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="observationFlag" class="row">
            <div class="col" style="padding: 0 5% 0 0">
              <mat-form-field *ngIf="activeTab === 'fieldsRaw'" class="fullInput">
                <input matInput placeholder="OBSERVACIONES RAW" [(value)]="activeObject.raw_comment" name="raw_comment"
                  disabled />
              </mat-form-field>
              <mat-form-field *ngIf="activeTab === 'fieldsMaster'" class="fullInput">
                <input matInput placeholder="OBSERVACIONES MASTER" [(value)]="activeObject.master_comment"
                  name="master_comment" disabled />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 B tablaDataSource">
          <div>
            <table>
              <tr>
                <div class="inputFieldForHelpPop">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1"
                      [(ngModel)]="activeObject.information_group_level_1" name="information_group_level_1" disabled />
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverInfGroup1" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverInfGroup1="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 455px">
                    <mat-card-content>
                      Tipología de información contenieda en el objeto acorde
                      con el nivel 1 del Mapa Funcional Corporate de Datos. Esta
                      información permite agrupar los objetos según la tipología
                      de información que contienen.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </tr>
              <tr>
                <div class="inputFieldForHelpPop">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2"
                      [(ngModel)]="activeObject.information_group_level_2" name="information_group_level_2" disabled />
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverInfGroup2" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverInfGroup2="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 455px">
                    <mat-card-content>
                      Tipología de información contenieda en el objeto acorde
                      con el nivel 2 del Mapa Funcional Corporate de Datos. Esta
                      información permite agrupar los objetos según la tipología
                      de información que contienen.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </tr>
              <tr>
                <div class="inputFieldForHelpPop">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="activeObject.data_source"
                      name="data_source" disabled />
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverDataSource" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverDataSource="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px">
                    <mat-card-content>
                      Data Source al que pertenece el objeto que se está
                      documentando. Los posibles valores son los dados de alta
                      en el apartado de Data Source Map de Datio.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #filtroColumnas>
  <mat-expansion-panel class="tableSearchMat tableFiltros">
    <mat-expansion-panel-header class="matHeader">
      <mat-panel-title> Filtros de columnas </mat-panel-title>
    </mat-expansion-panel-header>
    <table *ngFor="let row of rowsArray">
      <tr *ngFor="let item of row">
        <div id="tg-button">
          <label>
            <input type="checkbox" (change)="
                item.name === 'TODO'
                  ? toggleAll(!item.visible)
                  : (item.visible = !item.visible)
              " [checked]="item.visible" /><span>{{ item.name }}</span>
          </label>
        </div>
      </tr>
    </table>
  </mat-expansion-panel>
</ng-template>

<ng-template #buscadorNamings>
  <mat-expansion-panel class="tableSearchMat searchDiv">
    <mat-expansion-panel-header>
      <mat-panel-title> Búsqueda de namings </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-fluid searchDiv">
      <div class="row">
        <div class="col-3">
          <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Naming" [(ngModel)]="searchNamingValue" />
          </mat-form-field>
        </div>
        <div style="width: 105px; padding: 0 15px 0 15px">
          <mat-form-field class="fieldsearch-form3" (keyup.enter)="getFieldsQuery()"
            style="padding-left: 10px; padding-right: 0px">
            <mat-select placeholder="Sufijo" [(value)]="searchSuffixValue">
              <mat-option *ngFor="let s of suffixes" [value]="s.suffix">
                {{ s.suffix }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Lógico" [(ngModel)]="searchLogicNamingValue" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Nombre legacy" [(ngModel)]="searchLegacyNamingValue" />
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Descripción" [(ngModel)]="searchDescValue" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Descripción legacy" [(ngModel)]="searchLegacyDescValue" />
          </mat-form-field>
        </div>
        <div class="col-2" style="padding-top: 10px">
          <button mat-button (click)="getFieldsQuery()" class="button-query-global" style="margin-right: 5px">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button class="button-query-global" (click)="cleanQuery()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>