<app-toolbar></app-toolbar>

<div class="container-fluid sub-margen">
    <div class="row">
        <div class="div-h2">
            <h2>Validador de ACLs</h2>
        </div>
    </div>
</div>
<mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" class="acl-all-tables">
    <mat-tab>
        <ng-template mat-tab-label>Buscar</ng-template>
        <mat-tab-group class="sub-tab" mat-align-tabs="start">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                    Relación UUAAs
                </ng-template>
                <ng-container *ngTemplateOutlet="uuaaTemplate"></ng-container>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                    Relación Grupos
                </ng-template>
                <ng-container *ngTemplateOutlet="groupTemplate"></ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Rutas">
        <ng-template mat-tab-label>Rutas</ng-template>
        <div class="container-fluid">
            <div class="sub-h3">
                <h3>Cargas</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="row row-file-input">
                        <button mat-raised-button class="buttons" (click)="loadLegacy()">
                            Cargar Archivo
                        </button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row row-file-input">
                        <input type="file" class="file" accept=".xlsx" (change)="onFileChange($event)" />
                        <mat-icon matTooltip="Agregar archivo">note_add</mat-icon>
                        <span>
                            {{ fileList === null || fileList === undefined ? 'Adjuntar Archivo' : fileList.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group mat-align-tabs="start" class="sub-tab" *ngIf="index == 1" [selectedIndex]="0">
            <mat-tab [disabled]="!fileLoaded">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                    Folders
                </ng-template>
                <div *ngIf="fileLoaded" class="folders-table clean-table">
                    <ngx-datatable class='material table' [rows]='foldersResponse' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator">
                        <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Ruta Completa" prop="route" [width]="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Estado" width="150" [sortable]="false" [cellClass]="'noPaddCell'">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button mat-button style="margin-right: 10px;" (click)="commentDetails(row, 'work')" [ngClass]="{'active-phase': phaseCheck(row, 'work'), 'unactive-phase': !phaseCheck(row, 'work', 'inWork')}">
                                    Work</button>
                                <button mat-button style="margin-right: 35px;" (click)="commentDetails(row, 'live')" [ngClass]="{'active-phase': phaseCheck(row, 'live'), 'unactive-phase': !phaseCheck(row, 'live', 'inLive')}">
                                    Live</button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div *ngIf="!fileLoaded" class="table-query-div">
                    <h4>
                        No se ha cargado ningún archivo
                    </h4>
                </div>
            </mat-tab>

            <mat-tab [disabled]="!fileLoaded">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                    ACLs
                </ng-template>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="sub-h3">
                                <h3>Work</h3>
                            </div>
                            <div class="table-query-div acl-table acl-ok">
                                <ngx-datatable #aclTableWorkOk class='material table' [rows]="aclsWork[1]" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                                    <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                            <div>
                                                <button mat-button class="mat-button" (click)="toggleExpandGroupWork(group, true)">
                                                    <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                    <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                    {{group.value[0].groupN}}
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-group-header>
                                    <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Ruta" prop="route" [width]="270" [sortable]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acceso" prop="access" [width]="190" [sortable]="false" [canAutoResize]="false"></ngx-datatable-column>
                                    <ngx-datatable-column name="Comentarios" [width]="120" [sortable]="false" [canAutoResize]="false" [cellClass]="'noPaddCell'">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <button mat-button class="big-buttons" (click)="commentDetailsACL(row, 'live')">
                                                <mat-icon>zoom_in</mat-icon>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <div class="table-query-div acl-table acl-not-ok">
                                <ngx-datatable #aclTableWorkNOk class='material table' [rows]="aclsWork[0]" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                                    <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                            <div>
                                                <button mat-button class="mat-button" (click)="toggleExpandGroupWork(group, false)">
                                                    <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                    <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                    {{group.value[0].groupN}}
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-group-header>
                                    <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Ruta" prop="route" [width]="440" [sortable]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acceso" prop="access" [width]="190" [sortable]="false" [canAutoResize]="false"></ngx-datatable-column>
                                    <ngx-datatable-column name="Comentarios" [width]="120" [sortable]="false" [canAutoResize]="false" [cellClass]="'noPaddCell'">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <button mat-button class="big-buttons" (click)="commentDetailsACL(row, 'live')">
                                                <mat-icon>zoom_in</mat-icon>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="sub-h3">
                                <h3>Live</h3>
                            </div>
                            <div class="table-query-div acl-table acl-ok">
                                <ngx-datatable #aclTableLiveOk class='material table' [rows]="aclsLive[1]" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                                    <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                            <div>
                                                <button mat-button class="mat-button" (click)="toggleExpandGroupLive(group, true)">
                                                    <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                    <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                    {{group.value[0].groupN}}
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-group-header>
                                    <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Ruta" prop="route" [width]="440" [sortable]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acceso" prop="access" [width]="190" [sortable]="false" [canAutoResize]="false"></ngx-datatable-column>
                                    <ngx-datatable-column name="Comentarios" [width]="120" [sortable]="false" [canAutoResize]="false" [cellClass]="'noPaddCell'">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <button mat-button class="big-buttons" (click)="commentDetailsACL(row, 'live')">
                                                <mat-icon>zoom_in</mat-icon>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <div class="table-query-div acl-table acl-not-ok">
                                <ngx-datatable #aclTableLiveNOk class='material table' [rows]="aclsLive[0]" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                                    <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                            <div>
                                                <button mat-button class="mat-button" (click)="toggleExpandGroupLive(group, false)">
                                                    <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                    <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                    {{group.value[0].groupN}}
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-group-header>
                                    <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Ruta" prop="route" [width]="440" [sortable]="false">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acceso" prop="access" [width]="190" [sortable]="false" [canAutoResize]="false"></ngx-datatable-column>
                                    <ngx-datatable-column name="Comentarios" [width]="120" [sortable]="false" [canAutoResize]="false" [cellClass]="'noPaddCell'">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            <button mat-button class="big-buttons" (click)="commentDetailsACL(row, 'live')">
                                                <mat-icon>zoom_in</mat-icon>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [disabled]="!fileLoaded">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                    Accounts & Users
                </ng-template>
                <div class="container-fluid">
                    <div class="row">
                        <div class="table-query-div col-6 acl-table">
                            <div class="sub-h3">
                                <h3>Work</h3>
                            </div>
                            <ngx-datatable #accsTableWork class='material table' [rows]="accsWork" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'group'">
                                <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                        <div>
                                            <button mat-button class="mat-button" (click)="toggleExpandGroupAccs(group, true)">
                                                <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                {{group.value[0].group}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-group-header>
                                <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Usuario" prop="user" [width]="200" [sortable]="false">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Comentario" prop="comments" [width]="440" [sortable]="false">
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="table-query-div col-6 acl-table">
                            <div class="sub-h3">
                                <h3>Live</h3>
                            </div>
                            <ngx-datatable #accsTableLive class='material table' [rows]="accsLive" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'group'">
                                <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                                    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                        <div>
                                            <button mat-button class="mat-button" (click)="toggleExpandGroupAccs(group, false)">
                                                <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                                <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                                {{group.value[0].group}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-group-header>
                                <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Usuario" prop="user" [width]="200" [sortable]="false">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Comentario" prop="comments" [width]="440" [sortable]="false">
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
                <div class="table-query-div acl-table" style="padding-top: 0%; margin-left: 10%; margin-right: 10%;">
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>


<ng-template #uuaaTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="sub-h3">
                    <h3>Work</h3>
                </div>
                <div class="div-search">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Buscar UUAA en Work" [(ngModel)]="searchUUAAWork" (keyup)='updateFilterUUAAWork($event.target.value)'>
                        <button mat-button *ngIf="searchUUAAWork" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterUUAAWork()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="table-query-div acl-table">
                    <ngx-datatable #uuaaRWork class='material table' [rows]="uuaaRelationsWork" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                        <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                            <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                <div>
                                    <button mat-button class="mat-button" (click)="toggleExpandUUAAR(group, true)">
                                        <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                        <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                        {{group.value[0].groupN}}
                                    </button>
                                </div>
                            </ng-template>
                        </ngx-datatable-group-header>
                        <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="UUAA" prop="uuaa" [width]="190" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col-6">
                <div class="sub-h3">
                    <h3>Live</h3>
                </div>
                <div class="div-search">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Buscar UUAA en Live" [(ngModel)]="searchUUAALive" (keyup)='updateFilterUUAALive($event.target.value)'>
                        <button mat-button *ngIf="searchUUAALive" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterUUAALive()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="table-query-div acl-table">
                    <ngx-datatable #uuaaRLive class='material table' [rows]="uuaaRelationsLive" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                        <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                            <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                <div>
                                    <button mat-button class="mat-button" (click)="toggleExpandUUAAR(group, false)">
                                        <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                        <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                        {{group.value[0].groupN}}
                                    </button>
                                </div>
                            </ng-template>
                        </ngx-datatable-group-header>
                        <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="UUAA" prop="uuaa" [width]="190" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #groupTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="sub-h3">
                    <h3>Work</h3>
                </div>
                <div class="div-search">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Buscar Grupo en Work" [(ngModel)]="searchGroupWork" (keyup)='updateFilterGroupWork($event.target.value)'>
                        <button mat-button *ngIf="searchGroupWork" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterGroupWork()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="table-query-div acl-table">
                    <ngx-datatable #groupRWork class='material table' [rows]="groupRelationsWork" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                        <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                            <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                <div>
                                    <button mat-button class="mat-button" (click)="toggleExpandGroupR(group, true)">
                                        <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                        <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                        {{group.value[0].groupN}}
                                    </button>
                                </div>
                            </ng-template>
                        </ngx-datatable-group-header>
                        <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Código" prop="cod" [width]="190" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Correo" prop="mail" [width]="270" [sortable]="false">
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="col-6">
                <div class="sub-h3">
                    <h3>Live</h3>
                </div>
                <div class="div-search">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Buscar Grupo en Live" [(ngModel)]="searchGroupLive" (keyup)='updateFilterGroupLive($event.target.value)'>
                        <button mat-button *ngIf="searchGroupLive" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterGroupLive()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="table-query-div acl-table">
                    <ngx-datatable #groupRLive class='material table' [rows]="groupRelationsLive" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator" [groupRowsBy]="'groupN'">
                        <ngx-datatable-group-header [rowHeight]="50" class="acl-table">
                            <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                <div>
                                    <button mat-button class="mat-button" (click)="toggleExpandGroupR(group, false)">
                                        <mat-icon *ngIf="!expanded" class="icon">fast_forward</mat-icon>
                                        <mat-icon *ngIf="expanded" class="icon">fast_rewind</mat-icon>
                                        {{group.value[0].groupN}}
                                    </button>
                                </div>
                            </ng-template>
                        </ngx-datatable-group-header>
                        <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Código" prop="cod" [width]="190" [sortable]="false" [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Correo" prop="mail" [width]="270" [sortable]="false">
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #searchTableUUAA let-array="array">
    <span style="color: red;">{{array}}</span>
</ng-template>