h4 {
  padding-left: 3%;
}

.active-phase {
  color: white;
  background-color: #86d394;
}

.active-phase:hover {
  color: green;
  background-color: #86d394;
}

.big-buttons {
  color: #004283;
  background-color: #2DCCCD;
}

.big-buttons:hover {
  color: #2DCCCD;
  background-color: #004283;
}

.div-h2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}

.div-search {
  margin-top: 15px;
  margin-left: 55px;
  width:300px;
}

.folders-table {
  padding-top: 0%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.mat-button {
  margin-right: 35px;
  width: 100%;
  text-align: start;

  mat-icon.icon {
    margin-left: 3px;
  }
}

.row-file-input {
  padding-top: 20px;
  padding-bottom: 20px;

  input.file {
    width: 100%;
    position: absolute;
    text-align: right;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 2;
  }

  span {
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 5px;
    margin-left: 5px;
  }
}

.sub-h3 {
  color: #004283;
  margin: 3% 3% 0 3%;
  border-bottom-style: outset;
  border-bottom-width: thin;
  border-bottom-color: #004283;
}

.sub-margen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.table-query-div {
  padding-bottom: 0%;
  border-top-style: outset;
}

.unactive-phase {
  color: rgba(0, 0, 0, .26);
  background-color: rgba(0, 0, 0, .12);
}

::ng-deep .acl-all-tables .ngx-datatable.material .datatable-header {
  width: auto !important;
}

::ng-deep .acl-all-tables .ngx-datatable .datatable-body {
  width: auto !important;
}

::ng-deep .acl-table .ngx-datatable.material {
  background: none;
  box-shadow: none;
}

::ng-deep .acl-table .ngx-datatable .datatable-body .datatable-row-wrapper {
  background: aliceblue;
  border-bottom: 1px solid #d9d8d9;
  border-top: 1px solid #d9d8d9;
  width: 100% !important;
}

::ng-deep .acl-table .ngx-datatable.material .datatable-body .datatable-group-header {
  width: 100% !important;
  font-size: bold;
  color: white;
  background: #00428396;
}

::ng-deep .acl-not-ok .ngx-datatable.material .datatable-header {
  background-color: #e84c3c99;
  padding-top: 0%;
}

::ng-deep .acl-ok .ngx-datatable.material .datatable-header {
  background-color: #86d394;
  padding-bottom: 0%;
}

::ng-deep .clean-table .ngx-datatable.material {
  background: none;
  box-shadow: none;
}

::ng-deep .folders-table .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: .9rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  color: black;
  transition: width 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

::ng-deep .sub-tab .mat-tab-label-container {
  padding-left: 70px;
  background-color: aliceblue;
}