<div class="container-fluid">
    <div class="row" style="height: 40px;">
        <div class="col-10">
            <h1 mat-dialog-title>Reporte - {{loadT == 'dic' ? "Carga Diccionario" : "Carga Pre-Diccionario"}}</h1>
        </div>
        <div class="col-2" style="font-size: 30px; padding-left: 20px;">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right;">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>

<div mat-dialog-content>
    <div *ngIf="badArr.length > 0" class="table-query-div errorsTable" style="padding: 10px 0 0 0; border-top-style: outset;">
        <ngx-datatable #badTable class='material table' [rows]="badArr" [columnMode]="'force'" [headerHeight]="0" [footerHeight]="30" [rowHeight]="'auto'" [limit]="10" [groupRowsBy]="'rowLegacyN'">
            <ngx-datatable-group-header [rowHeight]="50">
                <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                    <div style="width: 100%;">
                        <button mat-button style="margin-right: 35px; width: 100%; text-align: start;" (click)="toggleGroup(group)">
              <mat-icon *ngIf="!expanded" style="margin-left: 3px;">fast_forward</mat-icon>
              <mat-icon *ngIf="expanded" style="margin-left: 3px;">fast_rewind</mat-icon>
              {{group.value[0].rowLegacyN}}
            </button>
                    </div>
                </ng-template>
            </ngx-datatable-group-header>
            <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
            </ngx-datatable-column>
            <ngx-datatable-column name="Errores" prop="errors" [width]="400" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div *ngFor="let obj of row.errors" style="width: 100%;">
                        <span><strong>{{obj}}</strong></span><br>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div *ngIf="badArr.length == 0" class="onlyView">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="UUAA RAW" [value]="objectData.uuaaRaw" disabled>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="UUAA MASTER" [value]="objectData.uuaaMaster" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="DESCRIPCIÓN" [value]="objectData.observationField" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="PERIMETRO" [value]="objectData.perimeter" disabled>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="NIVEL DE INFORMACIÓN" [value]="objectData.information_level" disabled>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="PARTICIONES" [value]="objectData.partitions_raw" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="PROF. ACTUAL" [value]="objectData.current_depth" disabled>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="PROF. REQUERIDA" [value]="objectData.required_depth" disabled>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="SEPARADOR" [value]="objectData.separator" disabled>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="TIPO DE ARCHIVO" [value]="objectData.typeFile" disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div style="width: 100%; border-top-style: outset; padding-top: 5px; margin-bottom: 10px">
            <div *ngIf="namingsValidationResult && readyToLoad" style="float: left; margin: 10px 0 5px 15px;">
                <button mat-raised-button class="valid-button" (click)="showPreviousValidation()">Todos los namings correctos</button>
            </div>.
            <div *ngIf="!namingsValidationResult" style="float: left; margin: 10px 0 5px 15px;">
                <button mat-raised-button class="danger-button" (click)="showPreviousValidation()">Error en la validación</button>
            </div>
            <div *ngIf="namingsValidationResult && readyToLoad" style="float: right; margin: 10px 15px 5px 0px;">
                <button mat-raised-button class="buttonExtra" (click)="confirmLoad()">Confimar Carga</button>
            </div>
        </div>
    </div>
</div>