<app-toolbar></app-toolbar>
<div class="container-fluid subMargen">
    <div class="row">
        <div class="div-h2">
            <h2>Vista Administrador</h2>
        </div>
    </div>
</div>
<!--///////////////////////////// TEMPLATES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<div class="tabGroup allContain">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label>Usuarios</ng-template>
            <ng-container *ngTemplateOutlet="allUsers"></ng-container>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Proyectos</ng-template>
            <ng-container *ngTemplateOutlet="addProjects"></ng-container>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Manejar Tablas</ng-template>
            <ng-container *ngTemplateOutlet="loadBacklog"></ng-container>
            <ngx-spinner style="height: 100%;" [fullScreen]="false" type="pacman" size="medium">
                <p class="loading">{{spinnerM}}</p>
            </ngx-spinner>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Manejar Tablón</ng-template>
            <ng-container *ngTemplateOutlet="loadDataTable"></ng-container>
            <ngx-spinner style="height: 100%;" [fullScreen]="false" type="pacman" size="medium">
                <p class="loading">{{spinnerM}}</p>
            </ngx-spinner>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Manejar Bases Operacionales</ng-template>
            <ng-container *ngTemplateOutlet="loadOperationalBase"></ng-container>
            <ngx-spinner style="height: 100%;" [fullScreen]="false" type="pacman" size="medium">
                <p class="loading">{{spinnerM}}</p>
            </ngx-spinner>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Equipos</ng-template>
            <ng-container *ngTemplateOutlet="addTeams"></ng-container>
        </mat-tab>
    </mat-tab-group>
</div>
<!--///////////////////////////// USERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #allUsers>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Buscador de Usuarios</h3>
                <button mat-raised-button class="important-button" style="float: right; margin-left: 15px;" (click)="exportUsersReport()">
          Exportar Usuarios<mat-icon>assignment_returned</mat-icon>
        </button>
                <button mat-raised-button class="important-button" style="float: right;" (click)="createUser()">
          Crear Usuario<mat-icon>note_add</mat-icon>
        </button>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-2"></div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput type="text" placeholder="Nombre" [(ngModel)]="searchUName" (keyup)="filterData('users', 'name', $event.target.value)" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput type="text" placeholder="Email" [(ngModel)]="searchUEmail" (keyup)="filterData('users', 'email', $event.target.value)" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <mat-select #selectState placeholder="Rol" [(ngModel)]="searchURol" (selectionChange)="filterData('users', 'rol', $event.value)">
                            <mat-option *ngFor="let r of rolOptions" [value]="r.value">
                                {{r.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <button mat-button class="button-query-global" style="margin-top: 10px" matTooltip="Limpiar Búsqueda" (click)="cleanSearchFilters()">
            <mat-icon>clear</mat-icon>
          </button>
                </div>
            </div>
            <div class="row usersSearchTable">
                <div class="col"></div>
                <div class="col-10">
                    <ngx-datatable #myTable class='material' [rows]='currRegisteredUsers' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                        <ngx-datatable-column name="Nombre" prop="name" width="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="email" width="150" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Rol" width="65" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{prettyRol(row.rol)}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Equipos" width="120" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div *ngIf="row.teams">
                                    <div *ngIf="row.teams.length > 0">
                                        <div *ngFor="let team of row.teams">
                                            <span><strong>{{team.name}}</strong></span><br>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" width="50" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button mat-button class="important-button" (click)="usersRequests(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Nuevos sin rol</h3>
            </div>
            <div class="row simple-table" style="margin-top: 15px;">
                <div class="col"></div>
                <div class="col-7">
                    <ngx-datatable class='material' [rows]='pendingUsers' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                        <ngx-datatable-column name="Nombre" prop="name" width="150" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="email" width="150" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" width="50" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button mat-button class="important-button" (click)="usersRequests(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
</ng-template>
<!--///////////////////////////// PROYECTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #addProjects>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Buscador de Proyectos</h3>
                <button mat-raised-button class="important-button" style="float: right;" (click)="createProject()">
          Crear Proyecto<mat-icon>note_add</mat-icon>
        </button>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-2"></div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput type="text" placeholder="Nombre" [(ngModel)]="searchPName" (keyup)="filterData('proyects', 'name', $event.target.value)" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput type="text" placeholder="Descripción" [(ngModel)]="searchPDesc" (keyup)="filterData('proyects', 'shortDesc', $event.target.value)" />
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <button mat-button class="button-query-global" style="margin-top: 10px" matTooltip="Limpiar Búsqueda" (click)="cleanSearchFilters()">
            <mat-icon>clear</mat-icon>
          </button>
                </div>
            </div>
            <div class="row usersSearchTable">
                <div class="col"></div>
                <div class="col-11">
                    <ngx-datatable #myTable class='material' [rows]='currProyects' [columnMode]="'force'" [headerHeight]="50" [rowHeight]="100" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                        <ngx-datatable-column name="Nombre" prop="name" [width]="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Descripción" prop="shortDesc" [width]="400" [sortable]="true">
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <textarea id="infotext" readonly="readonly" matTooltip="{{row.shortDesc}}" autofocus>{{row.shortDesc}}</textarea>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Equipos" [width]="75" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div *ngIf="row.teams">
                                    <div *ngIf="row.teams.length > 0">
                                        <div *ngFor="let team_id of row.teams">
                                            <span><strong>{{prettyTeamsName(team_id)}}</strong></span><br>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" [width]="75" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button mat-button class="important-button" (click)="proyectsRequests(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
</ng-template>
<!--///////////////////////////// Equipos \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #addTeams>
    <div class="container-fluid">
        <div class="subH3">
            <h3>Crear Equipo</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 15px;">
            <div class="col-2"></div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <mat-select #selector placeholder="País" (selectionChange)="selectedCountryTeam($event.value)" required>
                        <mat-option *ngFor="let r of countriesOptions" [value]="r">
                            {{r}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Equipo" [(ngModel)]="teamName">
                </mat-form-field>
            </div>
            <div class="col-2">
                <button class="buttons alignButton" mat-raised-button (click)="addTeam()">Agregar Equipo</button>
            </div>
        </div>
    </div>
</ng-template>
<!--///////////////////////////// TABLAS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #loadBacklog>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Cargar Tablas</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row row-fileinput">
                        <input #fileInput type="file" class="file" accept=".xlsx" (change)="onFileChange($event); fileInput.value = ''" />
                        <mat-icon matTooltip="Agregar archivo">note_add</mat-icon>
                        <span>{{ fileList === null || fileList === undefined ? 'Adjuntar Archivo' : fileList.name }}</span>
                    </div>
                </div>
            </div>
            <div class="sub-h4">
                <h4>Tipos de carga</h4>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1">
                    <button mat-raised-button class="important-button" matTooltip="Plantilla de Carga SOPHIA" (click)="openTableLoadExamples(1)">
            <mat-icon>library_books</mat-icon>
          </button>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="loadTablasNew()">Cargar formato SOPHIA</button>
                </div>
                <div class="col-1">
                    <mat-spinner *ngIf="loading_table_sophia" class="float-left" diameter="35" value="100"></mat-spinner>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1">
                    <!-- cambiar plantilla -->
                    <button mat-raised-button class="important-button" matTooltip="Plantilla de Carga DATUM" (click)="openTableLoadExamples(1)">
            <mat-icon>library_books</mat-icon>
          </button>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="loadTablasDatum()">Cargar formato DATUM</button>
                </div>
                <div class="col-1">
                    <mat-spinner *ngIf="loading_table_datum" class="float-left" diameter="35" value="100"></mat-spinner>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1">
                    <button mat-raised-button class="important-button" matTooltip="Plantilla de Carga VIEJA" (click)="openTableLoadExamples(2)">
            <mat-icon>library_books</mat-icon>
          </button>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="loadLegacy()">Cargar formato viejo</button>
                </div>
                <div class="col-1">
                    <mat-spinner *ngIf="loading_table_old" class="float-left" diameter="35" value="100"></mat-spinner>
                </div>
            </div>
            <div class="row">
                <div class="row usersTable" *ngIf="fullArray.length > 0">
                    <ngx-datatable class='material' [rows]='fullArray' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                        <ngx-datatable-column name="Alias" prop="alias" width="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nombre" [width]="100" [sortable]="true">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{row.object.raw[1]}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nombre Lógico" [width]="100" [sortable]="true">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{row.object.raw[2]}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Descripción" [width]="150" [sortable]="true">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{row.object.raw[3]}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" [width]="150" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button mat-button class="buttons" style="background-color: #33b3b3;" (click)="loadTable(row)">Revisar
                  Datos
                  <mat-icon>zoom_in</mat-icon>
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Masterizar Tablas</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-top: 25px;">
                <div class="col-1"></div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="searchTables()">Buscar Tablas</button>
                </div>
            </div>


            <div class="sub-h4">
                <h4>Tablas a masterizar</h4>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="master-table-list">
                    <ul *ngIf="!emptyMasterTables">
                        <li *ngFor="let item of masterTables">
                            <p>* {{item.alias}}</p>
                        </li>
                    </ul>
                    <ul *ngIf="emptyMasterTables">
                        <li>
                            <p> No hay tablas</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-1"></div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="masterizeTables()" [disabled]="emptyMasterTables">Masterizar</button>
                </div>
            </div>
        </div>
    </section>
</ng-template>
<!--///////////////////////////// TABLONES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #loadDataTable>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Cargar Tablones</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row row-fileinput">
                        <input #fileInput type="file" class="file" accept=".xlsx" (change)="onFileChangeTablon($event); fileInput.value = ''" />
                        <mat-icon matTooltip="Agregar archivo">note_add</mat-icon>
                        <span>{{ fileListTablon === null || fileListTablon === undefined ? 'Adjuntar Archivo' : fileListTablon.name
              }}</span>
                    </div>
                </div>
            </div>
            <div class="sub-h4">
                <h4>Tipos de carga</h4>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1">
                    <button mat-raised-button class="important-button" matTooltip="Plantilla de Carga SOPHIA" (click)="openTablonLoadExamples(1)">
            <mat-icon>library_books</mat-icon>
          </button>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="loadTablonesNew()">Cargar metodo nuevo</button>
                </div>
                <div class="col-1">
                    <mat-spinner *ngIf="loading_table_sophia" class="float-left" diameter="35" value="100"></mat-spinner>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-2">
                    <button mat-raised-button class="buttons" (click)="loadTablones()">Cargar metodo masivo</button>
                </div>
                <div class="col-1">
                    <mat-spinner *ngIf="loading_table_old" class="float-left" diameter="35" value="100"></mat-spinner>
                </div>
            </div>
            <div class="row">
                <div class="row usersTable" *ngIf="fullArrayTablon.length > 0">
                    <ngx-datatable class='material' [rows]='fullArrayTablon' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                        <ngx-datatable-column name="Alias" prop="alias" width="100" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Nombre datio" prop="master_name" [width]="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nombre Lógico" prop="baseName" [width]="100" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Descripción" prop="observationField" [width]="150" [sortable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="N° campos" prop="fields" [width]="60" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" [width]="150" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button mat-button class="buttons" style="background-color: #33b3b3;" (click)="loadTablon(row)">Revisar
                  Datos
                  <mat-icon>zoom_in</mat-icon>
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="divH2">
                <h4>Exportar Tablones</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <mat-form-field class="fullInput">
                    <mat-select #selector placeholder="Proyecto" (selectionChange)="selectedProjectBacklog($event.value)" required>
                        <mat-option *ngFor="let r of projectOptions" [value]="r">
                            {{r.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="fullInput">
                    <mat-select placeholder="Casos de uso" required [disabled]="projectSelected === undefined">
                        <mat-option *ngFor="let r of useCaseOptions" [value]="r">
                            {{r.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <button class="buttons alignButton" mat-raised-button (click)="exportTablon()" [disabled]="projectSelected === undefined">
          Exportar Backlog
        </button>
            </div>
        </div>
    </div>
</ng-template>
<!--///////////////////////////// BASES OPS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<ng-template #loadOperationalBase>
    <section>
        <div class="container-fluid">
            <div class="subH3">
                <h3>Cargar Bases Operacionales</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row row-fileinput">
                        <input #fileInput type="file" class="file" accept=".xlsx" (change)="onFileChangBases($event); fileInput.value = ''" />
                        <mat-icon matTooltip="Agregar archivo">note_add</mat-icon>
                        <span>
                            {{ fileListBases === null || fileListBases === undefined ? 'Adjuntar Archivo' : fileListBases.name }}
                        </span>
                    </div>
                </div>

            </div>
            <div class="sub-h4">
                <h4>Tipos de carga</h4>
            </div>

            <div class="row" style="margin-bottom: 25px;">
                <div class="col-1"></div>
                <div class="col-1">
                    <button mat-raised-button class="important-button" matTooltip="Plantilla de Carga" (click)="openOpBaseExamples(1)">
                        <mat-icon>library_books</mat-icon>
                    </button>
                </div>
                <div class="col-2">
                    <button class="buttons alignButton" mat-raised-button class="buttons" (click)="loadBases()">Cargar Archivo</button>
                </div>
            </div>



            <div class="row usersTable">
                <ngx-datatable class='material' [rows]='fullArrayBases' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                    <ngx-datatable-column name="Nombre Base" prop="master_name" [width]="20" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre Lógico" prop="baseName" [width]="20" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="observationField" [width]="30" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="UUAA" prop="uuaaMaster" [width]="5" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Periodicidad" prop="periodicity" [width]="10" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="N° campos" prop="fields" [width]="5" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [width]="10" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <button mat-button class="buttons" style="background-color: #33b3b3;" (click)="loadOperaBase(row)">
                                Revisar Datos <mat-icon>zoom_in</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="divH2">
                    <h4>Exportar Bases Operacionales</h4>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <mat-form-field class="fullInput">
                        <mat-select #selector placeholder="Proyecto" (selectionChange)="selectedProjectBacklog($event.value)" required>
                            <mat-option *ngFor="let r of projectOptions" [value]="r">
                                {{r.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button class="buttons alignButton" mat-raised-button (click)="exportOperationalBase()" [disabled]="projectSelected === undefined">
                        Exportar
                    </button>
                </div>
            </div>
        </div>
    </section>
</ng-template>