h3 {
    display: inline-block;
}

#infotext {
    width: 100%;
    height: 70px;
    background-color: transparent;
    resize: none;
    overflow: hidden
}

#infotext:focus-visible {
    outline: none;
}

.loading {
    color: white;
    padding-top: 50px;
    font-family: "Helvetica Neue", sans-serif;
}

.fullInput {
    width: 100%;
}

.inputHelp {
    width: 60%;
    display: inline-block;
}

.helpPopdiv {
    width: 40%;
    display: inline-block;
}

.subH3 {
    //width: 100%;
    color: #004283;
    margin: 1.5% 3% 0 3%;
    border-bottom-style: outset;
    border-bottom-width: thin;
    border-bottom-color: #004283;
}

.sub-h4 {
    color: #004283;
    margin: 1.5% 75% 0 7%;
    h4 {
        font-size: 25px;
        display: inline-block;
    }
}

.alignButton {
    top: 10px;
}

.subMargen {
    margin-left: 1%;
    width: 98%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.allContain {
    height: 100%;
}

.div-h2 {
    margin-left: 2%;
    margin-top: 20px;
    color: #004283;
}

.simple-table {
    width: 100%;
    margin: 0 5% 1% 0%;
    ngx-datatable {
        width: 100%;
    }
}

.master-table-list {
    margin-left: 7rem;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.usersTable {
    margin: 0 5%;
    ngx-datatable {
        width: 100%;
    }
}

.usersSearchTable {
    margin: 0 5% 1% 5%;
    ngx-datatable {
        width: 100%;
    }
}

.standardButton {
    color: white;
    background-color: #004283;
    float: right;
}

.insideButton {
    color: white;
    background-color: #004283;
}

.divAboveFileInput {
    position: relative;
    text-align: left;
    min-height: 3rem;
    padding-top: 10px;
}

.row-fileinput {
    padding-top: 20px;
    input.file {
        width: 100%;
        position: absolute;
        text-align: right;
        -moz-opacity: 0;
        opacity: 0;
        z-index: 2;
    }
    span {
        font-family: sans-serif;
        font-weight: bold;
        padding-top: 5px;
        margin-left: 5px;
    }
}