<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Revisión Visto Bueno</h2>
    </div>
  </div>
</div>

<div autosize>
  <div class="container-fluid">
    <div *ngIf="availableTables.length === 0" class="row" style="margin: 2% 2% 0 2%;">
      <div class="col">
        <ng-container *ngTemplateOutlet="emptyTable"></ng-container>
      </div>
    </div>
    <div class="row" style="margin: 0 2% 0 2%;">
      <div class="col">
        <ng-container *ngTemplateOutlet="voboTableTemp"></ng-container>
      </div>
    </div>
    <div class="row" style="border-top-style: outset;">
      <div *ngIf="showTableValidation" class="col">
        <ng-container *ngTemplateOutlet="validationTmp"></ng-container>
      </div>
    </div>
    <div class="row" style="border-top-style: outset;">
      <div *ngIf="showDataTableValidation" class="col">
        <ng-container *ngTemplateOutlet="validationTmpDataTable"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyTable>
  <h3>No hay tablas para revisión...</h3>
</ng-template>

<ng-template #validationTmp>
  <div class="row">
    <div style="color: #004283; width: 95%; margin: 2% 3% 1% 3%; border-bottom-style: outset; 
      border-bottom-width: thin; border-bottom-color: #004283;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <h3>Validar Tabla</h3>
          </div>
          <div class="col"></div>
          <div class="col-1">
            <button mat-button class="button-query-global bigButtons" (click)="goBack()">
              <mat-icon style="margin-right: 5px;" class="buttonIcon">undo</mat-icon>Atrás
            </button>
          </div>
          <div class="col-2">
            <button mat-button class="button-query-global bigButtonsAlt" style="float: right;"
              (click)="validationAlready()">
              <mat-icon style="margin-right: 5px;" class="buttonIcon">done_all</mat-icon>Cerrar Verificación
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title style="font-weight: bold">
          {{masterObject.baseName}}-----<span style="font-style: oblique;"> {{masterObject.master_name}}</span>
        </mat-panel-title>
        <mat-panel-description>{{masterObject.alias}}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid infoTableReview">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-2">
                <p>UUaa Raw:</p>
                {{masterObject.uuaaRaw}}
              </div>
              <div class="col-3">
                <p>Nombre Raw:</p>
                {{masterObject.raw_name}}
              </div>
              <div class="col-2">
                <p>UUaa Master:</p>
                {{masterObject.uuaaMaster}}
              </div>
              <div class="col-3">
                <p>Nombre Master:</p>
                {{masterObject.master_name}}
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col-2">
                <p>Proyecto:</p>
                {{masterObject.project_name}}
              </div>
              <div class="col-3">
                <p>Estado:</p>
                {{masterObject.stateTable === 'N' ? 'Propuesta' : masterObject.stateTable === 'G' ? 'Gobierno' : 'Arquitectura'}}
              </div>
              <div class="col-2">
                <p>Responsable:</p>
                {{masterObject.user}}
              </div>
              <div class="col">
                <p>Marca objeto táctico:</p>
                {{masterObject.tacticalObject === 'YES' ? 'SI' : 'NO'}}
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p>Alias:</p>
                {{masterObject.alias}}
              </div>
              <div class="col-3">
                <p>Periodicidad:</p>
                {{masterObject.periodicity}}
              </div>
              <div class="col-2">
                <p>Separador:</p>
                {{masterObject.separator !== '' ? masterObject.separator : '-vacio-'}}
              </div>
              <div class="col">
                <p>Sistema Origen:</p>
                {{masterObject.originSystem}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Descripción de la tabla:</p>
                <textarea style="font-size:13px; resize:none;" rows="3" cols="120"
                  [value]="masterObject.observationField"></textarea>
              </div>
            </div>
          </div>
          <div class="col-2">
            <p>Convenciones: </p>
            <p style="background-color:#f2f5a9; color:black; padding-left: 6px;"> Global </p>
            <p style="background-color:#f5d0a9; color:black; padding-left: 6px;"> Global y propuesto </p>
            <p style="background-color:#f5a9a9; color:black; padding-left: 6px;"> Propuesto </p>
            <p style="background-color:#d0a9f5; color:black; padding-left: 6px;"> Propuesto y común </p>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="col-4">
              <button mat-raised-button class="buttonColor" (click)="generateExcels()">Generar Excels</button>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="table-query-div tableFixed validationTable" style="margin-top: 2%;">
    <ngx-datatable #TableValidation class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [rows]="fieldsRaw" [limit]="rowsLimit" [scrollbarH]="true">
      <ngx-datatable-column name="No." [width]="15" prop="column" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row.column+1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Campo origen" [width]="150" prop="legacy.legacy" [sortable]="false"
        [cellClass]="getCellClassLegacy"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción campo origen" [width]="180" prop="legacy.legacyDescription"
        [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column name="Naming" [width]="180" prop="naming.naming" [sortable]="false"
        [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="Lógico" [width]="200" prop="logic" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción" [width]="310" prop="description" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo de Dato (Extracción)" [width]="170" prop="logicalFormat" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo de Dato (Datio)" [width]="140" prop="outFormat" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Key" [width]="70" prop="key" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.key === 1 || row.key === '1'  ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mandatory" [width]="90" prop="mandatory" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.mandatory === 1 || row.mandatory === '1' ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Última observación" [width]="130" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span *ngIf="row.check.comments.length>0">
            {{row.check.comments[0]}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Observaciones" [width]="170" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <textarea placeholder="Observación" rows="4" cols="15" [(ngModel)]="row.check.lastComment">
          </textarea><br>
          <button style="float: right;" mat-icon-button (click)="historyComment(row)">
            <mat-icon>mode_comment</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Validaciones PO" [sortable]="false" [cellClass]="getStatusRow" [width]="150">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'OK', true)">
            <mat-icon>check</mat-icon>
          </button>
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'NOK', true)">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="container-fluid">
            <div class="row">
              <div class="col-5">
                <span>Filas:</span>
                <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                  <mat-form-field>
                    <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                      (change)="_changeRowLimits($event)" />
                  </mat-form-field>
                </div>
                <span>| Total: {{rowCount}}</span>
              </div>
              <div class="col" style="padding-top: 10px;">
                <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="tableValidations.onFooterPage($event)">
                </datatable-pager>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</ng-template>

<ng-template #validationTmpDataTable>
  <div class="row">
    <div style="color: #004283; width: 95%; margin: 2% 3% 1% 3%; border-bottom-style: outset; 
      border-bottom-width: thin; border-bottom-color: #004283;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <h3>Validar Tablón</h3>
          </div>
          <div class="col"></div>
          <div class="col-1">
            <button mat-button class="button-query-global bigButtons" (click)="goBack()">
              <mat-icon style="margin-right: 5px;" class="buttonIcon">undo</mat-icon>Atrás
            </button>
          </div>
          <div class="col-2">
            <button mat-button class="button-query-global bigButtonsAlt" style="float: right;"
              (click)="validationAlready()">
              <mat-icon style="margin-right: 5px;" class="buttonIcon">done_all</mat-icon>Cerrar Verificación
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title style="font-weight: bold">
          {{masterObject.baseName}}-----<span style="font-style: oblique;">{{masterObject.master_name}}</span>
        </mat-panel-title>
        <mat-panel-description>{{masterObject.alias}}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-fluid infoTableReview">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-2">
                <p>UUAA:</p>
                {{masterObject.uuaaMaster}}
              </div>
              <div class="col-3">
                <p>Nombre Tablón:</p>
                {{masterObject.master_name}}
              </div>
              <div class="col-2">
                <p>Responsable:</p>
                {{masterObject.user}}
              </div>
              <div class="col">
                <p>Marca objeto táctico:</p>
                {{masterObject.tacticalObject === 'YES' ? 'SI' : 'NO'}}
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p>Proyecto:</p>
                {{masterObject.Projecto}}
              </div>
              <div class="col-3">
                <p>Estado:</p>
                {{masterObject.stateTable === 'N' ? 'Propuesta' : masterObject.stateTable === 'G' ? 'Gobierno' : 'Arquitectura'}}
              </div>
              <div class="col-2">
                <p>Alias:</p>
                {{masterObject.alias}}
              </div>
              <div class="col-3">
                <p>Periodicidad:</p>
                {{masterObject.periodicity}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Contexto de la tabla:</p>
                <textarea style="font-size:13px; resize:none;" rows="3" cols="120"
                  [value]="masterObject.observationField"></textarea>
              </div>
            </div>
          </div>
          <div class="col-1">
            <p>Orígenes:</p>
            <div *ngFor="let option of originsArr">
              <span>{{calcAlias(option.originName)}}</span>
            </div>
          </div>
          <div class="col-2">
            <p>Convenciones: </p>
            <p style="background-color:#b4e2bc; color:black; padding-left: 6px;"> Directo </p>
            <p style="background-color:#f2f5a9; color:black; padding-left: 6px;"> Global con origen </p>
            <p style="background-color:#f5a9a9; color:black; padding-left: 6px;"> Propuesto con origen </p>
            <p style="background-color:white; color:black; padding-left: 6px;"> Sin origen </p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="table-query-div validationTable" style="margin-top: 2%;">
    <ngx-datatable #TableValidation class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [rows]="fieldsRaw" [limit]="rowsLimit" [scrollbarH]="true">
      <ngx-datatable-row-detail class="rowDetail">
        <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded">
          <div class="container-fluid rowDetailed">
            <div class="row">
              <div class="col">
                <div style="margin-top: 5px;">
                  <div *ngIf="row.originNamings.length == 0" class="container-fluid" style="text-align: center;">
                    <div class="row subTitle">
                      <div>
                        <h5>Origenes Agregados</h5>
                      </div>
                    </div>
                    <span>No hay namings de origen cargados</span>
                  </div>
                  <div *ngIf="row.originNamings.length > 0" class="container-fluid">
                    <div class="row subTitle">
                      <div>
                        <h5>Origenes Agregados</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ngx-datatable class='material tableClass' style="width: 100%; max-width: 1000px;" [rows]='row.originNamings'
                          [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="45"
                          [scrollbarH]="true" [scrollbarV]="false" [limit]="5">
                          <ngx-datatable-column name="Origen" prop="table_name" width="170" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Naming" prop="naming" width="140" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Tipo de Dato" prop="type" width="120" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Formato Lógico" prop="format" width="140" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column [cellClass]="'expandIconClass'" name="Acciones" width="100"
                            [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row2="row">
                              <button mat-icon-button matTooltip="Ver naming" (click)="namingDetailsFromOrigin(row2)"
                                style="bottom: 2px;">
                                <mat-icon style="font-size: 25px;" class="buttonIcon">zoom_in</mat-icon>
                              </button>
                              <button mat-flat-button
                                *ngIf="row.originNamings.length === 1 && checkDirectOriginNaming(row)"
                                class="directLabel">
                                Directo</button>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column name="Ver Orígenes" [cellClass]="getGenCellOrigins" [width]="110" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div style="text-align: center;" matTooltip="Ver namings de origen">
            <button mat-icon-button class="expandButton" [ngClass]="{'activeDetails': activeDetailsCheck(row.column)}"
              (click)="toggleExpandRow(row)">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="No." width="15" prop="column" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row.column+1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tablas origen" width="120" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.originNamings.length > 0">
            <div *ngFor="let obj of aliases[row.column]">
              <span><strong>{{obj}}</strong></span><br>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Naming" width="170" prop="naming.naming" [sortable]="false"
        [cellClass]="getCellClassDT"></ngx-datatable-column>
      <ngx-datatable-column name="Lógico" width="200" prop="logic" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción" width="310" prop="description" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Catálogo" prop="catalogue" width="90" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo de Dato" width="140" prop="dataType" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Formato Lógico" width="160" prop="logicalFormat" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Key" width="70" prop="key" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.key === 1 || row.key === '1'  ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mandatory" width="90" prop="mandatory" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.mandatory === 1 || row.mandatory === '1' ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Última observación" width="130" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span *ngIf="row.check.comments.length>0">
            {{row.check.comments[0]}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Observaciones" width="170" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <textarea placeholder="Observación" rows="4" cols="15" [(ngModel)]="row.check.lastComment">
              </textarea>
          <br>
          <button style="float: right;" mat-icon-button (click)="historyComment(row)">
            <mat-icon>mode_comment</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Validaciones PO" width="80" [sortable]="false" [cellClass]="getStatusRow"
        [width]="150">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'OK', false)">
            <mat-icon>check</mat-icon>
          </button>
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'NOK', false)">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="container-fluid">
            <div class="row">
              <div class="col-5">
                <span>Filas:</span>
                <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                  <mat-form-field>
                    <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                      (change)="_changeRowLimits($event)" />
                  </mat-form-field>
                </div>
                <span>| Total: {{rowCount}}</span>
              </div>
              <div class="col" style="padding-top: 10px;">
                <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="tableValidations.onFooterPage($event)">
                </datatable-pager>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</ng-template>

<ng-template #voboTableTemp>
  <div class="validationTable">
    <ngx-datatable #voboTables class='material table' [rows]="availableTables" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="loadingIndicator"
      [groupRowsBy]="'Projecto'">
      <ngx-datatable-group-header [rowHeight]="50" class="validationTable">
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="width: 100%;">
            <button mat-button style="margin-right: 35px; width: 100%; text-align: start;"
              (click)="toggleExpand(group)">
              <mat-icon *ngIf="!expanded" style="margin-left: 3px;">fast_forward</mat-icon>
              <mat-icon *ngIf="expanded" style="margin-left: 3px;">fast_rewind</mat-icon>
              {{group.value[0].Projecto}}
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo" prop="Tipo" [width]="80" [sortable]="true" [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.Tipo === 'T' ? 'Tabla' : 'Tablón'}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Raw" prop="raw_name" [width]="180" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Master" prop="master_name" [width]="180" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Legacy" prop="baseName" [width]="210" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Alias" prop="alias" [width]="120" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="N° Campos" [width]="70" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.fieldsRaw ? row.fieldsRaw.length : row.fields.length}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Casos de Uso" [width]="120" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngFor="let useCase of row.UseCaso">
            <span><strong>{{useCase}}</strong></span><br>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" [width]="120" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-button class="button-query-global bigButtonsAlt" (click)="validateTable(row)">
            <mat-icon style="margin-right: 5px;" class="buttonIcon">edit</mat-icon>Validar
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>