::ng-deep .tableFixed .ngx-datatable.scroll-horz .datatable-body{
    overflow: overlay;
    max-height: 550px !important;
    height: 550px !important;
}
@media only screen and (min-height: 768px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 700px !important;
        height: 700px !important;
    }
}
@media only screen and (min-height: 1080px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 950px !important;
        height: 950px !important;
        font-weight: bold !important;
    }
}

.buttonColor {
	color: #004283;
	background: #2DCCCD;
	margin-left: 20px;
}

.inputFull{
    width: 100%;
}

.bigButtons{
    color: white;
    background-color: #004283;
}

.bigButtonsAlt{
    color: #004283;
    background-color: #2DCCCD;
}

.bigButtonsAlt:hover{
    color: #2DCCCD;
    background-color: #004283;
}

.validateButtonsOk:hover{
    color:#416900;
    background-color: #a8cc6c;
}

.validateButtonsError:hover{
    color:#a90004;
    background-color: #ec9193;
}

.infoTableReview{
    font-size: 13px;
}

.generalContainer{
    padding-left: 0;
    margin-left: 0;
}

.row-margin{
    margin-top: 5px;
}

.subTitle {
	color: #004283; 
	width: 95%; 
	margin: 0 3% 1% 3%; 
	border-bottom-style: outset; 
	border-bottom-width: thin; 
	border-bottom-color: #004283;
}

.directLabel {
	display: inline-block;
	font-size: 11px;
	color: black;
	background-color: #86d394;
	bottom: 3px;
}
 
.infoTableReview p{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputFieldForHelpPop{
    width: 93%; 
    display: inline-block;
}
 
.inputFieldForHelpPop-Small{
    width: 92%; 
    display: inline-block;
}
.inputFieldForHelpPop .mat-form-field{
    width: 100%;
}

.table-query-div{
    padding: 0;
    //margin-bottom: 3%;
}

.activeDetails{
	background-color: #2DCCCD;
	color: white;
}

::ng-deep .rowDetailed {
	.mat-form-field-infix {
		height: 40px;
		.mat-form-field-label-wrapper {
			height: inherit;
		}
	}
}

::ng-deep .ngx-datatable.material .datatable-body .datatable-row-detail {
	height: inherit !important;
	width: 100% !important;
}

::ng-deep .validationTable .ngx-datatable.material{
    background: none;
    box-shadow: none;
}

 ::ng-deep .validationTable .ngx-datatable.material .datatable-body .datatable-group-header{
    width: 100% !important;
    font-size: bold;
    color: white;
    background: #00428396;
}