::ng-deep .tabGroup .mat-tab-header {
  display: none;
}
.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}
.mat-form-field{
  font-size: 12px;
  display: contents;
}
.mat-card{
  background-color: aliceblue;
}
.divH2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}
.buttonActualizar {
  margin-top: 1%; 
  float: right; 
  padding-right: 5%;
}
.allContain {
  padding-left: 2%;
  padding-right: 2%;
  //margin-bottom: 3%;
}
.rowUpperBorder{
    border-top-style: outset;
    padding-top: 15px;
    margin-top: 15px;
}
.fullInput {
  width: 100%;
  display: inline-block;
}
.semiInput {
  width: 60%;
  display: inline-block;
}
.semiMargin {
  margin-right: 10px;
}
.semiHelp {
  width: 35%;
  display: inline-block;
}
.inputHelp {
  width: 90%;
  background: red($color: #000000);
  display: inline-block;
}
.helpPopdiv {
  width: 7%;
  display: inline-block;
  padding-left: 5px;
}
input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
}
.divAboveFileInput {
	margin-right:10px; 
	position: relative; 
	bottom: 20px; 
	text-align: left; 
}
.buttonscolor {
	float: right;
	color: #004283;
	background: #2DCCCD;
	margin-left: 15px;
}
.buttonExtra {
	color: white;
    background: #004283;
    margin-left: 15px;
}
.buttonColor {
	color: #004283;
	background: #2DCCCD;
	margin-left: 20px;
}
.mat-icon-button.small {
	width: 15px;
	height: 15px;
	line-height: 15px;
	.mat-icon {
		font-size: 20px;
		width: 15px;
		height: 15px;
		line-height: 15px;
		color: #004283;
	}
}
.col-2LoadLegacy {
	flex: 0 0 18.666667%;
	max-width: 18.666667%;
}
.col-9Per {
  flex: 0 0 8.666667%;
  max-width: 8.666667%;
  padding-left: 15px;
  margin-right: 5px;
}
.col10per{
  flex: 0 0 10%;
  max-width: 10%;
}
.col-2quarter{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-2tenper{
  flex: 0 0 10.666667%;
  max-width: 10.666667%;
}
.validateButtonsOk:hover{
  color:#416900;
  background-color: #a8cc6c;
}
.validateButtonsError:hover{
  color:#a90004;
  background-color: #ec9193;
}
.floatButtons{
  float: right;
}

