<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Gobierno Funcional</h2>
    </div>
  </div>
</div>

<div class="tabGroup allContain">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="tableInfo"></ng-container>
        <!-- <ng-container *ngTemplateOutlet="queryNamings"></ng-container>-->
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>


<ng-template #tableInfo>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold">
        <span><strong>{{tableData.uuaaRaw}} / {{tableData.uuaaMaster}} -</strong>- {{tableData.baseName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div class="row rowUpperBorder">
        <div class="col-2 col-9Per">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA RAW" [(value)]="tableData.uuaaRaw">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'uuaaRaw'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-9Per">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA MASTER" [(value)]="tableData.uuaaMaster">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'uuaaMaster'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-5">
          <mat-form-field class="inputHelp" style="width: 93%;">
            <input matInput placeholder="NOMBRE LÓGICO" [(ngModel)]="tableData.baseName" maxlength="55"
              (input)="inputValidatorBaseName($event)">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-4">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERÍMETRO" [(ngModel)]="tableData.perimeter">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <!--
        <div class="col-2 col-Alias">
          <mat-form-field class="inputHelp">
            <mat-select #selectorAmbito placeholder="Ambito" [formControl]="formControlAmbito"
            (selectionChange)="selectedAmbito($event.value)" required>
              <mat-option value="K">Global - K</mat-option>
              <mat-option value="C">Colombia - C</mat-option>
            </mat-select>
            <mat-error *ngIf="formControlAmbito.hasError('required')">
              El ambito es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <mat-select #selectorUUAA placeholder="UUAA" (selectionChange)="selectedUuaa($event.value)"
              [formControl]="formControlUUAA" required>
              <mat-option *ngFor="let f of uuaaOptions" [value]="f">
                {{f}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlUUAA.hasError('required')">
              La uuaa MASTER es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        -->
      </div>
      <div class="row">
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="PERIODICIDAD" [(ngModel)]="tableData.periodicity">
              <mat-option *ngFor="let p of periodicityOptions" [value]="p.periodicity">
                {{p.periodicity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2quarter">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NIVEL INFORMACIÓN" [(ngModel)]="tableData.information_level">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'information_level'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-3 col10per">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="SISTEMA ORIGEN" [(value)]="tableData.originSystem" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originSystem'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2tenper">
          <mat-form-field class="fullInput">
            <mat-select placeholder="FRECUENCIA" [(value)]="tableData.periodicity">
              <mat-option *ngFor="let c of frecuencyOptions" [value]="c.periodicity">
                {{c.periodicity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2 col-2tenper">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="FRECUENCIA MASTER" [(value)]="tableData.periodicity_master">
              <mat-option *ngFor="let c of frecuencyOptions" [value]="c.periodicity">
                {{c.periodicity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row row-margin">
        <div class="col-1">
          <mat-form-field class="inputHelp">
            <mat-select matTooltip="Tipo del objeto de entrada" placeholder="TIPO OBJETO"
              [(value)]="tableData.objectType">
              <mat-option *ngFor="let j of objectTypesOptions" [value]="j">
                {{j}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'objectType'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-1">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ARCHIVO" [(ngModel)]="tableData.typeFile"
              matTooltip="Tipo de archivo de entrada" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'typeFile'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 70%; display: inline-block;">
              <input min="0" matInput placeholder="PROF. ACTUAL" [(ngModel)]="tableData.current_depth"
                (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos">
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'current_depth'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 70%; display: inline-block;">
              <input min="0" matInput placeholder="VOL. ESTIMADA" [(ngModel)]="tableData.estimated_volume_records"
                (input)="inputValidatorNumbers($event)" matTooltip="Volumetría de registros de los historicos">
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="registros" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'estimated_volume_records'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 68%; display: inline-block;">
              <input min="0" matInput placeholder="PROF. ESTIMADA" [(ngModel)]="tableData.required_depth"
                (input)="inputValidatorNumbers($event)"
                matTooltip="Profundidad de registros de los historicos requeridos">
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'required_depth'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-11Per">
          <mat-form-field class="fullInput">
            <input matInput placeholder="MARCA OBJETO TÁCTICO" [(ngModel)]="tableData.tacticalObject" disabled>
          </mat-form-field>
        </div>
      </div>

      <div class="container-fluid tablaRutas">
        <div class="row">
          <div class="col-md-8 col-lg-8 G">
            <div class="row">
              <div class="col" style="padding: 0;">
                <mat-form-field style="width:93%; display: inline-block;">
                  <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="DESCRIPCIÓN"
                    [(ngModel)]="tableData.observationField">
                  </textarea>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'observationField'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 B tablaDataSource">
            <table>
              <tr>
                <mat-form-field class="inputHelp">
                  <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1"
                    [(ngModel)]="tableData.information_group_level_1" disabled>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small"
                    (click)="activeHelp = 'information_group_level_1'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
              <tr>
                <mat-form-field class="inputHelp">
                  <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2"
                    [(ngModel)]="tableData.information_group_level_2" disabled>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small"
                    (click)="activeHelp = 'information_group_level_2'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
              <tr>
                <mat-form-field class="inputHelp">
                  <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="tableData.data_source" disabled>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'data_source'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
            </table>
          </div>
          <div *ngIf="viewAuditFlag">
            <p style="font-style: italic; font-size: 12px; color: #004283">
              Tabla creado el <strong>{{tableData.created_time}}</strong> y su última modificación fue el
              <strong>{{tableData.modifications.date}}</strong> por
              <strong>{{tableData.modifications.user_name}}.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="floatButtons">
          <button mat-raised-button class="buttonExtra" matTooltip="Plantilla de Carga" style="margin-right: 0px;"
            (click)="openExternalTemplateLink()">
            <mat-icon>library_books</mat-icon>
          </button>
          <button mat-raised-button class="buttonExtra" style="margin-left: 5px;"
            (click)="excelLegacy()">Subir Legacy</button>
        </div>
      </div>
      <div class="col-3" style="padding-left: 0; top: 5px;">
        <th>
          <div>
            <input style="width: 100%;" type="file" class="file" accept=".xlsx" (change)="onFileChange($event)" />
            <div class="row divAboveFileInput">
              <div class="col-1">
                <mat-icon style="position: relative; bottom: 5px;" matTooltip="Agregar archivo">note_add</mat-icon>
              </div>
              <div class="col-7">
                <span
                  style="font-family: sans-serif;">{{fileList === null ? 'Adjuntar Archivo' : fileList.name}}</span>
              </div>
            </div>
          </div>
        </th>
      </div>
      <div class="col"></div>
      <div class="col-5">
        <div class="floatButtons">
          <button mat-raised-button class="buttonExtra" (click)="updateObject()">Actualizar Objeto</button>
          <button mat-raised-button class="buttonColor" (click)="sendReview()">Enviar a Propuesta</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>


<ng-template #tableTemplate>
  <ngx-datatable #table class="material" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [rows]="tableFields" [limit]="rowsLimit" [scrollbarH]="true">
    <ngx-datatable-column name="No." [width]="15" prop="column" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{row.column+1}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Pos. Inicial" [width]="80" prop="startPosition"></ngx-datatable-column>
    <ngx-datatable-column name="Pos. Final" [width]="80" prop="endPosition"></ngx-datatable-column>
    <ngx-datatable-column name="Longitud" [width]="80" prop="length">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span title="Doble clic para editar."
          (dblclick)="editing[(row.column) + '-length'] = true;"
          *ngIf="!editing[(row.column) + '-length']">
          {{row.length}}</span>
        <input autofocus type="number" min="0" (blur)="!editing[(row.column) + '-length'] = false"
          (change)="updateValue($event.target.value, row, 'length');"
          *ngIf="editing[(row.column)+ '-length']" [value]="value" ng-pattern-restrict="[0-9]*"
          class="input-length"/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Varchar Salida" *ngIf="showHost" [width]="140" prop="outVarchar">
    </ngx-datatable-column>
    <ngx-datatable-column name="Longitud Salida" *ngIf="showHost" [width]="120" prop="outLength">
    </ngx-datatable-column>
    <ngx-datatable-column name="Tipo de Dato Origen" [width]="170" prop="originType">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-legacy']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-legacy'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.legacy.legacy}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-legacy']" (blur)="!editing[(row.column) + '-legacy'] = false"
          (change)="updateValue($event.target.value, row, 'legacy')" type="text" [value]="value" class="input-legacy" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nombre Legacy" [width]="180" prop="legacy.legacy" [cellClass]="getCellClassLegacy">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-legacy']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-legacy'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.legacy.legacy}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-legacy']" (blur)="!editing[(row.column) + '-legacy'] = false"
          (change)="updateValue($event.target.value, row, 'legacy')" type="text" [value]="value" class="input-legacy" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Descripción Legacy" [width]="310" prop="legacy.legacyDescription">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-legacyDescription']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-legacyDescription'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.legacy.legacyDescription}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-legacyDescription']"
          (blur)="!editing[(row.column) + '-legacyDescription'] = false"
          (change)="updateValue($event.target.value, row, 'legacyDescription')" type="text" [value]="value"
          class="input-legacy" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Catálogo" [width]="120" prop="catalogue">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-catalogue']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-catalogue'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.catalogue}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-catalogue']" (blur)="!editing[(row.column) + '-catalogue'] = false"
          (change)="updateValue($event.target.value, row, 'catalogue')" type="text" [value]="value" class="input-length"/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Formato Destino" [width]="130" prop="format">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-format']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-format'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.format}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-format']" (blur)="!editing[(row.column) + '-format'] = false"
          (change)="updateValue($event.target.value, row, 'format')" type="text" [value]="value" class="input-length"/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Entero" [width]="80" prop="integers">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-integers']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-integers'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.integers}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-integers']" (blur)="!editing[(row.column) + '-integers'] = false"
          (change)="updateValue($event.target.value, row, 'integers')" type="text" [value]="value" class="input-length"/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Decimal" [width]="80" prop="decimals">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span *ngIf="!editing[(row.column) + '-decimals']" matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-decimals'] = true; value === 'empty' ? value = '' : value = value;">
          {{row.decimals}}</span>
        <input autofocus *ngIf="editing[(row.column) + '-decimals']" (blur)="!editing[(row.column) + '-decimals'] = false"
          (change)="updateValue($event.target.value, row, 'decimals')" type="text" [value]="value" class="input-length"/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Signo" [width]="80" prop="symbol">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-symbol'] = true; value === 'empty' ? value='' : value=value;"
          *ngIf="!editing[(row.column) + '-symbol'] ">
          {{row.symbol == 1 ? "YES" : "NO"}}</span>
        <select style="width: 50px;" *ngIf="editing[(row.column) + '-symbol']" (blur)="!editing[(row.column) + '-symbol'] = false"
          (change)="updateValue($event.target.value, row, 'symbol')" [value]="value">
          <option value=1>YES</option>
          <option value=0>NO</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Key" [width]="80" prop="key">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-key'] = true; value === 'empty' ? value='' : value=value;"
          *ngIf="!editing[(row.column) + '-key'] ">
          {{row.key == 1 ? "YES" : "NO"}}</span>
        <select style="width: 50px;" *ngIf="editing[(row.column) + '-key']" (blur)="!editing[(row.column) + '-key'] = false"
          (change)="updateValue($event.target.value, row, 'key')" [value]="value">
          <option value=1>YES</option>
          <option value=0>NO</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Mandatory" [width]="80" prop="mandatory">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span matTooltip="Doble clic para editar"
          (dblclick)="editing[(row.column) + '-mandatory'] = true; value === 'empty' ? value='' : value=value;"
          *ngIf="!editing[(row.column) + '-mandatory'] ">
          {{row.mandatory == 1 ? "YES" : "NO"}}</span>
        <select style="width: 50px;" *ngIf="editing[(row.column) + '-mandatory']" (blur)="!editing[(row.column) + '-mandatory'] = false"
          (change)="updateValue($event.target.value, row, 'mandatory')" [value]="value">
          <option value=1>YES</option>
          <option value=0>NO</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Scope" width="80" [sortable]="false" [cellClass]="getCheckRow" [width]="120">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button
            [ngClass]="{'validateButtonsOk': row.checkFunctional == 1, 'validateButtonsError': row.checkFunctional == 0}"
            mat-icon-button (click)="updateValue(1, row, 'checkFunctional')">
            <mat-icon>check</mat-icon>
          </button>
          <button
            [ngClass]="{'validateButtonsOk': row.checkFunctional == 1, 'validateButtonsError': row.checkFunctional == 0}"
            mat-icon-button (click)="updateValue(0, row, 'checkFunctional')">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    <ngx-datatable-column name="Ultima Observación" [width]="170" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <textarea *ngIf="row.comments.length > 0" placeholder="Observación" rows="2" cols="15"
          [(value)]="row.comments[row.comments.length-1].comment"></textarea>
        <span *ngIf="row.comments.length == 0" placeholder="Observación">
          << Sin comentarios >>
        </span>
      </ng-template>
    </ngx-datatable-column>
    <!--
      <ngx-datatable-column name="Validaciones PO" [sortable]="false" [cellClass]="getStatusRow" [width]="150">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'OK', true)">
            <mat-icon>check</mat-icon>
          </button>
          <button
            [ngClass]="{'validateButtonsOk': row.check.status=='OK', 'validateButtonsError': row.check.status=='NOK'}"
            mat-icon-button (click)="validate(row,'NOK', true)">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    -->
    <ngx-datatable-column name="Acciones" [width]="100" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button matTooltip="Comentarios" mat-icon-button (click)="commentsWindows(row)">
          <mat-icon>comment</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5">
              <span>Filas:</span>
              <div style="min-width: 40px; width: 6%; margin: 0 1% 0 1%; display: inline-block;">
                <mat-form-field>
                  <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                    (change)="_changeRowLimits($event)" />
                </mat-form-field>
              </div>
              <span>| Total: {{rowCount}}</span>
            </div>
            <div class="col" style="padding-top: 10px;">
              <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
              </datatable-pager>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</ng-template>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias' && activeHelp !== 'originTables' && activeHelp !== 'aliasLong')
    , 'big-mat-card': (activeHelp === 'descAlias' || activeHelp === 'originTables' || activeHelp === 'aliasLong')}">
    <mat-card-content *ngIf="activeHelp === 'finalUuaa'">
      UUAA que se forma despues de seleccionar el ámbito y la uuaa de master.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'phys_name'">
      Nombre físico del tablon, que se genera a partir de la UUAA final, el alias y la descripcion del alias.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'ambito'">
      Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno
      local de Colombia.<br>
      Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'descAlias'">
      <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
      <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
      <strong>(2 pos.) Contenido del archivo:</strong><br>
      <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo,
      catálogos de los productos del banco.<br>
      <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
      <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg =
      Cuentas personales, rv = riesgos.<br>
      <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" =>
      "PE001_", "PEDT008" => "PE008_"<br>
      <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del
      fichero.<br>
      Por ejemplo: hdape008_cliente_contrato, se informa en el campo.<br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento de
        buenas prácticas (Pag. 1)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'aliasLong'">
      <strong>Alias largo del tablón. Este alias es un campo independiente al alias que conforma el nombre
        logico.</strong><br>
      El alias se compone de hasta 20 caracteres alfanuméricos, no debe incluir caracteres especiales ni espacios. y
      debe mantener el siguiente estándar:<br>
      <strong>(2 posiciones) Origen: </strong>MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto
      Local <br>
      <strong>(4 posiciones) Unidad Aplicativa UUAA: </strong>Por ejemplo, KBTQ: Basic Data, Knowledge &
      Personalization
      - Modelo Global, KPFM: Personal Finance Managment – Global, CBTQ: Basic Data, Knowledge & Personalization -
      Modelo
      y Proyecto Local <br>
      <strong>(14 posiciones) Descripción: </strong>Se informará el nombre de la tabla en caso de que sea menor a 14
      posiciones. Se informará el nombre de la tabla con abreviaturas en caso de que sea mayor a 14 posiciones. <br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">
        Ver documento de Estandáres DataDictionary(Pag. 2)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'separator'">
      ​​Delimitador de campos para los ficheros de datos de origen.
      <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo
      AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'numberField'">
      ​​Cantidad de namings que va a tener la tabla.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw'">
      Siglas PAAO. <br>
      P: País (C -> colombia). <br>
      AA: Aplicativo host o externo. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a><br>
      O: Sistema Origen. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw_name'">
      Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master'">
      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master_name'">
      Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'baseName'">
      Nombre de la base, lógico o tabla como la conoces en tu área o el nombre del sistemas
      core. (e.g El nombre de la tabla en HOST).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'origin'">
      Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a
      la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;).
      En caso de ser un sistema usuario tipo excel, access, informarlo con el mismo nombre que el código
      de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'perimeter'">
      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
      contrapartida, tipo de cliente, titularidad, …).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'periodicity'">
      Frecuencia de actualización de la información contenida en el objeto.
      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
      objeto.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'information_level'">
      Nivel a la que se encuentra la información de la tabla/fichero (cliente, contrato, detalle, …).
      Para ayudar a la identificación del nivel se recomienda consultar los campos clave del objeto
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTablon'">
      Código de identificación para el origen ó alcance del tablón: <br>
      <strong>MG: </strong>Modelo Global<br>
      <strong>PG: </strong>Proyecto Global<br>
      <strong>ML: </strong>Modelo Local<br>
      <strong>PL: </strong>Proyecto Local
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'loadingType'">
      Se detalla si la tabla/fichero se carga de manera incremental o si se carga la totalidad de la
      profundidad en cada ejecución.
      Posibles valores: Completa/Incremental
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'mark'">
      Identificador de si el objeto que se está aprovisionando en un sistema
      no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un
      objecto de creación táctica que se debe gestionar a posteriori como deuda técnica.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'typeFile'">
      ​​Tipo de formato del archivo de entrada.
      Posibles valores fixed, csv, avro, parquet, xml, text-extended
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'objectType'">
      Tipo de objeto correspondiente (vista, tabla, fichero, colección, índice, nodo, paquete de
      mercado…).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'target_file'">
      Formato de Salida
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTables'">
      Tablas origen necesarias para la existencia de los namings del Tablón. <br>
      Una tabla tiene dos fases normalmente, <strong>Raw</strong> y <strong>Master</strong> por lo que se necesita
      seleccionar cual de las dos fases se va a usar en el tablón. Solo se puede usar una fase.
      Si la tabla no tiene la fase Master es necesario seleccionar la fase Raw igualmente. <br>
      Si se <strong>eliminan</strong> orígenes los namings asociados tambien se eliminan del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'route'">
      Ruta de destino del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'partitions'">
      "Nombre Físico Campo" por los que se va particionar el objeto. <br>
      <strong>1- </strong>Se debe incluir cada campo en el orden en el que se debe realizar el particionado. <br>
      <strong>2- </strong>En el caso de informar más de un campo en esta celda, se debe separar por punto y coma (;)
      <br>
      <strong>3- </strong>Se debe validar que el "Nombre Físico Campo" existe vinculado al "Nombre Físico Objeto" en
      el
      DD-F.<br>
      <strong>Ej: </strong>partition_data_year_id;partition_data_month_id
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl1'">
      Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl2'">
      Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'dataSource'">
      Data Source al que pertenece el objeto que se está documentando.
      Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'volum'">
      Volumen de registros de la tabla/fichero.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'prof'">
      Profundidad histórica actual que se posee de dicha tabla/fichero
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'profReq'">
      Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los
      requerimientos existentes sobre la misma.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'information_group_level_1'">
      Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'information_group_level_2'">
      Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'data_source'">
      Data Source al que pertenece el objeto que se está documentando.
      Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
    </mat-card-content>



  </mat-card>
</mde-popover>