.body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.header-banner {
    height: 80px;
    background: #004283;
    line-height: 80px;
    text-align: left;
    .header-text {
        font-size: 20px;
        padding-left: 25px;
        color: white;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }
    img {
        float: right;
    }
}

.center-block {
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    display: table;
    max-width: 700px;
    mat-form-field {
        margin: 5% 0 0 0;
        display: block;
        width: 360px;
    }
    .login-error-icon {
        font-size: 15px;
        margin-right: 5px;
        vertical-align: sub;
    }
}

.error-message {
    width: 45%;
    font-size: 100%;
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 10%;
    margin-left: 315px;
    color: #d8000c;
    background-color: #ffd2d2;
    text-align: center;
}

.bottom-row {
    margin: 1% 0 2% 0;
    .login-button {
        width: 100%;
        font-size: 16px;
        color: white;
        background-color: #33b3b3;
    }
}

.bottom-div {
    max-width: 50%;
    padding-top: 10px;
    margin: auto auto 5% auto;
    text-align: center;
    border-top-style: outset;
}

.footer {
    height: 50px;
    width: 100%;
    display: table-row;
    margin-top: auto;
    border-top: 1px solid #f5f5f5;
    background-color: #f8f9fa !important;
    .col {
        text-align: right !important;
    }
    .inside {
        height: 50px;
        padding-top: 8px;
    }
    .year:after {
        vertical-align: bottom;
        padding-left: 8px;
        padding-right: 8px;
        content: "|";
    }
}