<div class="body">
  <div class="header-banner">
    <span class="header-text">Bienvenidos a Nebula :: DATA HUB - PROYECTO GOBIERNO</span>
    <img src="assets/images/nebulaLogo.png" width="initial" height="80px">
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="center-block">
          <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput [formControl]="user" (keyup.enter)="login()" required>
            <mat-error *ngIf="user.invalid">
              <mat-icon class="login-error-icon">error</mat-icon>
              <span style="bottom: 3px;">El usuario es requerido</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [formControl]="pass" (keyup.enter)="login()" [type]="hidePass ? 'text' : 'password'"
              required>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="pass.invalid"></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="showDivError" class="row">
      <div class="error-message">
        <mat-icon>error</mat-icon>
        <span class="alert-heading">{{errorMessage}}</span>
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col"></div>
      <div class="col-2">
        <button mat-raised-button class="login-button" (click)="login()">Ingresar</button>
      </div>
      <div class="col"></div>
    </div>
    <div class="bottom-div">
      <span>¿No tienes cuenta? <br> Ingresa como <a href="javascript:void(0)" (click)="invitadoLogin()">Invitado</a>
        ó tambien puedes <a href="javascript:void(0)" (click)="signUpPanel()">Registrarte</a></span>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid inside">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <small class="year text-muted">v.1.07</small>
          <img width="60" src="/assets/images/logoBBVA.png">
        </div>
      </div>
    </div>
  </footer>
</div>
