.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.divH2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}

h1 {
  color:#004283;
  margin-top: 3px; 
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.subH3 {
  color: #004283;
  margin: 3% 0% 0% 0%;
  border-bottom-style: outset;
  border-bottom-width: thin;
  border-bottom-color: #004283;
}

.closeIcon {
  color:#004283;
  font-size: 30px; 
  float: left;
}

.margenTitle{
  width: 95%; 
  margin: -1% 0 1% 1%;
  border-bottom-color: #004283;
  border-bottom-style: inset; 
  border-bottom-width: thick;
}


///cososo
.drag-list {
  //width: 95%;
  //max-width: 95%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  //border: solid 1px #ccc;
  //border-radius: 4px;
  //overflow: auto;
  padding: 15px;
  border-radius: 15px;
  background: #c5cbcb;
}

.drag-box {
  color: #004283;
  background: white;
  border-style: solid;
  border-width: thin;
  margin: 1px;

  height: 60px;
  //margin: 0 10px 0 10px;
  //border-radius: 10px;
  padding: 20px 15px;
  //border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
 
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.new-drag-box {
	color: white !important;
	background: gray !important;
	min-width: 130px;
}

.drag-box:hover {
  font-weight: bold;
  color:white !important;
  background-color:#004283;
}

.rowUpperBorder{
  //margin-top: 15px;
  border-top-style: outset;
  padding-top: 15px;
}

.deleteOriginTableButt {
	//top: 9px;
	color: white;
	background-color: #004283;
	float: right;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.buttHoverDT:hover{
	color: #214581 !important;
  	background-color: #3773b887;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  color:white !important;
  background-color:#004283;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  //border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  border-radius: 10px;
  min-height: 50px;
  min-width: 150px;
  width: 5%;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
