<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1 mat-dialog-title>Plantilla de carga Bases Ops</h1>
    </div>
    <div class="col-2" style="font-size: 30px; padding-left: 20px;">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right;">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>


<div autosize>
  <ng-container *ngTemplateOutlet="fieldsTemplate"></ng-container>
</div>

<ng-template #fieldsTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="subH3">
          <h3>Fields 
            <small style="color: slategrey;">(Nombre de la Columna | Propiedad)</small>
            <button mat-button class="deleteOriginTableButt buttHoverDT" (click)="addFieldProp()">
              <mat-icon>add_circle</mat-icon>
              <span>Agregar Columna/Propiedad</span>
            </button>
            <button mat-button class="deleteOriginTableButt buttHoverDT" style="margin-right: 15px;" (click)="downloadExcel()">
              <mat-icon>add_circle</mat-icon>
              <span>Descargar Plantilla</span>
            </button>
          </h3> 
          
        </div>
        <div class="row" style="margin-top: 15px; overflow: auto; padding-bottom: 15px;">
          <div cdkDropList class="drag-list" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <div class="drag-box" *ngFor="let fild of fieldsSettings" cdkDrag (click)="openSettings(fild)" 
              (cdkDragStarted)="cdkDragStarted($event)" [cdkDragData]="fild">
              <div [ngStyle]="{'min-width.px': widthP }" class="drag-custom-placeholder" *cdkDragPlaceholder></div>
              <span>{{fild.name}} | <small>{{fild.property}}</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col">
        <div class="subH3">
          <h3>Object</h3>
        </div>
        <div class="row" style="margin-left: 5%; margin-top: 15px;">
          <div cdkDropList cdkDropListOrientation="horizontal" class="drag-list" (cdkDropListDropped)="drop($event)">
            <div class="drag-box" *ngFor="let objd of objectSettings" cdkDrag (click)="openSettings(movie)" >
              <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
              {{objd.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="row rowUpperBorder">
      <div class="col"></div>
      <div class="col-2">
        <button mat-button class="deleteOriginTableButt buttHoverDT" (click)="restartDefaults()">
          <mat-icon>add_circle</mat-icon>
          <span>Reiniciar Columnas</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

