<div>

    <h1 class="title-center-not-found">
          <mat-icon color="white">account_balance</mat-icon>{{title}}
    </h1>

    <h2 class="title-center-not-found">
          <mat-icon color="white">error</mat-icon>{{message}}
    </h2>

    <button (click)="BackFunc()" class="button-not-found">
        <mat-icon>home</mat-icon>Inicio
    </button>

    <br>

    <img src="assets/images/404PandaNotFound.png" width="250px" height="400px" alt="404 Panda Not Found" class="center">

</div>
