<h1 mat-dialog-title>Comentario Fila {{data.column}}</h1>

<div mat-dialog-content>
  <p><strong>Comentarios</strong></p>

    <ul *ngIf="!isEmpty">
        <li *ngFor="let item of data.comment">
          <p><strong>{{item.reasonReturn}}, </strong>{{item.comment}} <strong> por: </strong> {{item.name}}</p>
          <strong>Estado:</strong> <input [value]="item.checkComment" disabled/>
        </li>
    </ul>

    <ul *ngIf="isEmpty">
       <li>
          {{warning}}
        </li>
    </ul>

</div>

<div mat-dialog-actions>

    <button mat-button mat-dialog-close>Ok</button>

</div>

