<div class="main-toolbar">
    <mat-toolbar>
        <button mat-button (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>DATA HUB - PROYECTO GOBIERNO</h1>
        <div class="profile-menu">
            <button mat-button [matMenuTriggerFor]="profileMenu" (click)="toggleProfile()">
                <mat-icon>account_box</mat-icon>{{ userName }}
            </button>
        </div>
        <div id="main-side-nav">
            <div class="side-menu-title">
                <h2>MENÚ PRINCIPAL</h2>
            </div>
            <mat-accordion class="mat-accordion tableMat">
                <!-- MENU EDICION -->
                <mat-expansion-panel *ngIf="rolLevel >= 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">description</mat-icon>Edición y Propuesta
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button (click)="pendingTablesNav()">Tablas / Tablones
                            Pendientes</button></li>
                        <li><button mat-button (click)="creationTableNav()">Iniciar
                            Tabla</button></li>
                        <li><button mat-button (click)="initTablon()">
                            Iniciar Tablón</button></li>
                        <li *ngIf="rol === 'G' || rol === 'SPO'"><button mat-button (click)="initOpBase()">Iniciar Base
                            Operacional</button></li>
                    </ul>
                </mat-expansion-panel>
                <!-- MENU VOBO -->
                <mat-expansion-panel *ngIf="rolLevel >= 2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">business</mat-icon>Revisión Visto Bueno
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button (click)="voBoNegocio()"> Visto Bueno Tablas</button></li>
                    </ul>
                </mat-expansion-panel>
                <!-- MENU PROYECTOS -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">event</mat-icon>Búsqueda
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button (click)="useCaseEditNav()">Proyectos y Casos de Uso</button></li>
                        <li><button mat-button (click)="queryTables()">Buscar Tablas / Tablones</button></li>
                        <li *ngIf="rol === 'G' || rol === 'SPO'"><button mat-button (click)="searchOpBase()">Buscar
                                Bases Operacionales</button></li>
                        <li><button mat-button (click)="validateACL()">Validador de ACLs</button></li>
                    </ul>
                </mat-expansion-panel>
                <!-- GLOBAL -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">language</mat-icon>Global
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button (click)="searchNamingNav()">Búsqueda Namings</button></li>
                        <li><button mat-button (click)="viewUUAAs()">Consultar UUAAs Master</button></li>
                        <li><button mat-button (click)="namingLegacyNav()">Búsqueda Naming Legacy</button></li>
                        <!--
                        <li><button mat-button (click)="abbreviationsNav()">Búsqueda Abreviaciones</button></li>
                        -->
                    </ul>
                </mat-expansion-panel>
                <!-- ESTADISTICAS -->
                <mat-expansion-panel *ngIf="rolLevel >= 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">launch</mat-icon>Estadísticas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button (click)="statisticsNav()">Estadísticas Generales</button></li>
                    </ul>
                </mat-expansion-panel>
                <!-- INFORMACION -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-icon" [inline]="true">find_in_page</mat-icon>Información
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-type">
                        <li><button mat-button>
                                <a style="text-decoration: none;" href="{{linkDataHub}}"><label class="text">Conociendo
                                        Datahub</label></a>
                            </button></li>
                        <li><button mat-button>
                                <a style="text-decoration: none;" href="{{linkManual}}"><label class="text">Manual de
                                        usuario</label></a>
                            </button></li>
                    </ul>
                </mat-expansion-panel>
                <!-- Admin filtrar aparte -->
                <ul *ngIf="rolLevel >= 69 || rol == 'A'" style="margin: 0;">
                    <li><button mat-button (click)="adminHomeNav()" style="font-weight: bold;">Menú
                            Administrador</button></li>
                </ul>
                <ul *ngIf="rol == 'G'" style="margin: 0;">
                    <li><button mat-button (click)="cpanelHomeNav()" style="font-weight: bold;">Cuadro de Mando</button>
                    </li>
                </ul>
            </mat-accordion>
        </div>
        <!-- MENU LOGOUT -->
        <mat-menu #profileMenu="matMenu" class="profileMenu">
            <button mat-menu-item (click)="profileView()"> Editar perfil <mat-icon>edit</mat-icon></button>
            <button mat-menu-item (click)="LogOut()"> Cerrar sesión <mat-icon>exit_to_app</mat-icon></button>
        </mat-menu>
    </mat-toolbar>
</div>
<div [ngClass]="menuToggled ? 'dark_cover' : 'cover'" (click)="toggleNav()"></div>