//Cambian el estilo de los label en los tabs, toca dejarlo aqui ya que en el styles.scss no lo toma
//y el toolbar es un componente que esta activo siempre
::ng-deep .mat-tab-label:hover {
    color: white !important;
    background-color: #004283 !important;
}

::ng-deep .mat-tab-label-active {
    font-weight: bolder !important;
}

::ng-deep .profileMenu {
    z-index: 9999 !important;
    width: 11rem !important;
    margin-top: 10px;
    max-width: none !important;
    button:focus {
        outline: none !important;
    }
}

.main-toolbar {
    z-index: 9999;
    position: relative;
    mat-toolbar {
        color: white;
        background: #004283;
        padding-right: 0;
    }
    h1 {
        width: 70%;
        text-align: center;
    }
    .profile-menu {
        width: 10rem;
    }
}

.title-center {
    text-align: center;
    width: 70%
}

#main-side-nav {
    width: 0;
    top: 0;
    left: 0;
    margin-top: 64px;
    border-radius: 0px;
    z-index: 9999;
    overflow-x: hidden;
    transition: 0.5s;
    position: absolute;
    background-color: #2DCCCD;
    .side-menu-title {
        background-color: #004283;
        padding: 5px 0px 0px 15px;
        color: white;
        font-size: 15px;
        height: 40px;
        line-height: 45px;
        border-bottom: solid 5px #2DCCCD;
    }
}

.tableMat .mat-expansion-panel-body {
    padding: 1.5% 24px 15px 16px;
}

.sidenav {
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    a:hover {
        color: #f1f1f1;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}



.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}



.cover {
    background-color: #ffffff;
    position: absolute;
    z-index: 9998;
}

.dark_cover {
    width: 100%;
    height: 100%;
    margin-top: -64px;
    background-color: #000;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    position: fixed;
}

.mat-expansion-panel {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
    color: black;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
    color: black;
}

.mat-expansion-panel-spacing {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-icon {
    margin-right: 5px;
}

.text {
    background-color: white;
    color: black;
    font-size: 14px;
}

a:link,
a:visited {
    background-color: white;
    color: black;
    text-decoration: underline;
    display: inline-block;
}

a:hover,
a:active {
    background-color: primary;
    color: blue;
}