<app-toolbar></app-toolbar>

<div class="container-fluid sub-margen">
  <div class="row">
    <div class="col">
      <div class="div-h2">
        <h2>Buscador de Namings</h2>
      </div>
    </div>
    <div class="col-3 export-button">
      <div class="outer-select float-right">
        <div class="inner-select">
          <mat-select #selectExport (selectionChange)="exportNamings($event.value)" [ngClass]="{'display-none': loadingExport}">
            <mat-option *ngIf="fields.length > 0" class="select-excel-values" [value]="1">Busqueda Actual</mat-option>
            <mat-option class="select-excel-values" [value]="2">RCN Completo</mat-option>
          </mat-select>
        </div>
        <button mat-raised-button class="button-color" (click)="selectExport.open()" [disabled]="loadingExport">
          Exportar Datos<mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <mat-spinner *ngIf="loadingExport" class="float-right" diameter="35" value="100"></mat-spinner>
    </div>
  </div>
</div>

<div autosize class="all-global-rows">
  <div class="margen-div">
    <div class="container-fluid search-container">
      <div class="row upper-search-row">
        <div class="col-9">
          <mat-form-field class="full-input" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Descripción" [(ngModel)]="descriptionSearch">
          </mat-form-field>
        </div>
        <div class="col-1 date-cols" style="display: none;"> <!-- TEMP DISABLED -->
          <mat-form-field class="full-input">
            <mat-label>Fecha Creación</mat-label>
            <input matInput [matDatepicker]="created_date">
            <mat-datepicker-toggle matSuffix [for]="created_date"></mat-datepicker-toggle>
            <mat-datepicker #created_date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 date-cols" style="display: none;"> <!-- TEMP DISABLED -->
          <mat-form-field class="full-input">
            <mat-label>Ultima Modificación</mat-label>
            <input matInput [matDatepicker]="mod_date">
            <mat-datepicker-toggle matSuffix [for]="mod_date"></mat-datepicker-toggle>
            <mat-datepicker #mod_date></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-2 naming-col">
          <mat-form-field class="full-input" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Naming" [(ngModel)]="namingSearch" maxlength=32>
            <mat-hint align="start">Max. 32 caracteres</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="full-input" (keyup.enter)="getFieldsQuery()">
            <input matInput placeholder="Lógico" [(ngModel)]="logicSearch">
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="full-input" (keyup.enter)="getFieldsQuery()">
            <mat-select #selectSuffix placeholder="Sufijo" (selectionChange)="selectedSuffix($event.value)">
              <mat-option *ngFor="let s of suffixes" [value]="s.suffix">
                {{s.suffix}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="full-input" (keyup.enter)="getFieldsQuery()">
            <mat-select #selectLevel placeholder="Jerarquía" (selectionChange)="selectedHierarchy($event.value)">
              <mat-option *ngFor="let level of levels" [value]="level">
                {{level}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <button mat-button class="button-query-global search-button" (click)="getFieldsQuery()" matTooltip="Búsqueda estándar">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button class="button-query-global" (click)="getFieldsQueryMath()" matTooltip="Búsqueda inteligente">
            <mat-icon>youtube_searched_for</mat-icon>
          </button>
          <button mat-button class="button-query-global2 clear-search-button" (click)="clean()" matTooltip="Limpiar búsqueda">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-bottom: 1%;">
    <div class="fixed-table-height">
      <div *ngIf="loadingIndicator" class="loading-overlay">
        <div><mat-spinner class="mat-spinner"></mat-spinner></div>
      </div>
      <ngx-datatable #myTable class="material no-shadow-table" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
        [rows]="fields" [scrollbarH]="true" [limit]="10" [loadingIndicator]="loadingIndicator"
        (sort)="onSort($event)">
        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="container-fluid only-view">
              <div class="row" style="margin-top: 0; margin-left: 3%;">
                <div class="col-3">
                  <div><strong>Código lógico: </strong> {{row.codeLogic}}</div>
                  <div><strong>Número de países que lo usan: </strong> {{row.countriesUse}}</div>
                </div>
                <div class="col-5">
                  <mat-form-field class="full-input">
                    <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Formato Colombia"
                      [(ngModel)]="row.colombianFormat" disabled></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <!-- Row Detail Template END-->
        <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button mat-icon-button class="expand-button" matTooltip="Detalles" (click)="toggleExpandRow(row, expanded)">
              <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
              <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Código" prop="code" [width]="100" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Jerarquía" prop="level" [width]="150" [sortable]="true" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column name="Naming" prop="naming.naming" width="170" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Nombre Lógico" prop="logic" width="280" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Descripcion" prop="originalDesc" width="500" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Formato Gobierno" prop="governanceFormat" [width]="300" [sortable]="true">
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
            <div class="container-fluid">
              <div class="row">
                <div class="col-5 length-total-footer">
                  <span>{{fieldsNumber}} / {{generalStatInfo['namings']}} total</span>
                </div>
                <div class="col">
                  <datatable-pager class="float-right" [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>