::ng-deep .all-global-rows .row {
  margin-top: 15px;
}
::ng-deep .only-view {
  font-size: 12px;
  label {
    font-weight: bold !important;
    color: black !important;
  }
  textarea {
    color: black !important;
  }
  input {
    color: black !important;
  }
}
::ng-deep .ngx-datatable.material .datatable-body .datatable-row-detail {
  height: inherit !important;
}
::ng-deep .fixed-table-height .ngx-datatable.scroll-horz .datatable-body {
  overflow: overlay;
  max-height: 550px !important;
  height: 550px !important;
  width: auto !important;
}
@media only screen and (min-height: 768px) {
  /deep/ .fixed-table-height .ngx-datatable .datatable-body {
    max-height: 700px !important;
    height: 700px !important;
  }
}
@media only screen and (min-height: 1080px) {
  /deep/ .fixed-table-height .ngx-datatable .datatable-body {
    max-height: 950px !important;
    height: 950px !important;
    font-weight: bold !important;
  }
}
.mat-option:hover:not(.mat-option-disabled) {
  background: #668eb5 !important;
}
.sub-margen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}
.div-h2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}
.float-right {
  float: right;
}
.spinner-top {
  top: 25px;
}
.export-button {
  top: 25px;
  font-size: 13px;
}

.display-none {
  display: none;
}
.outer-select {
  float: right;
  position: relative;
}
.inner-select {
  float: left;
  position: absolute;
  width: 45px;
  top: 10px;
  left: 31px;
}
.select-excel-values {
  color: white !important;
  background: #004283;
  padding-right: 0px;
}
.button-color {
  color: #004283;
  background: #2dcccd;
  margin-left: 15px;
  box-shadow: none;
}
.search-container {
  font-size: 13px;
  padding-left: 10%;
}
.upper-search-row {
  margin-left: 4%;
}
.full-input {
  width: 100%;
}
.date-cols {
  flex: 0 0 11.666667%;
  max-width: 11.666667%;
}
.naming-col {
  flex: 0 0 18.666667%;
  max-width: 18.666667%;
}
.search-button {
  margin-right: 5px;
}
.clear-search-button {
  margin-left: 10px;
}
.loading-overlay {
  height: 69%;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: #00000073;
  div {
    margin-top: 5%;
    line-height: 100px;
    height: 200px;
    text-align: center;
  }
}
.mat-spinner {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.no-shadow-table {
  z-index: 1;
  border-top-style: outset;
  box-shadow: none !important;
}
.expand-button {
  color: #004283;
}
.expand-button:hover {
  background-color: #004283;
  color: #2dcccd;
}
.length-total-footer {
  font-size: 14px;
  margin: 5px 0 0 1%;
}
