<div class="container">
  <div class="row">
    <span style="color:#004283; font-size: 20px;"><b>Cambiar Contraseña</b></span>
  </div>
  <div class="row subMargen"></div>
  <br>
  <div class="row" style="margin-bottom: 5%;">

      <mat-form-field class="full-width">
        <input matInput placeholder="Digite la contraseña actual" type="password" [(ngModel)]="oldPass" [type]="hidePasswd1 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePasswd1 = !hidePasswd1">{{hidePasswd1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput placeholder="Digite la nueva contraseña" type="password" [(ngModel)]="newPass" [type]="hidePasswd2 ? 'password' : 'text'" minlength="8" maxlength="16">
          <mat-icon matSuffix (click)="hidePasswd2 = !hidePasswd2">{{hidePasswd2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint style="font-size: 9px;" class="hint" align="start">Min. 8 caracteres.</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Repita la nueva contraseña" type="password" [(ngModel)]="newPassRepeat" [type]="hidePasswd3 ? 'password' : 'text'" minlength="8" maxlength="16">
        <mat-icon matSuffix (click)="hidePasswd3 = !hidePasswd3">{{hidePasswd3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint style="font-size: 9px;" class="hint" align="start">Min. 8 caracteres.</mat-hint>
      </mat-form-field>
  </div>
  <div *ngIf="showDivError">
    <div *ngFor="let msg of messagesError" class="divError">
      <mat-icon style="margin-right: 10px;">error_outline</mat-icon>{{ msg }}
    </div>
  </div>  
  <div class="row">
    <div class="col-8">
      <button mat-raised-button class="buttons" (click)="changePass()">Cambiar contraseña</button>
    </div>
    <div class="col-4">
      <button mat-raised-button class="errorBtn" (click)="closeDialog()">Cancelar</button>
    </div>
  </div>
</div>