.row{
    margin-bottom: 3%;
}

.subMargen {
    margin-left: 1%; 
    margin-bottom: 3%;
    width: 95%; 
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.full-width {
    width: 80%;
    margin-left: 10%;
}

.errorBtn {
    color: white;
    background-color: #33b3b3;
}

.divError{
    font-size: 100%;
    color: #D8000C;
    background-color: #FFD2D2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin-bottom: 3%;
 }

 .col-8{
    padding-left: 20px;
 }