/deep/ .mat-dialog-content {
    overflow-y: auto !important;
}

::ng-deep .tableRepoAll .ngx-datatable.scroll-horz .datatable-body {
    overflow: overlay;
    //max-height: 270px !important;
    //min-height: 120px !important;
    height: 350px !important;
}

.title-div {
    h1 {
        color: #004283;
        margin-top: 3px;
        font-weight: bold;
    }
    .title {
        height: 40px;
    }
    .close-butt-col {
        .close-butt {
            float: right;
            padding-right: 1px;
        }
    }
    .close-icon {
        float: left;
        color: #004283;
        font-size: 30px;
    }
    .margen-title {
        width: 97%;
        margin: 0 0 2% 1%;
        border-bottom-color: #004283;
        border-bottom-style: inset;
        border-bottom-width: thick;
    }
}

.search-filter-box {
    padding: 0 1rem 0 1rem;
    margin: 0 0 15px 0;
    border-radius: 3px;
    background-color: #f6f6f6;
    .row {
        margin-top: 15px;
    }
}

.fullInput {
    width: 100%;
}

::ng-deep .tableRepo .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #0ac0c1f7;
    color: #004283;
}

::ng-deep .tableRepo .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #2DCCCD;
    color: white;
}

::ng-deep .tableRepoDT .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #1e74d6d1;
    //color: #004283;
}

::ng-deep .tableRepoDT .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #7dabe0d1;
    //color: #214581;
}

::ng-deep .tableRepoDT .ngx-datatable.material .datatable-header {
    width: auto !important;
}

::ng-deep .tableRepoDT .ngx-datatable .datatable-body {
    width: auto !important;
}

::ng-deep .tableRepo .ngx-datatable.material .datatable-header {
    width: auto !important;
}

::ng-deep .tableRepo .ngx-datatable .datatable-body {
    width: auto !important;
}