<div class="container-fluid title-div">
    <div class="row title">
        <div class="col-10">
            <h1 mat-dialog-title>{{mainTitle}}</h1>
        </div>
        <div class="col-2 close-butt-col">
            <button mat-icon-button class="close-butt" matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="close-icon">clear</mat-icon>
        </button>
        </div>
    </div>
    <div class="row margen-title"></div>
</div>
<div class="container-fluid">
    <div class="row search-filter-box">
        <div class="col">
            <div class="row">
                <div *ngIf="searchType === 'DT'" class="col-1"></div>
                <div class="col-2">
                    <mat-form-field class="fieldsearch-form">
                        <input matInput type='text' placeholder='Nombre Fisico' [(ngModel)]="baseName" name="baseNameTmp" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fieldsearch-form">
                        <input matInput type='text' placeholder='Alias' [(ngModel)]="alias" name="alias" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fieldsearch-form fullInput">
                        <input matInput type='text' placeholder='Lógico' [(ngModel)]="logic" name="logic" />
                    </mat-form-field>
                </div>
                <div *ngIf="searchType === 'T'" class="col-1">
                    <mat-form-field class="fieldsearch-form fullInput">
                        <input matInput type='text' placeholder='UUAA Raw' [(ngModel)]="selectedUuaaRaw" name="selectedUuaaRaw" />
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fieldsearch-form fullInput">
                        <mat-select #uuaaSelectorOption placeholder="UUAA Master" (selectionChange)="selectedUuaaMasterOption($event.value)" [(ngModel)]="selectedUuaaMaster">
                            <mat-option *ngFor="let s of uuaaOptions" [value]="s">
                                {{s.full_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3" style="padding-top: 5px;">
                    <div style="text-align: center;">
                        <button mat-button (click)="getTablesSearch()" class="button-query-global" style="margin-left: 15px; margin-right: 10px;">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-button (click)="clean()" class="button-query-global" style="margin-right: 25px;">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col tableRepoAll" [ngClass]="{'tableRepo': searchType === 'T', 'tableRepoDT': searchType === 'DT'}">
            <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='dataTables' [selected]="selectedTables" [selectionType]="'multiClick'" (select)='onSelect($event)' [scrollbarH]="true"
                [loadingIndicator]="loadingFlag" style="box-shadow: none;">
                <ngx-datatable-column *ngIf="searchType === 'T'" name="Nombre" prop="master_name" [width]="200" [sortable]="true">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{shortName(row.master_name)}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="searchType === 'DT'" name="Nombre Tablón" prop="master_name" [width]="250" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre Lógico" prop="baseName" [width]="220" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Descripción" prop="observationField" [width]="280" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="searchType === 'T'" name="UUAA Raw" prop="uuaaRaw" [width]="100" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" [width]="100" [sortable]="true">
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="container-fluid" style="margin: 0 1rem 1rem 0;">
        <div class="row">
            <div class="col">
                <button mat-button class="buttonscolor" (click)="validateTables()">Confirmar</button>
            </div>
        </div>
    </div>
</div>