<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Iniciar Tablón</h2>
    </div>
  </div>
</div>

<div autosize>
  <div class="creationtable-container">
    <div class="container-fluid" style="margin-top: 2%;">
      <div class="row">
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA Final" [(ngModel)]="newUuaa" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'finalUuaa'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-3Name">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="Nombre Físico Final" [(ngModel)]="newPhysName" disabled maxlength=24>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3" style="margin-top: 10px;">
          <button mat-button class="button-query-global" [disabled]="checkFillStatus()" (click)="createTablon()">
            Confirmar Nuevo Tablón
            <mat-icon class="buttonIcon">add_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row rowUpperBorder">
        <div class="col-5">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)" required>
              <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                {{p.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Caso de Uso" [(value)]="selectedUseCase"
              [disabled]="selectedProject === undefined" required>
              <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                {{uc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row innerRow">
        <div class="col-2 col-Alias">
          <mat-form-field class="inputHelp">
            <mat-select #selectorAmbito placeholder="Ambito" (selectionChange)="selectedAmbito($event.value)"
              [formControl]="formControlAmbito" required>
              <mat-option *ngFor="let ambito of ambitoOptions" [value]="ambito.letter">
                {{ambito.letter}} - {{ambito.country}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlAmbito.hasError('required')">
              El ambito es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <mat-select #selectorUUAA placeholder="UUAA" (selectionChange)="selectedUuaa($event.value)"
              [formControl]="formControlUUAA" required>
              <mat-option *ngFor="let f of uuaaOptions" [value]="f">
                {{f.short_name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlUUAA.hasError('required')">
              La uuaa MASTER es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Origen" (selectionChange)="selectedScopeOrigin($event.value)"
              [formControl]="formControlScope" required>
              <mat-option *ngFor="let ori of originsDataTable" [value]="ori">
                {{ori}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlScope.hasError('required')">
              El origen es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originTablon'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-Desc rowBottomBorder">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="Descripción Físico" [maxLength]="maxLengthDesc"
              (input)="inputValidatorNaming($event, 'descAlias')" [formControl]="formControlDesc" required>
            <mat-error *ngIf="formControlDesc.hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        
        <div class="col-2 col-2Orig marginLeft">
          <mat-form-field class="inputHelp">
            <input type="number" matInput placeholder="Número de campos" [(ngModel)]="numFields"
              (input)="inputValidatorNumberFields($event)" [formControl]="formControlNumberField" required>
            <mat-error *ngIf="formControlNumberField.hasError('required')">
              El número es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="formControlNumberField.hasError('min')">
              Tiene que haber al menos <strong>un naming</strong>
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'numberField'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row innerRow">
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="Alias" [(ngModel)]="alias" maxlength="20" [formControl]="formControlAlias" required>
              <mat-error *ngIf="formControlAlias.errors?.required">El alias es <strong>obligatorio</strong></mat-error>
              <mat-error *ngIf="formControlAlias.errors?.validateFormAlias && !formControlAlias.errors?.required">El alias tiene formato <strong>invalido</strong></mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'alias'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-6 col-6LogicName">
          <mat-form-field style="width: 95%;">
            <input matInput placeholder="Nombre Lógico" [(ngModel)]="newBaseName" [formControl]="formControlBaseName" maxlength="55" required>
            <mat-error *ngIf="formControlBaseName.hasError('required')">
              El nombre lógico es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-Desc" style="padding-left: 5px;">
          <mat-form-field class="inputHelp">
            <mat-select #sPeriodicity placeholder="Periodicidad" [(ngModel)]="newPeriodicity"
              [formControl]="requiredFormControlPer" required>
              <mat-option *ngFor="let p of periodicityOptions" [value]="p.periodicity">
                {{p.periodicity}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControlPer.hasError('required')">
              La Periodicidad es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-Desc">
          <mat-form-field class="inputHelp">
            <mat-select #tacticalObject matTooltip="Marca objeto táctico" placeholder="Marca obj táctico"
              [formControl]="requiredFormControlMark" [(ngModel)]="newTactical" required>
              <mat-option value="YES">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControlMark.hasError('required')">
              La marca de objeto táctico es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'mark'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <mat-form-field class="fullInput">
            <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="Descripción"
              [(ngModel)]="newDescription">
            </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div style="color: #004283; width: 95%; margin: 0 3% 1% 3%; border-bottom-style: outset; 
          border-bottom-width: thin; border-bottom-color: #004283;">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h3>Fuentes de origen</h3>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originTables'"
                    style="bottom: 3px;">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col-3">
                <button mat-button class="deleteOriginTableButt" [disabled]="selectedUseCase === undefined" (click)="searchTables('T')">
                  Agregar Tablas Origen
                  <mat-icon class="buttonIcon">add_circle</mat-icon>
                </button>
              </div>
              <div class="col-3" style="display: inline;">
                <button mat-button class="deleteOriginTableButt addTablonOriginButton buttHoverDT" [disabled]="selectedUseCase === undefined" style="float: left;" (click)="searchTables('DT')">
                  Agregar Tablones Origen
                  <mat-icon class="buttonIcon">add_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 5%;">
        <ngx-datatable class='material' style="width: 100%;" [rows]='selectedOriginOptions' [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
          <ngx-datatable-column name="Nombre" prop="baseName" width="80" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Descripción" prop="observationField" width="150" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="UUAA Raw" prop="uuaaRaw" width="30" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" width="40" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre Raw" prop="raw_name" [cellClass]="getCellClassRaw" width="150" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre Master" prop="master_name" [cellClass]="getCellClassMaster" width="150" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="SELECCIONAR FASE" width="250" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div *ngIf="row.uuaaRaw">
                <button mat-button style="margin-right: 10px;" (click)="selectFase(row, 'RAW')"
                [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'RAW'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'RAW' }">
                Raw</button>
              <button mat-button style="margin-right: 35px;" (click)="selectFase(row, 'MASTER')"
                [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'MASTER'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'MASTER' }">
                Master</button>
                <button mat-button matTooltip="Remover tabla origen" class="deleteOriginTableButt" (click)="removeOriginTable(row)">
                  <mat-icon class="buttonIcon">remove_circle</mat-icon>
                </button>
              </div>
              <div *ngIf="!row.uuaaRaw">
                <button mat-button style="margin-right: 10px; margin-left: 35px;" class="selectedDT" disabled>
                  Tablón</button>
                <button mat-button matTooltip="Remover tabla origen" class="deleteOriginTableButt"
                  (click)="removeOriginTable(row)">
                  <mat-icon class="buttonIcon">remove_circle</mat-icon>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias' || activeHelp !== 'originTables'), 'big-mat-card': (activeHelp === 'descAlias' || activeHelp === 'originTables')}">
    <mat-card-content *ngIf="activeHelp === 'finalUuaa'">
      UUAA que se forma despues de seleccionar el ámbito y la uuaa de master.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'phys_name'">
      Nombre físico final del tablon, que se genera a partir del nombre fisico y su origen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'ambito'">
      Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno local de Colombia.<br>
      Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'descAlias'">
      <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
      <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
      <strong>(2 pos.) Contenido del archivo:</strong><br>
      <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo,
      catálogos de los productos del banco.<br>
      <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
      <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg =
      Cuentas personales, rv = riesgos.<br>
      <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" =>
      "PE001_", "PEDT008" => "PE008_"<br>
      <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del
      fichero.<br>
      Por ejemplo: hdape008_cliente_contrato, se informa en el campo.<br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento de
        buenas prácticas (Pag. 1)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTablon'">
      Código de identificación para el origen ó alcance del tablón: <br>
      <strong>MG: </strong>Modelo Global<br>
      <strong>PG: </strong>Proyecto Global<br>
      <strong>ML: </strong>Modelo Local<br>
      <strong>PL: </strong>Proyecto Local
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'physName'">
      El nombre físico de los tablones, mantiene el estándar implementado para las tablas, por lo que se compone de hasta 32 caracteres alfanuméricos  distribuidos de la siguiente manera:<br>
      <strong>(2 posiciones): </strong>Por defecto debe empezar con 't_' <br>
      <strong>(3 posiciones): </strong>Origen separado por un guión bajo '_': MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto Local. <br>
      <strong>(27 posiciones): </strong>Descripción del tablón que permita identificar el tipo de información contenida y se encuentre acorde al nombre lógico del mismo.
      <strong>Ejemplo: </strong> <br>
      PHYSICAL NAME OBJECT: t_pl_research_compras_tarjetas <br>
      LOGICAL NAME OBJECT: Detalle de compras realizadas con tarjetas cliente
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'alias'">
      <strong>Alias largo del tablón. Este alias es un campo independiente al alias que conforma el nombre físico.</strong><br>
      El alias se compone de hasta 20 caracteres alfanuméricos, no debe incluir caracteres especiales ni espacios. y debe mantener el siguiente estándar:<br>
      <strong>(2 posiciones) Origen: </strong>MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto Local <br>
      <strong>(4 posiciones) Unidad Aplicativa UUAA: </strong>Por ejemplo, KBTQ: Basic Data, Knowledge & Personalization - Modelo Global, KPFM: Personal Finance Managment – Global, CBTQ: Basic Data, Knowledge & Personalization - Modelo y Proyecto Local <br>
      <strong>(14 posiciones) Descripción: </strong>Se informará el nombre de la tabla en caso de que sea menor a 14 posiciones. Se informará el nombre de la tabla con abreviaturas en caso de que sea mayor a 14 posiciones. <br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">
        Ver documento de Estandáres DataDictionary(Pag. 2)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'separator'">
      ​​Delimitador de campos para los ficheros de datos de origen.
      <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo
      AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'numberField'">
      ​​Cantidad de namings con los que inicia la tabla. Se pueden agregar o eliminar namings en el siguiente paso. 
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw'">
      Siglas PAAO. <br>
      P: País (C -> colombia). <br>
      AA: Aplicativo host o externo. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a><br>
      O: Sistema Origen. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw_name'">
      Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master'">
      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master_name'">
      Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'baseName'">
      Nombre lógico o tabla como la conoces en tu área o el nombre del sistemas
      core. (e.g El nombre de la tabla en HOST).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'origin'">
      Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a
      la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;).
      En caso de ser un sistema usuario tipo excel, access, informarlo con el mismo nombre que el código
      de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'perimeter'">
      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
      contrapartida, tipo de cliente, titularidad, …).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'periodicity'">
      Frecuencia de actualización de la información contenida en el objeto.
      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
      objeto.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'mark'">
      Identificador de si el objeto que se está aprovisionando en un sistema
      no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un
      objecto de creación táctica que se debe gestionar a posteriori como deuda técnica.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'typeFile'">
      ​​Tipo de formato del archivo de entrada.
      Posibles valores fixed, csv, avro, parquet, xml, text-extended
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTables'">
      Tablas origen necesarias para la existencia de los namings del Tablón. <br>
      Se puede finalizar la creación del tablón sin asignar tablas origen, sin embargo en el paso siguiente,
      se necesitara agregar origenes para los namings. <br>
      Una tabla tiene dos fases normalmente, <strong>Raw</strong> y <strong>Master</strong> por lo que se necesita
      seleccionar cual de las dos fases se va a usar en el tablón. Solo se puede usar una fase. 
      Si la tabla no tiene la fase Master es necesario seleccionar la fase Raw igualmente. <br>
      Se tiene que haber seleccionado un proyecto y caso de uso primero.  
    </mat-card-content>
  </mat-card>
</mde-popover>
