mat-error{
    font-size: 10px;
}
h3{
    display: inline-block;
    margin-right: 10px;
}
.mat-card{
    background-color: aliceblue;
}
.small-mat-card{
    max-width: 400px;
}
.big-mat-card{
    max-width: 515px;
}
.button-query-global{
    color: #004283;
    background-color: #2DCCCD;
}
.button-query-global:disabled{
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
}
.fullInput{
    width: 100%;
}
.inputHelp{
    width: 93%;
}
.creationtable-container{
    padding-top: 0;
}
.rowUpperBorder{
    border-top-style: outset;
    padding-top: 15px;
    margin-top: 15px;
}
.helpPopdiv{
    width: 5%; 
    display: inline-block;
    padding-left: 5px;
} 
.mat-icon-button.small{
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon{
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}
.marginLeft{
    margin-left: 15px;
}

.innerRow{
    margin-bottom: 5px;
}
.selectedDT:disabled{
	color: #214581 !important;
	background-color: #3773b887;
}

.col-Alias{
    flex: 0 0 12.666667%;
    max-width: 12.666667%;
}

.col-Desc{
    flex: 0 0 15%;
    max-width: 15%;
}

.col-BigDesc{
    flex: 0 0 87.666667%;
    max-width: 87.666667%;
}

.col-2Orig{
    flex: 0 0 13.666667%;
    max-width: 13.666667%;
}

.col-3Name{
    flex: 0 0 27%;
    max-width: 27%;
}

.col-2File{
    flex: 0 0 10.666667%;
    max-width: 10.666667%; 
    padding-left: 15px;
}

.col-6LogicName{
    flex: 0 0 45%;
    max-width: 45%;
}

.col-2Desc{
    flex: 0 0 13%;
    max-width: 13%;
}

.col-2Eleven{
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
}

.deleteOriginTableButt{
    color: white;
    background-color: #004283;
    float: right;
}
.deleteOriginTableButt:disabled{
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
}
.disabledFaseButt{
    color: #004283;
    background-color: #c5cbcb;
}
.disabledFaseButt:hover{
    color: #003364;
    background-color: #7f7f7f;
}
.activeFaseButt{
    color: #004283;
    background-color: #2DCCCD;
}