::ng-deep .tableTemplate .ngx-datatable.scroll-horz .datatable-body {
    overflow: overlay;
    max-height: 520px !important;
    height: 520px !important;
    width: auto !important;
}

@media only screen and (min-height: 768px) {
    /deep/ .tableTemplate .ngx-datatable .datatable-body {
        max-height: 700px !important;
        height: 700px !important;
    }
}

@media only screen and (min-height: 1080px) {
    /deep/ .tableTemplate .ngx-datatable .datatable-body {
        max-height: 950px !important;
        height: 950px !important;
        font-weight: bold !important;
    }
}

@media only screen and (max-width: 1200px) {
    .hiddenCol {
        display: none;
    }
}

::ng-deep .onlyView {
    label {
        font-weight: bold !important;
        color: black !important;
    }
    textarea {
        color: black !important;
    }
    input {
        color: black !important;
    }
    .mat-form-field-underline {
        border-bottom-style: inset;
        border-bottom-width: thin;
    }
}

.uuaa-field {
    width: 3.5rem;
    display: inline-block !important;
}

.minisection-border {
    border-top-style: outset;
}

.section-border {
    padding-top: 20px;
    border-color: #004283;
    border-top-style: outset;
}

.spaced-button {
    margin-top: 15px;
    margin-left: 15px;
}

.margin-button {
    margin-left: 15px;
}

.floatButtons {
    float: right;
}

.floatButtonsLeft {
    float: left;
}

.searchDiv .mat-form-field {
    font-size: 12px !important;
    display: contents;
}

.mat-form-field {
    font-size: 13px;
    display: contents;
}

.fullInput {
    width: 100%;
}

.generalContainer {
    padding-top: 10px;
    padding-left: 0;
    margin-left: 0;
}

.perimetro {
    flex: 0 0 22%;
}

.col-4-SM {
    flex: 0 0 32.8%;
    max-width: 32.8%;
}

.col-2tenper {
    flex: 0 0 13.899999%;
    max-width: 13.899999%;
}

.col-2tenper-PlusOne {
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
}

.col-2smallquarter {
    flex: 0 0 9.666667%;
    max-width: 9.666667%;
}

.col-2fift {
    flex: 0 0 15.666667%;
    max-width: 15.666667%;
}

.col-2quarter {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-2Twenty {
    flex: 0 0 20%;
    max-width: 20%;
}

.col10per {
    flex: 0 0 10%;
    max-width: 10%;
    margin-right: 10px;
}

.col-5-thirty {
    flex: 0 0 34.666667%;
    max-width: 34.666667%;
}

.col-5-minus {
    margin-right: -20px;
}

.col-2LoadLegacy {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
}

.col-OtherButtons {
    padding: 0;
    flex: 0 0 24.333333%;
    max-width: 24.333333%;
}

input.file {
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 2;
}

.divAboveFileInput {
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    text-align: left;
}

.buttonExtra {
    color: white;
    background: #004283;
    margin-left: 15px;
    margin-top: 15px;
}

.buttonColor {
    color: #004283;
    background: #2DCCCD;
    margin-left: 15px;
    margin-top: 15px;
}

.formFieldSmall {
    width: 88%;
    display: inline-block;
}

.inputFieldForHelpPop {
    width: 90%;
    display: inline-block;
}

.input-help-mid {
    width: 94%;
    display: inline-block;
}

.form-field-med {
    width: 84%;
    display: inline-block;
}

.formfieldBig {
    width: 95%;
    display: inline-block;
}

.formfield-bigger {
    width: 98%;
    display: inline-block;
}

.mat-textarea-input {
    height: 16px;
    min-height: 17px;
    overflow: hidden;
    padding-right: 10px;
}

.current-uuaa {
    background-color: aliceblue;
}

.selectPretty {
    font-size: 12.5px;
    margin: 0;
    height: 40px;
}

.helpPopdiv {
    width: .5rem;
    display: inline-block;
    padding-left: 5px;
}

.helpPopdivBig {
    width: 0%;
    display: inline-block;
    padding-left: 6px;
}

.help-popout-button-bigger {
    width: 0%;
    display: inline-block;
    padding-left: 3px;
}

.mat-card {
    background-color: aliceblue;
}

.small-mat-card {
    max-width: 400px;
}

.big-mat-card {
    max-width: 530px;
}

.mat-icon-button.redEye {
    .mat-icon {
        color: red !important;
    }
}

.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}

.is-global {
    background: #f2f5a9;
}

.allContain {
    padding-left: 2%;
    padding-right: 2%;
    //margin-bottom: 3%;
}

.is-common-global {
    background: #f5d0a9;
}

.is-proposal {
    background: #f5a9a9;
}

.is-common-proposal {
    background: #d0a9f5;
}

.divH2 {
    margin-left: 2%;
    margin-top: 20px;
    color: #004283;
}

.subMargen {
    margin-left: 1%;
    width: 98%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.legacy-repeated {
    background: #AEDEF2;
}

.secondary {
    background: #b3daff;
}

.infoTableReview {
    font-size: 13px;
}

.infoTableReview p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.tableFiltros table {
    width: 0%;
    display: table-cell;
}

.margen-div {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.inputFull {
    width: 100%;
}

.inputHelp {
    width: 95%;
}

.col-2Nine {
    flex: 0 0 9.666667%;
    max-width: 9.666667%;
}

.col-2Ten {
    flex: 0 0 10.666667%;
    max-width: 10.666667%;
}

.col-2Elev {
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
}

.col-2Twenty {
    flex: 0 0 20.666667%;
    max-width: 20.666667%;
}

.col-4ExButt {
    flex: 0 0 29.333333%;
    max-width: 29.333333%;
}

.allDisabled {
    width: 100%;
}

.prettyFont p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fieldsearch-form {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 150px;
    font-size: 12px;
}

.fieldsearch-form-object {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 250px;
    font-size: 13px;
}

.fieldsearch-form-object2 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 200px;
    font-size: 11px;
}

.fieldsearch-form-object3 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 180px;
    font-size: 11px;
}

.fieldsearch-form2 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 500px;
    font-size: 12px;
}

.fieldsearch-form3 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 70px;
    font-size: 12px;
}

//Toggle buttons 
#tg-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
    label {
        margin-bottom: 0;
    }
}

#tg-button:hover {
    background: #d4edf9;
    color: #004283;
}

#tg-button label {
    float: right;
    width: 10em;
}

#tg-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#tg-button label input {
    position: absolute;
    top: -20px;
}

#tg-button input:checked+span {
    background-color: #004283;
    color: #fff;
}

#tg-button input:checked:hover+span {
    background-color: #2DCCCD;
    color: #004283;
}

::ng-deep .searchDiv .mat-form-field {
    width: 100%;
}

::ng-deep .allDisabled .mat-input-element:disabled {
    color: black;
}

::ng-deep .allDisabled .mat-form-field-label {
    color: black;
    font-weight: bold;
}

::ng-deep .allDisabled .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-bottom-color: black;
}

.selectExcelValues {
    color: white !important;
    background: #004283;
    padding-right: 0px;
}

.mat-option:hover:not(.mat-option-disabled) {
    background: #668eb5 !important;
}

#one {
    float: right;
    position: relative;
}

#two {
    float: right;
    position: absolute;
    width: 126px;
    top: 10px;
    right: 15px;
}

#three {
    float: left;
    position: absolute;
    width: 50px;
    top: 10px;
    right: 75px;
}

#testotext:focus-visible {
    outline: none;
}

#infotext {
    width: 100%;
    height: 70px;
    background-color: transparent;
    resize: none;
    overflow: hidden
}

#infotext:focus-visible {
    outline: none;
}

#edittext {
    width: 100%;
    height: 80px;
    resize: none;
}