<div class="container-fluid">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-11">
      <h1 mat-dialog-title>{{newType ? 'Creación' : 'Detalles' }}   UUAA {{flagType === 'master' ? '- MASTER' : '- RAW' }}</h1>
    </div>
    <div class="col-1" style="font-size: 30px">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>

<div class="container-fluid" style="padding-top: 2%;" [ngClass]="{'onlyView': userRol != 'G'}">
  <div *ngIf="flagType === 'raw'">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="full-width" style="font-weight: bold;">
          <input matInput placeholder="NOMBRE UUAA" [(ngModel)]="uuaaData.uuaa" maxlength="4" [disabled]="userRol != 'G'">
          <mat-hint *ngIf="userRol != 'G'" align="start">4 caracteres</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="NOMBRE APPLICATIVO" [(ngModel)]="uuaaData.nameSimple" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="DESCRIPCIÓN APPLICATIVO" [(ngModel)]="uuaaData.descriptionApp" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="NIVEL INFORMACION 1" [(ngModel)]="uuaaData.level1" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="NIVEL INFORMACION 2" [(ngModel)]="uuaaData.level2" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="full-width">
          <input matInput placeholder="AREA" [(ngModel)]="uuaaData.area" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="STAGING ROUTE" [(ngModel)]="uuaaData.route" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-7">
        <mat-form-field class="full-width">
          <input matInput placeholder="EXAMPLE ROUTES" [(ngModel)]="uuaaData.example" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <mat-form-field class="full-width">
          <textarea rows="4" cols="20" matInput placeholder="DESCRIPCIÓN FUNCIONAL" [(ngModel)]="uuaaData.descriptionFunctional" [disabled]="userRol != 'G'">
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="flagType === 'master'">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="full-width" style="font-weight: bold;">
          <input matInput placeholder="NOMBRE UUAA" [(ngModel)]="uuaaData.uuaa" maxlength="3" [disabled]="userRol != 'G'">
          <mat-hint *ngIf="userRol != 'G'" align="start">3 caracteres</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="DATA SOURCE" [(ngModel)]="uuaaData.dataSource" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="FUNCTIONAL DATA SOURCE" [(ngModel)]="uuaaData.functionalGroupDataSource" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="NIVEL INFORMACION 1" [(ngModel)]="uuaaData.level1" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="NIVEL INFORMACION 2" [(ngModel)]="uuaaData.level2" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="full-width">
          <input matInput placeholder="SYSTEM NAME" [(ngModel)]="uuaaData.systemName" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="STAGING ROUTE" [(ngModel)]="uuaaData.route" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
      <div class="col-7">
        <mat-form-field class="full-width">
          <input matInput placeholder="EXAMPLE ROUTES" [(ngModel)]="uuaaData.example" [disabled]="userRol != 'G'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <mat-form-field class="full-width">
          <textarea rows="4" cols="20" matInput placeholder="DESCRIPCIÓN" [(ngModel)]="uuaaData.systemDescription" [disabled]="userRol != 'G'">
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <mat-form-field class="full-width">
          <textarea rows="4" cols="20" matInput placeholder="DESCRIPCIÓN ENG" [(ngModel)]="uuaaData.systemDescriptionEng" [disabled]="userRol != 'G'">
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  


    <div *ngIf="userRol == 'G'" class="row" style="padding-top: 1%; border-top-style: outset;">
      <div class="col"> </div>
      <div class="col-3">
        <button *ngIf="!newType" mat-button class="button-query-global" style="float: right;" (click)="update_uuaaRequest()">
          Actualizar datos
          <mat-icon class="buttonIcon">find_in_page</mat-icon>
        </button>
        <button *ngIf="newType" mat-button class="button-query-global" style="float: right;" (click)="new_uuaaRequest()">
          Crear UUAA
          <mat-icon class="buttonIcon">find_in_page</mat-icon>
        </button>
      </div>
    </div>
  </div>
