<app-toolbar></app-toolbar>
<div class="container-fluid subMargen">
    <div class="row">
        <div class="divH2">
            <h2>Cuadro de Mando</h2>
        </div>
    </div>
</div>

<div class="table-query-div">
    <ng-container *ngTemplateOutlet="tablesInfo"></ng-container>
</div>

<ng-template #tablesInfo>
    <div class="margen-div">
        <div class="container-fluid searchContainer">
            <div class="row" style="margin-left: 10%;">
                <div class="col-4">
                    <mat-form-field class="fullInput">
                        <mat-select #selectProject placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)">
                            <mat-option *ngFor="let r of projectOptions" [value]="r._id">
                                {{r.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullInput">
                        <mat-select placeholder="Caso de Uso" [(value)]="selectedUseCase" (selectionChange)="selectedUseCaseOption($event.value)" [disabled]="selectedProject === ''" required>
                            <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                                {{uc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-left: 4%;">
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre raw/master" [(ngModel)]="nameQuery">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Alias" [(ngModel)]="aliasQuery">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre legacy" (input)="inputLegacy($event)" [(ngModel)]="legacyNameQuery" [disabled]="reviewDTFlag">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <mat-select #selectState placeholder="Estado" (selectionChange)="selectedStateOption($event.value)">
                            <mat-option *ngFor="let r of stateOptions" [value]="r.value">
                                {{r.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre lógico" [(ngModel)]="logicNameQuery">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Descripción" [(ngModel)]="logicDescQuery">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field class="fullInput">
                        <mat-select #selectorType placeholder="Tipo" (selectionChange)="selectedTypeOption($event.value)" [(ngModel)]="selectedType">
                            <mat-option *ngFor="let type of typeOptions" [value]="type">
                                {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <button mat-button (click)="getSearchTables()" class="button-query-global" style="margin-right: 5px;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-button class="button-query-global2" (click)="clean()" style="margin-right: 5px;">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-raised-button style="margin-left: 30px;" matTooltip="Exporta la informacion actual de busqueda" class="buttons" (click)="exportData()">Exportar Datos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-query-div" style="padding-bottom: 2%; position: relative">
        <ngx-datatable style="position: relative;" class='material table' #myTable [rows]='tablesQuery' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator">
            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="container-fluid onlyView" style="font-size: 12px;">
                        <div class="row" style="margin-left: 3%;">
                            <div class="col-1">
                                <mat-form-field class="inputHelp">
                                    <input matInput placeholder="UUAA Raw" [(ngModel)]="row.uuaaRaw" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field class="inputHelp">
                                    <input matInput placeholder="UUAA Master" [(ngModel)]="row.uuaaMaster" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-9">
                                <mat-form-field class="fullInput">
                                    <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Descripción" [(ngModel)]="row.observationField" disabled>
                  </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="45" [resizeable]="true" [draggable]="true" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <button mat-icon-button class="expandButton" matTooltip="Detalles" (click)="toggleExpandRow(row, expanded)">
                        <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
                        <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Proyecto" prop="project_name" [width]="80" [sortable]="true"> </ngx-datatable-column>
            <ngx-datatable-column name="Nombre lógico" prop="baseName" [width]="150" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre Raw" prop="raw_name" [width]="150" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre Master" prop="master_name" [width]="150" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre legacy" prop="legacy_name" [width]="120" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Alias" prop="alias" [width]="50" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Estado" prop="stateTable" [width]="90" [sortable]="true">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
                    <mat-select class="select-destinationType" [value]="value" style="width: 100px;" (selectionChange)="selectedNewState($event.value, row)">
                        <mat-option value="En propuesta">En propuesta</mat-option>
                        <mat-option value="Gobierno">Gobierno</mat-option>
                        <mat-option value="VoBo Negocio">VoBo Negocio</mat-option>
                        <mat-option value="Listo para ingestar">Listo para ingestar</mat-option>
                        <mat-option value="Producción">Producción</mat-option>
                    </mat-select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones" [width]="40" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template style="padding: 0;">
                    <button mat-button class="button-query-global action_button" (click)="viewTable(row)">
                        <mat-icon class="buttonIcon">collections_bookmark</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</ng-template>