.loading {
  color: white;
  padding-top: 50px;
  font-family: "Helvetica Neue", sans-serif;
}

.fullInput {
  width: 100%;
}

.inputHelp {
  width: 60%;
  display: inline-block;
}

.helpPopdiv {
  width: 40%;
  display: inline-block;
}

.alignButton {
  top: 10px;
}

.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.allContain {
  padding-left: 2%;
  padding-right: 2%;
  //margin-bottom: 3%;
}

.divH2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}

.usersTable {
  margin: 0 5% 1% 5%;

  ngx-datatable {
    width: 100%;
  }
}

.usersSearchTable {
  margin: 10px 5% 1% 5%;

  ngx-datatable {
    width: 100%;
  }
}

.standardButton {
  color: white;
  background-color: #004283;
  float: right;
}

.insideButton {
  color: white;
  background-color: #004283;
}

.divAboveFileInput {
  margin-right: 10px;
  position: relative;
  bottom: 20px;
  text-align: left;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
}

.searchContainer {
  font-size: 13px;
  padding-left: 7%;
}

.margen-div {
  padding-bottom: 0;
}

::ng-deep .subTab .mat-tab-label-container {
  padding-left: 70px;
  background-color: aliceblue;
}

.action_button {
  bottom: 7px;
}