<div class="container-fluid">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-11">
      <h1 mat-dialog-title>Detalles Naming Origen</h1>
    </div>
    <div class="col-1" style="font-size: 30px">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>

<div class="container-fluid onlyView">
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width">
          <input matInput placeholder="Naming" [value]="data.naming.naming" disabled>
        </mat-form-field>
      </div>
      <div class="col-7">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre Logico" [value]="data.logic" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <mat-form-field class="full-width">
          <textarea rows="2" cols="20" matInput
          placeholder="Descripción" [value]="data.description" disabled>
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row rowUpperBorder">
      <div class="col-3">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Formato Logíco" [(value)]="data.logicalFormat" disabled>
        </mat-form-field>
      </div>
      <div *ngIf="!dataTableFlag" class="col-2">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Tipo Destino" [(value)]="data.destinationType" disabled>
        </mat-form-field>
      </div>
      <div *ngIf="dataTableFlag" class="col-2">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Tipo Destino" [(value)]="data.dataType" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Jerarquía" [(value)]="data.naming.hierarchy" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Codígo" [(value)]="data.naming.code" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Naming Global" [(value)]="data.naming.isGlobal" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="N°" [(value)]="data.column" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Key" [(value)]="data.key" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Mandatory" [(value)]="data.mandatory" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Default" [(value)]="data.default" disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Tokenization" [(value)]="data.tokenization" disabled>
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="TDS" [(value)]="data.tds" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <mat-form-field class="full-width">
          <input matInput placeholder="Catálogo" [(value)]="data.catalogue" disabled>
        </mat-form-field>
      </div>
      <div class="col-3">
        <button mat-button class="button-query-global" style="float: right;" (click)="openOriginPage()">
          {{buttonMessage}}
          <mat-icon class="buttonIcon">find_in_page</mat-icon>
        </button>
      </div>
    </div>
  </div>
