h1{
    color:#004283;
    margin-top: 3px; 
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.row{
    //margin-bottom: 15px;
}

::ng-deep .onlyView{
    padding-top: 1%;
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
    .mat-form-field-underline{
        border-bottom-style: inset;
        border-bottom-width: thin;
    }
}

.rowUpperBorder{
    border-top-style: outset;
    padding-top: 15px;
 }

.closeIcon {
    color:#004283;
    font-size: 30px; 
    float: left;
}

.margenTitle{
    width: 95%; 
    margin: -3% 0 1% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}

.subMargen {
    margin-left: 1%; 
    margin-bottom: 3%;
    width: 95%; 
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.errorBtn {
    color: white;
    background-color: #33b3b3;
}

.divError{
    font-size: 100%;
    color: #D8000C;
    background-color: #FFD2D2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin-bottom: 3%;
 }

 .col-8{
    padding-left: 20px;
 }
