.buttonDetailTable {
  border-top-left-radius: 15px;
  background-color: #2dcccd;
}

.buttonDetailTablon {
  border-top-right-radius: 15px;
  background-color: #2dcccd;
}

.buttonA {
  width: 100px;
  padding: 2px;
  margin-left: 20px;
  margin-right: 0;
  border-width: 2px !important;
  color: #FFFFFF;
  background-color: transparent;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  letter-spacing: 0.04em;
}

.bottom-margin-origins {
  border-bottom-style: inset;
  border-bottom-color: #004283;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .add-button {
    color: white;
    background-color: #004283;
    float: left;
    border-bottom-right-radius: 0;
  }

  .add-button-right {
    color: white;
    background-color: #004283;
    float: right;
    border-bottom-left-radius: 0;
  }

  .add-button-right:hover {
    background-color: #4F8A10;
  }

  .hover-butt-table:hover {
    color: #004283;
    background-color: #2DCCCD;
  }

  .butt-dt {
    margin-left: 20px;
    border-bottom-left-radius: 0;
  }

  .butt-dt:hover {
    color: #214581 !important;
    background-color: #3773b887;
  }
}

.bigButtons {
  color: #004283;
  background-color: #2DCCCD;
}

.bigButtons:hover {
  color: #2DCCCD;
  background-color: #004283;
}

.buttonIcon {
  margin-left: 2px;
}

.divH2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}

.expandButton {
  color: #004283;
}

.expandButton:hover {
  background-color: #004283;
  color: #2DCCCD;
}

.field-search {
  font-size: 13px;
}

.full-width {
  width: 100%;
  font-size: 15px;
}

.helpPopdiv {
  width: 30px;
  display: inline-block;
  padding-left: 5px;
}

.insideTable {
  width: 100%;
  border-top-style: outset;
  border-bottom-style: outset;

  ngx-datatable {
    box-shadow: none;
  }
}

.mat-card {
  background-color: aliceblue;
}

.mat-icon-button.small {
  width: 15px;
  height: 15px;
  line-height: 14px;

  .mat-icon {
    font-size: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #004283;
  }
}

.row-one {
  background-color: white !important;
}

.row-two {
  background-color: lightgray !important;
}

.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.table-query-div {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2%;
}

#infotext {
  width: 100%;
  height: 55px;
  padding: 0;
  background-color: transparent;
  resize: none;
  overflow: hidden
}

#infotext:focus-visible {
  outline: none;
}

::ng-deep .insideTable .ngx-datatable.scroll-horz .datatable-body {
  overflow: overlay;
  max-height: 600px !important;
  height: 450px !important;
  width: auto !important;
}

::ng-deep .rowDetail {
  width: 100% !important;
  border-top: 2px solid #004283;

  .mat-form-field-infix {
    height: 48px;
  }
}

::ng-deep .superTable .datatable-row-detail {
  background-color: aliceblue !important;
  box-shadow: none;
}

::ng-deep .subTab .mat-tab-label-container {
  padding-left: 70px;
  background-color: aliceblue;
}

::ng-deep .superTable .ngx-datatable.material .datatable-body .datatable-row-detail {
  height: inherit !important;
  width: 100% !important;
  padding: 0;
}

::ng-deep .tabGroup {
  .mat-tab-header {
    display: none;
  }

  .subTabGroup .mat-tab-header {
    display: inherit;
  }
}