<app-toolbar></app-toolbar>
<div class="container-fluid subMargen">
    <div class="row">
        <div class="divH2">
            <h2>Proyectos y Casos de Uso</h2>
        </div>
    </div>
</div>

<div class="superTable table-query-div" [ngClass]="{'tabGroup':  viewOnlyFlag}">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                Backlog
            </ng-template>
            <div class="margen-div">
                <mat-form-field class="fieldsearch-form" style="width:430px; font-size: 15px;">
                    <mat-select placeholder=" Proyecto " (selectionChange)="selectedProjectOption($event.value)" required>
                        <mat-option *ngFor="let r of projectOptions" [value]="r">
                            {{r.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="showSelectedProject" class="helpPopdiv">
                    <button mat-icon-button matTooltip="Descripción" [mdePopoverTriggerFor]="popover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
                <mde-popover #popover="mdePopover" [mdePopoverOverlapTrigger]="false">
                    <mat-card style="max-width: 455px;">
                        <mat-card-content>
                            {{selectedProject.shortDesc}}
                        </mat-card-content>
                    </mat-card>
                </mde-popover>
                <br>
            </div>
            <!-- ///////////////////////////////////////////////////////// -->
            <ngx-datatable #useCasesProject class='material superTable subTabGroup' [rows]='usecasesProject' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" [loadingIndicator]="loadingFlag">
                <ngx-datatable-row-detail #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div class="rowDetail">
                            <!-- TABS -->
                            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChangeInside($event)">
                                <mat-tab>
                                    <ng-template mat-tab-label class="buttonDetailTable">
                                        <mat-icon class="example-tab-icon">book</mat-icon>
                                        Tablas
                                    </ng-template>
                                    <ng-container *ngTemplateOutlet="detailTablesUseCase; context: {row: row, searchType: 'T'}">
                                    </ng-container>
                                </mat-tab>
                                <div class="buttonDetailTablon">
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">web_asset</mat-icon>
                                            Tablones
                                        </ng-template>
                                        <ng-container *ngTemplateOutlet="detailTablesUseCase; context: {row: row, searchType: 'DT'}">
                                        </ng-container>
                                    </mat-tab>
                                </div>
                            </mat-tab-group>
                        </div>
                    </ng-template>
                </ngx-datatable-row-detail>
                <ngx-datatable-column [cellClass]="'expandIconClassMedium'" [width]="60" [resizeable]="true" [draggable]="true" [canAutoResize]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <button mat-icon-button class="expandButton" matTooltip="Detalles" (click)="toggleExpandRow(row)">
                            <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
                            <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre Caso de Uso" prop="name" [width]="150" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Descripción" prop="description" flexGrow="15" [width]="350" [sortable]="true">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{row.description}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="N° Tablas" prop="tables.length" [width]="80" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="N° Tablones" prop="tablones.length" [width]="80" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha de inicio" prop="startDate" [width]="140" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha de fin" prop="finishDate" [width]="140" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha de solicitud" prop="request_date" [width]="140" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.request_date =='' ? 'Stock' : row.request_date}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="!flagUnassigned" name="Acciones" [width]="160" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button matTooltip="Estadísticas" color="primary" (click)="queryStatisticUseCase(row)">
                            <mat-icon>pie_chart</mat-icon>
                        </button>
                        <button *ngIf="!viewOnlyFlag" mat-icon-button matTooltip="Editar caso de uso" color="primary" (click)="editUseCaseProject(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="viewOnlyFlag" mat-icon-button matTooltip="Detalles caso de uso" color="primary" (click)="checkUseCaseProject(row)">
                            <mat-icon>subject</mat-icon>
                        </button>
                        <button *ngIf="!viewOnlyFlag" mat-icon-button matTooltip="Eliminar caso de uso" color="primary" (click)="deleteUseCase(row)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-tab>

        <mat-tab *ngIf="rol == 'SPO'" label="Solicitudes de casos de uso">
            <div class="margen-div">
                <mat-form-field style="width:300px;">
                    <input matInput type="text" placeholder="Filtro por nombre..." [(ngModel)]="searchUseCases" (keyup)='updateFilterUseCase($event)'>
                    <button mat-button *ngIf="searchUseCases" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterUseCase()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <br>
                <ngx-datatable class='material' #useCases [rows]='requestsUseCases' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" [loadingIndicator]="loadingFlag">
                    <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="51" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Proyecto" prop="project_name" [width]="150" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre" prop="use_case.name" [width]="150" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="use_case.description" width="250" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <span>
                                {{row.use_case.description}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tablas" prop="use_case.tables" [width]="30" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tablones" prop="use_case.tablones" [width]="30" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Solicitante" prop="user_name" [width]="80" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Petición" prop="action" [width]="50" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <span>
                                {{row.action =='Add' ? 'Adición' : row.action =='Del' ? 'Eliminación' : 'Modificación'}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Detalles" [width]="130" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button class="button-query-global bigButtons" (click)="editRequestUseCase(row)">
                                <mat-icon class="buttonIcon">edit</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-tab>

        <mat-tab label="Solicitudes de tablas">
            <div class="margen-div">
                <mat-form-field class="fieldsearch-form">
                    <mat-select #selectRequestTableProject placeholder="Proyecto" (selectionChange)="selectedProjectOptionBacklogFilter($event.value)">
                        <mat-option *ngFor="let t of projectFilterBacklogOptions" [value]="t._id">
                            {{t.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <input matInput placeholder="Nombre caso uso" [(ngModel)]="filterTableUseCaseName" name="filterTableUseCaseName" (keyup.enter)="getFilterTablesRequests()">
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <input matInput placeholder="Nombre tabla" [(ngModel)]="filterTableName" name="filterTableName" (keyup.enter)="getFilterTablesRequests()">
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <mat-select #selectRequestTableAction placeholder="Motivo" (selectionChange)="selectedStateOption($event.value)">
                        <mat-option value="Add">Adición</mat-option>
                        <mat-option value="Del">Eliminación</mat-option>
                        <mat-option value="Mod">Modificación</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="getFilterTablesRequests()" matTooltip="Filtro de solicitudes" class="button-query-global" style="margin-right: 1%;">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-button (click)="clean()" matTooltip="Limpiar" class="button-query-global">
                    <mat-icon>clear</mat-icon>
                </button>
                <ngx-datatable class='material' [rows]='requestsTables' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" [loadingIndicator]="loadingFlag">
                    <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="51" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Proyectos" prop="project_name" [width]="150" [sortable]="true">
                    </ngx-datatable-column>>
                    <ngx-datatable-column name="Nombre" prop="backlog.baseName" [width]="200" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="backlog.observationField" [width]="300" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{row.backlog.observationField}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sistema Origen" prop="backlog.originSystem" [width]="110" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Periodicidad" prop="backlog.periodicity" [width]="100" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Solicitante" prop="user_name" [width]="120" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [width]="120" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Petición" prop="action" [width]="80" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <span>
                                {{row.action =='Add' ? 'Adición' : row.action =='Del' ? 'Eliminación' :
                                'Modificación'}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" width="130" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button class="button-query-global bigButtons" (click)="editRequestBacklog(row)">
                                <mat-icon class="buttonIcon">edit</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-tab>
        <mat-tab label="Solicitudes de tablones">
            <div class="margen-div">
                <mat-form-field class="fieldsearch-form">
                    <mat-select #selectRequestDataTableProject placeholder="Proyecto" (selectionChange)="selectedProjectOptionDataTableFilter($event.value)">
                        <mat-option *ngFor="let t of projectFilterDataTablesOptions" [value]="t._id">
                            {{t.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <input matInput placeholder="Nombre caso uso" [(ngModel)]="filterDataTableUseCaseName" name="filterDataTableUseCaseName" (keyup.enter)="getFilterDataTablesRequests()">
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <input matInput placeholder="Nombre tablón" [(ngModel)]="filterDataTableName" name="filterDataTableName" (keyup.enter)="getFilterDataTablesRequests()">
                </mat-form-field>
                <mat-form-field class="fieldsearch-form">
                    <mat-select #selectRequestDataTableAction placeholder="Motivo" (selectionChange)="selectedDataStateOption($event.value)">
                        <mat-option value="Add">Adición</mat-option>
                        <mat-option value="Del">Eliminación</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="getFilterDataTablesRequests()" matTooltip="Filtro de solicitudes" class="button-query-global" style="margin-right: 1%;">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-button matTooltip="Limpiar" (click)="cleanDataTable()" class="button-query-global">
                    <mat-icon>clear</mat-icon>
                </button>
                <br>
                <ngx-datatable class='material' [rows]='requestsDataTables' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                    <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="51" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Proyectos" prop="project_name" [width]="200" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre" prop="backlog.baseName" [width]="200" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="backlog.observationField" [width]="300" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{row.backlog.observationField}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Alias" prop="backlog.alias" [width]="90" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Periodicidad" prop="backlog.periodicity" [width]="100" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Solicitante" prop="user_name" [width]="120" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [width]="120" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Petición" prop="action" [width]="80" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <span>
                                {{row.action =='Add' ? 'Adición' : 'Eliminación'}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" width="130" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button class="button-query-global bigButtons" matTooltip="Ver solicitud" (click)="showDataTable(row, false)">
                                <mat-icon class="buttonIcon">edit</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-tab>

        <mat-tab label="Solicitudes cerradas">
            <ng-template mat-tab-label>Solicitudes cerradas</ng-template>
            <mat-tab-group mat-align-tabs="start" class="subTab" *ngIf="index == 3" [selectedIndex]="0">
                <mat-tab *ngIf="rol =='SPO'">
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">assignment_late</mat-icon>
                        Casos de uso
                    </ng-template>
                    <div class="margen-div">
                        <mat-form-field style="width:300px;">
                            <input matInput type="text" placeholder="Filtro por nombre..." [(ngModel)]="searchUseCasesTickets" (keyup)='updateFilterUseCaseTickets($event)'>
                            <button mat-button *ngIf="searchUseCasesTickets" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterUseCaseTickets()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <br>
                        <ngx-datatable class='material' #ticketsUseCasesTable [rows]='ticketsUseCases' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                            <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="51" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Proyecto" prop="project_name" [width]="150" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre" prop="use_case.name" [width]="150" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Solicitante" prop="user_name" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Petición" prop="action" [width]="50" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.action =='Add' ? 'Adición' : row.action =='Del' ? 'Eliminación' :
                                        'Modificación'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Revisor" prop="spo" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Comentario" prop="comment" [width]="200" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.comment}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de revisión" [width]="80" prop="approved_time" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="requestStatus" [width]="80" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.requestStatus =='D' ? 'Descartada' : 'Aprobada'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Detalles" [width]="130" [sortable]="true">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button mat-button class="button-query-global bigButtons" (click)="editUseCaseProject(row)">
                                        <mat-icon class="buttonIcon">edit</mat-icon>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">book</mat-icon>
                        Tablas
                    </ng-template>
                    <div class="margen-div">
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectTicktesTableProject placeholder="Proyecto" (selectionChange)="selectedProjectOptionTickets($event.value)">
                                <mat-option *ngFor="let t of projectFilterTicketsOptions" [value]="t._id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <input matInput placeholder="Nombre caso uso" [(ngModel)]="filterTicketUseCaseName" (keyup.enter)="getFilterTablesTickets()">
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <input matInput placeholder="Nombre tabla" [(ngModel)]="filterTicketTableName" (keyup.enter)="getFilterTablesTickets()">
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectTicketsTableAction placeholder="Motivo" (selectionChange)="selectedStateOptionTickets($event.value)">
                                <mat-option value="Add">Adición</mat-option>
                                <mat-option value="Del">Eliminación</mat-option>
                                <mat-option value="Mod">Modificación</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectTicketsReq placeholder="Estado" (selectionChange)="selectedStateOptionTicketsStatusReqs($event.value)">
                                <mat-option value="A">Aprobada</mat-option>
                                <mat-option value="D">Descartada</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button (click)="getFilterTablesTickets()" matTooltip="Filtro de solicitudes" class="button-query-global" style="margin-right: 1%;">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-button (click)="cleanTickets()" matTooltip="Limpiar" class="button-query-global">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <br>
                        <ngx-datatable class='material' [rows]='ticketsBacklogs' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                            <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="51" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Proyecto" prop="project_name" [width]="200" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Caso de usos" prop="use_case_name" [width]="100" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre" prop="backlog.baseName" [width]="200" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Solicitante" prop="user_name" [width]="120" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [width]="120" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Petición" prop="action" [width]="80" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.action =='Add' ? 'Adición' : row.action =='Del' ? 'Eliminación' :
                                        'Modificación'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Revisor" prop="spo" [width]="120" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Comentario" prop="comment" [width]="200" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.comment}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de revisión" [width]="120" prop="approved_time" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="requestStatus" [width]="80" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.requestStatus =='D' ? 'Descartada' : 'Aprobada'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Detalles" [width]="130" [sortable]="true">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button mat-button class="button-query-global bigButtons" (click)="editRequestBacklog(row)">
                                        <mat-icon class="buttonIcon">edit</mat-icon>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">web_asset</mat-icon>
                        Tablones
                    </ng-template>
                    <div class="margen-div">
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectorDatatableTickets placeholder="Proyecto" (selectionChange)="selectedTicketDatatableProject($event.value)">
                                <mat-option *ngFor="let t of projectFilterDataTablesOptions" [value]="t._id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <input matInput placeholder="Nombre caso uso" [(ngModel)]="filterTicketDatatableUseCaseName" (keyup.enter)="getFilterDataTablesTickets()">
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <input matInput placeholder="Nombre tablón" [(ngModel)]="filterTicketDataTableName" (keyup.enter)="getFilterDataTablesTickets()">
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectTicketsDataTableAction placeholder="Motivo" (selectionChange)="selectedStateOptionDataTableTickets($event.value)">
                                <mat-option value="Add">Adición</mat-option>
                                <mat-option value="Del">Eliminación</mat-option>
                                <mat-option value="Mod">Modificación</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fieldsearch-form">
                            <mat-select #selectTicketsDataTableReq placeholder="Estado" (selectionChange)="selectedReqDataTableTickets($event.value)">
                                <mat-option value="A">Aprobada</mat-option>
                                <mat-option value="D">Descartada</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button (click)="getFilterDataTablesTickets()" matTooltip="Filtro de solicitudes cerradas" class="button-query-global" style="margin-right: 1%;">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-button (click)="cleanTicketsDataTables()" matTooltip="Limpiar" class="button-query-global">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <br>
                        <ngx-datatable class='material' [rows]='ticketsDatatable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10">
                            <ngx-datatable-column name="N° solicitud" prop="request_number" [width]="70" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Proyecto" prop="project_name" [width]="150" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre" prop="use_case_name" [width]="150" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Solicitante" prop="user_name" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de solicitud" prop="created_time" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Petición" prop="action" [width]="50" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>{{row.action =='Add' ? 'Adición' : row.action =='Del' ? 'Eliminación' :
                                        'Modificación'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Revisor" prop="spo" [width]="80" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Comentario" prop="comment" [width]="200" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.comment}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de revisión" [width]="80" prop="approved_time" [sortable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="requestStatus" [width]="80" [sortable]="true">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <span>
                                        {{row.requestStatus =='D' ? 'Descartada' : 'Aprobada'}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Detalles" [width]="130" [sortable]="true">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <button mat-button class="button-query-global bigButtons" (click)="viewRequestDataTable(row)">
                                        <mat-icon class="buttonIcon">edit</mat-icon>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #detailTablesUseCase let-row="row" let-searchType="searchType">
    <div class="container-fluid">
        <div class="row" style="padding-top: 15px;">
            <div class="col-3">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre Lógico" [(ngModel)]="filterInsideName">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="full-width">
                    <mat-select #selectTable [placeholder]="searchType == 'T' ? 'Estado Tabla' : 'Estado Tablon'" [(ngModel)]="filterInsideState" (selectionChange)="selectedTableState($event.value)">
                        <mat-option value='B'>En backlog</mat-option>
                        <mat-option value='N'>En propuesta</mat-option>
                        <mat-option value='G'>Gobierno</mat-option>
                        <mat-option value='RN'>VoBo Negocio</mat-option>
                        <mat-option value='I'>Lista para Ingestar</mat-option>
                        <mat-option value='P'>Producción</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="full-width">
                    <mat-select #selectStateInsideUseCase placeholder="Estado Solicitud" [(ngModel)]="filterInsideRequest" (selectionChange)="selectedStateInsideUseCase($event.value)">
                        <mat-option value="A">Aprobada</mat-option>
                        <mat-option value="P">Pendiente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4" style="padding-top: 10px;">
                <button mat-button class="button-query-global" style="margin-right: 10px; margin-left: 15px;" (click)="queryInsideUseCaseBacklog(row, searchType)">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-button class="button-query-global" style="margin-right: 3%;" (click)="cleanFilterInsideUseCase()">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="searchType == 'T' && editableProject" class="row bottom-margin-origins" style="margin: 0 5px 0 5px;">
            <div class="col-3" style="padding-left: 0;">
                <button mat-button *ngIf="!viewOnlyFlag && !flagUnassigned" class="add-button hover-butt-table" (click)="searchTables(row)">
                    Agregar tablas
                    <mat-icon class="buttonIcon">library_books</mat-icon>
                </button>
            </div>
            <div class="col"></div>
            <div class="col-3" style="padding-right: 0;">
                <button mat-button *ngIf="!viewOnlyFlag && !flagUnassigned" class="add-button-right" (click)="requestNewBacklog(row)">
                    Solicitud de tabla nueva
                    <mat-icon class="buttonIcon">library_add</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="searchType == 'T'" class="row" style="background-color: white; ">
            <div class="insideTable" style="padding: 0 20px 0 20px;">
                <ngx-datatable class='material' [rows]='backlogsUseCaseProject' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'75'" [scrollbarH]="true" [limit]="6" [rowClass]="getRowClass" [loadingIndicator]="loadingBarInside">
                    <ngx-datatable-column name="Nombre Lógico" prop="baseName" [width]="200" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span title="{{row.baseName}}">{{row.baseName}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="observationField" [width]="300" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <textarea id="infotext" readonly="readonly" matTooltip="{{ row.observationField }}">{{row.observationField }}</textarea>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sistema Origen" prop="originSystem" [width]="80" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Periodicidad" prop="periodicity" [width]="50" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado solicitud" prop="tableRequest" [width]="65" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.tableRequest =='A' ? 'Aprobada' : 'Pendiente'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de solicitud" prop="request_date" [width]="80" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.request_date == '' ? 'Stock' : row.request_date}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado tabla" prop="viewStateTable" [width]="70" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <textarea id="infotext" readonly="readonly" matTooltip="{{ row.viewStateTable }}">{{row.viewStateTable == '' ? 'En backlog' : row.viewStateTable}}</textarea>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [width]="100" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="searchType == 'T' && row.idTable.length > 0" mat-icon-button class="expandButton" matTooltip="Ver tabla completa" (click)="showDataDictionary(row)">
                                <mat-icon>pageview</mat-icon>
                            </button>
                            <button *ngIf="!viewOnlyFlag && !flagUnassigned" mat-icon-button matTooltip="Editar tabla" (click)="editBacklogUseCase(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="!viewOnlyFlag && !flagUnassigned" mat-icon-button matTooltip="Eliminar tabla" (click)="deleteBacklogUseCase(row)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <div *ngIf="searchType == 'DT'" class="row" style="background-color: white;">
            <div class="insideTable" style="padding: 0 20px 0 20px;">
                <ngx-datatable class='material' [rows]='dataTablesUseCaseProject' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'75'" [scrollbarH]="true" [limit]="6" [rowClass]="getRowClass" [loadingIndicator]="loadingBarInside">
                    <ngx-datatable-column name="Nombre Tablón" prop="master_name" [width]="200" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span title="{{row.master_name}}">{{row.master_name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="observationField" [width]="310" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <textarea id="infotext" readonly="readonly" matTooltip="{{ row.observationField }}">{{row.observationField }}</textarea>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sistema Origen" prop="originSystem" [width]="80" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Periodicidad" prop="periodicity" [width]="50" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado solicitud" prop="tableRequest" [width]="65" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.tableRequest =='A' ? 'Aprobada' : 'Pendiente'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de solicitud" prop="request_date" [width]="100" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.request_date == '' ? 'Stock' : row.request_date}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado tablón" prop="viewStateTable" [width]="70" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <textarea id="infotext" readonly="readonly" matTooltip="{{ row.viewStateTable }}">{{row.viewStateTable == '' ? 'En backlog' : row.viewStateTable}}</textarea>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [width]="100" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="row._id" class="expandButton" mat-icon-button matTooltip="Ver tablón completo" (click)="showDataTable(row, true)">
                                <mat-icon>pageview</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</ng-template>