<div class="container-fluid">
  <div class="row" style="height: 40px;">
    <div class="col-11">
      <h1 mat-dialog-title>Repositorio de tablones</h1>
    </div>
    <div class="col-1" style="font-size: 30px; padding-left: 20px;">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>
<div>
  <mat-form-field class="fieldsearch-form">
    <input matInput type='text' placeholder='Nombre datio' [(ngModel)]="masterName" name="baseName" />
  </mat-form-field>

  <mat-form-field class="fieldsearch-form">
    <input matInput type='text' placeholder='Descripción' [(ngModel)]="description" name="observationField" />
  </mat-form-field>

  <mat-form-field class="fieldsearch-form">
    <input matInput type='text' placeholder='Alias' [(ngModel)]="alias" name="alias"/>
  </mat-form-field>

  <mat-form-field class="fieldsearch-form">
    <mat-select #selectorAmbito placeholder="Ámbito"
      (selectionChange)="selectedAmbito($event.value)">
        <mat-option value="K">Global - K</mat-option>
        <mat-option value="C">Colombia - C</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fieldsearch-form">
    <mat-select #uuaaSelectorOption placeholder="UUAA Master"
      (selectionChange)="selectedUuaaOption($event.value)">
      <mat-option *ngFor="let s of uuaaOptions" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="getTablonesSearch(true)" class="button-query-global" style="margin-left: 15px; margin-right: 10px;">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button (click)="clean()" class="button-query-global" style="margin-right: 5px;">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content class="tableRepo" style="height: 70%; padding: 0; border-top-style: groove; border-bottom-style: groove;">
  <ngx-datatable #table class='material' [columnMode]="'auto'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="5" [rows]='tablones' [selected]="selectedTablones" [selectionType]="'multiClick'"
          (select)='onSelect($event)'>

  <ngx-datatable-column name="Nombre datio" prop="master_name" width="100" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>{{row.master_name}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="Nombre lógico" prop="baseName" width="200" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>{{row.baseName}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Descripción" prop="observationField" width="300" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>{{row.observationField}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Periodicidad" prop="periodicity" width="100" [sortable]="true"></ngx-datatable-column>
  <ngx-datatable-column name="Alias" prop="alias" width="80" [sortable]="true"></ngx-datatable-column>
  <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" width="95" [sortable]="true"></ngx-datatable-column>
  
</ngx-datatable>  
</div>
<div mat-dialog-actions style="margin-top: 15px; float: right;">
    <button mat-button class="button-query-global" style="margin-right: 5px;" [mat-dialog-close]="null">Cancelar</button>
    <button mat-button class="buttonscolor" style="margin-right: 5px;" (click)="validateTablones()">Confirmar</button>
</div>
