<div class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-11">
            <h1 mat-dialog-title>{{title}}</h1>
        </div>
        <div class="col-1" style="font-size: 30px">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>

<div mat-dialog-content class="allFonts">
    <div class="container-fluid" style="padding-top: 2%;" *ngIf="type == ''">
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="UUAA Raw" [value]="uuaaRaw" disabled>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="UUAA Master" [value]="data.object.master[14]" disabled>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Raw" [value]="data.object.raw[1]" disabled>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Master" [value]="data.object.master[1]" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Lógico" [value]="data.object.raw[2]" disabled>
                </mat-form-field>
            </div>
            <div class="col-7">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Descripción" [value]="data.object.raw[3]" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Data Source" [value]="data.object.raw[5]" disabled>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Periodicidad" [value]="data.object.raw[16]" disabled>
                </mat-form-field>
            </div>
            <div class="col-1">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Tipo" [value]="data.object.raw[27]" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row finalMargen">
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)" required>
                        <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                            {{p.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Caso de Uso" (selectionChange)="selectedUseCase($event.value)" [disabled]="selectedProject === undefined" required>
                        <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                            {{uc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Backlogs" [(value)]="selectedBacklog" [disabled]="selectedUC === undefined" required>
                        <mat-option *ngFor="let uc of backlogsUseCaseProject" matTooltip="{{uc.baseName}}" [value]="uc">
                            {{uc.baseName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4" *ngIf="selectedBacklog.baseName == '--NEW--'">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Base Nuevo Backlog" [(ngModel)]="newBacklogName">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="fullInput">
                    <mat-select placeholder="Usuario" [(value)]="selectedUser" required>
                        <mat-option *ngFor="let user of usersOptions" [value]="user">
                            {{user.name}} | <small> {{user.email}}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <button mat-button style="float: right;" class="button-query-global" (click)="acceptNewSol()">
                    Aceptar carga
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 2%;" *ngIf="type == 'T'">
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="UUAA Master" [value]="data.uuaaMaster" disabled>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Master" [value]="data.master_name" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Lógico" [value]="data.baseName" disabled>
                </mat-form-field>
            </div>
            <div class="col-7">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Descripción" [value]="data.observationField" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="N° campos" [value]="data.fields" disabled>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Periodicidad" [value]="data.periodicity" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row finalMargen">
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)" required>
                        <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                            {{p.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Caso de Uso" (selectionChange)="selectedUseCase($event.value)" [disabled]="selectedProject === undefined" required>
                        <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                            {{uc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="fullInput">
                    <mat-select placeholder="Usuario" [(value)]="selectedUser" required>
                        <mat-option *ngFor="let user of usersOptions" [value]="user">
                            {{user.name}} | <small> {{user.email}}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <button mat-button style="float: right;" class="button-query-global" (click)="acceptSolTablon()">
          Aceptar carga
          <mat-icon>edit</mat-icon>
        </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 2%;" *ngIf="type == 'B'">
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="UUAA Master" [value]="data.uuaaMaster" disabled>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Base" [value]="data.master_name" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Lógico" [value]="data.baseName" disabled>
                </mat-form-field>
            </div>
            <div class="col-7">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Descripción" [value]="data.observationField" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="N° campos" [value]="data.fields" disabled>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Periodicidad" [value]="data.periodicity" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row finalMargen">
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)" required>
                        <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                            {{p.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="fullInput">
                    <mat-select placeholder="Usuario" [(value)]="selectedUser" required>
                        <mat-option *ngFor="let user of usersOptions" [value]="user">
                            {{user.name}} | <small> {{user.email}}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <button mat-button style="float: right;" class="button-query-global" (click)="acceptSolBase()">
          Aceptar carga
          <mat-icon>edit</mat-icon>
        </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 2%;" *ngIf="type == 'DD'">
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="UUAA cargada" [value]="data.uuaa" disabled>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Fisico" [value]="data.phys_name" disabled>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Storage Zone / Fase" [value]="data.storageZone" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Nombre Lógico" [value]="data.baseName" disabled>
                </mat-form-field>
            </div>
            <div class="col-7">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Descripción" [value]="data.observationField" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="N° campos" [value]="data.fields" disabled>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="fullInput">
                    <input matInput placeholder="Periodicidad" [value]="data.periodicity" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row finalMargen">
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)" required>
                        <mat-option *ngFor="let p of projectOptions" matTooltip="{{p.name}}" [value]="p">
                            {{p.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="inputHelp">
                    <mat-select placeholder="Caso de Uso" (selectionChange)="selectedUseCase($event.value)" [disabled]="selectedProject === undefined" required>
                        <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                            {{uc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="fullInput">
                    <mat-select placeholder="Usuario" [(value)]="selectedUser" required>
                        <mat-option *ngFor="let user of usersOptions" [value]="user">
                            {{user.name}} | <small> {{user.email}}</small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <button mat-button style="float: right;" class="button-query-global" (click)="acceptSolBase()">
          Aceptar carga
          <mat-icon>edit</mat-icon>
        </button>
            </div>
        </div>
    </div>
</div>