.allFonts {
    font-size: 13px !important;
}

.fullInput {
    width: 100%;
}

.inputHelp {
    width: 93%;
    display: inline-block;
}

h1 {
    color: #004283;
    margin-top: 3px;
    font-weight: bold;
}

.closeIcon {
    color: #004283;
    font-size: 30px;
    float: left;
    margin-right: 5px;
}

.margenTitle {
    width: 95%;
    margin: -3% 0 1% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

.subMargen {
    margin-bottom: 3%;
    width: 100%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.finalMargen {
    padding-top: 15px;
    border-top-style: outset;
}