<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Buscar Abreviaciones</h2>
    </div>
  </div>
</div>

<div autosize class="allGlobalRows">
  <div class="container-fluid">
    <div class="row" style="margin: 15px 5% 0 5%">
      <div class="col-3">
        <mat-form-field class="fullInput" (keyup.enter)="abbreviationsQuery()">
          <input matInput placeholder="Palabra (Word-To-Use)" [(ngModel)]="wordQuery">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="fullInput" (keyup.enter)="abbreviationsQuery()">
          <input matInput placeholder="Abreviación" [(ngModel)]="abbreviationWord">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="fullInput" (keyup.enter)="abbreviationsQuery()">
          <input matInput placeholder="Palabra español" [(ngModel)]="spaWord">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="fullInput" (keyup.enter)="abbreviationsQuery()">
          <input matInput placeholder="Sinónimo" [(ngModel)]="synonymous">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <mat-form-field class="inputHelp">
          <mat-select #selectType placeholder="Tipo consulta" (selectionChange)="selectedType($event.value)">
            <mat-option value="and">Todas las condiciones</mat-option>
            <mat-option value="or" selected>Alguna de las condiciones</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="helpPopdiv">
          <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
            #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'searchType'">
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-3" style="top: 10px;">
        <button mat-button (click)="abbreviationsQuery()" matTooltip="Búsqueda estándar" class="button-query-global"
          style="margin: 0 15px 0 25px; width: 69px;"> <!--NICE-->
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button (click)="clean()" matTooltip="Limpiar búsqueda" class="button-query-global"
          style="background-color: #2DCCCD; width: 69px;">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div autosize>
  <div class="margen-div">
    <ngx-datatable class='material' #myTable [rows]='words' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'60'" [limit]="10" [loadingIndicator]="loadingIndicator"
      >
      <ngx-datatable-column name="Palabra larga" prop="longName" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-row="row">
          <strong>{{row.longName}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Abreviación" prop="abbreviation" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Palabra español" prop="spa_word" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Aprobación comunidad" prop="community" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Sinónimos" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-row="row">
          <ul class="list-type">
            <li *ngFor="let item of row.synonymous">
              <p>{{item}}</p>
            </li>
          </ul>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card class="small-mat-card">
      <mat-card-content *ngIf="activeHelp === 'searchType'">
        El tipo de consulta permite obtener un resultado que cumpla con al menos una o que cumpla con todas las condiciones
        dadas para la búsqueda
      </mat-card-content>
    </mat-card>
</mde-popover>