
.fullInput{
    width: 100%;
}
.inputHelp{
    width: 95%;
}
.helpPopdiv{
    width: 5%; 
    display: inline-block;
    padding-left: 5px;
}
.descInput{
    width: 40%;
}
.margen-div{
    padding-left: 7%;
    padding-right: 7%;
}
.buttonsBar{
    margin: 5px;
}
.divH2{
    margin-left: 2%; 
    margin-top: 20px; 
    color: #004283;
}
.subMargen {
    margin-left: 1%; 
    width: 98%; 
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}
.mat-card{
    background-color: aliceblue;
}
.small-mat-card{
    max-width: 400px;
}
.mat-icon-button.small{
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon{
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}