.margen-div{
    padding-bottom: 0;
}

.fullInput{
    width: 100%;
}

.inputHelp{
    width: 95%;
}

.helpPopdiv{
    width: 5%; 
    display: inline-block;
    padding-left: 5px;
} 

.loading{
    color: white;
    padding-top: 50px;
    font-family: "Helvetica Neue", sans-serif;
}

.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}

.searchContainer{
    font-size: 13px;
    padding-left: 10%;
}

.bigButtons{
    bottom: 7px;
    color: #004283;
    background-color: #2DCCCD;
}

.bigButtons:hover{
    color: #2DCCCD;
    background-color: #004283;
}

.expandButton{
    color: #004283;
}

.expandButton:hover{
    background-color: #004283;
    color: #2DCCCD;
}

::ng-deep .onlyView{ 
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
}

::ng-deep .table .mat-icon-button.mat-primary{
    bottom: 7px;
}

.aboveMenu {
    z-index: 9000; 
}

//matspinner loading overlay
.smallLoadingOverlay {
    height: 102px !important; 
  }
  
  .loadingOverlay {
    height: 609px; 
    width: 98%; 
    z-index: 8000; 
    position: absolute; 
    left: 1%; 
    background-color: #00000073;
    div {
        margin-top: 5%; 
        line-height: 100px; 
        height: 200px; 
        text-align: center;
    }
  }
  
  .matSpinner {
    line-height: 1.5; 
    display: inline-block; 
    vertical-align: middle;
  }
  .mat-option:hover:not(.mat-option-disabled) {
    background: #668eb5 !important;
  }
  .sub-margen {
    margin-left: 1%;
    width: 98%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
  }
  .div-h2 {
    margin-left: 2%;
    margin-top: 20px;
    color: #004283;
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left !important;
  }
  .spinner-top {
    top: 25px;
  }
  .export-button {
    //top: 25px;
    font-size: 13px;
  }
  .display-none {
    display: none;
  }
  .outer-select {
    float: right;
    position: relative;
  }
  .inner-select {
    float: left;
    position: absolute;
    width: 45px;
    top: 10px;
    left: 31px;
  }
  .select-excel-values {
    color: white !important;
    background: #004283;
    padding-right: 0px;
  }
  .button-color {
    color: white;
    background: #2dcccd;
    margin-left: 15px;
    box-shadow: none;
  }