<app-toolbar></app-toolbar>

<div class="container-fluid sub-margen">
    <div class="row">
        <div class="col">
            <div class="div-h2">
                <h2>Buscador de Tablas y Tablones</h2>
            </div>
        </div>
    </div>
</div>

<div autosize>
    <div class="margen-div">
        <div class="container-fluid searchContainer">
            <div class="row" style="margin-left: 10%;">
                <div class="col-4">
                    <mat-form-field class="fullInput">
                        <mat-select #selectProject placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)">
                            <mat-option *ngFor="let r of projectOptions" [value]="r._id">
                                {{r.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullInput">
                        <mat-select placeholder="Caso de Uso" [(value)]="selectedUseCase" (selectionChange)="selectedUseCaseOption($event.value)" [disabled]="selectedProject === ''" required>
                            <mat-option *ngFor="let uc of useCaseOptions" matTooltip="{{uc.name}}" [value]="uc">
                                {{uc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-left: 4%;">
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre raw/master" [(ngModel)]="nameQuery">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Alias" [(ngModel)]="aliasQuery">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre legacy" [(ngModel)]="legacyNameQuery" [disabled]="reviewDTFlag">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <mat-select #selectState placeholder="Estado" (selectionChange)="selectedStateOption($event.value)">
                            <mat-option *ngFor="let r of stateOptions" [value]="r.value">
                                {{r.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Nombre lógico" [(ngModel)]="logicNameQuery">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullInput" (keyup.enter)="getSearchTables()">
                        <input matInput placeholder="Descripción" [(ngModel)]="logicDescQuery">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field class="fullInput">
                        <mat-select #selectorType placeholder="Tipo" (selectionChange)="selectedTypeOption($event.value)" [(ngModel)]="selectedType">
                            <mat-option *ngFor="let type of typeOptions" [value]="type">
                                {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <button mat-button (click)="getSearchTables()" class="button-query-global" style="margin-right: 5px;" matTooltip="Realizar búsqueda">
                <mat-icon>search</mat-icon>
              </button>
                            <button mat-button class="button-query-global2" (click)="clean()" style="margin-right: 5px;" matTooltip="Limpiar búsqueda">
                <mat-icon>clear</mat-icon>
              </button>
                        </div>
                        <div class="col-6 export-button">
                            <mat-spinner *ngIf="loadingExport" class="float-left" diameter="35" value="100"></mat-spinner>

                            <div class="outer-select float-left">
                                <div class="inner-select">
                                    <mat-select #selectExport (selectionChange)="exportData($event.value)" [ngClass]="{'display-none': loadingExport}">
                                        <mat-option *ngIf="tablesQuery.length > 0" class="select-excel-values" [value]="1">Busqueda Actual
                                        </mat-option>
                                        <mat-option class="select-excel-values" [value]="2">Datos Completos</mat-option>
                                    </mat-select>
                                </div>
                                <button mat-raised-button class="button-color" (click)="selectExport.open()" [disabled]="loadingExport">
                                    Exportar Datos<mat-icon>keyboard_arrow_down</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-query-div" style="padding-bottom: 2%; position: relative">
        <div *ngIf="loadingIndicator" class="loadingOverlay" [ngClass]="{'smallLoadingOverlay': shortSearch}">
            <div>
                <mat-spinner class="matSpinner"></mat-spinner>
            </div>
        </div>
        <ngx-datatable style="position: relative;" class='material table' #myTable [rows]='tablesQuery' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator">
            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="container-fluid onlyView" style="font-size: 12px;">
                        <div class="row" style="margin-left: 3%;">
                            <div class="col-1">
                                <mat-form-field class="inputHelp">
                                    <input matInput placeholder="UUAA Raw" [(ngModel)]="row.uuaaRaw" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field class="inputHelp">
                                    <input matInput placeholder="UUAA Master" [(ngModel)]="row.uuaaMaster" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="inputHelp">
                                    <input matInput placeholder="Nombre legacy" [(ngModel)]="row.legacy_name" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-9">
                                <mat-form-field class="fullInput">
                                    <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Descripción" [(ngModel)]="row.observationField" disabled>
                  </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60" [resizeable]="true" [draggable]="true" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <button mat-icon-button class="expandButton" matTooltip="Detalles" (click)="toggleExpandRow(row, expanded)">
            <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
          </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Proyecto" prop="project_name" [width]="100" [sortable]="true"> </ngx-datatable-column>
            <ngx-datatable-column name="Nombre lógico" prop="baseName" [width]="150" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre Raw" prop="raw_name" [width]="150" [sortable]="true">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngIf="row.type === 'T'">{{row.rawLength > 0 ? row.raw_name : '---'}}</span>
                    <span *ngIf="row.type === 'DT'">---</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre Master" prop="master_name" [width]="150" [sortable]="true">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngIf="row.type === 'T'">{{row.masterLength > 0 ? row.master_name : '---'}}</span>
                    <span *ngIf="row.type === 'DT'">{{row.master_name}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Alias" prop="alias" [width]="50" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Estado" prop="stateTable" [width]="50" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Tipo" [width]="40" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span><strong>{{row.type === "T" ? 'Tabla' : 'Tablón'}}</strong></span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Detalles" [width]="40" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-button class="button-query-global bigButtons" (click)="viewTable(row)">
            <mat-icon class="buttonIcon">collections_bookmark</mat-icon>
          </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>