::ng-deep .onlyView{ 
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
}

.fullWidthInputs{
    width: 100%;
}

h1{
    color:#004283;
    margin-top: 3px; 
    font-weight: bold;
}

p{
    color: #004283;
    margin: 0;
}

.closeIcon{
    color:#004283;
    font-size: 30px; 
    float: left;
}

.tableMat{
    width: 100%;
    margin-bottom: 10px;
}

.margenTitle{
    width: 96%; 
    margin: -2% 0 2% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}

.buttonscolor{
    color:#004283;
    background:#2DCCCD;
    margin-left: 15px;
}

.colAcceptar{
    padding-left: 0;
    padding-right: 30px;
}

.buttonscolorCancel{
    color: white;
    background-color: #e84c3c99;;
    margin-left: 15px;
}

.margen-div{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:1%;
    padding-right:1%;
}

.matHeader{
    border-bottom-style: ridge;
    border-bottom-width: thin;
}

.floatButtons{
    float: right;
}

::ng-deep .disabledF .mat-form-field-label{
    //font-weight: bold;
    font-size: 21px;
    color: black;
}

.title{
    font-size: 20px;
    padding-top: 10px; 
    font-weight: bold; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.rowComment{
    margin-bottom: -10px;
    padding-bottom: 0;
    border-top-style: outset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.colAnswer{
    margin: 0; 
    margin-right: -35px;
    bottom: 7px;
}

.rowAnswer{
    color: #004283;
    margin-right: 10px; 
}

.colClosedComment{
    bottom: 15px;
}

.colRechazar{
    flex: 0 0 15.666667%;
}

.bottomButton{
    float: right;
    margin-right: 5%;
    margin-bottom: -1%;
}

::ng-deep .modified .mat-expansion-panel-body{
    margin-top: auto;
    margin-bottom: -10px;
    font-size: 15px;
    background-color: #d0dce66e;
}
