<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <h1 *ngIf="!viewOnlyFlag" mat-dialog-title>Solicitud Caso de Uso</h1>
      <h1 *ngIf="viewOnlyFlag" mat-dialog-title>Caso de Uso - {{use_case.use_case.name}}</h1>
    </div>
    <div class="col-1" style="font-size: 30px">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>
<div class="container-fluid" [ngClass]="{'onlyView': viewOnlyFlag}">
  <div mat-dialog-content>
    <div *ngIf="!viewOnlyFlag" class="row" style="float: right; margin-bottom: 25px;">
      <p>{{messageWarning}}<strong>{{use_case.created_time}}</strong></p>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="fullWidthInputs">
          <textarea  matInput style="resize: none;" placeholder="Nombre caso de uso (*)"
            [(ngModel)]="use_case.use_case.name" [formControl]="requiredFormControlName" rows="2"></textarea>
          <mat-error *ngIf="requiredFormControlName.hasError('required')">
            El nombre del caso de uso es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <mat-form-field class="fullWidthInputs">
          <input matInput [matDatepickerFilter]="filterWeekends" [matDatepicker]="picker1"
            placeholder="Fecha de inicio (*)" [(ngModel)]="formatStartDate" [formControl]="dateFormControlStart"
            (dateChange)="dateChanger($event, 0)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="dateFormControlStart.hasError('required')">
            La fecha de inicio del caso de uso es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <mat-form-field class="fullWidthInputs">
          <input matInput [matDatepickerFilter]="filterWeekends" [min]="use_case.use_case.startDate"
            [matDatepicker]="picker2" placeholder="Fecha de fin (*)" [(ngModel)]="formatFinishDate"
            [formControl]="dateFormControlEnd" (dateChange)="dateChanger($event, 1)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="dateFormControlEnd.hasError('required')">
            La fecha de inicio del caso de uso es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="fullWidthInputs">
          <textarea matInput style="resize: none;" placeholder="Descripción (*)"
            [(ngModel)]="use_case.use_case.description" [formControl]="requiredFormControlDesc" rows="4"
            cols="10"></textarea>
          <mat-error *ngIf="requiredFormControlDesc.hasError('required')">
            La descripción del caso de uso es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-accordion *ngIf="oldUseCaseFlag" class="tableMat modified">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="matHeader" style="background-color: aliceblue;">
            <mat-panel-title class="title" style="color: #004283;">
              <span style="padding-bottom: 5px;"><strong>Estado anterior de los datos</strong></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-form-field class="fullWidthInputs">
                  <input matInput placeholder="Nombre caso de uso" [(ngModel)]="oldUseCase.name" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="fullWidthInputs">
                  <input matInput placeholder="Fecha de inicio" [(ngModel)]="oldUseCase.startDate" disabled>
                </mat-form-field>
              </div>
              <div class="col-4"></div>
              <div class="col">
                <mat-form-field class="fullWidthInputs">
                  <input matInput placeholder="Fecha de fin" [(ngModel)]="oldUseCase.finishDate" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="fullWidthInputs">
                  <textarea id="style-1"matInput placeholder="Descripción" style="resize: none;"
                    [(ngModel)]="oldUseCase.description" rows="3" cols="10" disabled></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="viewAuditFlag">
      <p style="font-style: italic; font-size: 12px; color: #004283; margin-bottom: 5px;">
          Caso de uso creada el <strong>{{use_case.use_case.created_time}}</strong> y su última modificación fue el <strong>{{use_case.use_case.modifications.date}}</strong> por <strong>{{use_case.use_case.modifications.user_name}}.</strong>
      </p>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="closedFlag" class="row rowComment">
    <div class="col-6 colClosedComment">
      <mat-form-field style="width: 100%; top: 15px;">
        <textarea matInput placeholder="Comentario" [formControl]="requiredFormControlComment" style="resize: none;"
          [(ngModel)]="use_case.comment" rows="3" cols="10" disabled></textarea>
        <mat-error *ngIf="requiredFormControlComment.hasError('required')">
          El comentario es <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="closedFlag" class="col-2">
      <button mat-button class="buttonscolor" (click)="validateUseCase()">Modificar</button>
    </div>
    <div *ngIf="closedFlag" class="col-2 colAcceptar">
      <button mat-button class="buttonscolor" (click)="approveSol()">Aprobar</button>
    </div>
    <div *ngIf="closedFlag" class="col-2 colRechazar">
      <button mat-button class="buttonscolorCancel" (click)="rejectSol()">Rechazar</button>
    </div>
  </div>

  <div mat-dialog-actions *ngIf="answerFlag" class="row rowComment">
    <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
        <div *ngIf="answerFlag" class="col-5" style="bottom: 5px;">
          <span class="title">
            <strong style="color: #004283;">Resultado Solicitud:</strong></span><span> {{answerResult}}</span>
        </div>
        <div *ngIf="answerFlag" class="col-6">
          <span><strong>Atendida por:</strong> {{use_case.spo}}</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col colClosedComment">
          <mat-form-field class="disabledF" style="width: 100%; top: 15px;">
            <textarea matInput placeholder="Comentario:" [formControl]="requiredFormControlComment"
              style="resize: none;" [(ngModel)]="use_case.comment" rows="3" cols="10" disabled></textarea>
            <mat-error *ngIf="requiredFormControlComment.hasError('required')">
              El comentario es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="!closedFlag && !answerFlag && !viewOnlyFlag">
    <div class="container-fluid" style="padding: 10px 0 0 0; border-top-style: outset;">
      <div class="row" style="margin-bottom: 15px;">
        <div class="col"></div>
        <div class="col-6">
          <div class="floatButtons"> 
            <button mat-button class="buttonscolorCancel" style="float: right; margin-left: 15px;" (click)="rejectSol()">Eliminar Solicitud</button>
            <button mat-raised-button matTooltip="Puede demorarse en descargar la información" class="buttonscolor" (click)="validateUseCase()">{{modifyFlag ? 'Modificar' : 'Crear'}} Solicitud</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>