mat-hint{
    font-size: 10px;
}

mat-error{
    font-size: 10px;
}

.mat-card{
    background-color: aliceblue;
}
 
.rowMargin{
    margin-bottom: 15px;
}

h1{
    color:#004283;
    margin-top: 3px; 
    font-weight: bold;
}

p{
    color: #004283
}

.finalRow{
    margin-right: 30px;
    padding-top: 0;
}

.finalSecRow{
    margin-bottom: 0;
}

.colClosedComment{
    bottom: 15px;
}

.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}

textarea{
    margin-top: -2px; 
    margin-bottom: -2px; 
    height: 60px; 
    resize: none;
}

.buttonscolorCancel{
    float: right;
    color: white;
    background:#004283;
    margin-left: 15px;
}

.col-5Per{
    flex: 0 0 37.666667%;
    max-width: 37.666667%;
}

.col-3File{
    flex: 0 0 18.666667%;
    max-width: 18.666667%; 
}

.col-3TDS{
    flex: 0 0 22%;
    max-width: 22%;  
}

.col-2SideButt{
    flex: 0 0 21%;
    max-width: 21%;
}

.col-2P{
    flex: 0 0 18.666667%;
    max-width: 18.666667%;  
}

.col-1Space{
    flex: 0 0 12.333333%;
    max-width: 12.333333%;
}

.closeIcon {
    color:#004283;
    font-size: 30px; 
    float: left;
}

.inputFull{
    width: 100%;
}

.inputHelp{
    width: 95%;
}

.helpPopdiv{
    width: 5%; 
    display: inline-block;
    padding-left: 5px;
} 

.margenTitle{
    width: 96%; 
    margin: -3% 0 1% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}

.rowComment{
    margin-top: -5px;
    margin-bottom: -10px;
    padding-bottom: 0;
    border-top-style: outset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}