<div class="container-fluid">
  <div class="row rowMargin">
    <div class="col-11">
      <h1 mat-dialog-title>{{tittle}}</h1>
    </div>
    <div class="col-1" style="font-size: 30px">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row rowMargin margenTitle"></div>
</div>

<div autosize>
  <div class="container-fluid" style="margin: 0;">
    <div mat-dialog-content>
      <div class="row" style="margin: 0;">
        <div class="col">
          <p style="float: right;">Solicitud realizada el día <strong>{{request.created_time}}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA MASTER" [value]="tablon.uuaaMaster" maxlength="4" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'uuaa'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-4">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NOMBRE FÍSICO" [value]="tablon.master_name" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputFull">
            <input matInput placeholder="ALIAS" [value]="tablon.alias" disabled>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERIODICIDAD" [value]="tablon.periodicity" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <mat-form-field class="inputFull">
            <input matInput placeholder="PROYECTO PRINCIPAL" [value]="tablon.project_owner" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="inputFull">
            <input matInput placeholder="CASO DE USO" [value]="request.use_case_name" disabled>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="inputFull">
            <input matInput placeholder="RESPONSABLE" [value]="tablon.user" disabled>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ESTADO TABLÓN" [value]="tablon.stateTable" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'state'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="MARCA TÁCTICO" [value]="tablon.tacticalObject" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'mark'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 col-5Per">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERIMETRO" [value]="tablon.perimeter" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PROF ACTUAL" [value]="tablon.current_depth" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'curr_prof'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PROF REQUERIDA" [value]="tablon.required_depth" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'need_prof'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <mat-form-field class="inputFull">
            <textarea rows="2" cols="20" matInput placeholder="Descripción (*)" [(ngModel)]="tablon.observationField"
              disabled>
                </textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Botones/comentario -->
    <div mat-dialog-actions *ngIf="answerFlag" class="row rowComment">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <span><strong style="color: #004283;">Resultado Solicitud:</strong></span><span> {{answerResult}}</span>
          </div>
          <div class="col">
            <span><strong>Atendida por:</strong> {{request.user_name}}</span>
          </div>
        </div>
        <div class="row" style="margin-right: 55px; margin-top: 10px;">
          <div class="col">
            <mat-form-field class="disabledF" style="width: 100%;">
              <textarea matInput placeholder="Comentario:" [formControl]="requiredFormControlComment"
                style="resize: none;" [(ngModel)]="request.comment" rows="2" cols="10" disabled></textarea>
              <mat-error *ngIf="requiredFormControlComment.hasError('required')">
                El comentario es <strong>requerido</strong>.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3 col-2SideButt">
            <button mat-button class="buttonscolorCancel" (click)="showDataTable()">
              Ver tablón
              <mat-icon class="buttonIcon">find_in_page</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div mat-dialog-actions *ngIf="!answerFlag" class="row rowComment"
      [ngClass]="{'finalRow': !viewFlag, 'finalSecRow': viewFlag}">
      <div *ngIf="!viewFlag" class="col-6 colClosedComment">
        <mat-form-field class="inputFull">
          <textarea matInput placeholder="Comentario" [formControl]="requiredFormControlComment" style="resize: none;"
            [(ngModel)]="request.comment" rows="2" cols="10" disabled></textarea>
          <mat-error *ngIf="requiredFormControlComment.hasError('required')">
            El comentario es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="!viewFlag!" class="col-3">
        <button mat-button class="buttonscolor" (click)="approveSol()">
          Aceptar Solicitud</button>
      </div>
      <div *ngIf="!viewFlag" class="col-3 col-2SideButt">
        <button mat-button class="buttonscolorCancel" (click)="rejectSol()">
          Rechazar Solicitud</button>
      </div>
      <div *ngIf="viewFlag" class="col-9"></div>
      <div *ngIf="viewFlag" class="col-3 col-2SideButt">
        <button mat-button class="buttonscolorCancel" (click)="discardSol()">
          Descartar Solicitud</button>
      </div>
    </div>
  </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 400px;">
    <mat-card-content *ngIf="activeHelp === 'uuaa'">
      UUAA final del tablón que se forma despues de seleccionar el ámbito y la uuaa de master. con el ámbito de la uuaa
      el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno local de Colombia.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'phys_name'">
      Nombre físico del tablon, que se genera a partir de la UUAA final, el alias y la descripcion del alias.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'periodicity'">
      Frecuencia de actualización de la información contenida en el objeto.
      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
      objeto.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'status'">
      Estado del diccionariado del tablón, el cual puede ser Propuesta en cual significa que se estan proponiendo y
      asignando
      los namings necesarios o Gobierno el cual es que esta en revision previo a paso de Arquitectura y Producción.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'mark'">
      Identificador de si el objeto que se está aprovisionando en un sistema
      no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un
      objecto de creación táctica que se debe gestionar a posteriori como deuda técnica.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'perimeter'">
      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
      contrapartida, tipo de cliente, titularidad, …).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'curr_prof'">
      Profundidad histórica actual que se posee de dicha tabla/fichero
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'need_prof'">
      Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los
      requerimientos existentes sobre la misma.
    </mat-card-content>
  </mat-card>
</mde-popover>