.fullInput {
  width: 100%;
}

.inputHelp {
  width: 93%;
  display: inline-block;
}

h1 {
  color: #004283;
  margin-top: 3px;
  margin-right: 10px;
  font-weight: bold;
  display: contents;
}

h3 {
  color: #004283;
  font-weight: bold;
}

.row-margin {
  padding-top: 20px;
  border-top-style: outset;
}

.mat-card {
  max-width: 305px;
  background-color: aliceblue;
}

.mat-icon-button.small {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    color: #004283;
  }
}

.margenTitle {
  margin-bottom: 10px;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thick;
}

.subMargen {
  width: 100%;
  margin-bottom: 3%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

::ng-deep .dirty.mat-form-field .mat-form-field-label {
  color: orange !important;
}
::ng-deep .dirty.mat-form-field .mat-form-field-underline {
  background-color: orange;
}
