<div class="container-fluid">
  <div class="row" style="height: 40px">
    <div class="col-10">
      <h1 mat-dialog-title>{{new_user_flag ? 'Creación' : 'Información'}} Usuario</h1>
      <ng-container *ngIf="new_user_flag" [ngTemplateOutlet]="help_div"
        [ngTemplateOutletContext]="{ help_type: 'create_user' }">
      </ng-container>
    </div>
    <div class="col-2" style="font-size: 30px; padding-left: 20px">
      <button mat-icon-button matTooltip="Cancelar" [mat-dialog-close]="null" style="float: right">
        <mat-icon class="close-icon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <mat-form-field class="fullInput" [ngClass]="{'dirty': datas.name != bk_name}">
          <input matInput placeholder="Nombre" [(ngModel)]="datas.name">
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="fullInput" [ngClass]="{'dirty': datas.email != bk_email}">
          <input matInput placeholder="Email" [(ngModel)]="datas.email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="inputHelp" [ngClass]="{'dirty': datas.rol != bk_rol}">
          <mat-select placeholder="Rol" [(ngModel)]="datas.rol" required>
            <mat-option *ngFor="let rol of rolOptions" [value]="rol.value">
              {{rol.value}} - {{rol.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col"></div>
      <div class="col" style="top: 15px;">
        <button *ngIf="!new_user_flag" mat-button class="important-button" style="float: right;"
          (click)="resetPassword()">
          Reiniciar Pass<mat-icon class="buttonIcon">loop</mat-icon>
        </button>
      </div>
    </div>
    <section *ngIf="!new_user_flag">
      <div class="row">
        <span style="font-size: 18px; font-weight: bold; color: #939393; margin-right: 10px;">Proyectos como VoBo</span>
        <ng-container [ngTemplateOutlet]="help_div" [ngTemplateOutletContext]="{ help_type: 'vobo_projects' }">
        </ng-container>
      </div>
      <div class="row row-margin">
        <div class="col-4">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectChange($event.value)" required>
              <mat-option *ngFor="let proj of projectOptions" [value]="proj">
                {{proj.name}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5" style="top: 10px;">
          <button mat-raised-button class="buttons valid-button" [disabled]="foundVobo || selectedProject == null"
            (click)="editVoboToProject('add')">
            Agregar VoBo</button>
          <button mat-raised-button class="buttons danger-button" style="margin-left: 15px;"
            [disabled]="!foundVobo || selectedProject == null" (click)="editVoboToProject('remove')">
            Remover VoBo</button>
        </div>
      </div>
    </section>
    <div class="row">
      <span style="font-size: 18px; font-weight: bold; color: #939393;">Equipos</span>
      <ng-container [ngTemplateOutlet]="help_div" [ngTemplateOutletContext]="{ help_type: 'user_teams' }">
      </ng-container>
    </div>
    <div class="row row-margin">
      <div class="col-4">
        <mat-form-field class="inputHelp">
          <mat-select placeholder="Equipo" (selectionChange)="selectedTeamChange($event.value)" required>
            <mat-option *ngFor="let team of team_options" [value]="team">
              {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5" style="top: 10px;">
        <button mat-raised-button class="buttons valid-button" [disabled]="team_found || selectedTeam == null"
          (click)="editTeamToUser('add')">
          Agregar Equipo</button>
        <button mat-raised-button class="buttons danger-button" style="margin-left: 15px;"
          [disabled]="!team_found || selectedTeam == null" (click)="editTeamToUser('remove')">
          Remover Equipo</button>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col">
        <div style="width: 100%; background-color: azure;">
          <button mat-raised-button class="buttons" style="float: right;" (click)="confirm()">
            {{new_user_flag ? 'Crear' : 'Confirmar Cambios'}} Usuario</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--HELP DIV POPUP-->
<ng-template #help_div let-help_type="help_type">
  <button mat-icon-button class="small" (click)="active_help = help_type" [mdePopoverTriggerFor]="popover_help"
    mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
    <mat-icon>help</mat-icon>
  </button>
</ng-template>
<!-- Mensajes de ayuda -->
<mde-popover #popover_help="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card class="small-mat-card">
    <mat-card-content *ngIf="active_help === 'create_user'">La creación de usuarios no incluye agregar el nuevo usuario
      como VoBo de un proyecto <br>
      Para agregar un nuevo usuario como VoBo es necesario primero crearlo y luego editar su estado como VoBo.
      La contraseña por defecto para usuarios nuevos por aquí es: 'password'.
    </mat-card-content>
    <mat-card-content *ngIf="active_help === 'vobo_projects'"><strong>Proyectos a los que pertenece como
        VoBo:</strong><br>
      <span *ngFor="let vopo of voboProjects">
        <strong>-</strong> {{vopo}}<br>
      </span>
    </mat-card-content>
    <mat-card-content *ngIf="active_help === 'user_teams'"><strong>Equipos a los que pertenece el usuario:</strong><br>
      <span *ngFor="let team of this.data.teams">
        <strong>-</strong> {{team.name}}<br>
      </span>
    </mat-card-content>
  </mat-card>
</mde-popover>