<div>
  <div class="container-fluid">
    <div class="row" style="height: 40px;">
      <div class="col-10">
        <h1 *ngIf="!voboFlag && !funcGovFlag" mat-dialog-title>Comentarios naming - {{data.row.naming.naming}}</h1>
        <h1 *ngIf="voboFlag && !funcGovFlag" mat-dialog-title>Comentarios VoBo - {{data.naming.naming}}</h1>
        <h1 *ngIf="funcGovFlag" mat-dialog-title>Comentarios Gob. Funcional - {{data.row.legacy.legacy}}</h1>
      </div>
      <div class="col-2" style="font-size: 30px; padding-left: 20px;">
        <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right;">
          <mat-icon class="closeIcon">clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="row margenTitle"></div>
  </div>

  <!-- Lista Comentarios -->
  <div *ngIf="data.row.comments.length > 0">
    <div class="container todo" style="overflow: auto;">
      <div class="row" style="margin: 10px 0 0 0; color: #004283">
        <div *ngIf="!voboFlag" class="col-2">
          <span class="columnHeaders">RAZÓN</span>
        </div>
        <div class="col-2">
          <span class="columnHeaders">FECHA</span>
        </div>
        <div class="col">
          <span class="columnHeaders">DETALLES COMENTARIO</span>
        </div>
        <div class="col-3">
          <span class="columnHeaders">AUTOR</span>
        </div>
      </div>
      <div *ngFor="let item of data.row.comments; let i=index" class="row filaComentario" style="margin-top: 20px;">
        <div *ngIf="!voboFlag" class="col-2" >
          <!--style="margin-top: 5px; padding-left: 10px;"-->
          <span style="font-weight: bold;">{{item.reasonReturn}}</span>
        </div>
        <div class="col-2">
          <span>{{item.date ? item.date : '-'}}</span>
        </div>
        <div class="col">
          <textarea style="color: black; font-size: 13px;" rows="2" cols="47" matInput disabled 
          value="{{voboFlag ? splitCommentVoBo(item) : item.comment}}"></textarea>
        </div>
        <div class="col-3 authorContent">
          <!--style="margin-top: 5px; padding-left: 20px;"-->
          <span>{{voboFlag ? splitUserNameVobo(item) : getUserName(item)}}</span>
        </div>
        <div>
          <button *ngIf="checkDelete(i)" mat-icon-button class="deleteCommentButton" matTooltip="Eliminar comentario" 
          (click)="(voboFlag ? deleteCommentVoBo(i) : deleteComment(i))">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.row.comments.length === 0" class="container" style="text-align: center; margin: 4% 0 4% 0;">
    <div class="row" style="display: inline-block;">
      <span style="font-size: 16px; font-weight: bold; font-style: italic;"> NO HAY COMENTARIOS </span>
    </div>
  </div>
  <!-- Agregar -->
  <mat-expansion-panel style="margin-top: 2%;" hideToggle="true" [expanded]="data.row.comments.length === 0">
    <mat-expansion-panel-header class="agregarHeader">
      <mat-panel-title>
        <span style="color:#004283;">Agregar comentario</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div style="font-size: 12px;">
        <div class="row subMargen"></div>
        <div class="row">
          <div class="col-6" *ngIf="!voboFlag && data.userRol === 'G'" style="width: 100%; margin-top: 2%; margin-bottom: -4%">
            <mat-form-field class="selectRazon">
              <mat-label>RAZÓN</mat-label>
              <mat-select placeholder="Razón" [(ngModel)]="newReason">
                <mat-option *ngFor="let r of reasons" [value]="r.error">
                  {{r.error}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row finalMargen">
          <div class="col-10" style="margin-right: inherit;">
            <mat-form-field class="tableFields" style="width: 100%; padding-bottom: 0;" requiered>
              <textarea style="resize: none;" rows="2" cols="47" placeholder="OBSERVACIÓNES" matInput
                [(ngModel)]="newComment"></textarea>
            </mat-form-field>
          </div>
          <div class="col-2" style="padding-top: 3.5%; padding-bottom: 10px;">
            <button mat-button (click)="(voboFlag ? addCommentVoBo() : addComment())">
              Agregar<mat-icon style="margin-left: 10px;">add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </mat-expansion-panel>
</div>