h1 {
    color:#004283;
    margin-top: 3px; 
    font-weight: bold;
}

.closeIcon {
    color:#004283;
    font-size: 30px; 
    float: left;
}

.margenTitle{
    width: 96%; 
    margin: 0 0 2% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}

.subMargen {
    margin-bottom: 3%; 
    margin-top: -10px;
    width: 100%; 
    border-bottom-color: #2DCCCD;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.columnHeaders {
    font-size: 16px !important;
    //font-style: oblique; 
    font-weight: bold;
}

.finalMargen {
    margin-top: 1%;     
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.menuIcon {
    margin-right: 5px;
}

.matHead{
    width: fit-content; 
}

.filaComentario{
    padding-bottom: 0.5%;
    margin: 0 1% 1% 1%;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.selectRazon{
    width: 255px; 
    margin: 1% 0 1% 5%;
}

.comentarioHeader {
    flex: 0 0 57.333333%;
    max-width: 57.333333%;
}

.authorContent {
    flex: 0 0 20%;
    max-width: 20%;
}

.todo span{
    font-size: 12px;
}

.agregarHeader {
    background-color:#d4edf9;
    color:#004283;
}

.deleteCommentButton{
    color: #e84c3c99;
    bottom: 10px;
}