<div class="body">
  <div class="headerBanner">
    <span class="headerText">Bienvenidos a Nebula :: DATA HUB - PROYECTO GOBIERNO</span>
    <img src="assets/images/nebulaLogo.png" width="initial" height="80px" style="float: right;">
  </div>
  <div class="container-fluid subMargen">
    <div class="row">
      <div class="divH2">
        <h4>Registrar Nuevo Usuario</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-bottom: 2%;">
    <div class="row">
      <div class="col-4">
        <ng-container *ngTemplateOutlet="mainFields"></ng-container>
      </div>
      <div class="col">
        <ng-container *ngTemplateOutlet="hintPost"></ng-container>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid inside">
      <div class="row">
        <div class="col" style="text-align: right !important;">
          <small class="year text-muted">2020</small>
          <img width="60" src="/assets/images/logoBBVA.png">
        </div>
      </div>
    </div>
  </footer>
</div>

<ng-template #mainFields>
  <div class="container-fluid mainContainer">
    <div class="row">
      <div class="col-5">
        <mat-form-field appearance="outline">
          <mat-label>Nombre y Apellidos</mat-label>
          <input matInput [formControl]="user" required>
          <mat-error *ngIf="user.invalid">El nombre es obligatorio</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput [formControl]="email" required>
          <mat-error *ngIf="email.errors?.required">El correo es obligatorio</mat-error>
          <mat-error *ngIf="email.errors?.pattern">El correo tiene formato invalido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [formControl]="pass" [type]="hide ? 'text' : 'password'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="pass.invalid && (pass.dirty || pass.touched) && pass.errors.minlength">La longitud mínima son 8 caracteres</mat-error>
            <mat-error *ngIf="pass.invalid && (pass.dirty || pass.touched) &&  pass.errors.required">La contraseña es obligatoria</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Repetir Contraseña</mat-label>
          <input matInput [formControl]="pass2" [type]="hide2 ? 'text' : 'password'" required>
          <button mat-icon-button matSuffix (click)="hide2 = !hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="pass2.errors?.comparePass">Las contraseñas no son iguales</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="float: right; margin-right: 5%;">
      <button mat-button class="button-query-global" style="margin-left: 1%; margin-right: 1%;" (click)="register()">
        Registrar Usuario
      </button>
    </div>
  </div>
</ng-template>

<ng-template #hintPost>
  <div class="hintContainer">
    <div class="home-big" role="alert">
      <mat-icon>error</mat-icon>
      <h4 class="alert-heading">Detalles del proceso en Nebula</h4>
      <div class="alert-body">
        Los usuarios registrados por este medio necesitan aprobación de los administradores para empezar a usar Nebula,
        mientras tanto tienen permisos igual que un invitado.
      </div>
    </div>
  </div>
</ng-template>