.headerBanner{
  height: 80px;
  background: #004283;
  line-height: 80px;
  text-align: left;
}
.headerText{
  color: white;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 25px;
}
.mainContainer {
  margin: 5% 0 0 10%;
  mat-form-field {
      display: block;
      width: 360px;
 }
}
.hintContainer {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  margin: 1.5rem 1.5rem 1.5rem 100px;
  padding: .75rem 1.25rem .75rem 2rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 70%;
}
.divH2{
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}
.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}
.body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}
.footer {
  height: 50px;
  display: table-row;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  background-color: #f8f9fa;
  .inside {
      height: 50px;
      padding-top: 8px;
 }
}
.alert-heading {
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
}
.footer .year {
  vertical-align: bottom;
}

.footer .year:after {
  padding-left: 8px;
  padding-right: 8px;
  content: '|';
}