<app-toolbar></app-toolbar>
<div class="container-fluid subMargen">
    <div class="row">
        <div class="divH2">
            <h2>Tablones</h2>
        </div>
    </div>
</div>
<div class="tabGroup allContain">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="">
            <mat-accordion>
                <ng-container *ngTemplateOutlet="tablonInfor"></ng-container>
                <ng-container *ngTemplateOutlet="originTables"></ng-container>
                <ng-container *ngTemplateOutlet="queryNamings"></ng-container>
            </mat-accordion>
            <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #tableTemplate>
    <div class="tablonTable">
        <ngx-datatable #myTable class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50" [limit]="rowsLimit" [rowHeight]="'100'" [rows]="tablonFields" [scrollbarH]="true" [scrollbarV]="false" (page)="onPaginated($event)" [loadingIndicator]="loadingIndicator">
            <ngx-datatable-row-detail #myDetailRow [rowHeight]="250">
                <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded">
                    <div class="container-fluid rowDetailed">
                        <div class="row">
                            <div class="col-6 rowDetailRBorder backgroundAddOrName">
                                <div style="margin-top: 5px;">
                                    <div class="row subTitle">
                                        <div>
                                            <h5>Agregar Namings</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="fullInput">
                                                <input matInput placeholder="Origen" [matAutocomplete]="autoOrigin" [formControl]="originsControl" (blur)="checkSelectedOrigin()">
                                            </mat-form-field>
                                            <mat-autocomplete [panelWidth]="320" #autoOrigin="matAutocomplete" [displayWith]="displayOrigin" (optionSelected)="updateSelectedOrigin($event)">
                                                <mat-option *ngFor="let option of filteredOrigins | async" class="selectPretty" [value]="option">
                                                    <span>{{calcAlias(option.originName, option.originType)}} | </span>
                                                    <small style="color: #004283;">{{option.originName}}</small>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field class="fullInput">
                                                <input matInput placeholder="Naming" [matAutocomplete]="autoName" [formControl]="namingsControl" (blur)="checkSelectedNaming()">
                                            </mat-form-field>
                                            <mat-autocomplete [panelWidth]="320" #autoName="matAutocomplete" [displayWith]="displayNaming" (optionSelected)="updateSelectedNaming($event)">
                                                <mat-option *ngFor="let name of filteredNames | async" class="selectPretty" [value]="name">
                                                    <span>{{name.naming.naming}}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <mat-form-field class="auto-full-width">
                                                <input matInput placeholder="Nombre Lógico" value="{{selNamingFlag ? selectedNaming.logic : ''}}" disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field class="auto-full-width" style="display: inline-block;">
                                                <input matInput placeholder="Formato Gobierno" value="{{selNamingFlag ? selectedNaming.logicalFormat : ''}}" disabled>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-11">
                                            <mat-form-field class="fullInput">
                                                <textarea matInput rows="4" cols="30" placeholder="Descripción" value="{{selNamingFlag ? selectedNaming.description : ''}}" disabled>
                      </textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col">
                                            <button mat-raised-button class="buttons infoButton" (click)="namingDetails(selectedNaming, selectedOrigin)" [disabled]="!selNamingFlag">
                                                <mat-icon style="font-size: 25px; margin-right: 5px;">zoom_in</mat-icon>
                                                Info Naming
                                            </button>
                                            <button mat-raised-button class="addNamingButton" (click)="addNamingOrigin(row)" [disabled]="!selNamingFlag">
                                                <mat-icon style="margin-right: 5px;">add_circle</mat-icon> Agregar
                                                Naming
                                            </button>
                                            <button *ngIf="row.originNamings.length > 0" mat-flat-button matTooltip="Solo se puede cargar directo cuando no hay namings de origen" class="buttons directButton disabled">
                                                <mat-icon style="font-size: 25px; margin-right: 5px;">cached</mat-icon>
                                                Cargar Naming Directo
                                            </button>
                                            <button *ngIf="row.originNamings.length === 0" mat-raised-button class="buttons directButton" (click)="editDirectNaming(row)" [disabled]="!selNamingFlag">
                                                <mat-icon style="font-size: 25px; margin-right: 5px;">cached</mat-icon>
                                                Cargar Naming Directo
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 backgroundAddOrNameTwo">
                                <div style="margin-top: 5px;">
                                    <div *ngIf="row.originNamings.length == 0" class="container-fluid" style="text-align: center;">
                                        <div class="row subTitle">
                                            <div>
                                                <h5>Origenes Agregados</h5>
                                            </div>
                                        </div>
                                        <span>No hay namings de origen cargados</span>
                                    </div>
                                    <div *ngIf="row.originNamings.length > 0" class="container-fluid">
                                        <div class="row subTitle">
                                            <div>
                                                <h5>Origenes Agregados</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col originTable pepe">
                                                <ngx-datatable class='material tableClass' style="width: 100%;" [rows]='row.originNamings' [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="45" [scrollbarH]="true" [scrollbarV]="false" [limit]="5">
                                                    <ngx-datatable-column name="Origen" prop="table_name" [width]="170" [sortable]="true">
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Naming" prop="naming" [width]="140" [sortable]="true">
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column [cellClass]="'expandIconClass'" name="Acciones" [width]="100" [sortable]="false">
                                                        <ng-template ngx-datatable-cell-template let-row2="row">
                                                            <button mat-icon-button matTooltip="Ver naming" (click)="namingDetailsFromOrigin(row2)" style="bottom: 2px;">
                                                                <mat-icon style="font-size: 25px;" class="buttonIcon">
                                                                    zoom_in</mat-icon>
                                                            </button>
                                                            <button mat-icon-button matTooltip="Remover naming origen" (click)="removeOrigin(row, row2)" style="bottom: 3px;">
                                                                <mat-icon class="buttonIcon">remove_circle</mat-icon>
                                                            </button>
                                                            <button mat-flat-button *ngIf="row.originNamings.length === 1 && checkDirectOriginNaming(row)" class="directLabel"> Directo</button>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column name="No." [width]="50" prop="column" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{row.column+1}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Editar Orígenes" [cellClass]="getGenCellOrigins" [width]="110" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div style="text-align: center;" [matTooltip]="checkGeneratedStatus(row) === 1 
            ? 'No se pueden agregar orígenes cuando hay valor por defecto' : 'Agregar namings de origen'">
                        <button mat-icon-button class="expandButton" [ngClass]="{'activeDetails': activeDetailsCheck(row.column)}" (click)="toggleExpandRow(row)" [disabled]="checkGeneratedStatus(row) === 1">
                            <mat-icon>assignment</mat-icon>
                        </button>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Naming" [width]="190" [sortable]="false" prop="naming.naming" [cellClass]="getCellClass">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-naming'] = true; value === 'empty' ? value = '' : value = value;" *ngIf="!editing[(row.column) + '-naming']">{{row.naming.naming === '' ? 'empty' :
                        row.naming.naming}}</span>
                    <input autofocus style="width: 100%;" *ngIf="editing[(row.column) + '-naming']" (change)="updateValue($event.target.value, row, 'naming')" (blur)="editing[(row.column) + '-naming'] = false" [value]="value" maxlength="32" pattern="[a-zA-Z0-9]*" (input)="inputValidatorNamingS($event, 'naming')"
                        ng-pattern-restrict />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre Lógico" [width]="250" prop="logic" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span matTooltip="{{row.logic}}" (dblclick)="editing[(row.column) + '-logic'] = true; value === 'empty' ? value='' : value=value;" *ngIf="!editing[(row.column) + '-logic'] "> {{row.logic === '' ? 'empty' : row.logic}}</span>
                    <textarea autofocus (blur)="!editing[(row.column) + '-logic'] = false" (change)="updateValue($event.target.value, row, 'logic')" *ngIf="editing[(row.column) + '-logic']" type="text" maxlength="55" [value]="value" pattern="[a-zA-Z0-9]*" (input)="inputValidatorNamingS($event, 'logic')"
                        ng-pattern-restrict rows="4" cols="25"></textarea>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descripción" [width]="260" prop="description" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <textarea id="infotext" readonly="readonly" matTooltip="{{ row.description }}" *ngIf="!editing[row.column + '-description']" (dblclick)="editing[row.column + '-description'] = true;" autofocus>{{ row.description === "" ? "empty" : row.description }}</textarea>
                    <textarea id="edittext" *ngIf="editing[row.column + '-description']" (blur)="!(editing[row.column + '-description'] = false)" (change)="updateValue($event.target.value, row, 'description')" [value]="value" autofocus></textarea>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Catálogo" prop="catalogue" [width]="90" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="{{row.catalogue}}" *ngIf="!editing[(row.column) + '-catalogue']" (dblclick)="editing[(row.column) + '-catalogue'] = true; value === 'empty' ? value='' : value=value;">
                        {{row.catalogue === '' ? 'empty' : row.catalogue}}</span>
                    <textarea autofocus (blur)="!editing[(row.column) + '-catalogue'] = false" (change)="updateValue($event.target.value, row, 'catalogue')" *ngIf="editing[(row.column) + '-catalogue']" type="text" [value]="value" rows="4" cols="7"></textarea>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Longitud" [width]="80" prop="length" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                    <span *ngIf="!editing[(row.column) + '-length']" title="Doble clic para editar." (dblclick)="editing[(row.column) + '-length'] = true"> {{row.length}}</span>
                    <input *ngIf="editing[(row.column)+ '-length']" type="number" min="0" autofocus (blur)="!editing[(row.column) + '-length'] = false" (change)="updateValue($event.target.value, row, 'length');" [value]="value" ng-pattern-restrict="[0-9]*" class="input-length"
                    />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Key" [width]="65" prop="key" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="Doble clic para editar" *ngIf="!editing[(row.column) + '-key'] " (dblclick)="editing[(row.column) + '-key'] = true; "> {{row.key == 1 ? "YES" : "NO"}}</span>
                    <mat-select class="select-destinationType" style="width: 50px;" *ngIf="editing[(row.column) + '-key']" (closed)="!editing[(row.column) + '-key'] = false" (selectionChange)="updateValue($event.value, row, 'key')" [value]="row.key">
                        <mat-option value=1>YES</mat-option>
                        <mat-option value=0>NO</mat-option>
                    </mat-select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mandatory" [width]="80" prop="mandatory" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-mandatory'] = true; value === 'empty' ? value='' : value=value;" *ngIf="!editing[(row.column) + '-mandatory'] "> {{row.mandatory == 1 ? "YES" : "NO"}}</span>
                    <select style="width: 50px;" *ngIf="editing[(row.column) + '-mandatory']" (blur)="!editing[(row.column) + '-mandatory'] = false" (change)="updateValue($event.target.value, row, 'mandatory')" [value]="value">
                        <option value=1>YES</option>
                        <option value=0>NO</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tipo de dato" prop="dataType" [width]="130" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="Doble clic para editar" (click)="editing[(row.column) + '-dataType'] = true; value === 'empty' ? value='' : value=value; dataTypeList(row, false)" *ngIf="!editing[(row.column) + '-dataType']">
                        {{row.dataType.trim() == '' ? "empty" : row.dataType}}</span>
                    <select class="mat-select select-Y-N select-destinationType" style="width: 100%;" *ngIf="editing[(row.column) + '-dataType']" (blur)="!editing[(row.column) + '-dataType'] = false" (change)="updateValue($event.target.value, row, 'dataType')" [value]="value">
                        <option [value]="type" *ngFor="let type of arraySuffixTmp">{{type}}</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Formato Lógico" [width]="180" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div *ngIf="row.dataType.trim() != 'STRING' || row.naming.naming.split('_')[row.naming.naming.split('_').length-1] != 'desc'">
                        <span>{{row.logicalFormat}}</span>
                    </div>
                    <div *ngIf="row.dataType.trim() === 'STRING' && row.naming.naming.split('_')[row.naming.naming.split('_').length-1] === 'desc'">
                        <span title="Doble clic para editar" *ngIf="!editing[row.column + '-logicalFormat']" (dblclick)="getSecondaryLogicalF(row); editing[row.column + '-logicalFormat'] = true;">
                            {{row.logicalFormat}} </span>
                        <mat-select class="select-Y-N select-destinationType" *ngIf="editing[(row.column) + '-logicalFormat']" (closed)="!editing[(row.column) + '-logicalFormat'] = false" (selectionChange)="updateSecondaryLogicalF($event.value, row)" [value]="tmpSecondaryLogicalF">
                            <mat-option [value]="opt" *ngFor="let opt of logicalFormatDescOptions">{{opt}}</mat-option>
                        </mat-select>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Formato" [width]="170" prop="format" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="!row.logicalFormat.includes('DECIMAL')">
                        <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-format'] = true; value === 'empty' ? value='' : value=value;" *ngIf="!editing[(row.column) + '-format'] "> {{row.format.trim() === '' ? 'empty' :
                            row.format}}</span>
                        <textarea autofocus (blur)="!editing[(row.column) + '-format'] = false" type="text" (change)="updateValue($event.target.value, row, 'format')" *ngIf="editing[(row.column) + '-format']" maxlength="55" [value]="value" rows="3" cols="15"></textarea>
                    </div>
                    <div *ngIf="row.logicalFormat.includes('DECIMAL')">
                        <span title="Doble clic para editar." (click)="editing[row.column + '-format'] = true;value === 'empty' ? value='' : value=value;" *ngIf="!editing[row.column + '-format']"> {{row.format}} </span>
                        <div *ngIf="editing[(row.column)+ '-format']"> ( <input type="number" min="0" autofocus (blur)="!editing[(row.column) + '-format'] = false" (change)="updateValue($event.target.value, row, 'format_int');" [value]="getNumberIntegerDecimals(row.format, 0)" ng-pattern-restrict="[0-9]*"
                                class="input-length" style="width: 25%;" /> , <input type="number" min="0" autofocus (blur)="!editing[(row.column) + '-format'] = false" (change)="updateValue($event.target.value, row, 'format_dec');" [value]="getNumberIntegerDecimals(row.format, 1)"
                                ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" /> ) </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Default" [cellClass]="getGenCellDef" [width]="110" [sortable]="false" prop="default">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="checkGeneratedStatus(row) === 2" matTooltip="El campo no puede recibir valores por defecto con orígenes">{{row.default === '' ?
                        'empty' :
                        row.default}}</span>
                    <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-default'] = true; value === 'empty' ? value = '' : value = value;" *ngIf="checkGeneratedStatus(row) !== 2 && !editing[(row.column) + '-default']">{{row.default ===
                        '' ?
                        'empty' : row.default}}</span>
                    <input autofocus style="width: 100%;" *ngIf="editing[(row.column) + '-default']" (change)="updateValue($event.target.value, row, 'default')" (blur)="editing[(row.column) + '-default'] = false" [value]="value" maxlength="32" pattern="[a-zA-Z0-9]*" ng-pattern-restrict
                    />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Orígenes" [width]="140" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.originNamings.length > 0">
                        <div *ngFor="let obj of aliases[row.column]">
                            <span><strong>{{obj}}</strong></span><br>
                        </div>
                    </div>
                    <div *ngIf="!row.originNamings.length > 0">
                        <span>empty</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Comentarios Técnicos" [width]="290" prop="operation" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span matTooltip="{{row.operation}}" (dblclick)="editing[(row.column) + '-operation'] = true; value === 'empty' ? value='' : value=value;" *ngIf="!editing[(row.column) + '-operation'] "> {{row.operation.trim() === '' ? 'empty' :
                        row.operation}}</span>
                    <textarea autofocus (blur)="!editing[(row.column) + '-operation'] = false" (change)="updateValue($event.target.value, row, 'operation')" *ngIf="editing[(row.column) + '-operation']" type="text" [value]="value" rows="4" cols="20"></textarea>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tokenización" [width]="150" prop="tokenization" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-tokenization'] = true; value === '' ? value='empty' : value=value;" *ngIf="!editing[(row.column) + '-tokenization']">{{value==='' ? 'empty' : value}}</span>
                    <mat-select class="select-Y-N select-destinationType" *ngIf="editing[(row.column) + '-tokenization']" (closed)="editing[(row.column) + '-tokenization'] = false" (selectionChange)="updateValue($event.value, row, 'tokenization')" [value]="value" style="width: 100%;">
                        <mat-option value="empty">empty</mat-option>
                        <mat-option value="alphanumeric">alphanumeric</mat-option>
                        <mat-option value="alphanumeric extended">alphanumeric extended</mat-option>
                        <mat-option value="pin_key">pin_key</mat-option>
                        <mat-option value="cvv">cvv</mat-option>
                        <mat-option value="biometric_print">biometric_print</mat-option>
                        <mat-option value="sensitive">sensitive</mat-option>
                        <mat-option value="phone">phone</mat-option>
                        <mat-option value="pan">pan</mat-option>
                        <mat-option value="email">email</mat-option>
                        <mat-option value="multilabel_fe">multilabel_fe</mat-option>
                        <mat-option value="ss">ss</mat-option>
                        <mat-option value="license_plate">license_plate</mat-option>
                        <mat-option value="account_number">account_number</mat-option>
                        <mat-option value="business_fuc">business_fuc</mat-option>
                        <mat-option value="identity_document">identity_document</mat-option>
                        <mat-option value="geolocation">geolocation</mat-option>
                        <mat-option value="cadastral_reference">cadastral_reference</mat-option>
                        <mat-option value="name">name</mat-option>
                        <mat-option value="id_ssnn">id_ssnn</mat-option>
                        <mat-option value="device">device</mat-option>
                        <mat-option value="address">address</mat-option>
                        <mat-option value="counterpart">counterpart</mat-option>
                        <mat-option value="electronic_signature">electronic_signature</mat-option>
                        <mat-option value="multilabel_pi">multilabel_pi</mat-option>
                        <mat-option value="birth">birth</mat-option>
                    </mat-select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TDS" [width]="80" prop="tds" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-tds'] = true; value === 'empty' ? value='' : value=value;" *ngIf="!editing[(row.column) + '-tds'] "> {{row.tds == 1 ? "YES" : "NO"}}</span>
                    <select style="width: 50px;" *ngIf="editing[(row.column) + '-tds']" (blur)="!editing[(row.column) + '-tds'] = false" (change)="updateValue($event, row, 'tds')" [value]="value">
                        <option value=1>YES</option>
                        <option value=0>NO</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="VoBo" [sortable]="false" [cellClass]="getStatusRow">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <span *ngIf="row.check.comments.length > 0" matTooltip="{{row.check.comments[0]}}">
                        {{row.check.comments[0]}}
                    </span>
                    <br>
                    <button mat-icon-button (click)="commentsWindowsVoBo(row)">
                        <mat-icon>assignment_turned_in</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="280" name="Acciones" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <button matTooltip="Comentarios" mat-icon-button (click)="commentsWindows(row)">
                        <mat-icon>comment</mat-icon>
                    </button>
                    <button matTooltip="Validar naming" mat-icon-button (click)="validateNaming(row)">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <button matTooltip="Crear naming arriba" mat-icon-button (click)="addAboveFieldReview(row)">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button matTooltip="Crear naming abajo" mat-icon-button (click)="addBelowFieldReview(row)">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                    <button matTooltip="Eliminar naming" (click)="deleteRow(row)" mat-icon-button>
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-5">
                                <span>Filas:</span>
                                <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)" (change)="_changeRowLimits($event)" />
                                    </mat-form-field>
                                </div>
                                <span>| Total: {{rowCount}}</span>
                            </div>
                            <div class="col" style="padding-top: 10px;">
                                <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                                </datatable-pager>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</ng-template>
<ng-template #originTables>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold">
                <div>
                    <span>Fuentes de origen</span>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-fluid">
            <div class="row bottomMarginAddOrigins">
                <div style="display: inline;">
                    <button mat-button class="addOriginButt buttHover" style="float: left;" (click)="searchTables('T')">
                        Agregar Tablas Origen <mat-icon class="buttonIcon">add_circle</mat-icon>
                    </button>
                </div>
                <div style="display: inline;">
                    <button mat-button class="addOriginButt addTablonOriginButton buttHoverDT" style="float: left;" (click)="searchTables('DT')"> Agregar Tablones Origen <mat-icon class="buttonIcon">add_circle
                        </mat-icon>
                    </button>
                </div>
                <div style="display: inline; margin-left: 10px;">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" style="top: 8px;" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originTables'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row originTable originHeight">
                <ngx-datatable class='material' style="width: 100%;" [rows]='selectedOriginOptions' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="5">
                    <ngx-datatable-column name="Nombre" prop="baseName" [width]="80" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Descripción" prop="observationField" [width]="150" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="UUAA Raw" prop="uuaaRaw" [width]="30" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-row="row"> {{row.uuaaRaw ? row.uuaaRaw : '----'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" [width]="40" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre Raw" prop="raw_name" [cellClass]="getCellClassRaw" [width]="150" [sortable]="true">
                        <ng-template ngx-datatable-cell-template let-row="row"> {{row.raw_name ? row.raw_name : '----'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre Master" prop="master_name" [cellClass]="getCellClassMaster" width="150" [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="SELECCIONAR FASE" [width]="250" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div *ngIf="row.uuaaRaw">
                                <button mat-button style="margin-right: 10px;" (click)="selectFase(row, 'RAW')" [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'RAW'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'RAW' }">
                                    Raw</button>
                                <button mat-button style="margin-right: 35px;" (click)="selectFase(row, 'MASTER')" [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'MASTER'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'MASTER' }">
                                    Master</button>
                                <button mat-button matTooltip="Remover tabla origen" class="deleteOriginTableButt" (click)="removeOriginTable(row)">
                                    <mat-icon class="buttonIcon">remove_circle</mat-icon>
                                </button>
                            </div>
                            <div *ngIf="!row.uuaaRaw">
                                <button mat-button style="margin-right: 10px; margin-left: 35px;" class="selectedDT" disabled>
                                    Tablón</button>
                                <button mat-button matTooltip="Remover tabla origen" class="deleteOriginTableButt" (click)="removeOriginTable(row)">
                                    <mat-icon class="buttonIcon">remove_circle</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </mat-expansion-panel>
</ng-template>
<ng-template #tablonInfor>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold">
                <span><span style="font-style: oblique;"> {{tablonInfo.master_name}}
                    </span>
                </span>
            </mat-panel-title>

            <mat-panel-description>{{tablonInfo.alias}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-2Eleven">
                    <mat-form-field class="inputHelp">
                        <input class="inputHelp" matInput placeholder="UUAA FINAL" [(value)]="tablonInfo.uuaaMaster" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'finalUuaa'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-3 col-3Name">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="NOMBRE FÍSICO" [(value)]="tablonInfo.master_name" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-3">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="PROYECTO ORIGINAL" [(value)]="tablonInfo.project_owner" disabled>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="ESTADO TABLÓN" [(value)]="stateTableClean" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row rowUpperBorder">
                <div class="col-2 col-2Eleven">
                    <mat-form-field class="inputHelp">
                        <mat-select #selectorAmbito placeholder="ÁMBITO" (selectionChange)="selectedAmbito($event.value)" [(ngModel)]="currAmbito" [formControl]="formControlAmbito" required>
                            <mat-option *ngFor="let ambito of ambitoOptions" [value]="ambito.letter">
                                {{ambito.letter}} - {{ambito.country}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formControlAmbito.hasError('required') && false"> El ambito es
                            <strong>requerida</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-1">
                    <mat-form-field style="width: 3rem; display: inline-block">
                        <input matInput placeholder="UUAA" [matAutocomplete]="autoUUAA" [formControl]="uuaaControl" (blur)="checkSelectedUUAA()" />
                    </mat-form-field>
                    <ng-container [ngTemplateOutlet]="helpDiv" [ngTemplateOutletContext]="{ helpType: 'uuaaMaster' }">
                    </ng-container>
                    <mat-autocomplete [panelWidth]="175" #autoUUAA="matAutocomplete" [displayWith]="displayUUAA" (optionSelected)="selectedUuaa2($event)">
                        <mat-option *ngFor="let name of filteredUUAAs | async" class="selectPretty" [ngClass]="{'current-uuaa': tablonInfo.uuaaMaster == name.full_name}" [value]="name">
                            <span style="color: #d185cb;">({{ name.full_name.charAt(0) }}) </span>
                            <span>{{ name.short_name }} | </span>
                            <small style="color: #004283">{{ name.country }}</small>
                        </mat-option>
                    </mat-autocomplete>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-2File">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="ORIGEN" (selectionChange)="selectedScopeOrigin($event.value)" [formControl]="formControlScope" required>
                            <mat-option *ngFor="let ori of originsDataTable" [value]="ori"> {{ori}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formControlScope.hasError('required')"> El origen es
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originTablon'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="DESCRIPCIÓN FÍSICO" [(ngModel)]="descAlias" [maxlength]="maxLengthDesc" (input)="inputValidatorNaming($event, descAlias, true)" [formControl]="formControlDesc">
                        <mat-error *ngIf="formControlDesc.hasError('required') && false"> La descripción es
                            <strong>requerida</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-3 col-2ButtNaming">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="PERIODICIDAD" [(ngModel)]="tablonInfo.periodicity" [formControl]="requiredFormControlPer" required>
                            <mat-option *ngFor="let p of periodicityOptions" [value]="p.periodicity"> {{p.periodicity}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="requiredFormControlPer.hasError('required') && false"> La Periodicidad es
                            <strong>requerida</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <!--
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ALIAS" [(ngModel)]="tablonInfo.alias" (input)="inputValidatorAliasLong($event)"
              maxlength="20">
          </mat-form-field>
        -->
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="ALIAS" [(ngModel)]="tablonInfo.alias" maxlength="20" [formControl]="formControlAlias" required>
                        <mat-error *ngIf="formControlAlias.errors?.required">El alias es <strong>obligatorio</strong>
                        </mat-error>
                        <mat-error *ngIf="formControlAlias.errors?.validateFormAlias && !formControlAlias.errors?.required">El alias tiene formato <strong>invalido</strong></mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'aliasLong'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- DONT FORGET MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE -->
                <div class="col-2 col-2ButtNaming">
                    <mat-form-field class="fullInput">
                        <input matInput placeholder="MARCA OBJETO TÁCTICO" [(ngModel)]="tablonInfo.tacticalObject" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <mat-form-field style="width: 95%;">
                        <input matInput placeholder="NOMBRE LÓGICO" [(ngModel)]="tablonInfo.baseName" maxlength="55" (input)="inputValidatorBaseName($event)">
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2" style="padding-left: 5px;">
                    <mat-form-field class="inputHelp">
                        <input [formControl]="formControlPerimetro" matInput placeholder="PERIMETRO" [(ngModel)]="tablonInfo.perimeter">
                        <mat-error *ngIf="formControlPerimetro.hasError('required')"> El Perimetro es
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-LoadType">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="TIPO CARGA" [formControl]="formControlLoadingT" [(ngModel)]="tablonInfo.loading_type">
                            <mat-option *ngFor="let t of loadingTypesOptions" [value]="t"> {{t}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formControlLoadingT.hasError('required')"> El tipo de carga es
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'loadingType'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-LoadType">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="FORMATO DE SALIDA" [formControl]="formControlTargetFileT" [(ngModel)]="tablonInfo.target_file_type">
                            <mat-option *ngFor="let t of targetFileTypesOptions" [value]="t"> {{t}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formControlTargetFileT.hasError('required')"> El formato de salida es
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'target_file'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="NIVEL DE INFORMACIÓN" [formControl]="formControlInfLevel" [(ngModel)]="tablonInfo.information_level">
                        <mat-error *ngIf="formControlInfLevel.hasError('required')"> El Nivel de Información es
                            <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'information_level'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-2quarter">
                    <div class="inputHelp">
                        <mat-form-field style="width: 70%; display: inline-block;">
                            <input min="0" matInput placeholder="PROF. ACTUAL" [(ngModel)]="tablonInfo.current_depth" (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos" name="current_depth">
                        </mat-form-field>
                        <mat-form-field style="width: 30%; display: inline-block;">
                            <input matInput value="meses" disabled>
                        </mat-form-field>
                    </div>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'prof'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-2quarter">
                    <div class="inputHelp">
                        <mat-form-field style="width: 70%; display: inline-block;">
                            <input min="0" matInput placeholder="VOL. ESTIMADA" [(ngModel)]="tablonInfo.estimated_volume_records" (input)="inputValidatorNumbers($event)" matTooltip="Volumetría de registros de los historicos" name="estimated_volume_records">
                        </mat-form-field>
                        <mat-form-field style="width: 30%; display: inline-block;">
                            <input matInput value="registros" disabled>
                        </mat-form-field>
                    </div>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'volum'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-2quarter">
                    <div class="inputHelp">
                        <mat-form-field style="width: 70%; display: inline-block;">
                            <input min="0" matInput placeholder="PROF. REQUERIDA" [(ngModel)]="tablonInfo.required_depth" (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos requeridos" name="required_depth">
                        </mat-form-field>
                        <mat-form-field style="width: 30%; display: inline-block;">
                            <input matInput value="meses" disabled>
                        </mat-form-field>
                    </div>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'profReq'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-1 col-Delim">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="DELIMITADOR" matTooltip="Delimitador del formato de salida" [(ngModel)]="tablonInfo.target_file_delimiter" name="target_file_delimiter" maxlength="3">
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'separator'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="SECURITY LEVEL" matTooltip="Nivel de seguridad del objeto" [(ngModel)]="tablonInfo.securityLevel">
                            <mat-option value=""> </mat-option>
                            <mat-option value="L1">L1</mat-option>
                            <mat-option value="L2">L2</mat-option>
                            <mat-option value="L3">L3</mat-option>
                            <mat-option value="L1T">L1T</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'securityLevel'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-3">
                    <mat-form-field class="inputHelp">
                        <mat-select placeholder="DEPLOYMENT TYPE" matTooltip="Tipo del objeto de entrada" [(ngModel)]="tablonInfo.deploymentType">
                            <mat-option *ngFor="let type of deployType_values" [value]="type"> {{type}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'deploymentType'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="MODEL VERSION" [(ngModel)]="tablonInfo.modelVersion" maxlength="100" [disabled]="tablonInfo.deploymentType != 'Global-Implementation'">
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'modelVersion'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="inputHelp">
                        <mat-form-field>
                            <input matInput placeholder="OBJECT VERSION" [(ngModel)]="tablonInfo.objectVersion" maxlength="100" [disabled]="tablonInfo.deploymentType != 'Global-Implementation'">
                        </mat-form-field>
                    </div>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'objectVersion'">
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <!-- col-md-7 col-lg-7 G-->
                <div [ngClass]="{'col-md-7': !originDiv, 'col-6': originDiv}">
                    <div class="row">
                        <div class="col-11">
                            <mat-form-field class="inputHelp">
                                <input matInput placeholder="PARTICIONES" [(ngModel)]="tablonInfo.partitions">
                            </mat-form-field>
                            <div class="helpPopdiv">
                                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'partitions'">
                                    <mat-icon>help_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <mat-form-field class="inputHelp">
                                <input matInput placeholder="RUTA DESTINO" [(ngModel)]="tablonInfo.master_path">
                            </mat-form-field>
                            <div class="helpPopdiv">
                                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'route'">
                                    <mat-icon>help_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <mat-form-field class="fullInput">
                                <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="DESCRIPCIÓN" [(ngModel)]="tablonInfo.observationField">
                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <mat-form-field class="fullInput">
                                <input matInput placeholder="OBSERVACIONES" [(ngModel)]="tablonInfo.master_comment">
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="viewAuditFlag">
                        <p style="font-style: italic; font-size: 12px; color: #004283"> Tablón creado el
                            <strong>{{tablonInfo.created_time}}</strong> y su última modificación fue el
                            <strong>{{tablonInfo.modifications.date}}</strong> por
                            <strong>{{tablonInfo.modifications.user_name}}.</strong>
                        </p>
                    </div>
                </div>
                <div *ngIf="convenDiv" class="col-1"></div>
                <div [ngClass]="{'col-md-5': !originDiv && !convenDiv, 'col-6': originDiv && !convenDiv, 'col-2': convenDiv && !originDiv}">
                    <div *ngIf="convenDiv" class="divUL">
                        <p>Convenciones: </p>
                        <p style="background-color:#f5a9a9; color:black; padding-left: 6px;"> Propuesto </p>
                        <p style="background-color:#f2f5a9; color:black; padding-left: 6px;"> Global y propuesto </p>
                        <p style="background-color:#b4e2bc; color:black; padding-left: 6px;"> Directo </p>
                        <p style="background-color:#a9a9a996; color:black; padding-left: 6px;"> Calculado </p>
                    </div>
                    <div *ngIf="originDiv" class="divUL">
                        <ul *ngIf="tablonInfo.origin_tables.length > 0">
                            <li *ngFor="let item of tablonInfo.origin_tables">
                                <p>{{item.originRoute}}</p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="!originDiv && !convenDiv">
                        <table>
                            <tr>
                                <div class="inputHelp">
                                    <mat-form-field class="fieldsearch-form-object">
                                        <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1" [(ngModel)]="tablonInfo.information_group_level_1" name="information_group_level_1" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="helpPopdiv">
                                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl1'">
                                        <mat-icon>help_outline</mat-icon>
                                    </button>
                                </div>
                            </tr>
                            <tr>
                                <div class="inputHelp">
                                    <mat-form-field class="fieldsearch-form-object">
                                        <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2" [(ngModel)]="tablonInfo.information_group_level_2" name="information_group_level_2" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="helpPopdiv">
                                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl2'">
                                        <mat-icon>help_outline</mat-icon>
                                    </button>
                                </div>
                            </tr>
                            <tr>
                                <div class="inputHelp">
                                    <mat-form-field class="fieldsearch-form-object">
                                        <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="tablonInfo.data_source" name="data_source" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="helpPopdiv">
                                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'dataSource'">
                                        <mat-icon>help_outline</mat-icon>
                                    </button>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row minisection-border">
            <div class="col">
                <button *ngIf="userRol === 'G'" mat-raised-button class="danger-button spaced-button float-buttons-left" (click)="closeDataTable()"> Cerrar Diccionario </button>
            </div>
            <div class="col-9">
                <div class="float-buttons-right">
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="updateObject(activeObject)">
                        Actualizar Objeto </button>
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="validateAllNamings(true)">
                        Validar Namings </button>
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="checkOriginUses()">
                        Validar Orígenes </button>
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="sendGovernance()" *ngIf="!poFlag && tablonInfo.stateTable === 'N'">
                        Enviar Gobierno </button>
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="sendReview()" *ngIf="userRol === 'G' && tablonInfo.stateTable === 'G'">
                        Enviar Propuesta </button>
                    <button mat-raised-button class="buttonExtra float-buttons-right" (click)="sendVobo()" *ngIf="userRol === 'G'&& tablonInfo.stateTable === 'G'">
                        Enviar VoBo </button>
                </div>
            </div>
        </div>

        <div *ngIf="poFlag && !editReqFlag" class="row" style="padding-top: 15px;">
            <div class="col"></div>
            <div class="col-5">
                <mat-form-field class="fullInput">
                    <textarea matInput placeholder="Comentario" [(ngModel)]="request.comment" rows="2" cols="10" disabled></textarea>
                </mat-form-field>
            </div>
            <div class="col-1" style="padding-top: 15px;">
                <span><strong>Solicitud: </strong>{{request.requestStatus === 'A' ? 'Aprobada' : 'Rechazada'}}</span>
            </div>
            <div class="col-2" style="padding-top: 15px;">
                <span><strong>Realizado por: </strong>{{request.spo}}</span>
            </div>
            <div class="col-1" style="padding-top: 15px;">
                <span><strong>Fecha: </strong>{{request.approved_time}}</span>
            </div>
        </div>
        <div *ngIf="poFlag && editReqFlag" class="row" style="padding-top: 15px;">
            <div class="col"></div>
            <div class="col-6">
                <mat-form-field class="fullInput">
                    <textarea matInput placeholder="Comentario" [(ngModel)]="commentRequest" rows="2" cols="10"></textarea>
                </mat-form-field>
            </div>
            <div class="col-4 col-4Logic" style="padding-top: 15px;">
                <button mat-button class="buttonNormal buttonNormalHover" (click)="requestAnswer(true)"> Aceptar
                    Solicitud</button>
                <button mat-button class="buttonNormal buttonNormalHover" (click)="requestAnswer(false)"> Rechazar
                    Solicitud</button>
            </div>
        </div>
        <div *ngIf="!poFlag" class="row" style="margin-top: 15px;">
            <div class="col">
                <div class="float-buttons-left">
                    <button mat-raised-button class="buttonColor" style="width: 144.81px !important;" (click)="uploadStructureTablones()"> Cargar Datos
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-raised-button class="buttonColor" matTooltip="Plantilla de Carga" style="margin-right: 0px" (click)="openExternalTemplateLink()">
                        <mat-icon>library_books</mat-icon>
                    </button>
                </div>
                <th style="padding-left: 10px; padding-top: 5px; top: 20px">
                    <div>
                        <input #fileInput type="file" class="file fullInput" accept=".xlsx" (change)="onFileChange($event)" (click)="fileInput.value = null; fileList = null" />
                        <div class="row divAboveFileInput float-buttons-left">
                            <div class="col-1">
                                <mat-icon style="position: relative; bottom: 5px" matTooltip="Agregar archivo">note_add
                                </mat-icon>
                            </div>
                            <div class="col">
                                <span style="font-family: sans-serif"> {{ fileList === null ? "Adjuntar Archivo" :
                                    fileList.name }}</span>
                            </div>
                        </div>
                    </div>
                </th>
            </div>
            <div class="col-6">
                <div class="float-buttons-right">
                    <button mat-raised-button class="small-icon-button" matTooltip="Comparación" (click)="comparisonDialog()">
                        <mat-icon>help</mat-icon>
                    </button>
                    <button mat-raised-button class="small-icon-button" matTooltip="Mostrar/Ocultar Rutas origen" (click)="originDiv = !originDiv; convenDiv = false" [ngClass]="{'activeDetails': originDiv}">
                        <mat-icon>calendar_view_day</mat-icon>
                    </button>
                    <button mat-raised-button class="small-icon-button" matTooltip="Convenciones de Colores" (click)="convenDiv = !convenDiv; originDiv = false" [ngClass]="{'activeDetails': convenDiv}">
                        <mat-icon>chrome_reader_mode</mat-icon>
                    </button>
                    <div id="one">
                        <div id="two">
                            <mat-select #selectorExcel (selectionChange)="genExcels($event.value)">
                                <mat-option class="selectExcelValues" [value]="1">Normal</mat-option>
                                <mat-option class="selectExcelValues" [value]="2">Comentarios VoBo</mat-option>
                            </mat-select>
                        </div>
                        <button mat-raised-button class="buttonColor" (click)="selectorExcel.open()"> Generar Excels
                            <mat-icon>
                                keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</ng-template>
<ng-template #queryNamings>
    <!-- Busqueda namings -->
    <mat-expansion-panel class="tableSearchMat">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold">
                <div>
                    <span>Búsqueda de namings</span>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
                        <input matInput placeholder="Naming" [(ngModel)]="namingQuery">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
                        <mat-select placeholder="Sufijo" [(value)]="typeQuery">
                            <mat-option *ngFor="let s of suffixesOptions" [value]="s.suffix"> {{s.suffix}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
                        <input matInput placeholder="Lógico" [(ngModel)]="logicQuery">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
                        <mat-select placeholder="Estado Comentario" [(value)]="stateQuery">
                            <mat-option *ngFor="let r of reasonsOptions" [value]="r.error"> {{r.error}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
                        <input matInput placeholder="Descripción" [(ngModel)]="descQuery">
                        <!--<textarea matInput placeholder="Descripción" [(ngModel)]="descGlobalSearch" name="descGlobalSearch"
              style="resize: none; height: 11px; overflow: hidden;"></textarea>-->
                    </mat-form-field>
                </div>
                <div class="col-3" style="padding-top: 10px;">
                    <button mat-button (click)="fieldsQuery()" class="button-query-global" style="margin-right: 5px;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-button class="button-query-global" (click)="cleanQuery()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</ng-template>
<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias' && activeHelp !== 'originTables' && activeHelp !== 'aliasLong')
    , 'big-mat-card': (activeHelp === 'descAlias' || activeHelp === 'originTables' || activeHelp === 'aliasLong')}">
        <mat-card-content *ngIf="activeHelp === 'finalUuaa'"> UUAA que se forma despues de seleccionar el ámbito y la uuaa de master. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'phys_name'"> Nombre físico del tablon, que se genera a partir de la UUAA final, el alias y la descripcion del alias. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'ambito'"> Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno local de Colombia.<br> Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'descAlias'">
            <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
            <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
            <strong>(2 pos.) Contenido del archivo:</strong><br>
            <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo, catálogos de los productos del banco.<br>
            <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
            <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg = Cuentas personales, rv = riesgos.<br>
            <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" => "PE001_", "PEDT008" => "PE008_"<br>
            <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del fichero.
            <br> Por ejemplo: hdape008_cliente_contrato, se informa en el campo.<br>
            <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento
                de
                buenas prácticas (Pag. 1)</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'aliasLong'">
            <strong>Alias largo del tablón. Este alias es un campo independiente al alias que conforma el nombre
                logico.</strong><br> El alias se compone de hasta 20 caracteres alfanuméricos, no debe incluir caracteres especiales ni espacios. y debe mantener el siguiente estándar:<br>
            <strong>(2 posiciones) Origen: </strong>MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto Local <br>
            <strong>(4 posiciones) Unidad Aplicativa UUAA: </strong>Por ejemplo, KBTQ: Basic Data, Knowledge & Personalization - Modelo Global, KPFM: Personal Finance Managment – Global, CBTQ: Basic Data, Knowledge & Personalization - Modelo y Proyecto
            Local <br>
            <strong>(14 posiciones) Descripción: </strong>Se informará el nombre de la tabla en caso de que sea menor a 14 posiciones. Se informará el nombre de la tabla con abreviaturas en caso de que sea mayor a 14 posiciones.
            <br>
            <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit"> Ver
                documento de
                Estandáres DataDictionary(Pag. 2)</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'separator'"> ​​Delimitador de campos para los ficheros de datos de origen.
            <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'numberField'"> ​​Cantidad de namings que va a tener la tabla.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'raw'"> Siglas PAAO. <br> P: País (C -> colombia). <br> AA: Aplicativo host o externo. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver
                Página 8 del documento).</a><br> O: Sistema Origen. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página
                8 del
                documento).</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'raw_name'"> Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'master'"> UUAA o nombre del proyecto al que pertenece la tabla/fichero. En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO") </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'master_name'"> Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'baseName'"> Nombre de la base, lógico o tabla como la conoces en tu área o el nombre del sistemas core. (e.g El nombre de la tabla en HOST). </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'origin'"> Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;). En caso de ser un sistema usuario tipo excel, access,
            informarlo con el mismo nombre que el código de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'perimeter'"> Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad, contrapartida, tipo de cliente, titularidad, …). </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'periodicity'"> Frecuencia de actualización de la información contenida en el objeto. Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información
            en el objeto.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'information_level'"> Nivel a la que se encuentra la información de la tabla/fichero (cliente, contrato, detalle, …). Para ayudar a la identificación del nivel se recomienda consultar los campos clave del objeto </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'originTablon'"> Código de identificación para el origen ó alcance del tablón: <br>
            <strong>MG: </strong>Modelo Global<br>
            <strong>PG: </strong>Proyecto Global<br>
            <strong>ML: </strong>Modelo Local<br>
            <strong>PL: </strong>Proyecto Local
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'loadingType'"> Se detalla si la tabla/fichero se carga de manera incremental o si se carga la totalidad de la profundidad en cada ejecución. Posibles valores: Completa/Incremental
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'mark'"> Identificador de si el objeto que se está aprovisionando en un sistema no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un objecto de creación táctica que se debe gestionar a posteriori
            como deuda técnica. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'typeFile'"> ​​Tipo de formato del archivo de entrada. Posibles valores fixed, csv, avro, parquet, xml, text-extended </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'target_file'"> Formato de Salida </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'originTables'"> Tablas origen necesarias para la existencia de los namings del Tablón. <br> Una tabla tiene dos fases normalmente, <strong>Raw</strong> y
            <strong>Master</strong> por lo que se necesita seleccionar cual de las dos fases se va a usar en el tablón. Solo se puede usar una fase. Si la tabla no tiene la fase Master es necesario seleccionar la fase Raw igualmente. <br> Si se <strong>eliminan</strong>            orígenes los namings asociados tambien se eliminan del tablón.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'route'"> Ruta de destino del tablón. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'partitions'"> "Nombre Físico Campo" por los que se va particionar el objeto. <br>
            <strong>1- </strong>Se debe incluir cada campo en el orden en el que se debe realizar el particionado. <br>
            <strong>2- </strong>En el caso de informar más de un campo en esta celda, se debe separar por punto y coma (;)
            <br>
            <strong>3- </strong>Se debe validar que el "Nombre Físico Campo" existe vinculado al "Nombre Físico Objeto" en el DD-F. <br>
            <strong>Ej: </strong>partition_data_year_id;partition_data_month_id
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'infLvl1'"> Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional Corporate de Datos. Esta información permite agrupar los objetos según la tipología de información que contienen. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'infLvl2'"> Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional Corporate de Datos. Esta información permite agrupar los objetos según la tipología de información que contienen. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'dataSource'"> Data Source al que pertenece el objeto que se está documentando. Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'volum'"> Volumen de registros de la tabla/fichero. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'prof'"> Profundidad histórica actual que se posee de dicha tabla/fichero
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'profReq'"> Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los requerimientos existentes sobre la misma. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'deploymentType'"> El campo MVP TIPO DE DESPLIEGUE (Deployment Type) se diligencia conforme al siguiente catálogo: - ALL DEPLOYMENT TYPES: Valor no permitido por la aplicación - Global-Reference: No se debe usar por parte de la geografía - Global-Implementation:
            Implementación en la geografía de un modelo global, de acuerdo con su modelo de referencia. Usar para objetos que sean implementación de modelo global. - Local: No viene de un modelo global. Usar cuando se trata de un modelo / proyecto propio
            de la geografía. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'modelVersion'"> El campo no MVP VERSION MODELO (Model Version) se debe incluir la versión del modelo global a la que corresponde el objeto, cuando en el campo Deployment Type se seleccione el valor Global-Implementation. </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'objectVersion'"> El campo no MVP VERSION OBJETO (Model Object) se debe incluir la versión del modelo global a la que corresponde el objeto, cuando en el campo Deployment Type se seleccione el valor Global-Implementation.<br> El formato tiene la forma "0.0.0" en
            donde solo debe ir la version separada unicamente por puntos. </mat-card-content>
    </mat-card>
</mde-popover>