<div class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-11">
            <h1 mat-dialog-title>{{title}}</h1>
        </div>
        <div class="col-1" style="font-size: 30px">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
                <mat-icon class="close-icon">clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="row margen-title"></div>
</div>
<div mat-dialog-content>
    <div *ngIf="!simpleFlag" class="origin-table table-com">
        <ngx-datatable class='material table-com' [rows]="cleanArray" [columnMode]="'standard'" [headerHeight]="40" [footerHeight]="30" [rowHeight]="45" [scrollbarH]="true" [scrollbarV]="false" [limit]="5">
            <ngx-datatable-column name="Grupo" prop="group" width="180" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Ruta" prop="route" width="280" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Permisos" prop="perms" width="80" [sortable]="true">
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div *ngIf="simpleFlag" class="container-fluid">
        <div class="row">
            <ul *ngIf="!isEmpty">
                <li *ngFor="let item of bigData">
                    <p [ngClass]="{'p-normal': !item.includes('*'), 'p-subtitle': item.includes('*')}">{{item}}</p>
                </li>
            </ul>
            <ul *ngIf="isEmpty">
                <li>
                    <p class="p-subtitle">{{bigData[0]}}</p>
                </li>
                <li>
                    <p class="p-normal"> No hay comentarios</p>
                </li>
            </ul>
        </div>
    </div>
</div>