h1 {
  color: #004283;
  margin-top: 3px;
  font-weight: bold;
}

.close-icon {
  color: #004283;
  font-size: 30px;
  float: left;
  margin-right: 5px;
}

.margen-title {
  width: 95%;
  margin: -3% 0 1% 1%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thick;
}

.p-normal {
  margin-right: 5%;
  width: 100%;
}

.p-subtitle {
  margin-right: 5%;
  width: 100%;
  font-weight: bold;
}

::ng-deep .origin-table .ngx-datatable.material {
  background: none;
  box-shadow: none;
}

::ng-deep .table-com .ngx-datatable .datatable-body {
  width: auto !important;
}

::ng-deep .table-com .ngx-datatable.material .datatable-header {
  width: auto !important;
}