::ng-deep .tableFixed .ngx-datatable.scroll-horz .datatable-body{
   overflow: overlay;
   max-height: 550px !important;
   height: 550px !important;
}
@media only screen and (min-height: 768px) {
   /deep/ .tableFixed .ngx-datatable .datatable-body{
       max-height: 700px !important;
       height: 700px !important;
   }
}
@media only screen and (min-height: 1080px) {
   /deep/ .tableFixed .ngx-datatable .datatable-body{
       max-height: 950px !important;
       height: 950px !important;
       font-weight: bold !important;
   }
}

.fullInput{
   width: 100%;
}

.margenMain{
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
 }

 .margen{
   padding-left: 2%;
   padding-top: 1%;
   padding-right: 2%;
   padding-bottom: 1%;
}

 .tablePo{
   margin: 0;
   padding-top: 1%;
 }

 .observations{
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 3%;
    width: 70%;
 }

 .subMargen {
   margin-left: 2%; 
   //margin-top: 1%;
   width: 90%; 
   border-bottom-color: #004283;
   border-bottom-style: inset; 
   border-bottom-width: thin;
}

.buttonActualizar {
   margin-top: 1%; 
   float: right; 
   padding-right: 5%;
}

.tablaRutas {
   margin: 0; 
   padding-top: 1%;
}

.buttonscolor {
	float: right;
	color: #004283;
	background: #2DCCCD;
	margin-left: 15px;
}

.buttonExtra{
   float: right;
   margin-left: 25px;
   color: white;
   background:#004283;
}

.tablaDataSource {
   padding-top: 7px; 
   padding-left: 25px;
}

 .is-nok{
   background: #FFD2D2;
 }

.is-ok{
   background: #DFF2BF;
 }

 td {
   font-size: 12px;
   border-bottom: 0px solid #ddd;
}

.divOuterBoxTable{
   border-spacing: 0;
   width: 100%;
}

.matHeader{
   border-bottom-style: ridge;
   border-bottom-width: thin;
}

.mat-expansion-panel-header.mat-expanded {
   border-bottom-style: none;
}
 
.matExpansionTable{
   padding-top: 0%;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 1%;
   font-size: 11px;
}

.select-Y-N{
   width: 75px;
}

.selectLarge{
   width: 130px;
}

.mat-form-field{
   font-size: 12px;
   display: contents;
}

.fieldRawPhysName{
   width: 27%;
   display: table-cell;
   padding: 0 2% 0 0;
}

.fieldRawLogicalName{
   width: 35%;
   display: table-cell;
   padding: 0 2% 0 0;
}

.fieldUUAA{
   width: 15%; 
   padding: 0 2% 0 0;
   display: table-cell;
}

.fieldRawOriginData{
   display: table-cell;
   padding: 0 1.5% 0 0;
}

.fieldData{
   width: 10%;
}

.fieldsearch-form{
   padding-top: 0%;
   padding-right: 0%;
   padding-left: 1%;
   width: 350px;
}

.button-query-global{
   color:white;
   background:#004283;
   padding-right: 1%;
   padding-left:1%;
}

.input-logic-naming{
   width: 170px;
   font-size:11px;
}

.input-legacy{
   width: 120px;
   font-size:11px;
}

.button-query-global{
   color:white;
   background:#004283;
   padding-right: 1%;
   padding-left:1%;
}

.ngx-datatable {
   overflow-y: visible;
}

.ngx-datatable-column{
   border: 1px grey;
}

.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
}

.tableFiltros table{
   width: 0%;
   display: table-cell;
}

.infoTableReview{
   margin-top: -20px;
   font-size: 13px;
}

.infoTableReview p{
   font-weight: bold;
   margin-bottom: 0;
   margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.table-info-table{
    //justify-content: none;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.table-info-table p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}

.fieldsearch-form{
   padding-right: 0.5%;
   padding-left: 0.5%;
   width: 150px;
   font-size: 12px;
}

.fieldsearch-form-object{
   padding-right: 0.1%;
   padding-left: 0.1%;
   width: 250px;
   font-size: 11px;
}

.fieldsearch-form-object2{
   padding-right: 0.1%;
   padding-left: 0.1%;
   width: 200px;
   font-size: 11px;
}

.fieldsearch-form-object3{
   padding-right: 0.1%;
   padding-left: 0.1%;
   width: 180px;
   font-size: 11px;
}

.fieldsearch-form2{
   padding-right: 0.5%;
   padding-left: 0.5%;
   width: 500px;
   font-size: 12px;
}

.fieldsearch-form3{
   padding-right: 0.5%;
   padding-left: 0.5%;
   width: 70px;
   font-size: 12px;
}

//Toggle buttons
#tg-button {
   margin:4px;
   background-color:#EFEFEF;
   border-radius:4px;
   border:1px solid #D0D0D0;
   overflow:auto;
   float:left;
}

#tg-button:hover{
   background:#d4edf9;
   color: #004283;
}

#tg-button label {
   margin-bottom: 0;
   float: right;
   width: 10em;
}

#tg-button label span {
   text-align:center;
   padding:3px 0px;
   display:block;
}

#tg-button label input {
   position:absolute;
   top:-20px;
}

#tg-button input:checked + span {
   background-color: #004283;
   color:#fff;
}

#tg-button input:checked:hover + span {
   background-color:#2DCCCD;
   color:#004283;
}

.row-margin{
   margin-top: 5px;
}

.divAboveFileInput {
   margin-right:10px; 
   position: relative; 
   bottom: 20px; 
   text-align: left; 
}


input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
}

.inputFieldForHelpPop{
   width: 93%; 
   display: inline-block;
}

.inputFieldForHelpPop-Small{
   width: 92%; 
   display: inline-block;
}

.mat-card{
   background-color: aliceblue;
}

.helpPopdiv{
   width: 5%; 
   display: inline-block;
   padding-left: 5px;
}

.mat-icon-button.redEye{
   .mat-icon {
      color: red !important;
   }
}

.mat-icon-button.small {

   width: 15px;
   height: 15px;
   line-height: 14px;

   .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      color: #004283;
   }
}

.generalContainer{
   padding-left: 0;
   margin-left: 0;
}

.perimetro{
   flex: 0 0 22%;
}

.col-2tenper{
   flex: 0 0 10.666667%;
   max-width: 10.666667%;
}

.col-2tenper-PlusOne{
   flex: 0 0 11.666667%;
   max-width: 11.666667%;
}

.col-2smallquarter{
   flex: 0 0 9.666667%;
   max-width: 9.666667%;
}

.col-2quarter{
   flex: 0 0 16.666667%;
   max-width: 16.666667%;
}

.col-2Twenty{
   flex: 0 0 20%;
   max-width: 20%;
}

.col10per{
   flex: 0 0 10%;
   max-width: 10%;
}

.col-5-thirty{
   flex: 0 0 34.666667%;
   max-width: 34.666667%;  
}

.col-5-minus{
   margin-right: -20px;
}

.col-2LoadLegacy {
	flex: 0 0 18.666667%;
	max-width: 18.666667%;
}

@media (min-width: 1200px) {
   .container {
      max-width: 1190px;
   }
}

.allContain{
   padding-left: 2%;
   padding-right: 2%;
   //margin-bottom: 3%;
}
