<app-toolbar></app-toolbar>


<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Tablas - DataDictionary</h2>
    </div>
  </div>
</div>

<div class=" allContain">
  <mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      <mat-accordion class="tableMat">
        <!-- Info Propuesta -->
        <mat-expansion-panel *ngIf="activeTab === 'FieldReview'">
          <mat-expansion-panel-header class="matHeader">
            <mat-panel-title style="font-weight: bold">
              {{tableData.uuaaRaw}} / {{tableData.uuaaMaster}} -<span style="font-style: oblique;">-
                {{aliasLongTabla}}
              </span>
            </mat-panel-title>
            <mat-panel-description>{{tableData.alias}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid infoTableReview">
            <div class="row">
              <div class="col-10">
                <div class="row">
                  <div class="col-2">
                    <p>UUaa Raw:</p>{{tableData.uuaaRaw}}
                  </div>
                  <div class="col-3">
                    <p>Nombre Raw:</p>{{tableData.raw_name}}
                  </div>
                  <div class="col-2">
                    <p>UUaa Master:</p>{{tableData.uuaaMaster}}
                  </div>
                  <div class="col-3">
                    <p>Nombre Master:</p>{{tableData.master_name}}
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <p>Proyecto:</p>{{tableData.project_name}}
                  </div>
                  <div class="col-3">
                    <p>Estado:</p>
                    {{tableData.stateTable === 'N' ? 'Propuesta' : tableData.stateTable === 'G' ? 'Gobierno' : 'Arquitectura'}}
                  </div>
                  <div class="col-2">
                    <p>Responsable:</p>{{tableData.user}}
                  </div>
                  <div class="col">
                    <p>Marca objeto táctico:</p>{{tableData.tacticalObject === 'YES' ? 'SI' : 'NO'}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <p>Alias:</p>{{tableData.alias}}
                  </div>
                  <div class="col-3">
                    <p>Periodicidad:</p>{{tableData.periodicity}}
                  </div>
                  <div class="col-2">
                    <p>Separador:</p>{{tableData.separator !== '' ? tableData.separator : '-vacio-'}}
                  </div>
                  <div class="col">
                    <p>Sistema Origen:</p>{{tableData.originSystem}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>Contexto de la tabla:</p><textarea style="font-size:13px; resize:none;" rows="3" cols="120"
                      [value]="tableData.observationField"></textarea>
                  </div>
                </div>
                <div *ngIf="viewAuditFlag">
                  <p style="font-style: italic; font-size: 12px; color: #004283; font-weight: normal">
                    Tabla creado el <strong>{{tableData.created_time}}</strong> y su última modificación fue el
                    <strong>{{tableData.modifications.date}}</strong> por
                    <strong>{{tableData.modifications.user_name}}.</strong>
                  </p>
                </div>
              </div>
              <div class="col-2">
                <p>Convenciones: </p>
                <p style="background-color:#f2f5a9; color:black; padding-left: 6px;"> Global </p>
                <p style="background-color:#f5d0a9; color:black; padding-left: 6px;"> Global y propuesto </p>
                <p style="background-color:#f5a9a9; color:black; padding-left: 6px;"> Propuesto </p>
                <p style="background-color:#d0a9f5; color:black; padding-left: 6px;"> Propuesto y común </p>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col"></div>
              <div class="col-5">
                <button mat-raised-button class="buttonExtra" style="float: inherit;"
                  (click)="sendTableGovernance()">Enviar Gobierno</button>
                <button mat-raised-button class="buttonscolor" (click)="generateFieldsRaw()">Generar Raw</button>
                <button mat-raised-button class="buttonscolor" (click)="allValidations(activeTab, true)">Validar
                  Todo</button>
              </div>
              <div class="col-2 col-2LoadLegacy" style="padding-left: 0;">
                <button mat-raised-button class="buttonscolor" matTooltip="Plantilla de Carga"
                  style="margin-right: 0px; float: inherit;" (click)="openExternalTemplateLink()">
                  <mat-icon>library_books</mat-icon>
                </button>
                <button mat-raised-button class="buttonscolor" style="margin-left: 5px; float: inherit;"
                  (click)="excelLegacy()">Subir Legacy</button>
              </div>
              <div class="col-3" style="padding-left: 0; top: 5px;">
                <th>
                  <div>
                    <input style="width: 100%;" type="file" class="file" accept=".xlsx"
                      (change)="onFileChange($event)" />
                    <div class="row divAboveFileInput">
                      <div class="col-1">
                        <mat-icon style="position: relative; bottom: 5px;" matTooltip="Agregar archivo">note_add
                        </mat-icon>
                      </div>
                      <div class="col-7">
                        <span
                          style="font-family: sans-serif;">{{fileList === null ? 'Adjuntar Archivo' : fileList.name}}</span>
                      </div>
                    </div>
                  </div>
                </th>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Info Raw && Mastah -->
        <mat-expansion-panel *ngIf="activeTab !== 'FieldReview'">
          <mat-expansion-panel-header class="matHeader">
            <mat-panel-title style="font-weight: bold">
              <div *ngIf="activeTab === 'fieldsRaw'">
                {{tableData.uuaaRaw}}<span style="font-style: oblique;"> - {{tableData.raw_name}}</span>
              </div>
              <div *ngIf="activeTab === 'fieldsMaster'">
                {{tableData.uuaaMaster}}<span style="font-style: oblique;"> - {{tableData.master_name}}</span>
              </div>
            </mat-panel-title>
            <mat-panel-description>{{tableData.alias}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid generalContainer">
            <div class="row row-margin">
              <div class="col-3 col-2Twenty">
                <mat-form-field style="width: 20%; display: inline-block;">
                  <input matInput placeholder="UUAA" value="{{uuaaShort}}" maxlength=7 disabled>
                </mat-form-field>
                <mat-form-field style="width: 70%; display: inline-block;">
                  <input matInput placeholder="NOMBRE FÍSICO OBJETO" [(ngModel)]="aliasLongTabla" maxlength=24>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverNombreFisicoObj" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverNombreFisicoObj="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 290px;">
                    <mat-card-content>
                      Nombre Técnico/Físico del objeto (Tabla, fichero...) que se está documentado.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-5 col-5-thirty">
                <mat-form-field class="inputFieldForHelpPop">
                  <input matInput placeholder="NOMBRE LÓGICO OBJETO" [(ngModel)]="activeObject.baseName" maxlength=50>
                </mat-form-field>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverNombreLogicoObj" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverNombreLogicoObj="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      Nombre lógico del objeto (tabla/fichero). (Breve nombre funcional). <b>Ejemplo:</b> Tabla
                      mensual
                      de contratos de préstamos
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input *ngIf="activeTab === 'fieldsRaw'" matInput placeholder="CÓDIGO DE SISTEMA / UUAA"
                      [(ngModel)]="activeObject.uuaaRaw" minlength=4 maxlength=4 disabled>
                    <input *ngIf="activeTab === 'fieldsMaster'" matInput placeholder="CÓDIGO DE SISTEMA / UUAA"
                      [(ngModel)]="activeObject.uuaaMaster" minlength=4 maxlength=4 disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverUUAA" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverUUAA="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 345px;">
                    <mat-card-content>
                      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
                      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
                      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO") </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-sm-3 col10per">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input matInput placeholder="SISTEMA ORIGEN" [(ngModel)]="activeObject.originSystem"
                      name="originSystem" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverOriginSys" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverOriginSys="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a
                      la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma
                      (;).
                      En caso de ser un sistema usuario tipo excel, access, informarlo con el mismo nombre que el
                      código
                      de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2tenper">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <mat-select placeholder="FRECUENCIA"
                      [(value)]="activeTab == 'fieldsRaw' ? activeObject.periodicity : activeObject.periodicity_master"
                      [disabled]=true>
                      <mat-option *ngFor="let c of frecuencyOptions" [value]="c.periodicity">
                        {{c.periodicity}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverFreq" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverFreq="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 465px;">
                    <mat-card-content>
                      Frecuencia de actualización de la información contenida en el objeto.
                      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
                      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
                      objeto.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-3 perimetro">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input matInput placeholder="PERÍMETRO" [(ngModel)]="activeObject.perimeter">
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverPerimetro" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverPerimetro="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 500px;">
                    <mat-card-content>
                      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
                      contrapartida, tipo de cliente, titularidad, …).
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2quarter">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input matInput placeholder="NIVEL INFORMACIÓN" [(ngModel)]="activeObject.information_level"
                      name="information_level" maxlength=20>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverInfLevel" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverInfLevel="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      Nivel a la que se encuentra la información de la tabla/fichero (cliente, contrato, detalle, …).
                      Para ayudar a la identificación del nivel se recomienda consultar los campos clave del objeto
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-5 col-5-minus">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input *ngIf="activeTab === 'fieldsRaw'" matInput placeholder="PARTICIONES"
                      [(ngModel)]="activeObject.partitions_raw">
                    <input *ngIf="activeTab === 'fieldsMaster'" matInput placeholder="PARTICIONES"
                      [(ngModel)]="activeObject.partitions_master">
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverParticion" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverParticion="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 500px;">
                    <mat-card-content>
                      "Nombre Físico Campo" por los que se va particionar el objeto.
                      <b>1)</b> Se debe incluir cada campo en el orden en el que se debe realizar el particionado.
                      <b>2)</b> En el caso de informar más de un campo en esta celda, se debe separar por punto y coma
                      (;)
                      <b>3)</b> Se debe validar que el "Nombre Físico Campo" existe vinculado al "Nombre Físico
                      Objeto" en el DD-F
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2tenper-PlusOne">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <mat-select placeholder="TIPO CARGA" [(value)]="activeObject.loading_type">
                      <mat-option *ngFor="let t of loadingTypesOptions" [value]="t">
                        {{t}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverLoadingType" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverLoadingType="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 311px;">
                    <mat-card-content>
                      Se detalla si la tabla/fichero se carga de manera incremental o si se carga la totalidad de la
                      profundidad en cada ejecución.
                      Posibles valores: Completa/Incremental
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-1">
                <div class="inputFieldForHelpPop-Small">
                  <mat-form-field>
                    <mat-select matTooltip="Tipo del objeto de entrada" placeholder="TIPO OBJETO"
                      [(value)]="activeObject.objectType">
                      <mat-option *ngFor="let j of objectTypesOptions" [value]="j">
                        {{j}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverObjType" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverObjType="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 500px;">
                    <mat-card-content>
                      Tipo de objeto correspondiente (vista, tabla, fichero, colección, índice, nodo, paquete de
                      mercado…).
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-4">
                <div class="inputFieldForHelpPop">
                  <mat-form-field>
                    <input *ngIf="activeTab === 'fieldsRaw'" matInput placeholder="NOMBRE FÍSICO OBJETO ORIGEN"
                      [(ngModel)]="activeObject.physical_name_source_object" name="physical_name_source_object">
                    <input *ngIf="activeTab === 'fieldsMaster'" matInput placeholder="NOMBRE FÍSICO OBJETO ORIGEN"
                      [(ngModel)]="activeObject.raw_name" name="raw_name" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverPhysObject" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverPhysObject="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      Nombre físico del objeto origen del que proviene el objeto que se está documentando.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div *ngIf="activeTab === 'fieldsRaw'" class="col-1">
                <div class="inputFieldForHelpPop-Small">
                  <mat-form-field>
                    <input matInput placeholder="ARCHIVO" [(ngModel)]="activeObject.typeFile" name="typeFile"
                      matTooltip="Tipo de archivo de entrada" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverTypeFile" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverTypeFile="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      ​​Tipo de formato del archivo de entrada.
                      Posibles valores fixed, csv, avro, parquet, xml, text-extended
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div *ngIf="activeTab === 'fieldsRaw'" class="col-1">
                <div class="inputFieldForHelpPop-Small">
                  <mat-form-field>
                    <input matInput placeholder="DELIMITADOR" matTooltip="Delimitador del archivo de entrada"
                      [(ngModel)]="activeObject.separator" name="separator" maxlength="3">
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverDelim" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverDelim="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 425px;">
                    <mat-card-content>
                      ​​Delimitador de campos para los ficheros de datos de origen.
                      <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo
                      AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2quarter">
                <div class="inputFieldForHelpPop">
                  <mat-form-field style="width: 70%; display: inline-block;">
                    <input min="0" matInput placeholder="PROF. ACTUAL" [(ngModel)]="activeObject.current_depth"
                      (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos"
                      name="current_depth">
                  </mat-form-field>
                  <mat-form-field style="width: 30%; display: inline-block;">
                    <input matInput value="meses" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverProfAct" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverProfAct="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 430px;">
                    <mat-card-content>
                      Profundidad histórica actual que se posee de dicha tabla/fichero
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2quarter">
                <div class="inputFieldForHelpPop">
                  <mat-form-field style="width: 70%; display: inline-block;">
                    <input min="0" matInput placeholder="VOL. ESTIMADA"
                      [(ngModel)]="activeObject.estimated_volume_records" (input)="inputValidatorNumbers($event)"
                      matTooltip="Volumetría de registros de los historicos" name="estimated_volume_records">
                  </mat-form-field>
                  <mat-form-field style="width: 30%; display: inline-block;">
                    <input matInput value="registros" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverVolReq" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverVolReq="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 430px;">
                    <mat-card-content>
                      Volumen de registros de la tabla/fichero.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
              <div class="col-2 col-2quarter">
                <div class="inputFieldForHelpPop">
                  <mat-form-field style="width: 68%; display: inline-block;">
                    <input matInput placeholder="PROF. REQUERIDA" [(ngModel)]="activeObject.required_depth"
                      name="required_depth" type="number" disabled>
                  </mat-form-field>
                  <mat-form-field style="width: 30%; display: inline-block;">
                    <input matInput value="meses" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverProfReq" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
                <mde-popover #popoverProfReq="mdePopover" [mdePopoverOverlapTrigger]="false">
                  <mat-card style="max-width: 455px;">
                    <mat-card-content>
                      Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los
                      requerimientos existentes sobre la misma.
                    </mat-card-content>
                  </mat-card>
                </mde-popover>
              </div>
            </div>
          </div>
          <div class="container-fluid tablaRutas">
            <div class="row">
              <div class="col-md-8 col-lg-8 G">
                <div class="row">
                  <table>
                    <tr>
                      <div class="inputFieldForHelpPop">
                        <mat-form-field>
                          <input *ngIf="activeTab === 'fieldsRaw'" matInput placeholder="RUTA ORIGEN"
                            [(ngModel)]="activeObject.raw_path" name="raw_path">
                          <input *ngIf="activeTab === 'fieldsMaster'" matInput placeholder="RUTA ORIGEN"
                            [(ngModel)]="activeObject.master_path" name="master_path" disabled>
                        </mat-form-field>
                      </div>
                      <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverOriginRt" mdePopoverTriggerOn="click"
                          #popoverTrigger="mdePopoverTrigger" class="small">
                          <mat-icon>help_outline</mat-icon>
                        </button>
                      </div>
                      <mde-popover #popoverOriginRt="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 425px;">
                          <mat-card-content>
                            Ruta donde se encuentran los datos de origen en el proceso de ingesta (Por ejemplo:
                            /data/master/core/data/dataset_name).
                            En el caso de una ingesta desde staging a raw y después a master, el directorio de "RUTA"
                            (de staging a raw) se corresponderá con el valor de "RUTA ORIGEN" para el caso de raw a
                            master.
                          </mat-card-content>
                        </mat-card>
                      </mde-popover>
                    </tr>
                    <tr>
                      <div class="inputFieldForHelpPop">
                        <mat-form-field>
                          <input *ngIf="activeTab === 'fieldsRaw'" matInput placeholder="RUTA ESQUEMA"
                            [(ngModel)]="activeObject.raw_route" name="raw_route" disabled>
                          <input *ngIf="activeTab === 'fieldsMaster'" matInput placeholder="RUTA ESQUEMA"
                            [(ngModel)]="activeObject.master_route" name="master_route" disabled>
                        </mat-form-field>
                      </div>
                      <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverSchema" mdePopoverTriggerOn="click"
                          #popoverTrigger="mdePopoverTrigger" class="small">
                          <mat-icon>help_outline</mat-icon>
                        </button>
                      </div>
                      <mde-popover #popoverSchema="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 420px;">
                          <mat-card-content>
                            Ruta física en la que se encuentra almacenada la tabla/fichero o Esquema de la BBDD (Según
                            Sistema). Permitirá identificar técnicamente dónde se encuentra el objeto.
                            Se informará la Ruta o el Esquema según la persistencia. </mat-card-content>
                        </mat-card>
                      </mde-popover>
                    </tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col" style="padding: 0;">
                    <mat-form-field style="width:93%; display: inline-block;">
                      <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="DESCRIPCIÓN"
                        [(ngModel)]="activeObject.observationField">
                      </textarea>
                    </mat-form-field>
                    <div class="helpPopdiv">
                      <button mat-icon-button [ngClass]="{'redEye': observationFlag}" class="small"
                        matTooltip="Mostrar/Ocultar Observaciones" (click)="observationFlag = !observationFlag">
                        <mat-icon>remove_red_eye</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="observationFlag" class="row">
                  <div class="col" style="padding: 0 5% 0 0;">
                    <mat-form-field *ngIf="activeTab === 'fieldsRaw'" class="fullInput">
                      <input matInput placeholder="OBSERVACIONES RAW" [(ngModel)]=activeObject.raw_comment
                        name="raw_comment">
                    </mat-form-field>
                    <mat-form-field *ngIf="activeTab === 'fieldsMaster'" class="fullInput">
                      <input matInput placeholder="OBSERVACIONES MASTER" [(ngModel)]=activeObject.master_comment
                        name="master_comment">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 B tablaDataSource">
                <div>
                  <table>
                    <tr>
                      <div class="inputFieldForHelpPop">
                        <mat-form-field class="fieldsearch-form-object">
                          <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1"
                            [(ngModel)]="activeObject.information_group_level_1" name="information_group_level_1"
                            disabled>
                        </mat-form-field>
                      </div>
                      <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverInfGroup1" mdePopoverTriggerOn="click"
                          #popoverTrigger="mdePopoverTrigger" class="small">
                          <mat-icon>help_outline</mat-icon>
                        </button>
                      </div>
                      <mde-popover #popoverInfGroup1="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 455px;">
                          <mat-card-content>
                            Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional
                            Corporate de Datos.
                            Esta información permite agrupar los objetos según la tipología de información que
                            contienen.
                          </mat-card-content>
                        </mat-card>
                      </mde-popover>
                    </tr>
                    <tr>
                      <div class="inputFieldForHelpPop">
                        <mat-form-field class="fieldsearch-form-object">
                          <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2"
                            [(ngModel)]="activeObject.information_group_level_2" name="information_group_level_2"
                            disabled>
                        </mat-form-field>
                      </div>
                      <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverInfGroup2" mdePopoverTriggerOn="click"
                          #popoverTrigger="mdePopoverTrigger" class="small">
                          <mat-icon>help_outline</mat-icon>
                        </button>
                      </div>
                      <mde-popover #popoverInfGroup2="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 455px;">
                          <mat-card-content>
                            Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional
                            Corporate de Datos.
                            Esta información permite agrupar los objetos según la tipología de información que
                            contienen.
                          </mat-card-content>
                        </mat-card>
                      </mde-popover>
                    </tr>
                    <tr>
                      <div class="inputFieldForHelpPop">
                        <mat-form-field class="fieldsearch-form-object">
                          <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="activeObject.data_source"
                            name="data_source" disabled>
                        </mat-form-field>
                      </div>
                      <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverDataSource" mdePopoverTriggerOn="click"
                          #popoverTrigger="mdePopoverTrigger" class="small">
                          <mat-icon>help_outline</mat-icon>
                        </button>
                      </div>
                      <mde-popover #popoverDataSource="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 425px;">
                          <mat-card-content>
                            Data Source al que pertenece el objeto que se está documentando.
                            Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
                          </mat-card-content>
                        </mat-card>
                      </mde-popover>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row buttonActualizar">
            <button mat-button class="buttonExtra" (click)="generateFieldsMaster()"
              *ngIf="activeTab === 'fieldsRaw'">Generar Master</button>
            <button mat-button class="buttonscolor" (click)="updateRawMasterObject(activeObject)">Actualizar
              {{ activeTab === 'fieldsRaw' ? 'RAW' : 'MASTER'}}</button>
            <button mat-button class="buttonExtra" (click)="allValidations(activeTab, true)">Validar namings
              {{ activeTab === 'fieldsRaw' ? 'RAW' : 'MASTER'}}</button>
          </div>
        </mat-expansion-panel>
        <!-- Filtros de columnas -->
        <mat-expansion-panel class="tableSearchMat tableFiltros">
          <mat-expansion-panel-header class="matHeader">
            <mat-panel-title>
              Filtros de columnas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table *ngIf="activeTab !== 'FieldReview'">
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Estado gobierno")'
                    (change)='toggle("Estado gobierno")' /><span>Estado naming Gob.</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Codigo")'
                    (change)='toggle("Codigo")' /><span>Código</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Jerarquia")'
                    (change)='toggle("Jerarquia")' /><span>Jerarquía</span>
                </label></div>
            </tr>

          </table>
          <table *ngIf="activeTab === 'FieldReview'">
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Estado gobierno")'
                    (change)='toggle("Estado gobierno")' /><span>Estado gobierno</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Inicio")'
                    (change)='toggle("Inicio")' /><span>Inicio</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Final")' (change)='toggle("Final")' /><span>Final</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Longitud")'
                    (change)='toggle("Longitud")' /><span>Longitud</span>
                </label></div>
            </tr>

          </table>
          <table *ngIf="showHostTableFields && activeTab === 'FieldReview'">
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Outrec")'
                    (change)='toggle("Outrec")' /><span>Outrec</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Varchar salida")'
                    (change)='toggle("Varchar salida")' /><span>Varchar salida</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Salida")'
                    (change)='toggle("Salida")' /><span>Salida</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr>
              <div *ngIf="activeTab === 'FieldReview'" id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Tipo origen")'
                    (change)='toggle("Tipo origen")' /><span>Tipo
                    origen</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Naming")'
                    (change)='toggle("Naming")' /><span>Naming</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Nombre Lógico")'
                    (change)='toggle("Nombre Lógico")' /><span>Nombre Lógico</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Descripción")'
                    (change)='toggle("Descripción")' /><span>Descripción</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Catálogo")'
                    (change)='toggle("Catálogo")' /><span>Catálogo</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Tipo de dato")'
                    (change)='toggle("Tipo de dato")' /><span>Tipo de dato</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Formato Logico")'
                    (change)='toggle("Formato Logico")' /><span>Formato Logico</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Legacy")' (change)='toggle("Legacy")' /><span>Campo
                    Legacy</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Descripción Legacy")'
                    (change)='toggle("Descripción Legacy")' /><span>Descripción Legacy</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr>
              <div *ngIf="activeTab === 'FieldReview'" id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Ejemplo")'
                    (change)='toggle("Ejemplo")' /><span>Ejemplo</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Legacy")' (change)='toggle("Legacy")' /><span>Campo
                    Legacy</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Descripción Legacy")'
                    (change)='toggle("Descripción Legacy")' /><span>Descripción Legacy</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Key")' (change)='toggle("Key")' /><span>Key</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Mandatory")'
                    (change)='toggle("Mandatory")' /><span>Mandatory</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Tokenización")'
                    (change)='toggle("Tokenización")' /><span>Token</span>
                </label></div>
            </tr>
            <tr>
              <div *ngIf="activeTab === 'FieldReview'" id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Signo")' (change)='toggle("Signo")' /><span>Signo</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Enteros")'
                    (change)='toggle("Enteros")' /><span>Enteros</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Decimales")'
                    (change)='toggle("Decimales")' /><span>Decimales</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("VoBo")' (change)='toggle("VoBo")' /><span>VoBo</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("TDS")' (change)='toggle("TDS")' /><span>TDS</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Tipo destino")'
                    (change)='toggle("Tipo destino")' /><span>Tipo destino</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab === 'FieldReview'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Formato Gobierno")'
                    (change)='toggle("Formato Gobierno")' /><span>Formato Gobierno</span>
                </label></div>
            </tr>
            <tr *ngIf="activeTab !== 'fieldsRaw'">
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Formato")'
                    (change)='toggle("Formato")' /><span>Formato</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Default")' (change)='toggle("Default")' /><span>Valor
                    Default</span>
                </label></div>
            </tr>
          </table>
          <table>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='isChecked("Acciones")'
                    (change)='toggle("Acciones")' /><span>Acciones</span>
                </label></div>
            </tr>
            <tr>
              <div id="tg-button"><label>
                  <input type='checkbox' [checked]='allColumnsChecked' (change)='toggleAllP()' /><span>TODO</span>
                </label></div>
            </tr>
          </table>
        </mat-expansion-panel>
        <!-- Busqueda namings -->
        <mat-expansion-panel class="tableSearchMat">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Búsqueda de namings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-3">
                <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()" style="width: 210px;">
                  <input matInput placeholder="Naming" [(ngModel)]="namingGlobalSearch" name="namingGlobalSearchP">
                </mat-form-field>
              </div>
              <div style="width: 105px; padding: 0 15px 0 15px;">
                <mat-form-field class="fieldsearch-form3" (keyup.enter)="getFieldsQuery()"
                  style="padding-left: 10px; padding-right: 0px;">
                  <mat-select placeholder="Sufijo" [(value)]="suffixSearch">
                    <mat-option *ngFor="let s of suffixes" [value]="s.suffix">
                      {{s.suffix}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()"
                  style="width: 210px; padding-left: 10px;">
                  <input matInput placeholder="Lógico" [(ngModel)]="logicGlobalSearch" name="logicGlobalSearch">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
                  <input matInput placeholder="Nombre legacy" [(ngModel)]="legacySearch" name="legacySearch">
                </mat-form-field>
              </div>
              <div class="col-2 col-213">
                <mat-form-field class="fieldsearch-form3" (keyup.enter)="getFieldsQuery()"
                  style="padding-left: 10px; padding-right: 0px;">
                  <mat-select placeholder="Estado Comentario" (selectionChange)="selectedCommentState($event.value)"
                    [(value)]="namingStatusSearch">
                    <mat-option *ngFor="let r of reasons" [value]="r.error">
                      {{r.error}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()">
                  <textarea matInput placeholder="Descripción legacy" [(ngModel)]="descLegacySearch"
                    name="descLegacySearch" style="resize: none; height: 11px; overflow: hidden;"></textarea>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="fieldsearch-form" (keyup.enter)="getFieldsQuery()" style="width: 430px;">
                  <textarea matInput placeholder="Descripción" [(ngModel)]="descGlobalSearch" name="descGlobalSearch"
                    style="resize: none; height: 11px; overflow: hidden;"></textarea>
                </mat-form-field>
              </div>
              <div class="col-2" style="padding-top: 10px;">
                <button mat-button (click)="getFieldsQuery()" class="button-query-global" style="margin-right: 5px;">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-button class="button-query-global" (click)="cleanQuery()">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- TABLA -->
      <div class="tableFixed">
        <ngx-datatable #table class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50"
          [rowHeight]="'auto'" [rows]="fieldsTable" [scrollbarH]="true" [scrollbarV]="false" [limit]="rowsLimit"
          [loadingIndicator]="loadingIndicator" [rowClass]="getRowClass" (page)="onPaginated($event)">
          <ngx-datatable-column name="No." width="50" prop="column" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>No.</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row">
              <span>{{row.column+1}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[31].visible" name="Estado Naming Gob." width="105" prop="column"
            [sortable]="false" [cellClass]="getCellClassState">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span>{{row.naming.governanceState === 'C' ? 'Cerrado' : 'Abierto'}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[24].visible && activeTab !== 'FieldReview'" name="Código"
            prop="naming.code" [width]="95" [sortable]="false">
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[30].visible && activeTab !== 'FieldReview'" name="Jerarquía"
            prop="naming.hierarchy" [width]="105" [sortable]="false">
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[1].visible && activeTab === 'FieldReview'" name="Inicio" width="65"
            prop="startPosition" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.startPosition}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[2].visible && activeTab === 'FieldReview'" name="Final" width="65"
            prop="endPosition" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.endPosition}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[3].visible && activeTab === 'FieldReview'" name="Longitud" width="80"
            prop="length" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex" width="50">
              <span title="Doble clic para editar."
                (dblclick)="blockers[row.column]===true ? editing[(row.column) + '-length'] = false : editing[(row.column) + '-length'] = true"
                *ngIf="!editing[(row.column) + '-length']">
                {{row.length}}</span>
              <input type="number" min="0" autofocus
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-length'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'length');"
                *ngIf="editing[(row.column)+ '-length']" [value]="value" ng-pattern-restrict="[0-9]*"
                class="input-length" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[4].visible && activeTab === 'FieldReview'" name="Tipo origen" width="110"
            prop="originType" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
              <span matTooltip="Doble clic para editar" (dblclick)="editing[(row.column) + '-originType'] = true"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-originType'] ">
                {{row.originType}}</span>
              <select class="select-destinationType"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-originType']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-originType'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'originType')" [value]="value"
                style="width: 85px;">
                <option value="CHAR">CHAR</option>
                <option value="DECIMAL">DECIMAL</option>
                <option *ngIf="showHostTableFields" value="DECIMALEMP">DECIMAL EMPAQUETADO</option>
                <option value="DATE">DATE</option>
                <option value="TIMESTAMP">TIMESTAMP</option>
                <option value="INTEGER">INTEGER</option>
                <option value="TIME">TIME</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[5].visible && showHostTableFields && activeTab === 'FieldReview'"
            name="Outrec" prop="outRec" width="130" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.outRec}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[6].visible && showHostTableFields && activeTab === 'FieldReview'"
            name="Varchar salida" prop="outVarchar" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.outVarchar}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[7].visible && showHostTableFields && activeTab === 'FieldReview'"
            name="Salida" width="70" prop="outLength" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.outLength}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[8].visible" name="Naming" width="200" prop="naming.naming"
            [sortable]="false" [cellClass]="getCellClass">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-naming.naming'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-naming.naming'] ">
                {{row.naming.naming}}</span>
              <input autofocus class="input-logic-naming"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-naming.naming']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-naming.naming'] = false"
                (change)="updateValueTwice($event.target.value, row, 'naming','naming')" [value]="row.naming.naming"
                maxlength="32" pattern="[a-zA-Z0-9]*" (input)="inputValidatorNaming($event.target.value)"
                ng-pattern-restrict />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[9].visible" name="Nombre Lógico" width="200" prop="logic"
            [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-logic'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-logic'] ">
                {{row.logic}}</span>
              <textarea autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-logic'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'logic')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-logic']" type="text" maxlength="55"
                [value]="value" pattern="[a-zA-Z0-9]*" (input)="inputValidatorLogic($event)" ng-pattern-restrict
                rows="4" cols="20"></textarea>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[10].visible" name="Descripción" width="300" prop="description"
            [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-description'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-description'] ">
                {{row.description}}</span>
              <textarea autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-description'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'description')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-description']" type="text" [value]="value"
                minlength="50" rows="4" cols="35"></textarea>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column *ngIf="columns[11].visible" name="Catálogo" prop="catalogue" width="90"
            [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-catalogue'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-catalogue'] ">
                {{row.catalogue}}</span>
              <textarea autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-catalogue'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'catalogue')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-catalogue']" type="text" [value]="value"
                rows="4" cols="11"></textarea>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[22].visible && activeTab !== 'FieldReview'" name="Tipo de dato"
            width="130" prop="destinationType" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div *ngIf="!calculatedField(row) || activeTab === 'fieldsRaw'">{{row.destinationType}}</div>
              <!-- PARA RAW -->
              <div *ngIf="calculatedField(row) && activeTab === 'fieldsRaw'">
                <span style="font-size: 10px; border-bottom-style: inset;">Tipo en master</span>
                <span title="Doble clic para editar."
                  (click)="dataTypeList(row, activeTab); editing[row.column + '-destinationType'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="!editing[row.column + '-destinationType']">
                  {{row.outFormat}}
                </span>
                <select class="select-Y-N" *ngIf="!blockers[row.column] && editing[(row.column) + '-destinationType']"
                  (blur)="blockers[row.column] = false; !editing[(row.column) + '-destinationType'] = false"
                  (change)="updateValueGeneral($event.target.value, row, 'GEN_outFormat')" [value]="value">
                  <option [value]="type" *ngFor="let type of arraySuffixTmp">{{type}}</option>
                </select>
              </div>
              <!-- PARA MASTER -->
              <div *ngIf="calculatedField(row) && activeTab === 'fieldsMaster'">
                <span title="Doble clic para editar."
                  (click)="dataTypeList(row, activeTab); editing[row.column + '-destinationType'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="!editing[row.column + '-destinationType']">
                  {{row.destinationType}}
                </span>
                <select class="select-Y-N" *ngIf="!blockers[row.column] && editing[(row.column) + '-destinationType']"
                  (blur)="blockers[row.column] = false; !editing[(row.column) + '-destinationType'] = false"
                  (change)="updateValueGeneral($event.target.value, row, 'destinationType')" [value]="value">
                  <option [value]="type" *ngFor="let type of arraySuffixTmp">{{type}}</option>
                </select>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[25].visible && activeTab !== 'FieldReview'" name="Formato Lógico"
            width="180" prop="logicalFormat" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div *ngIf="!calculatedField(row)">{{row.logicalFormat}}</div>
              <!-- PARA RAW -->
              <div *ngIf="calculatedField(row) && activeTab === 'fieldsRaw'">
                <div *ngIf="(row.destinationType.includes('STRING') || row.destinationType.includes('String'))">
                  <span title="Doble clic para editar."
                    (click)="editing[row.column + '-logicalFormat'] = true;value === 'empty' ? value='' : value=value;"
                    *ngIf="!editing[row.column + '-logicalFormat']">
                    {{row.logicalFormat}}
                  </span>
                  <div *ngIf="editing[(row.column)+ '-logicalFormat']">
                    ALPHANUMERIC(
                    <input type="number" min="0" autofocus
                      (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                      (change)="updateValueGeneral($event.target.value, row, 'GEN_logicalFormat');" [value]=" "
                      ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                    )
                  </div>
                </div>
                <div>
                  <span style="font-size: 10px; border-bottom-style: inset;">Salida del campo en master</span>
                  <div
                    *ngIf="row.outFormat.includes('STRING') || row.outFormat.includes('INT') || row.outFormat.includes('DATE') || row.outFormat.includes('TIMESTAMP')">
                    <span>{{getFutureFormat(row)}}</span>
                  </div>
                  <div *ngIf="row.outFormat.includes('DECIMAL')">
                    <span title="Doble clic para editar."
                      (click)="editing[row.column + '-outFormat'] = true;value === 'empty' ? value='' : value=value;"
                      *ngIf="!editing[row.column + '-outFormat']">
                      {{row.outFormat}}
                    </span>
                    <div *ngIf="editing[(row.column)+ '-outFormat']">
                      DECIMAL(
                      <input type="number" min="0" autofocus
                        (blur)="blockers[row.column] = false; !editing[(row.column) + '-outFormat'] = false"
                        (change)="updateValueGeneral($event.target.value, row, 'GEN_ENT_outFormat');" [value]=" "
                        ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                      ,
                      <input type="number" min="0" autofocus
                        (blur)="blockers[row.column] = false; !editing[(row.column) + '-outFormat'] = false"
                        (change)="updateValueGeneral($event.target.value, row, 'GEN_DEC_outFormat');" [value]=" "
                        ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                      )
                    </div>
                  </div>
                </div>
              </div>
              <!-- PARA MASTER -->
              <div *ngIf="calculatedField(row) && activeTab === 'fieldsMaster'">
                <div *ngIf="(row.destinationType.includes('STRING') || row.destinationType.includes('String'))">
                  <span title="Doble clic para editar."
                    (click)="editing[row.column + '-logicalFormat'] = true;value === 'empty' ? value='' : value=value;"
                    *ngIf="!editing[row.column + '-logicalFormat']">
                    {{row.logicalFormat}}
                  </span>
                  <div *ngIf="editing[(row.column)+ '-logicalFormat']">
                    ALPHANUMERIC(
                    <input type="number" min="0" autofocus
                      (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                      (change)="updateValueGeneral($event.target.value, row, 'GEN_logicalFormat');" [value]=" "
                      ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                    )
                  </div>
                </div>
                <div *ngIf="(row.destinationType.includes('DECIMAL') || row.destinationType.includes('Decimal'))">
                  <span title="Doble clic para editar."
                    (click)="editing[row.column + '-logicalFormat'] = true;value === 'empty' ? value='' : value=value;"
                    *ngIf="!editing[row.column + '-logicalFormat']">
                    {{row.logicalFormat}}
                  </span>
                  <div *ngIf="editing[(row.column)+ '-logicalFormat']">
                    DECIMAL(
                    <input type="number" min="0" autofocus
                      (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                      (change)="updateValueGeneral($event.target.value, row, 'GEN_ENT_logicalFormat');" [value]=" "
                      ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                    ,
                    <input type="number" min="0" autofocus
                      (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                      (change)="updateValueGeneral($event.target.value, row, 'GEN_DEC_logicalFormat');" [value]=" "
                      ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
                    )
                  </div>
                </div>
                <div *ngIf="(row.destinationType.includes('INT') || row.destinationType.includes('int'))">
                  <span matTooltip="Doble clic para editar"
                    (dblclick)="editing[(row.column) + '-logicalFormat'] = true; value === 'empty' ? value='' : value=value;"
                    *ngIf="blockers[row.column] || !editing[(row.column) + '-logicalFormat'] ">
                    {{row.logicalFormat}}</span>
                  <select class="selectLarge" *ngIf="!blockers[row.column] && editing[(row.column) + '-logicalFormat']"
                    (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                    (change)="updateValueGeneral($event.target.value, row, 'logicalFormat')" [value]="value">
                    <option value="NUMERIC SHORT">NUMERIC SHORT</option>
                    <option value="NUMERIC LARGE">NUMERIC LARGE</option>
                  </select>
                </div>
                <div
                  *ngIf="(row.destinationType.includes('DATE') || row.destinationType.includes('date')) || 
                    (row.destinationType.includes('TIMESTAMP_MILLIS') || row.destinationType.includes('timestamp_millis'))">
                  <span matTooltip="Doble clic para editar"
                    (dblclick)="editing[(row.column) + '-logicalFormat'] = true; value === 'empty' ? value='' : value=value;"
                    *ngIf="blockers[row.column] || !editing[(row.column) + '-logicalFormat'] ">
                    {{row.logicalFormat}}</span>
                  <select class="selectLarge" *ngIf="!blockers[row.column] && editing[(row.column) + '-logicalFormat']"
                    (blur)="blockers[row.column] = false; !editing[(row.column) + '-logicalFormat'] = false"
                    (change)="updateValueGeneral($event.target.value, row, 'logicalFormat')" [value]="value">
                    <option *ngIf="row.destinationType.includes('DATE')" value="DATE">DATE</option>
                    <option *ngIf="row.destinationType.includes('TIMESTAMP_MILLIS')" value="TIMESTAMP">
                      TIMESTAMP</option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[12].visible" name="Campo Legacy" prop="legacy.legacy" [sortable]="false"
            [cellClass]="getCellClassLegacy">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <span matTooltip="Doble clic para editar"
                  (dblclick)="editing[(row.column) + '-legacy'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="blockers[row.column] || !editing[(row.column) + '-legacy'] ">
                  {{row.legacy.legacy}}</span>
                <input autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-legacy'] = false"
                  (change)="updateValueTwice($event.target.value, row, 'legacy','legacy')"
                  *ngIf="!blockers[row.column] && editing[(row.column) + '-legacy']" type="text" [value]="value"
                  class="input-legacy" />
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[13].visible" name="Descripción Legacy" width="200"
            prop="legacy.legacyDescription" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <span matTooltip="Doble clic para editar"
                  (dblclick)="editing[(row.column) + '-legacyDescription'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="blockers[row.column] || !editing[(row.column) + '-legacyDescription'] ">
                  {{row.legacy.legacyDescription}}</span>
                <textarea autofocus
                  (blur)="blockers[row.column] = false; !editing[(row.column) + '-legacyDescription'] = false"
                  (change)="updateValueTwice($event.target.value, row, 'legacy', 'legacyDescription')"
                  *ngIf="!blockers[row.column] && editing[(row.column) + '-legacyDescription']" type="text"
                  [value]="value" rows="4" cols="20"></textarea>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[14].visible && activeTab === 'FieldReview'" name="Ejemplo" width="90"
            prop="example" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-example'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-example'] ">
                {{row.example}}</span>
              <input autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-example'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'example')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-example']" type="text" [value]="value"
                class="input-legacy" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[15].visible" name="Key" width="70" prop="key" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <span matTooltip="Doble clic para editar"
                  (dblclick)="editing[(row.column) + '-key'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="blockers[row.column] || !editing[(row.column) + '-key'] ">
                  {{row.key == 1 ? "YES" : "NO"}}</span>
                <select style="width: 50px;" *ngIf="!blockers[row.column] && editing[(row.column) + '-key']"
                  (blur)="blockers[row.column] = false; !editing[(row.column) + '-key'] = false"
                  (change)="updateValueGeneral($event.target.value, row, 'key')" [value]="value">
                  <option value=1>YES</option>
                  <option value=0>NO</option>
                </select>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[16].visible" name="Mandatory" width="80" prop="mandatory"
            [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-mandatory'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-mandatory'] ">
                {{row.mandatory == 1 ? "YES" : "NO"}}</span>
              <select style="width: 50px;" *ngIf="!blockers[row.column] && editing[(row.column) + '-mandatory']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-mandatory'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'mandatory')" [value]="value">
                <option value=1>YES</option>
                <option value=0>NO</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[17].visible && activeTab === 'FieldReview'" name="Signo" width="80"
            prop="symbol" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-symbol'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-symbol'] ">
                {{row.symbol == 1 ? "YES" : "NO"}}</span>
              <select class="select-Y-N" *ngIf="!blockers[row.column] && editing[(row.column) + '-symbol']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-symbol'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'symbol')" [value]="value">
                <option value=1>YES</option>
                <option value=0>NO</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[26].visible && activeTab !== 'FieldReview'" name="Tokenización"
            width="120" prop="tokenization" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (click)="editing[(row.column) + '-tokenization'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-tokenization'] ">
                {{row.tokenization}}</span>
              <select class="select-Y-N" *ngIf="!blockers[row.column] && editing[(row.column) + '-tokenization']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-tokenization'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'tokenization')" [value]="value"
                style="width: 100px;">
                <option value="empty">empty</option>
                <option value="pan">pan</option>
                <option value="cclient">cclient</option>
                <option value="mail">mail</option>
                <option value="phone">phone</option>
                <option value="nif">nif</option>
                <option value="alphanumeric">alphanumeric</option>
                <option value="alphanumeric extended">alphanumeric extended</option>
                <option value="numeric">numeric</option>
                <option value="numeric extended">numeric extended</option>
                <option value="data-extended">data-extended</option>
                <option value="generic">generic</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[18].visible && activeTab === 'FieldReview'" name="Enteros" width="65"
            prop="integers" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <!--<div *ngIf="row.destinationType === 'DECIMAL'">-->
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-integers'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-integers'] ">
                {{row.integers}}</span>
              <input autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-integers'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'integers')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-integers']" type="text" [value]="value"
                pattern="[0-9]*" min="0" class="input-length" ng-pattern-restrict />
              <!--</div>-->
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[19].visible && activeTab === 'FieldReview'" name="Decimales" width="80"
            prop="decimals" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <span matTooltip="Doble clic para editar"
                  (dblclick)="editing[(row.column) + '-decimals'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="blockers[row.column] || !editing[(row.column) + '-decimals'] ">
                  {{row.decimals}}</span>
                <input autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-decimals'] = false"
                  (change)="updateValueGeneral($event.target.value, row, 'decimals')"
                  *ngIf="!blockers[row.column] && editing[(row.column) + '-decimals']" type="text" [value]="value"
                  pattern="[0-9]*" min="0" class="input-length" ng-pattern-restrict />
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[20].visible && activeTab === 'FieldReview'" name="Tipo destino"
            width="100" prop="destinationType" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="dataTypeList(row, activeTab); editing[(row.column) + '-destinationType'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-destinationType'] ">
                {{row.destinationType}}</span>
              <select class="select-Y-N" style="width: 120%;"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-destinationType']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-destinationType'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'destinationType')" [value]="value">
                <option [value]="type" *ngFor="let type of arraySuffixTmp">{{type}}</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[21].visible && activeTab === 'FieldReview'" name="Formato Gobierno"
            prop="governanceFormat" width="140" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span style="width: 135px;">
                {{row.governanceFormat}}
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[22].visible && activeTab !== 'fieldsRaw'" name="Formato" width="145"
            prop="format" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <span matTooltip="Doble clic para editar" style="width: 100%;"
                  (dblclick)="editing[(row.column) + '-format'] = true; value === 'empty' ? value='' : value=value;"
                  *ngIf="blockers[row.column] || !editing[(row.column) + '-format'] ">
                  {{row.format === '' ? 'empty' : row.format}}</span>
                <textarea autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-format'] = false"
                  (change)="updateValueGeneral($event.target.value, row, 'format')"
                  *ngIf="!blockers[row.column] && editing[(row.column) + '-format']" type="text" [value]="value"
                  class="input-legacy"></textarea>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[32].visible" name="Valor Default" prop="default" [sortable]="false"
            [width]="100">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-default'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-default'] ">
                {{row.default === "" ? 'empty' : row.default}}</span>
              <input autofocus (blur)="blockers[row.column] = false; !editing[(row.column) + '-default'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'default')"
                *ngIf="!blockers[row.column] && editing[(row.column) + '-default']" type="text" [value]="value"
                style="width: 75px" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[28].visible && activeTab !== 'FieldReview'" name="TDS" width="80"
            prop="tds" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <span matTooltip="Doble clic para editar"
                (dblclick)="editing[(row.column) + '-tds'] = true; value === 'empty' ? value='' : value=value;"
                *ngIf="blockers[row.column] || !editing[(row.column) + '-tds'] ">
                {{row.tds == 1 ? "YES" : "NO"}}</span>
              <select class="select-Y-N" *ngIf="!blockers[row.column] && editing[(row.column) + '-tds']"
                (blur)="blockers[row.column] = false; !editing[(row.column) + '-tds'] = false"
                (change)="updateValueGeneral($event.target.value, row, 'tds')" [value]="value">
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[27].visible && activeTab === 'fieldsRaw'" name="VoBo" [sortable]="false"
            [cellClass]="getStatusRow">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngIf="row.hasOwnProperty('check') && row.check.comments.length > 0">
                {{row.check.comments[0]}}
              </span><br>
              <button style="float: right;" mat-icon-button (click)="commentsWindowsVoBo(row)">
                <mat-icon>assignment_turned_in</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf="columns[23].visible" width="280" name="Acciones" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <button matTooltip="Comentarios" mat-icon-button (click)="commentsWindows(row)">
                <mat-icon>comment</mat-icon>
              </button>
              <button matTooltip="Validar naming" *ngIf="!blockers[row.column]" mat-icon-button
                (click)="stateValidation(row, activeTab)">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
              <button matTooltip="Crear naming arriba" mat-icon-button (click)="addAboveFieldReview(row, activeTab)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button matTooltip="Crear naming abajo" mat-icon-button (click)="addBelowFieldReview(row, activeTab)">
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <button matTooltip="Eliminar naming" (click)="deleteFieldReview(row, activeTab)" mat-icon-button
                *ngIf="!blockers[row.column]">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-5">
                    <span>Filas:</span>
                    <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                      <mat-form-field>
                        <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                          (change)="_changeRowLimits($event)" />
                      </mat-form-field>
                    </div>
                    <span>| Total: {{rowCount}}</span>
                  </div>
                  <div class="col" style="padding-top: 10px;">
                    <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>