.margen-div {
  padding-bottom: 0;
}

.fullInput {
  width: 100%;
}

.inputHelp {
  width: 95%;
}

.helpPopdiv {
  width: 5%;
  display: inline-block;
  padding-left: 5px;
}

.loading {
  color: white;
  padding-top: 50px;
  font-family: "Helvetica Neue", sans-serif;
}

.mat-icon-button.small {
  width: 15px;
  height: 15px;
  line-height: 14px;
  .mat-icon {
    font-size: 18px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #004283;
  }
}

.searchContainer {
  font-size: 13px;
  margin-left: 7%;
}

.bigButtons {
  bottom: 7px;
  color: #004283;
  background-color: #2dcccd;
}

.bigButtons:hover {
  color: #2dcccd;
  background-color: #004283;
}

.expandButton {
  color: #004283;
}

.expandButton:hover {
  background-color: #004283;
  color: #2dcccd;
}

.mat-card{
    background-color: aliceblue;
}
.small-mat-card{
    max-width: 400px;
}

::ng-deep .onlyView {
  label {
    font-weight: bold !important;
    color: black !important;
  }
  textarea {
    color: black !important;
  }
  input {
    color: black !important;
  }
}

::ng-deep .table .mat-icon-button.mat-primary {
  bottom: 7px;
}

.aboveMenu {
  z-index: 9000;
}

//matspinner loading overlay
.smallLoadingOverlay {
  height: 102px !important;
}

.loadingOverlay {
  height: 609px;
  width: 98%;
  z-index: 8000;
  position: absolute;
  left: 1%;
  background-color: #00000073;
  div {
    margin-top: 5%;
    line-height: 100px;
    height: 200px;
    text-align: center;
  }
}

.matSpinner {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.col-2Eleven {
  flex: 0 0 11.666667%;
  max-width: 11.666667%;
}
.col-2File {
  flex: 0 0 9.666667%;
  max-width: 9.666667%;
  padding-left: 15px;
}
