<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Buscar Bases Operacionales</h2>
    </div>
  </div>
</div>

<div autosize>
  <div class="margen-div">
    <div class="container-fluid searchContainer">
      <div class="row" style="margin-left: 4%;">
        <div class="col-2">
          <mat-form-field class="fullInput" (keyup.enter)="getSearchBases()">
            <input matInput placeholder="Nombre objeto" [(ngModel)]="nameQuery" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput" (keyup.enter)="getSearchBases()">
            <input matInput placeholder="Nombre base" [(ngModel)]="logicNameQuery" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput">
            <input matInput placeholder="Descripción" [(ngModel)]="descQuery" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="fullInput">
            <mat-select placeholder="Proyecto" (selectionChange)="selectedProjectOption($event.value)"
              [formControl]="formControlProyecto">
              <mat-option *ngFor="let r of projectOptions" [value]="r._id">
                {{r.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <mat-select #selectorAmbito placeholder="Ambito" (selectionChange)="selectAmbito($event.value)"
              [formControl]="formControlAmbito" required>
              <mat-option value="K">Global - K</mat-option>
              <mat-option value="C">Colombia - C</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <mat-select #selectorUUAA placeholder="UUAA" (selectionChange)="selectUuaa($event.value)"
              [formControl]="formControlUUAA" required>
              <mat-option *ngFor="let f of uuaaOptions" [value]="f">
                {{ f }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <button mat-button (click)="getSearchBases()" class="button-query-global" style="margin-right: 5px;">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button class="button-query-global2" (click)="clean()" style="margin-right: 5px;">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-query-div" style="padding-bottom: 2%; position: relative;">
    <div *ngIf="loadingIndicator" class="loadingOverlay" [ngClass]="{ smallLoadingOverlay: shortSearch }">
      <div>
        <mat-spinner class="matSpinner"></mat-spinner>
      </div>
    </div>
    <ngx-datatable style="position: relative;" class="material table" #myTable [rows]="basesQuery"
      [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10"
      [loadingIndicator]="loadingIndicator">
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="container-fluid onlyView" style="font-size: 12px;">
            <div class="row" style="margin-left: 3%;">
              <div class="col-1">
                <mat-form-field class="inputHelp">
                  <input matInput placeholder="UUAA Master" [(ngModel)]="row.uuaaMaster" disabled />
                </mat-form-field>
              </div>
              <div class="col-9">
                <mat-form-field class="fullInput">
                  <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Descripción"
                    [(ngModel)]="row.observationField" disabled>
                  </textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!--
      <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60" [resizeable]="true" [draggable]="true" [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <button mat-icon-button class="expandButton" matTooltip="Detalles" (click)="toggleExpandRow(row, expanded)">
            <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      -->
      <ngx-datatable-column name="Nombre objeto" prop="object_name" [width]="100" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre base" prop="baseName" [width]="150" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción" prop="observationField" [width]="150" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Tipo DB" prop="db_type" [width]="120" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Category" prop="category_id" [width]="120" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="UUAA" prop="uuaaMaster" [width]="50" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Detalles" [width]="40" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-button class="button-query-global bigButtons" (click)="viewOPBase(row)">
            <mat-icon class="buttonIcon">collections_bookmark</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': true}">
    <mat-card-content *ngIf="activeHelp === 'ambito'">
      Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno
      local de Colombia.<br>
      Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master'">
      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
    </mat-card-content>
  </mat-card>
</mde-popover>