h1 {
    color: #004283;
    margin-top: 3px;
    font-weight: bold;
}

.closeIcon {
    color: #004283;
    font-size: 30px;
    float: left;
    margin-right: 6px;
    margin-bottom: 2px;
}

.margenTitle {
    width: 96%;
    margin: 0 0 2% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

.row-border {
    border-top-style: outset;
    padding-top: 20px
}

.subMargen {
    margin-bottom: 3%;
    margin-top: -10px;
    width: 100%;
    border-bottom-color: #2dcccd;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.mat-textarea-input {
    height: 16px;
    min-height: 17px;
    overflow: hidden;
    padding-right: 10px;
}

.full-width {
    width: 100%;
}

::ng-deep .onlyView {
    padding-top: 1%;
    label {
        font-weight: bold !important;
        color: black !important;
    }
    textarea {
        color: black !important;
    }
    input {
        color: black !important;
    }
    .mat-form-field-underline {
        border-bottom-style: inset;
        border-bottom-width: thin;
    }
}

.rowUpperBorder {
    border-top-style: outset;
    padding-top: 15px;
}

.errorBtn {
    color: white;
    background-color: #33b3b3;
}

.divError {
    font-size: 100%;
    color: #D8000C;
    background-color: #FFD2D2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin-bottom: 3%;
}

.col-8 {
    padding-left: 20px;
}

.col-2Twenty {
    flex: 0 0 20%;
    max-width: 20%;
}

.buttonColor {
    color: #004283;
    background: #2DCCCD;
    margin-left: 20px;
}