<div class="container-fluid">
    <div class="row" style="height: 40px">
        <div class="col-10">
            <h1 mat-dialog-title>Modificacion Tabla - {{ tableObject.alias }}</h1>
        </div>
        <div class="col-2" style="font-size: 30px; padding-left: 20px">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>
<div class="container-fluid" style="height: 38rem; overflow: auto">
    <div class="row">
        <div class="col-5">
            <mat-form-field class="full-width">
                <input matInput placeholder="NOMBRE FÍSICO OBJETO RAW" [(ngModel)]="tableObject.raw_name" />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 50%; display: inline-block">
                <input matInput placeholder="CORTO RAW" [(ngModel)]="uuaaShortRaw" maxlength="7" disabled />
            </mat-form-field>
            <mat-form-field style="width: 50%; display: inline-block">
                <input matInput placeholder="CORTO MASTER" [(ngModel)]="uuaaShortMaster" maxlength="7" disabled />
            </mat-form-field>
        </div>
        <div class="col-1">
            <mat-form-field class="full-width">
                <input matInput placeholder="UUAA RAW" [(ngModel)]="tableObject.uuaaRaw" />
            </mat-form-field>
        </div>

        <div class="col-1">
            <mat-form-field class="full-width">
                <mat-select placeholder="ÁMBITO" (selectionChange)="selectedAmbito($event.value)" [(ngModel)]="currAmbito">
                    <mat-select-trigger> {{ currAmbito }} </mat-select-trigger>
                    <mat-option *ngFor="let ambito of ambitoOptions" [value]="ambito.letter">
                        {{ ambito.letter }} - {{ ambito.country }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="UA MASTER" [matAutocomplete]="autoUUAA" [formControl]="uuaaControl" (blur)="checkSelectedUUAA()" />
            </mat-form-field>
            <mat-autocomplete [panelWidth]="175" #autoUUAA="matAutocomplete" [displayWith]="displayUUAA" (optionSelected)="selectedUuaa($event)">
                <mat-option *ngFor="let name of filteredUUAAs | async" class="selectPretty" [value]="name" [ngClass]="{'current-uuaa': tableObject.uuaaMaster == name.full_name}">
                    <span style="color: #d185cb">({{ name.full_name.charAt(0) }})</span>
                    <span>{{ name.short_name }} | </span>
                    <small style="color: #004283">{{ name.country }}</small>
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="NOMBRE LOGICO OBJETO" [(ngModel)]="tableObject.baseName" />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 100%;">
                <textarea matInput class="mat-textarea-input" rows="1" cols="50" placeholder="PERÍMETRO" [(ngModel)]="tableObject.perimeter"></textarea>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field style="width: 100%;">
                <textarea matInput class="mat-textarea-input" rows="1" cols="50" placeholder="NIVEL INFORMACIÓN" [(ngModel)]="tableObject.information_level"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-border">
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="FRECUENCIA RAW" [(ngModel)]="tableObject.periodicity">
                    <mat-option *ngFor="let c of frecuencyOptions" [value]="c.periodicity"> {{ c.periodicity }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="FRECUENCIA MASTER" [(ngModel)]="tableObject.periodicity_master">
                    <mat-option *ngFor="let c of frecuencyOptions" [value]="c.periodicity"> {{ c.periodicity }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="MARCA OBJETO TÁCT." [(ngModel)]="tableObject.tacticalObject">
                    <mat-option value="YES">YES</mat-option>
                    <mat-option value="NO">NO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="TIPO CARGA" [(ngModel)]="tableObject.loading_type">
                    <mat-option *ngFor="let t of loadingTypesOptions" [value]="t"> {{ t }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="TIPO OBJETO" matTooltip="Tipo del objeto de entrada" [(ngModel)]="tableObject.objectType">
                    <mat-option *ngFor="let j of objectTypesOptions" [value]="j"> {{ j }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select #originSystem placeholder="FUENTE ORIGEN" matTooltip="Fuente de origen" [(ngModel)]="tableObject.originSystem">
                    <mat-option *ngFor="let s of originSystemOptions" [value]="s.system"> {{ s.system }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <mat-form-field class="full-width">
                <input matInput placeholder="NOMBRE FÍSICO OBJETO ORIGEN" [(ngModel)]="tableObject.physical_name_source_object" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="PROF. ACTUAL" matTooltip="Profundidad de los historicos" [(ngModel)]="tableObject.current_depth" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="meses" disabled />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="VOL. ESTIMADA" matTooltip="Volumetría de registros de los historicos" [(ngModel)]="tableObject.estimated_volume_records" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="regs." disabled />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="PROF. REQUERIDA" matTooltip="Profundidad de los historicos requeridos" [(ngModel)]="tableObject.required_depth" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="regs." disabled />
            </mat-form-field>
        </div>
        <div class="col-1">
            <mat-form-field class="full-width">
                <mat-select #originSystem placeholder="TIPO" matTooltip="Tipo de archivo" [(ngModel)]="tableObject.typeFile">
                    <mat-option *ngFor="let f of fileTypeOptions" [value]="f"> {{ f }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="PARTICIONES RAW" [(ngModel)]="tableObject.partitions_raw" />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="PARTICIONES MASTER" [(ngModel)]="tableObject.partitions_master" />
            </mat-form-field>
        </div>
    </div>
    <div class="row row-border">
        <div class="col-3">
            <mat-form-field class="full-width">
                <mat-select placeholder="DEPLOYMENT TYPE" matTooltip="Tipo del objeto de entrada" [(ngModel)]="tableObject.deploymentType">
                    <mat-option *ngFor="let type of deployType_values" [value]="type"> {{ type }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="RAW MODEL VERSION" [(ngModel)]="tableObject.modelVersion" maxlength="100" [disabled]="tableObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="RAW OBJECT VERSION" [(ngModel)]="tableObject.objectVersion" maxlength="100" [disabled]="tableObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="MASTER MODEL VERSION" [(ngModel)]="tableObject.modelVersionMaster" maxlength="100" [disabled]="tableObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="MASTER OBJECT VERSION" [(ngModel)]="tableObject.objectVersionMaster" maxlength="100" [disabled]="tableObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-1">
            <mat-form-field class="full-width">
                <input matInput placeholder="DELIM" matTooltip="Delimitador del archivo de entrada" [(ngModel)]="tableObject.separator" maxlength="3" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="RUTA ORIGEN RAW" [(ngModel)]="tableObject.raw_path" />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="RUTA ORIGEN MASTER" [(ngModel)]="tableObject.master_path" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="RUTA ESQUEMA RAW" [(ngModel)]="tableObject.raw_route" />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="RUTA ESQUEMA MASTER" [(ngModel)]="tableObject.master_route" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <button style="float: right" mat-button class="buttonColor" (click)="updateObject()"> Actualizar objeto </button>
        </div>
    </div>
</div>