::ng-deep .tabGroup .mat-tab-header {
	display: none;
}

.subTitle {
	color: #004283; 
	width: 95%; 
	margin: 0 3% 1% 3%; 
	border-bottom-style: outset; 
	border-bottom-width: thin; 
	border-bottom-color: #004283;
}

.divH2 {
	margin-left: 2%;
	margin-top: 20px;
	color: #004283;
}

.subMargen {
	margin-left: 1%;
	width: 98%;
	border-bottom-color: #004283;
	border-bottom-style: inset;
	border-bottom-width: thin;
}

.marginBottomHeader {
	border-bottom-style: inset;
	width: 97%;
	margin-left: 20px;
	margin-bottom: 20px;
	border-bottom-color: #004283;
	border-bottom-width: 2px;
}

.fullInput {
	width: 100%;
}
.semiInput {
	width: 60%;
	display: inline-block;
}
.semiMargin {
	margin-right: 10px;
}
.semiHelp {
	width: 35%; 
	display: inline-block;
}
.inputHelp {
	width: 93%;
	display: inline-block;
}
.helpPopdiv {
	width: 5%;
	display: inline-block;
	padding-left: 5px;
}
.smallPadd {
	padding-left: 5px;
}
.mat-form-field {
	font-size: 13px;
}
.rowUpperBorder {
	border-top-style: outset;
	padding-top: 15px;
}
.allContain {
	padding-left: 2%;
	padding-right: 2%;
}
.inputFieldForHelpPop {
	width: 93%;
	display: inline-block;
}

.inputFieldForHelpPop-Small {
	width: 92%;
	display: inline-block;
}
input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	opacity: 0;
	z-index: 2;
}
.divAboveFileInput {
	margin-right:10px; 
	position: relative; 
	bottom: 20px; 
	text-align: left; 
}
.mat-icon-button.small {
	width: 15px;
	height: 15px;
	line-height: 15px;
	.mat-icon {
		font-size: 20px;
		width: 15px;
		height: 15px;
		line-height: 15px;
		color: #004283;
	}
}
.mat-button.redEye {
	color: #2DCCCD !important;
	.mat-icon {
		color: #2DCCCD !important;
	}
}
.buttonActualizar {
	margin-top: 1%;
	float: right;
	padding-right: 5%;
	margin-left: 15px;
}

.normalButt {
	color: white;
	background: #004283;
}

.buttonNormal {
	color: #004283;
	background: #2DCCCD;
	margin-left: 15px;
}

.buttonNormalHover:hover {
	color: white;
	background: #2db7cd;
}

.buttonExtra {
	margin-left: 25px;
	color: white;
	background: #004283;
}

.levelHelpButtsDataSource {
	line-height: 50px;
}

.mat-card {
	background-color: aliceblue;
}

.small-mat-card {
	max-width: 400px;
}

.big-mat-card {
	max-width: 530px;
}

.col-9Per {
	flex: 0 0 8.666667%;
	max-width: 8.666667%;
	padding-left: 15px;
	margin-right: 5px;
}

.col-11Per {
	flex: 0 0 11.666667%;
	max-width: 11.666667%;
}

.col-13Per { 
	flex: 0 0 13.666667%;
	max-width: 13.666667%;
}

.col-2LoadLegacy {
	flex: 0 0 22%;
	max-width: 22%;
	padding-left: 0;
}

