<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Bases Operacionales</h2>
    </div>
  </div>
</div>

<div class="tabGroup allContain">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="baseInfoTemp"></ng-container>
        <!-- <ng-container *ngTemplateOutlet="queryNamings"></ng-container>-->
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #baseInfoTemp>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold">
        <span>
          {{baseInfo.uuaaMaster}} -
          <span style="font-style: oblique;">
            {{baseInfo.object_name}}
          </span>
        </span>
      </mat-panel-title>
      <mat-panel-description>{{baseInfo.alias}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-9Per">
          <mat-form-field class="inputHelp">
            <input class="inputHelp" matInput placeholder="UUAA FINAL" [(value)]="baseInfo.uuaaMaster" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'finalUuaa'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NOMBRE FÍSICO" [(value)]="baseInfo.object_name" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <mat-form-field class="fullInput">
            <input matInput placeholder="PROYECTO" [(value)]="baseInfo.project_owner" disabled>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput">
            <input matInput placeholder="ESTADO TABLÓN" [(value)]="stateTableClean" disabled>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput">
            <input matInput placeholder="DELIVERY OWNER" [(value)]="baseInfo.delivery_owner" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row rowUpperBorder">
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="Tipo DB" [(ngModel)]="baseInfo.db_type" 
              (selectionChange)="changeDB()" required>
              <mat-option *ngFor="let db of dbOptions" [value]="db.toUpperCase()">
                {{db.toUpperCase()}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'db_type'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="INDICE" [(ngModel)]="currIndex" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'index'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-11Per">
          <mat-form-field class="inputHelp">
            <mat-select #selectorAmbito placeholder="ÁMBITO" [(value)]="currAmbito" [formControl]="formControlAmbito"
              (selectionChange)="selectedAmbito($event.value)" required>
              <mat-option value="K">Global - K</mat-option>
              <mat-option value="C">Colombia - C</mat-option>
            </mat-select>
            <mat-error *ngIf="formControlAmbito.hasError('required') && false">
              El ambito es <strong>requerida</strong>.
            </mat-error>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-9Per">
          <mat-form-field class="inputHelp">
            <mat-select #selectorUUAA placeholder="UUAA" [(ngModel)]="currUUAA"
              (selectionChange)="selectedUuaa($event.value)" required>
              <mat-option *ngFor="let uuaa of uuaaOptions" [value]="uuaa">
                {{uuaa}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="DESCRIPCIÓN FÍSICO" [(ngModel)]="descAlias"
              (input)="inputValidatorDescAlias($event.target.value)">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="PERIODICIDAD" [(ngModel)]="baseInfo.periodicity" required>
              <mat-option *ngFor="let p of periodicityOptions" [value]="p.periodicity">
                {{p.periodicity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ALIAS" [(ngModel)]="baseInfo.alias" (input)="inputValidatorAliasLong($event)"
              maxlength="20">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'aliasLong'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <mat-form-field style="width: 95%;">
            <input matInput placeholder="NOMBRE LÓGICO" [(ngModel)]="baseInfo.baseName" maxlength="55"
              (input)="inputValidatorBaseName($event)">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 smallPadd">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERIMETRO" [(ngModel)]="baseInfo.perimeter">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 smallPadd">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="STORAGE ZONE" [(ngModel)]="baseInfo.storage_zone">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'storage_zone'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-9Per">
          <mat-form-field class="inputHelp">
            <mat-select placeholder="TIPO OBJETO" [(ngModel)]="baseInfo.object_type" required>
              <mat-option *ngFor="let type of objectTypeOptions" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-11Per">
          <mat-form-field class="fullInput">
            <input matInput placeholder="MARCA OBJETO TÁCTICO" [(ngModel)]="baseInfo.tacticalObject" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NIVEL DE INFORMACIÓN" [(ngModel)]="baseInfo.information_level">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'information_level'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="CATEGORY" [(ngModel)]="baseInfo.category_id">
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'category_id'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-13Per semiMargin">
          <div class="inputHelp">
            <mat-form-field class="semiInput">
              <input min="0" matInput placeholder="PROF. ACTUAL" [(ngModel)]="baseInfo.current_depth"
                (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos" 
                type="number" name="current_depth">
            </mat-form-field>
            <mat-form-field class="semiHelp">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'prof'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-13Per semiMargin">
          <div class="inputHelp">
            <mat-form-field class="semiInput">
              <input min="0" matInput placeholder="VOL. EST." [(ngModel)]="baseInfo.estimated_volume_records"
                (input)="inputValidatorNumbers($event)" matTooltip="Volumetría de registros de los historicos"
                type="number" name="estimated_volume_records">
            </mat-form-field>
            <mat-form-field class="semiHelp">
              <input matInput value="registros" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'volum'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-13Per semiMargin">
          <div class="inputHelp">
            <mat-form-field class="semiInput">
              <input matInput min="0" placeholder="PROF. REQU." [(ngModel)]="baseInfo.required_depth"
                (input)="inputValidatorNumbers($event)" matTooltip="Profundidad de los historicos requeridos"
                type="number" name="required_depth">
            </mat-form-field>
            <mat-form-field class="semiHelp">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'profReq'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-11">
              <mat-form-field class="inputHelp">
                <input matInput placeholder="RUTA ORIGEN" [(ngModel)]="baseInfo.source_path">
              </mat-form-field>
              <div class="helpPopdiv">
                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                  #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'source_path'">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <mat-form-field class="inputHelp">
                <input matInput placeholder="RUTA DESTINO" [(ngModel)]="baseInfo.base_path">
              </mat-form-field>
              <div class="helpPopdiv">
                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                  #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'route'">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <mat-form-field class="fullInput">
                <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="DESCRIPCIÓN"
                  [(ngModel)]="baseInfo.observationField">
                </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="inputHelp">
              <mat-form-field class="fullInput">
                <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="baseInfo.data_source" disabled>
              </mat-form-field>
            </div>
            <div class="helpPopdiv levelHelpButtsDataSource">
              <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'dataSource'">
                <mat-icon>help_outline</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="inputHelp">
              <mat-form-field class="fullInput">
                <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1"
                  [(ngModel)]="baseInfo.information_group_level_1" disabled>
              </mat-form-field>
            </div>
            <div class="helpPopdiv levelHelpButtsDataSource">
              <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl1'">
                <mat-icon>help_outline</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="inputHelp">
              <mat-form-field class="fullInput">
                <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2"
                  [(ngModel)]="baseInfo.information_group_level_2" disabled>
              </mat-form-field>
            </div>
            <div class="helpPopdiv levelHelpButtsDataSource">
              <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl2'">
                <mat-icon>help_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div  class="row">
        <div *ngIf="viewAuditFlag" class="col-5">
          <p style="font-style: italic; font-size: 12px; color: #004283">
            Base operacional creada el <strong>{{baseInfo.created_time}}</strong> y su última modificación fue el <strong>{{baseInfo.modifications.date}}</strong> por <strong>{{baseInfo.modifications.user_name}}.</strong>
          </p>
        </div>
        <div class="col"></div>
        <div class="col-5">
          <button mat-button class="buttonNormal" (click)="validateAllNamings()">Verificar Namings</button>
          <button mat-button class="buttonExtra" (click)="updateObject()">Actualizar datos</button>
          <button mat-button class="buttonNormal" (click)="generateExcel()">Generar Excels</button>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-4 col-2LoadLegacy">
          <button mat-raised-button class="buttonscolor" matTooltip="Editar Plantilla de Carga"
            style="margin-right: 10px; float: inherit;" (click)="openLoadSettings()">
            <mat-icon>calendar_view_month</mat-icon>
          </button>
          <button mat-raised-button class="buttonscolor" matTooltip="Plantilla de Carga"
            style="margin-right: 10px; float: inherit;" (click)="openExternalTemplateLink()">
            <mat-icon>library_books</mat-icon>
          </button>
          <button mat-raised-button class="buttonscolor" style="float: inherit;"
            (click)="excelStructure()">Subir Estructura</button>
        </div>
        <div class="col-3" style="padding-left: 0; top: 5px;">
          <th>
            <div>
              <input style="width: 100%;" type="file" class="file" accept=".xlsx" (change)="onFileChange($event)" />
              <div class="row divAboveFileInput">
                <div class="col-1">
                  <mat-icon style="position: relative; bottom: 5px;" matTooltip="Agregar archivo">note_add</mat-icon>
                </div>
                <div class="col-7">
                  <span style="font-family: sans-serif;">{{fileList === null ? 'Adjuntar Archivo' : fileList.name}}</span>
                </div>
              </div>
            </div>
          </th>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #tableTemplate>
  <div class="tablonTable">
    <ngx-datatable #myTable class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50"
      [limit]="rowsLimit" [rowHeight]="'auto'" [rows]="baseFields" [scrollbarH]="true" [scrollbarV]="false"
      (page)="onPaginated($event)" [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column name="No." [width]="50" prop="column" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.column+1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Naming" [width]="190" [sortable]="false" prop="naming.naming"
        [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-naming'] = true; value === 'empty' ? value = '' : value = value;"
            *ngIf="!editing[(row.column) + '-naming']">{{row.naming.naming === '' ? 'empty' : row.naming.naming}}</span>
          <input autofocus style="width: 100%;" *ngIf="editing[(row.column) + '-naming']"
            (change)="updateValue($event, row, 'naming')" (blur)="editing[(row.column) + '-naming'] = false"
            [value]="value" maxlength="32" pattern="[a-zA-Z0-9]*" (input)="inputValidatorNamingS($event, 'naming')"
            ng-pattern-restrict />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Lógico" [width]="250" prop="logic" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-logic'] = true; value === 'empty' ? value='' : value=value;"
            *ngIf="!editing[(row.column) + '-logic'] ">
            {{row.logic === '' ? 'empty' : row.logic}}</span>
          <textarea autofocus (blur)="!editing[(row.column) + '-logic'] = false"
            (change)="updateValue($event, row, 'logic')" *ngIf="editing[(row.column) + '-logic']" type="text"
            maxlength="55" [value]="value" pattern="[a-zA-Z0-9]*" (input)="inputValidatorNamingS($event, 'logic')"
            ng-pattern-restrict rows="4" cols="20"></textarea>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Descripción" [width]="250" prop="description" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-description'] = true; value === 'empty' ? value='' : value=value;"
            *ngIf="!editing[(row.column) + '-description'] ">
            {{row.description === '' ? 'empty' : row.description}}</span>
          <textarea autofocus (blur)="!editing[(row.column) + '-description'] = false"
            (change)="updateValue($event, row, 'description')" *ngIf="editing[(row.column) + '-description']"
            type="text" minlength="50" [value]="value" rows="4" cols="20"></textarea>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Catálogo" prop="catalogue" [width]="90" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span matTooltip="Doble clic para editar" *ngIf="!editing[(row.column) + '-catalogue']"
            (dblclick)="editing[(row.column) + '-catalogue'] = true; value === 'empty' ? value='' : value=value;">
            {{row.catalogue === '' ? 'empty' : row.catalogue}}</span>
          <textarea autofocus (blur)="!editing[(row.column) + '-catalogue'] = false"
            (change)="updateValue($event, row, 'catalogue')" *ngIf="editing[(row.column) + '-catalogue']" type="text"
            [value]="value" rows="4" cols="7"></textarea>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Longitud" [width]="80" prop="length" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex" width="50">
          <span *ngIf="!editing[(row.column) + '-length']" title="Doble clic para editar."
            (dblclick)="editing[(row.column) + '-length'] = true">
            {{row.length}}</span>
          <input *ngIf="editing[(row.column)+ '-length']" type="number" min="0" autofocus
            (blur)="!editing[(row.column) + '-length'] = false" (change)="updateValue($event, row, 'length');"
            [value]="value" ng-pattern-restrict="[0-9]*" class="input-length" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Key" [width]="70" prop="key" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div>
            <span matTooltip="Doble clic para editar"
              (dblclick)="editing[(row.column) + '-key'] = true; value === 'empty' ? value='' : value=value;"
              *ngIf="!editing[(row.column) + '-key'] ">
              {{row.key == 1 ? "YES" : "NO"}}</span>
            <select style="width: 50px;" *ngIf="editing[(row.column) + '-key']"
              (blur)="!editing[(row.column) + '-key'] = false" (change)="updateValue($event, row, 'key')"
              [value]="value">
              <option value=1>YES</option>
              <option value=0>NO</option>
            </select>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mandatory" [width]="80" prop="mandatory" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-mandatory'] = true; value === 'empty' ? value='' : value=value;"
            *ngIf="!editing[(row.column) + '-mandatory'] ">
            {{row.mandatory == 1 ? "YES" : "NO"}}</span>
          <select style="width: 50px;" *ngIf="editing[(row.column) + '-mandatory']"
            (blur)="!editing[(row.column) + '-mandatory'] = false" (change)="updateValue($event, row, 'mandatory')"
            [value]="value">
            <option value=1>YES</option>
            <option value=0>NO</option>
          </select>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tipo de dato" prop="dataType" [width]="130" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-dataType'] = true; value === 'empty' ? value='' : value=value; dataTypeList(row)"
            *ngIf="!editing[(row.column) + '-dataType'] ">
            {{row.dataType.trim() == '' ? "empty" : row.dataType}}</span>
          <select style="width: 50px;" *ngIf="editing[(row.column) + '-dataType']"
            (blur)="!editing[(row.column) + '-dataType'] = false" (change)="updateValue($event, row, 'dataType')"
            [value]="value">
            <option [value]="type" *ngFor="let type of arraySuffixTmp">{{type}}</option>
          </select>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Formato Lógico" [width]="180" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.logicalFormat}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Formato" [width]="170" prop="format" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div *ngIf="!row.logicalFormat.includes('DECIMAL')">
            <span matTooltip="Doble clic para editar"
              (dblclick)="editing[(row.column) + '-format'] = true; value === 'empty' ? value='' : value=value;"
              *ngIf="!editing[(row.column) + '-format'] ">
              {{row.format.trim() === '' ? 'empty' : row.format}}</span>
            <textarea autofocus (blur)="!editing[(row.column) + '-format'] = false" type="text"
              (change)="updateValue($event, row, 'format')" *ngIf="editing[(row.column) + '-format']" maxlength="55"
              [value]="value" rows="3" cols="15"></textarea>
          </div>
          <div *ngIf="row.logicalFormat.includes('DECIMAL')">
            <span title="Doble clic para editar."
              (click)="editing[row.column + '-format'] = true;value === 'empty' ? value='' : value=value;"
              *ngIf="!editing[row.column + '-format']">
              {{row.format}}
            </span>
            <div *ngIf="editing[(row.column)+ '-format']">
              (
              <input type="number" min="0" autofocus (blur)="!editing[(row.column) + '-format'] = false"
                (change)="updateValue($event, row, 'format_int');" [value]="getNumberIntegerDecimals(row.format, 0)"
                ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
              ,
              <input type="number" min="0" autofocus (blur)="!editing[(row.column) + '-format'] = false"
                (change)="updateValue($event, row, 'format_dec');" [value]="getNumberIntegerDecimals(row.format, 1)"
                ng-pattern-restrict="[0-9]*" class="input-length" style="width: 25%;" />
              )
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <!--
      <ngx-datatable-column name="Comentarios Técnicos" [width]="290" prop="operation" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-operation'] = true; value === 'empty' ? value='' : value=value;"
            *ngIf="!editing[(row.column) + '-operation'] ">
            {{row.operation.trim() === '' ? 'empty' : row.operation}}</span>
          <textarea autofocus (blur)="!editing[(row.column) + '-operation'] = false"
            (change)="updateValue($event, row, 'operation')" *ngIf="editing[(row.column) + '-operation']" type="text"
            [value]="value" rows="4" cols="20"></textarea>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="TDS" [width]="80" prop="tds" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span matTooltip="Doble clic para editar"
            (dblclick)="editing[(row.column) + '-tds'] = true; value === 'empty' ? value='' : value=value;"
            *ngIf="!editing[(row.column) + '-tds'] ">
            {{row.tds == 1 ? "YES" : "NO"}}</span>
          <select style="width: 50px;" *ngIf="editing[(row.column) + '-tds']"
            (blur)="!editing[(row.column) + '-tds'] = false" (change)="updateValue($event, row, 'tds')" [value]="value">
            <option value=1>YES</option>
            <option value=0>NO</option>
          </select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="VoBo" [sortable]="false" [cellClass]="getStatusRow">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span *ngIf="row.check.comments.length > 0">
            {{row.check.comments[0]}}
          </span>
          <br>
          <button mat-icon-button (click)="commentsWindowsVoBo(row)">
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      -->
      <ngx-datatable-column [width]="280" name="Acciones" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div *ngIf="!arqFlag">
            <button matTooltip="Comentarios" mat-icon-button (click)="commentsWindows(row)">
              <mat-icon>comment</mat-icon>
            </button>
            <button matTooltip="Validar naming" mat-icon-button (click)="validateNaming(row)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button matTooltip="Crear naming arriba" mat-icon-button (click)="addAboveField(row)">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button matTooltip="Crear naming abajo" mat-icon-button (click)="addBelowField(row)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <button matTooltip="Eliminar naming" (click)="deleteField(row)" mat-icon-button>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <div *ngIf="arqFlag">
            <button matTooltip="Comentarios" mat-icon-button (click)="historyComment(row)">
              <mat-icon>comment</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="container-fluid">
            <div class="row">
              <div class="col-5">
                <span>Filas:</span>
                <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                  <mat-form-field class="fullInput">
                    <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                      (change)="_changeRowLimits($event)" />
                  </mat-form-field>
                </div>
                <span>| Total: {{rowCount}}</span>
              </div>
              <div class="col" style="padding-top: 10px;">
                <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                </datatable-pager>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</ng-template>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias' && activeHelp !== 'originTables' && activeHelp !== 'aliasLong')
    , 'big-mat-card': (activeHelp === 'descAlias' || activeHelp === 'originTables' || activeHelp === 'aliasLong')}">
    <mat-card-content *ngIf="activeHelp === 'finalUuaa'">
      UUAA que se forma despues de seleccionar el ámbito y la uuaa de master.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'phys_name'">
      Nombre físico del tablon, que se genera a partir de la UUAA final, el alias y la descripcion del alias.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'ambito'">
      Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno
      local de Colombia.<br>
      Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'descAlias'">
      <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
      <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
      <strong>(2 pos.) Contenido del archivo:</strong><br>
      <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo,
      catálogos de los productos del banco.<br>
      <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
      <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg =
      Cuentas personales, rv = riesgos.<br>
      <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" =>
      "PE001_", "PEDT008" => "PE008_"<br>
      <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del
      fichero.<br>
      Por ejemplo: hdape008_cliente_contrato, se informa en el campo.<br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento de
        buenas prácticas (Pag. 1)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'aliasLong'">
      <strong>Alias largo del tablón. Este alias es un campo independiente al alias que conforma el nombre
        logico.</strong><br>
      El alias se compone de hasta 20 caracteres alfanuméricos, no debe incluir caracteres especiales ni espacios. y
      debe mantener el siguiente estándar:<br>
      <strong>(2 posiciones) Origen: </strong>MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto
      Local <br>
      <strong>(4 posiciones) Unidad Aplicativa UUAA: </strong>Por ejemplo, KBTQ: Basic Data, Knowledge & Personalization
      - Modelo Global, KPFM: Personal Finance Managment – Global, CBTQ: Basic Data, Knowledge & Personalization - Modelo
      y Proyecto Local <br>
      <strong>(14 posiciones) Descripción: </strong>Se informará el nombre de la tabla en caso de que sea menor a 14
      posiciones. Se informará el nombre de la tabla con abreviaturas en caso de que sea mayor a 14 posiciones. <br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">
        Ver documento de Estandáres DataDictionary(Pag. 2)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'separator'">
      ​​Delimitador de campos para los ficheros de datos de origen.
      <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo
      AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'numberField'">
      ​​Cantidad de namings que va a tener la tabla.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw'">
      Siglas PAAO. <br>
      P: País (C -> colombia). <br>
      AA: Aplicativo host o externo. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a><br>
      O: Sistema Origen. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw_name'">
      Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master'">
      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master_name'">
      Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'baseName'">
      Nombre de la base, lógico o tabla como la conoces en tu área o el nombre del sistemas
      core. (e.g El nombre de la tabla en HOST).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'origin'">
      Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a
      la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;).
      En caso de ser un sistema usuario tipo excel, access, informarlo con el mismo nombre que el código
      de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'perimeter'">
      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
      contrapartida, tipo de cliente, titularidad, …).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'periodicity'">
      Frecuencia de actualización de la información contenida en el objeto.
      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
      objeto.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'information_level'">
      Nivel a la que se encuentra la información de la tabla/fichero (cliente, contrato, detalle, …).
      Para ayudar a la identificación del nivel se recomienda consultar los campos clave del objeto
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTablon'">
      Código de identificación para el origen ó alcance del tablón: <br>
      <strong>MG: </strong>Modelo Global<br>
      <strong>PG: </strong>Proyecto Global<br>
      <strong>ML: </strong>Modelo Local<br>
      <strong>PL: </strong>Proyecto Local
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'loadingType'">
      Se detalla si la tabla/fichero se carga de manera incremental o si se carga la totalidad de la
      profundidad en cada ejecución.
      Posibles valores: Completa/Incremental
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'mark'">
      Identificador de si el objeto que se está aprovisionando en un sistema
      no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un
      objecto de creación táctica que se debe gestionar a posteriori como deuda técnica.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'typeFile'">
      ​​Tipo de formato del archivo de entrada.
      Posibles valores fixed, csv, avro, parquet, xml, text-extended
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'target_file'">
      Formato de Salida
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTables'">
      Tablas origen necesarias para la existencia de los namings del Tablón. <br>
      Una tabla tiene dos fases normalmente, <strong>Raw</strong> y <strong>Master</strong> por lo que se necesita
      seleccionar cual de las dos fases se va a usar en el tablón. Solo se puede usar una fase.
      Si la tabla no tiene la fase Master es necesario seleccionar la fase Raw igualmente. <br>
      Si se <strong>eliminan</strong> orígenes los namings asociados tambien se eliminan del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'route'">
      Ruta de destino del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'partitions'">
      "Nombre Físico Campo" por los que se va particionar el objeto. <br>
      <strong>1- </strong>Se debe incluir cada campo en el orden en el que se debe realizar el particionado. <br>
      <strong>2- </strong>En el caso de informar más de un campo en esta celda, se debe separar por punto y coma (;)
      <br>
      <strong>3- </strong>Se debe validar que el "Nombre Físico Campo" existe vinculado al "Nombre Físico Objeto" en el
      DD-F.<br>
      <strong>Ej: </strong>partition_data_year_id;partition_data_month_id
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl1'">
      Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl2'">
      Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'dataSource'">
      Data Source al que pertenece el objeto que se está documentando.
      Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'volum'">
      Volumen de registros de la tabla/fichero.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'prof'">
      Profundidad histórica actual que se posee de dicha tabla/fichero
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'profReq'">
      Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los
      requerimientos existentes sobre la misma.
    </mat-card-content>
  </mat-card>
</mde-popover>