<div class="container-fluid">
    <div class="row" style="height: 40px">
        <div class="col-10">
            <h1 mat-dialog-title>Modificacion Tablón - {{ tablonObject.alias }}</h1>
        </div>
        <div class="col-2" style="font-size: 30px; padding-left: 20px">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>
<div class="container-fluid" style="height: 38rem; overflow: auto">
    <div class="row">
        <div class="col-5">
            <mat-form-field class="full-width">
                <input matInput placeholder="NOMBRE FÍSICO OBJETO MASTER" [(ngModel)]="tablonObject.master_name" />
            </mat-form-field>
        </div>
    </div>
    <!--
  <div class="row rowUpperBorder">
    <div class="col-2 col-2Eleven">
      <mat-form-field class="full-width">
        <mat-select placeholder="ÁMBITO" [(ngModel)]="currAmbito" (selectionChange)="selectedAmbito($event.value)">
          <mat-option value="K">Global - K</mat-option>
          <mat-option value="C">Colombia - C</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2 col-2File">
      <mat-form-field class="full-width">
        <mat-select #selectorUUAA placeholder="UUAA" [(ngModel)]="currUUAA"
          (selectionChange)="selectedUuaa($event.value)">
          <mat-option *ngFor="let f of uuaaOptions" [value]="f"> {{ f }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  -->
    <div class="row rowUpperBorder">
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="ÁMBITO" (selectionChange)="selectedAmbito($event.value)" [(ngModel)]="currAmbito">
                    <mat-select-trigger> {{ currAmbito }} </mat-select-trigger>
                    <mat-option *ngFor="let ambito of ambitoOptions" [value]="ambito.letter">
                        {{ambito.letter}} - {{ambito.country}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="UUAA MASTER" [matAutocomplete]="autoUUAA" [formControl]="uuaaControl" (blur)="checkSelectedUUAA()" />
            </mat-form-field>
            <mat-autocomplete [panelWidth]="135" #autoUUAA="matAutocomplete" [displayWith]="displayUUAA" (optionSelected)="selectedUuaa($event)">
                <mat-option *ngFor="let name of filteredUUAAs | async" class="selectPretty" [value]="name">
                    <span>{{ name.uuaa }} | </span>
                    <small style="color: #004283">{{ name.country }}</small>
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="col-2 col-2File">
            <mat-form-field class="full-width">
                <mat-select placeholder="ORIGEN" (selectionChange)="selectedScopeOrigin($event.value)" [formControl]="formControlScope" required>
                    <mat-option *ngFor="let ori of originsDataTable" [value]="ori"> {{ ori }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="full-width">
                <input matInput placeholder="DESCRIPCIÓN FÍSICO" [(ngModel)]="descAlias" [maxlength]="maxLengthDesc" (input)="inputValidatorNaming($event, descAlias, true)" [formControl]="formControlDesc" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="NOMBRE LOGICO OBJETO" [(ngModel)]="tablonObject.baseName" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="PERIODICIDAD" [(ngModel)]="tablonObject.periodicity">
                    <mat-option *ngFor="let c of periodicityOptions" [value]="c.periodicity"> {{ c.periodicity }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="MARCA OBJETO TÁCT." [(ngModel)]="tablonObject.tacticalObject">
                    <mat-option value="YES">YES</mat-option>
                    <mat-option value="NO">NO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <mat-form-field class="full-width">
                <input matInput placeholder="PERÍMETRO" [(ngModel)]="tablonObject.perimeter" maxlength="100" />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="NIVEL INFORMACIÓN" [(ngModel)]="tablonObject.information_level" maxlength="100" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="TIPO CARGA" [(ngModel)]="tablonObject.loading_type">
                    <mat-option *ngFor="let t of loadingTypesOptions" [value]="t"> {{ t }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2 col-LoadType">
            <mat-form-field class="full-width">
                <mat-select placeholder="FORMATO DE SALIDA" [formControl]="formControlTargetFileT" [(ngModel)]="tablonObject.target_file_type">
                    <mat-option *ngFor="let t of targetFileTypesOptions" [value]="t"> {{ t }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="DELIMITADOR" matTooltip="Delimitador del archivo de entrada" [(ngModel)]="tablonObject.separator" maxlength="3" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="PROF. ACTUAL" matTooltip="Profundidad de los historicos" [(ngModel)]="tablonObject.current_depth" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="meses" disabled />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="VOL. ESTIMADA" matTooltip="Volumetría de registros de los historicos" [(ngModel)]="tablonObject.estimated_volume_records" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="regs." disabled />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field style="width: 65%; display: inline-block">
                <input matInput placeholder="PROF. REQUERIDA" matTooltip="Profundidad de los historicos requeridos" [(ngModel)]="tablonObject.required_depth" type="number" />
            </mat-form-field>
            <mat-form-field style="width: 35%; display: inline-block">
                <input matInput value="regs." disabled />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="PARTICIONES" [(ngModel)]="tablonObject.partitions_master" />
            </mat-form-field>
        </div>
        <div class="col-5">
            <mat-form-field class="full-width">
                <input matInput placeholder="RUTA ORIGEN MASTER" [(ngModel)]="tablonObject.master_path" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <mat-form-field class="full-width">
                <mat-select placeholder="DEPLOYMENT TYPE" matTooltip="Tipo del objeto de entrada" [(ngModel)]="tablonObject.deploymentType">
                    <mat-option *ngFor="let type of deployType_values" [value]="type"> {{ type }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="MODEL VERSION" [(ngModel)]="tablonObject.modelVersion" maxlength="100" [disabled]="tablonObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="OBJECT VERSION" [(ngModel)]="tablonObject.objectVersion" maxlength="100" [disabled]="tablonObject.deploymentType != 'Global-Implementation'" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="SECURITY LEVEL" matTooltip="Nivel de seguridad del objeto" [(ngModel)]="tablonObject.securityLevel">
                    <mat-option value=""> </mat-option>
                    <mat-option value="L1">L1</mat-option>
                    <mat-option value="L2">L2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <button style="float: right" mat-button class="buttonColor" (click)="updateObject()"> Actualizar objeto </button>
        </div>
    </div>
</div>