h1{
    color: #004283;
}

.closeDiv{
    font-size: 30px;
}

.closeIcon {
    color:#004283;
    font-size: 30px; 
    float: left;
}

.margenTitle{
    width: 96%; 
    margin: -2% 0 1% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}