<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <h1 mat-dialog-title><strong>Caso de uso: </strong>{{usecase.name}}</h1>
    </div>
    <div class="col-1 closeDiv">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>

<div style="width: 100%; height: 100%;">
  <div id="chartContainer" class="graph-statistics-po"></div>
</div>