<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Consultar Tablón</h2>
    </div>
  </div>
</div>


<div class="tabGroup allContain">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="">
      <mat-accordion>
        <ng-container *ngTemplateOutlet="tablonInfor"></ng-container>
        <ng-container *ngTemplateOutlet="originTables"></ng-container>
        <ng-container *ngTemplateOutlet="queryNamings"></ng-container>
      </mat-accordion>
      <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #tablonInfor>
  <mat-expansion-panel class="onlyView">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold">
        <span>
          {{tablonInfo.uuaaMaster}} -
          <span style="font-style: oblique;">
            {{tablonInfo.master_name}}
          </span>
        </span>
      </mat-panel-title>
      <mat-panel-description>{{tablonInfo.alias}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <input class="inputHelp" matInput placeholder="UUAA FINAL" [(value)]="tablonInfo.uuaaMaster" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'finalUuaa'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-3Name">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NOMBRE FÍSICO" [(value)]="tablonInfo.master_name" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'phys_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3">
          <mat-form-field class="fullInput">
            <input matInput placeholder="PROYECTO" [(value)]="tablonInfo.project_owner" disabled>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput">
            <input matInput placeholder="ESTADO TÁBLON" [(value)]="stateTableClean" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row rowUpperBorder">
        <div class="col-2 col-2Eleven">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ÁMBITO" [(value)]="currAmbito" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="UUAA" [(value)]="currUUAA" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2File">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ORIGEN" [(value)]="currScope" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'originTablon'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="DESCRIPCIÓN FÍSICO" [(value)]="descAlias" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-3 col-2ButtNaming">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERIODICIDAD" [(value)]="tablonInfo.periodicity" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="ALIAS" [(value)]="tablonInfo.alias" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'aliasLong'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2ButtNaming">
          <mat-form-field class="fullInput">
            <input matInput placeholder="MARCA OBJETO TÁCTICO" [(value)]="tablonInfo.tacticalObject" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <mat-form-field style="width: 95%;">
            <input matInput placeholder="NOMBRE LÓGICO" [(value)]="tablonInfo.baseName" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'baseName'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2" style="padding-left: 5px;">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="PERIMETRO" [(value)]="tablonInfo.perimeter" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-LoadType">
          <mat-form-field  class="inputHelp">
            <input matInput placeholder="TIPO CARGA" [(value)]="tablonInfo.loading_type" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'loadingType'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-LoadType">
          <mat-form-field  class="inputHelp">
            <input matInput placeholder="FORMATO DE SALIDA" [(value)]="tablonInfo.target_file_type" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'target_file'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="NIVEL DE INFORMACIÓN" [(value)]="tablonInfo.information_level" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'information_level'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 70%; display: inline-block;">
              <input matInput placeholder="PROF. ACTUAL" [(value)]="tablonInfo.current_depth" matTooltip="Profundidad de los historicos" disabled>
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'prof'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 70%; display: inline-block;">
              <input matInput placeholder="VOL. ESTIMADA" [(value)]="tablonInfo.estimated_volume_records" matTooltip="Volumetría de registros de los historicos" disabled>
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="registros" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'volum'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-2 col-2quarter">
          <div class="inputHelp">
            <mat-form-field style="width: 70%; display: inline-block;">
              <input matInput placeholder="PROF. REQUERIDA" [(value)]="tablonInfo.required_depth" matTooltip="Profundidad de los historicos requeridos" disabled>
            </mat-form-field>
            <mat-form-field style="width: 30%; display: inline-block;">
              <input matInput value="meses" disabled>
            </mat-form-field>
          </div>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'profReq'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-1 col-Delim">
          <mat-form-field class="inputHelp">
            <input matInput placeholder="DELIMITADOR" [(value)]="tablonInfo.target_file_delimiter" matTooltip="Delimitador del formato de salida" disabled>
          </mat-form-field>
          <div class="helpPopdiv">
            <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
              #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'separator'">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- col-md-7 col-lg-7 G-->
        <div [ngClass]="{'col-md-7': !originDiv, 'col-6': originDiv}">
          <div class="row">
            <div class="col-11">
              <mat-form-field class="inputHelp">
                <input matInput placeholder="PARTICIONES" [(value)]="tablonInfo.partitions" disabled>
              </mat-form-field>
              <div class="helpPopdiv">
                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                  #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'partitions'">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <mat-form-field class="inputHelp">
                <input matInput placeholder="RUTA DESTINO" [(value)]="tablonInfo.master_path" disabled>
              </mat-form-field>
              <div class="helpPopdiv">
                <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                  #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'route'">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <mat-form-field class="fullInput">
                <textarea matInput style="resize: none;" rows="3" cols="30" placeholder="DESCRIPCIÓN"
                  [(ngModel)]="tablonInfo.observationField" disabled>
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="viewAuditFlag">
            <p style="font-style: italic; font-size: 12px; color: #004283">
              Tablón creado el <strong>{{tablonInfo.created_time}}</strong> y su última modificación fue el <strong>{{tablonInfo.modifications.date}}</strong> por <strong>{{tablonInfo.modifications.user_name}}.</strong>
            </p>
          </div>
        </div>
        <div *ngIf="convenDiv" class="col-1"></div>
        <div [ngClass]="{'col-md-5': !originDiv && !convenDiv, 'col-6': originDiv && !convenDiv, 'col-2': convenDiv && !originDiv}">
          <div *ngIf="convenDiv" class="divUL">
            <p>Convenciones: </p>
            <p style="background-color:#f5a9a9; color:black; padding-left: 6px;"> Propuesto </p>
            <p style="background-color:#f2f5a9; color:black; padding-left: 6px;"> Global y propuesto </p>
            <p style="background-color:#b4e2bc; color:black; padding-left: 6px;"> Directo </p>
            <p style="background-color:#a9a9a996; color:black; padding-left: 6px;"> Calculado </p>
          </div>
          <div *ngIf="originDiv" class="divUL">
            <ul *ngIf="tablonInfo.origin_tables.length > 0">
              <li *ngFor="let item of tablonInfo.origin_tables">
                <p>{{item.originRoute}}</p>
              </li>
            </ul>
          </div>
          <div *ngIf="!originDiv && !convenDiv">
            <table>
              <tr>
                <div class="inputHelp">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 1"
                      [(ngModel)]="tablonInfo.information_group_level_1" name="information_group_level_1" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl1'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
              <tr>
                <div class="inputHelp">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="AGRUPACIÓN FUNCIONAL NIVEL 2"
                      [(ngModel)]="tablonInfo.information_group_level_2" name="information_group_level_2" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'infLvl2'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
              <tr>
                <div class="inputHelp">
                  <mat-form-field class="fieldsearch-form-object">
                    <input matInput placeholder="DATA SOURCE (DS)" [(ngModel)]="tablonInfo.data_source"
                      name="data_source" disabled>
                  </mat-form-field>
                </div>
                <div class="helpPopdiv">
                  <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click"
                    #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'dataSource'">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </div>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        
        <button mat-raised-button class="normalButt small" style="margin-left: 15px; float: right;" [ngClass]="{'activeDetails': originDiv}"
          matTooltip="Mostrar/Ocultar Rutas Legacy" (click)="originDiv = !originDiv; convenDiv = false">
          <mat-icon>calendar_view_day</mat-icon>
        </button>
        <button mat-raised-button class="normalButt small" style="margin-left: 15px; float: right;" [ngClass]="{'activeDetails': convenDiv}"
          matTooltip="Convenciones de Colores" (click)="convenDiv = !convenDiv; originDiv = false">
          <mat-icon>chrome_reader_mode</mat-icon>
        </button>
        <button mat-button class="buttonNormal" style="float: right;" (click)="getExcels()">Descargar Excel</button>
        <button *ngIf="editableFlag" style="float: right;" mat-raised-button class="buttonColor"
          (click)="openEdit()">
          Editar Tablón
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #originTables>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold">
        <div>
          <span>Fuentes de origen</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div class="row originTable originHeight">
        <ngx-datatable class='material' style="width: 100%;" [rows]='selectedOriginOptions' [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="5">
          <ngx-datatable-column name="Nombre" prop="baseName" [width]="120" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Descripción" prop="observationField" [width]="150" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="UUAA Raw" prop="uuaaRaw" [width]="30" [sortable]="true">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.uuaaRaw ? row.uuaaRaw : '----'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="UUAA Master" prop="uuaaMaster" [width]="40" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre Raw" prop="raw_name" [cellClass]="getCellClassRaw" [width]="150"
            [sortable]="true">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{row.raw_name ? row.raw_name : '----'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre Master" prop="master_name" [cellClass]="getCellClassMaster" width="150"
            [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Fase Seleccionada" [width]="160" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div *ngIf="row.uuaaRaw">
                <button mat-button disabled style="margin-right: 10px;"
                  [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'RAW'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'RAW' }">
                  Raw</button>
                <button mat-button disabled style="margin-right: 35px;"
                  [ngClass]="{'disabledFaseButt': disabledFaseCheck(row, 'MASTER'), 'activeFaseButt': row.hasOwnProperty('faseSeleccionada') && row.faseSeleccionada == 'MASTER' }">
                  Master</button>
              </div>
              <div *ngIf="!row.uuaaRaw">
                <button mat-button style="margin-right: 10px; margin-left: 35px;" class="selectedDT" disabled>
                  Tablón</button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #tableTemplate>
  <div class="tablonTable">
    <ngx-datatable #myTable class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50"
      [limit]="rowsLimit" [rowHeight]="'auto'" [rows]="tablonFields" [scrollbarH]="true" [scrollbarV]="false"
      (page)="onPaginated($event)" [loadingIndicator]="loadingIndicator">
      <ngx-datatable-row-detail #myDetailRow>
        <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div style="margin-top: 5px;">
                  <div *ngIf="row.originNamings.length == 0" class="container-fluid" style="text-align: center;">
                    <div class="row subTitle">
                      <div>
                        <h5>Orígenes Agregados</h5>
                      </div>
                    </div>
                    <span>No hay namings de origen cargados</span>
                  </div>
                  <div *ngIf="row.originNamings.length > 0" class="container-fluid">
                    <div class="row subTitle">
                      <div>
                        <h5>Orígenes Agregados</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col originTable pepe">
                        <ngx-datatable class='material tableClass' style="width: 100%;" [rows]='row.originNamings'
                          [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [rowHeight]="45"
                          [scrollbarH]="true" [scrollbarV]="false" [limit]="5">
                          <ngx-datatable-column name="Origen" prop="table_name" [width]="170" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Naming" prop="naming" [width]="140" [sortable]="true">
                          </ngx-datatable-column>
                          <ngx-datatable-column [cellClass]="'expandIconClass'" name="Acciones" [width]="100" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row2="row">
                              <button mat-icon-button matTooltip="Ver naming" (click)="namingDetailsFromOrigin(row2)"
                                style="bottom: 2px;">
                                <mat-icon style="font-size: 25px;" class="buttonIcon">zoom_in</mat-icon>
                              </button>
                              <button mat-flat-button
                                *ngIf="row.originNamings.length === 1 && checkDirectOriginNaming(row)"
                                class="directLabel">
                                Directo</button>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column name="Ver Orígenes" [cellClass]="getGenCellOrigins" [width]="110" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div style="text-align: center;">
            <button mat-icon-button class="expandButton" [ngClass]="{'activeDetails': activeDetailsCheck(row.column)}" (click)="toggleExpandRow(row)">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="No." [width]="50" prop="column" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.column+1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Naming" [width]="190" [sortable]="false" prop="naming.naming"
        [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.naming.naming === '' ? 'empty' : row.naming.naming}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Lógico" [width]="250" prop="logic" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.logic === '' ? 'empty' : row.logic}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Descripción" [width]="250" prop="description" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.description === '' ? 'empty' : row.description}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Catálogo" prop="catalogue" [width]="90" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.catalogue === '' ? 'empty' : row.catalogue}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Longitud" [width]="80" prop="length" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex" width="50">
          <span>{{row.length}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Key" [width]="70" prop="key" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.key == 1 ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mandatory" [width]="80" prop="mandatory" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.mandatory == 1 ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo de dato" prop="dataType" [width]="130" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.dataType}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Formato Lógico" [width]="180" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.logicalFormat}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Formato" [width]="170" prop="format" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.format.trim() === '' ? 'empty' : row.format}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Default" [cellClass]="getGenCellDef" [width]="110" [sortable]="false" prop="default">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.default === '' ? 'empty' : row.default}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Orígenes" [width]="140" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.originNamings.length > 0">
            <div *ngFor="let obj of aliases[row.column]">
              <span><strong>{{obj}}</strong></span><br>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ver Orígenes" [cellClass]="getGenCellOrigins" [width]="110" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div style="text-align: center;">
            <button mat-icon-button class="expandButton" [ngClass]="{'activeDetails': activeDetailsCheck(row.column)}" (click)="toggleExpandRow(row)">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Comentarios Técnicos" [width]="290" prop="operation" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.operation.trim() === '' ? 'empty' : row.operation}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="TDS" [width]="80" prop="tds" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{row.tds == 1 ? "YES" : "NO"}}</span>
        </ng-template>
      </ngx-datatable-column>
    <!--
      <ngx-datatable-column [width]="280" name="Acciones" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button matTooltip="Comentarios" mat-icon-button (click)="commentsWindows(row)">
            <mat-icon>comment</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    -->
    <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
    </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="container-fluid">
            <div class="row">
              <div class="col-5">
                <span>Filas:</span>
                <div class="inputFieldForHelpPop" style="min-width: 40px; width: 6%; margin: 0 1% 0 1%;">
                  <mat-form-field class="fullInput">
                    <input matInput type="number" value="{{rowsLimit}}" (input)="inputValidatorNumbers($event)"
                      (change)="_changeRowLimits($event)" />
                  </mat-form-field>
                </div>
                <span>| Total: {{rowCount}}</span>
              </div>
              <div class="col" style="padding-top: 10px;">
                <datatable-pager style="float: right;" [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                </datatable-pager>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</ng-template>

<ng-template #queryNamings>
  <!-- Busqueda namings -->
  <mat-expansion-panel class="tableSearchMat">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold">
        <div>
          <span>Búsqueda de namings</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
            <input matInput placeholder="Naming" [(ngModel)]="namingQuery">
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
            <mat-select placeholder="Sufijo" [(value)]="typeQuery">
              <mat-option *ngFor="let s of suffixesOptions" [value]="s.suffix">
                {{s.suffix}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
            <input matInput placeholder="Lógico" [(ngModel)]="logicQuery">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <mat-form-field class="fullInput" (keyup.enter)="fieldsQuery()">
            <input matInput placeholder="Descripción" [(ngModel)]="descQuery">
            <!--<textarea matInput placeholder="Descripción" [(ngModel)]="descGlobalSearch" name="descGlobalSearch"
              style="resize: none; height: 11px; overflow: hidden;"></textarea>-->
          </mat-form-field>
        </div>
        <div class="col-3" style="padding-top: 10px;">
          <button mat-button (click)="fieldsQuery()" class="button-query-global" style="margin-right: 5px;">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button class="button-query-global" (click)="cleanQuery()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-template>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias' && activeHelp !== 'originTables' && activeHelp !== 'aliasLong')
    , 'big-mat-card': (activeHelp === 'descAlias' || activeHelp === 'originTables' || activeHelp === 'aliasLong')}">
    <mat-card-content *ngIf="activeHelp === 'finalUuaa'">
      UUAA que se forma despues de seleccionar el ámbito y la uuaa de master.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'phys_name'">
      Nombre físico del tablon, que se genera a partir de la UUAA final, el alias y la descripcion del alias.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'ambito'">
      Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno local de Colombia.<br>
      Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'descAlias'">
      <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
      <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
      <strong>(2 pos.) Contenido del archivo:</strong><br>
      <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo,
      catálogos de los productos del banco.<br>
      <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
      <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg =
      Cuentas personales, rv = riesgos.<br>
      <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" =>
      "PE001_", "PEDT008" => "PE008_"<br>
      <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del
      fichero.<br>
      Por ejemplo: hdape008_cliente_contrato, se informa en el campo.<br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento de
        buenas prácticas (Pag. 1)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'aliasLong'">
      <strong>Alias largo del tablón. Este alias es un campo independiente al alias que conforma el nombre
        logico.</strong><br>
      El alias se compone de hasta 20 caracteres alfanuméricos, no debe incluir caracteres especiales ni espacios. y
      debe mantener el siguiente estándar:<br>
      <strong>(2 posiciones) Origen: </strong>MG: Modelo Global, PG: Proyecto Global, ML: Modelo Local, PL: Proyecto
      Local <br>
      <strong>(4 posiciones) Unidad Aplicativa UUAA: </strong>Por ejemplo, KBTQ: Basic Data, Knowledge & Personalization
      - Modelo Global, KPFM: Personal Finance Managment – Global, CBTQ: Basic Data, Knowledge & Personalization - Modelo
      y Proyecto Local <br>
      <strong>(14 posiciones) Descripción: </strong>Se informará el nombre de la tabla en caso de que sea menor a 14
      posiciones. Se informará el nombre de la tabla con abreviaturas en caso de que sea mayor a 14 posiciones. <br>
      <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">
        Ver documento de Estandáres DataDictionary(Pag. 2)</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'separator'">
      ​​Delimitador de campos para los ficheros de datos de origen.
      <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo
      AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'numberField'">
      ​​Cantidad de namings que va a tener la tabla.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw'">
      Siglas PAAO. <br>
      P: País (C -> colombia). <br>
      AA: Aplicativo host o externo. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a><br>
      O: Sistema Origen. <a
        href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a>
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'raw_name'">
      Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master'">
      UUAA o nombre del proyecto al que pertenece la tabla/fichero.
      En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado
      (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'master_name'">
      Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'baseName'">
      Nombre de la base, lógico o tabla como la conoces en tu área o el nombre del sistemas
      core. (e.g El nombre de la tabla en HOST).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'origin'">
      Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a
      la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;).
      En caso de ser un sistema usuario tipo excel, access, informarlo con el mismo nombre que el código
      de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'perimeter'">
      Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad,
      contrapartida, tipo de cliente, titularidad, …).
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'periodicity'">
      Frecuencia de actualización de la información contenida en el objeto.
      Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No
      tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información en el
      objeto.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'information_level'">
      Nivel a la que se encuentra la información de la tabla/fichero (cliente, contrato, detalle, …).
      Para ayudar a la identificación del nivel se recomienda consultar los campos clave del objeto
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTablon'">
      Código de identificación para el origen ó alcance del tablón: <br>
      <strong>MG: </strong>Modelo Global<br>
      <strong>PG: </strong>Proyecto Global<br>
      <strong>ML: </strong>Modelo Local<br>
      <strong>PL: </strong>Proyecto Local
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'loadingType'">
      Se detalla si la tabla/fichero se carga de manera incremental o si se carga la totalidad de la
      profundidad en cada ejecución.
      Posibles valores: Completa/Incremental
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'mark'">
      Identificador de si el objeto que se está aprovisionando en un sistema
      no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un
      objecto de creación táctica que se debe gestionar a posteriori como deuda técnica.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'typeFile'">
      ​​Tipo de formato del archivo de entrada.
      Posibles valores fixed, csv, avro, parquet, xml, text-extended
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'target_file'">
      Formato de Salida
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'originTables'">
      Tablas origen necesarias para la existencia de los namings del Tablón. <br>
      Una tabla tiene dos fases normalmente, <strong>Raw</strong> y <strong>Master</strong> por lo que se necesita
      seleccionar cual de las dos fases se va a usar en el tablón. Solo se puede usar una fase.
      Si la tabla no tiene la fase Master es necesario seleccionar la fase Raw igualmente. <br>
      Si se <strong>eliminan</strong> orígenes los namings asociados tambien se eliminan del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'route'">
      Ruta de destino del tablón.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'partitions'">
      "Nombre Físico Campo" por los que se va particionar el objeto. <br>
      <strong>1- </strong>Se debe incluir cada campo en el orden en el que se debe realizar el particionado. <br>
      <strong>2- </strong>En el caso de informar más de un campo en esta celda, se debe separar por punto y coma (;)
      <br>
      <strong>3- </strong>Se debe validar que el "Nombre Físico Campo" existe vinculado al "Nombre Físico Objeto" en el
      DD-F.<br>
      <strong>Ej: </strong>partition_data_year_id;partition_data_month_id
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl1'">
      Tipología de información contenieda en el objeto acorde con el nivel 1 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'infLvl2'">
      Tipología de información contenieda en el objeto acorde con el nivel 2 del Mapa Funcional
      Corporate de Datos.
      Esta información permite agrupar los objetos según la tipología de información que
      contienen.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'dataSource'">
      Data Source al que pertenece el objeto que se está documentando.
      Los posibles valores son los dados de alta en el apartado de Data Source Map de Datio.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'volum'">
      Volumen de registros de la tabla/fichero.
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'prof'">
      Profundidad histórica actual que se posee de dicha tabla/fichero
    </mat-card-content>
    <mat-card-content *ngIf="activeHelp === 'profReq'">
      Profundidad histórica mínima que se requiere de dicha tabla/fichero para cubrir todos los
      requerimientos existentes sobre la misma.
    </mat-card-content>
  </mat-card>
</mde-popover>