::ng-deep .tablonTable .datatable-row-detail{
	//background-color: aliceblue !important;
	background-color: white !important;
}
::ng-deep .tablonTable .ngx-datatable.material .datatable-body .datatable-row-detail {
	height: inherit !important;
	//width: 100% !important;
	min-width: 1400px !important;
    margin-left: 20%;
}

::ng-deep .tablonTable .ngx-datatable.scroll-horz .datatable-body {
	overflow: overlay;
	max-height: 500px !important;
	height: 500px !important;
}

@media only screen and (min-height: 768px) {
	/deep/ .tablonTable .ngx-datatable .datatable-body {
		max-height: 650px !important;
		height: 650px !important;
	}
}

@media only screen and (min-height: 1080px) {
	/deep/ .tablonTable .ngx-datatable .datatable-body {
		max-height: 950px !important;
		height: 950px !important;
		font-weight: bold !important;
	}
}

::ng-deep .pepe .ngx-datatable.scroll-horz .datatable-body {
	overflow: overlay;
	max-height: inherit !important;
	height: inherit !important;
}

::ng-deep .originHeight .ngx-datatable.scroll-horz .datatable-body {
   overflow: overlay;
	max-height: auto !important;
	height: auto !important;
}

::ng-deep .originTable .ngx-datatable.material {
	background: none;
	box-shadow: none;
}

::ng-deep .tabGroup .mat-tab-header {
	display: none;
}

::ng-deep .rowDetailed {
	.mat-form-field-infix {
		height: 40px;
		.mat-form-field-label-wrapper {
			height: inherit;
		}
	}
}

::ng-deep .onlyView{
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
    .mat-form-field-underline{
        border-bottom-style: inset;
        border-bottom-width: thin;
    }
}

.buttonColor {
	color: #004283;
	background: #2DCCCD;
	margin-left: 20px;
}

.subTitle {
	color: #004283; 
	width: 95%; 
	margin: 0 3% 1% 3%; 
	border-bottom-style: outset; 
	border-bottom-width: thin; 
	border-bottom-color: #004283;
}

.selectPretty {
	font-size:12.5px; 
	margin: 0; 
	height: 40px;
}

ul{
   padding-left: 5px;
   margin-top: 15px;
}

.divUL{
   background-color: white;
   height: 175px;
   overflow-y: auto;
   width: 100%;
   p{
      font-family: sans-serif;
	  color: #004283;
	  margin-bottom: 5px;
   }
}

.fieldsearch-form-object {
	padding-right: 0.1%;
	padding-left: 0.1%;
	width: 93%;
	font-size: 11px;
 }

.buttonActualizar {
	margin-top: 1%;
	float: right;
	padding-right: 5%;
}

.normalButt {
	color: white;
	background: #004283;
}

.buttonNormal {
	//float: right;
	color: #004283;
	background: #2DCCCD;
	margin-left: 15px;
}

.buttonExtra {
	//float: right;
	//margin-left: 25px;
	color: white;
	background: #004283;
}

.fullInput {
	width: 100%;
}

.inputHelp {
	width: 93%;
	display: inline-block;
}

.allContain {
	padding-left: 2%;
	padding-right: 2%;
	//margin-bottom: 3%;
}

.noMargins {
	margin: 0;
}

.divH2 {
	margin-left: 2%;
	margin-top: 20px;
	color: #004283;
}

.containerOriginNamings {
	margin-top: 2%;
	border-top-style: ridge;
}

.rowUpperBorder {
	border-top-style: outset;
	padding-top: 15px;
	//margin-top: 15px;
}

.rowDetailRBorder {
	border-right-style: outset;
	border-right-width: medium;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.mat-form-field {
	font-size: 13px;
	//display: contents;
}

.deleteOriginTableButt {
	color: white;
	background-color: #004283;
	float: right;
	border-bottom-right-radius: 0;
}

.deleteOriginTableButt:disabled {
	color: rgba(0, 0, 0, .26);
	background-color: rgba(0, 0, 0, .12);
}

.buttHover:hover{
	color: #004283;
	background-color: #2DCCCD;
}

.buttHoverDT:hover{
	color: #214581 !important;
  	background-color: #3773b887;
}

.addTablonOriginButton{
    margin-left: 20px;
    border-bottom-left-radius: 0;
}
.expandButton{
    color: #004283;
}
.expandButton:hover:enabled{
    background-color: #004283;
    color: #2DCCCD;
}
.activeDetails{
	background-color: #2DCCCD;
	color: white;
}
.disabledFaseButt:disabled {
	color: #004283;
	background-color: #c5cbcb;
}

.activeFaseButt:disabled {
	color: #004283;
	background-color: #2DCCCD;
}

.selectedDT:disabled{
	color: #214581 !important;
	background-color: #3773b887;
}

.bottomMarginAddOrigins {
	border-bottom-style: inset;
	border-bottom-color: #004283;
	border-bottom-left-radius: 6px;
}

.bigButtons {
	color: #004283;
	background-color: #2DCCCD;
}

.bigButtons:hover {
	color: #2DCCCD;
	background-color: #004283;
}

.buttonIcon {
	margin-bottom: 2px;
}

.subMargen {
	margin-left: 1%;
	width: 98%;
	border-bottom-color: #004283;
	border-bottom-style: inset;
	border-bottom-width: thin;
}

.marginBottomHeader {
	border-bottom-style: inset;
	width: 97%;
	margin-left: 20px;
	margin-bottom: 20px;
	border-bottom-color: #004283;
	border-bottom-width: 2px;
	margin-top: -5px;
}

.addNamingButton {
	background-color: #2DCCCD;
	color: #004283;
	font-size: 13px;
	width: 160px;
	float: right;
}

.infoButton {
	display: inline-block;
	font-size: 13px;
	width: 160px;
}

.directButton {
	display: inline-block;
	font-size: 13px;
	color: black;
	background-color: #86d394;
}

.directLabel {
	display: inline-block;
	font-size: 11px;
	color: black;
	background-color: #86d394;
	bottom: 3px;
}

.disabled {
	color: rgba(0, 0, 0, 0.26) !important;
	background-color: rgba(0, 0, 0, 0.12) !important;
}

.example-form {
	min-width: 90px;
	//max-width: 500px;
	width: 100%;
}

.col-2LoadLegacy {
	flex: 0 0 18.666667%;
	max-width: 18.666667%;
}

.divAboveFileInput {
	margin-right:10px; 
	position: relative; 
	bottom: 20px; 
	text-align: left; 
}

.buttonscolor {
	float: right;
	color: #004283;
	background: #2DCCCD;
	margin-left: 15px;
}

.auto-full-width {
	width: 100%;
}

.col-2File {
	flex: 0 0 9.666667%;
	max-width: 9.666667%;
	padding-left: 15px;
	margin-right: 5px;
}

.col-Desc {
	flex: 0 0 16%;
	max-width: 16%;
}

.col-LoadType{
	flex: 0 0 14.666667%;
    max-width: 14.666667%;
}

.col-BigDesc {
	flex: 0 0 87.666667%;
	max-width: 87.666667%;
}

.col-4Logic {
	flex: 0 0 29.333333%;
	max-width: 29.333333%;
}

.col-3Name {
	flex: 0 0 27%;
	max-width: 27%;
}

.col-2ButtNaming {
	flex: 0 0 13.666667%;
	max-width: 13.666667%;
}

.col-2Eleven {
	flex: 0 0 11.666667%;
	max-width: 11.666667%;
}

.col-Delim {
	flex: 0 0 10.333333%;
	max-width: 10.333333%;
}

.col-2Naming {
	flex: 0 0 15.666667%;
	max-width: 15.666667%;
}

.col-1Table {
	flex: 0 0 4.333333%;
	max-width: 4.333333%;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
}

.inputFieldForHelpPop {
	width: 93%;
	display: inline-block;
}

.inputFieldForHelpPop-Small {
	width: 92%;
	display: inline-block;
}

.mat-icon-button.small {
	width: 15px;
	height: 15px;
	line-height: 15px;
	.mat-icon {
		font-size: 20px;
		width: 15px;
		height: 15px;
		line-height: 15px;
		color: #004283;
	}
}

.mat-button.redEye {
	color: #2DCCCD !important;
	.mat-icon {
		color: #2DCCCD !important;
	}
}

.mat-card {
	background-color: aliceblue;
}

.small-mat-card {
	max-width: 400px;
}

.big-mat-card {
	max-width: 530px;
}

.tablaDataSource {
	//padding-top: 7px; 
	padding-left: 25px;
 }

.helpPopdiv {
	width: 5%;
	display: inline-block;
	padding-left: 5px;
}

.generalContainer {
	padding-left: 0;
	margin-left: 0;
}

.perimetro {
	flex: 0 0 22%;
}

.col-OtherButtons {
	padding: 0;
	flex: 0 0 28.333333%;
	max-width: 28.333333%;
}

.col-Alias {
	padding-right: 5px;
	flex: 0 0 10.666667%;
	max-width: 10.666667%;
}

.col-2tenper {
	flex: 0 0 10.666667%;
	max-width: 10.666667%;
}

.col-2tenper-PlusOne {
	flex: 0 0 11.666667%;
	max-width: 11.666667%;
}

.col-2smallquarter {
	flex: 0 0 9.666667%;
	max-width: 9.666667%;
}

.col-2quarter {
	flex: 0 0 15.666667%;
	max-width: 15.666667%;
}

.col10per {
	flex: 0 0 10%;
	max-width: 10%;
}

.col-5-thirty {
	flex: 0 0 34.666667%;
	max-width: 34.666667%;
}

.col-5-minus {
	margin-right: -20px;
}

.tableClass {
	font-size: 13px;
}