::ng-deep .tableFixed .ngx-datatable.scroll-horz .datatable-body{
    overflow: overlay;
    max-height: 550px !important;
    height: 550px !important;
}
@media only screen and (min-height: 768px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 700px !important;
        height: 700px !important;
    }
}
@media only screen and (min-height: 1080px) {
    /deep/ .tableFixed .ngx-datatable .datatable-body{
        max-height: 950px !important;
        height: 950px !important;
        font-weight: bold !important;
    }
}


td {
    font-size: 12px;
    border-bottom: 0px solid #ddd;
}

.tableSearchMat .mat-expansion-panel-body{
    margin-left: 10%;
}

.margen-div{
    padding-left: 0;
    padding-right: 0;
}

.margenMain{
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.mat-form-field{
    font-size: 12px;
    display: contents;
}

.matHeader{
    border-bottom-style: ridge;
    border-bottom-width: thin;
}

.infoTableReview{
    margin-top: -20px;
    font-size: 13px;
}

.generalContainer{
    padding-left: 0;
    margin-left: 0;
}

.row-margin{
    margin-top: 5px;
}
 
.infoTableReview p{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputFieldForHelpPop{
    width: 93%; 
    display: inline-block;
}
 
.inputFieldForHelpPop-Small{
    width: 92%; 
    display: inline-block;
}

.mat-card{
    background-color: aliceblue;
}
 
.helpPopdiv{
    width: 5%; 
    display: inline-block;
    padding-left: 5px;
}
 
.mat-icon-button.redEye{
    .mat-icon {
       color: red !important;
    }
}
 
.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
       font-size: 15px;
       width: 15px;
       height: 15px;
       line-height: 15px;
       color: #004283;
    }
}

.buttonActualizar {
    margin-top: 1%; 
    float: right; 
    padding-right: 5%;
}

.buttonscolor{
    float: right;
    color:#004283;
    background:#2DCCCD;
    margin-left: 15px;
}

.buttonExtra{
    float: right;
    margin-left: 25px;
    color: white;
    background:#004283;
}

.tablaRutas {
    margin: 0; 
    padding-top: 1%;
}
 
.tableFiltros table{
    width: 0%;
    display: table-cell;
 }

.table-info-table{
    //justify-content: none;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
 
.table-info-table p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}

.perimetro{
    flex: 0 0 22%;
}

.col-213{
    flex: 0 0 13.666667%;
    max-width: 13.666667%;
}

.col-2tenper{
    flex: 0 0 10.666667%;
    max-width: 10.666667%;
 }
 
 .col-2tenper-PlusOne{
    flex: 0 0 11.666667%;
    max-width: 11.666667%;
 }
 
 .col-2smallquarter{
    flex: 0 0 9.666667%;
    max-width: 9.666667%;
 }
 
 .col-2quarter{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
 }

 .col-2Twenty{
    flex: 0 0 20%;
    max-width: 20%;
 }

 .col10per{
    flex: 0 0 10%;
    max-width: 10%;
 }
 
 .col-5-thirty{
    flex: 0 0 34.666667%;
    max-width: 34.666667%;  
 }
 
 .col-5-minus{
    margin-right: -20px;
 }
 
 @media (min-width: 1200px) {
    .container {
       max-width: 1190px;
    }
 }

 //Toggle buttons
#tg-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
 }
 
 #tg-button:hover{
    background:#d4edf9;
    color: #004283;
 }
 
 #tg-button label {
    margin-bottom: 0;
    float: right;
    width: 10em;
 }
 
 #tg-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
 }
 
 #tg-button label input {
    position:absolute;
    top:-20px;
 }
 
 #tg-button input:checked + span {
    background-color: #004283;
    color:#fff;
 }
 
 #tg-button input:checked:hover + span {
    background-color:#2DCCCD;
    color:#004283;
 }
