<app-toolbar></app-toolbar>
<div class="container container-prof">
    <div class="row row-prof">
        <div class="col profile-img-container">
            <img class="profile-img " src="assets/images/basicprofile.png">
        </div>
        <div class="col basic-info">
            <span class="user-name"><b>{{userName}}</b></span><br>
            <span><b>{{rol}}</b> - {{rolName}}</span><br>
            <span>{{userData.email}}</span>
        </div>
    </div>
    <div class="row row-prof">
        <div class="col">
            <h5>Proyectos Habilitados</h5>
            <div *ngIf="userData.vobos" class="outer-vobo-div">
                <div *ngIf="userData.vobos.length > 0" class="inner-div">
                    <div *ngFor="let proyect of userData.vobos">
                        <mat-icon>fiber_manual_record</mat-icon><span>{{proyect}}</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-prof" style="margin-top: 4rem;">
        <button mat-raised-button class="buttons" (click)="changePass()">Cambiar contraseña</button>
    </div>
</div>