
.container-prof{
    margin-top: 3%;
    .row-prof{
        margin-bottom: 2%;
    }
}

.profile-img-container {
    max-width: 100px;
    max-height: 100px;
    .profile-img {
        height: 100%;
        width: 100%;
        min-width: 5.5rem;
    }
}

.basic-info{
    padding-top: 1%;
    margin-left: 15px;
    .user-name {
        font-size: 20px;
        color: #004283;
    }
}

h5 {
    color: #004283;
}

.outer-vobo-div{
    max-height: 10rem; 
    max-width: 30rem;
    padding-top: 15px;
    overflow: auto; 
    border-top-style: outset; 
    .inner-div {
        max-height: 10rem;
        mat-icon {
            font-size: 15px; 
            vertical-align: middle;
        }
    }
}



