<div class="container-fluid">
    <div class="row">
        <div class="col-11">
            <h1 mat-dialog-title>Solicitud {{titleType}}</h1>
        </div>
        <div class="col-1" style="font-size: 30px; bottom: 10px;">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
                <mat-icon class="closeIcon">clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>

<div class="container-fluid" style="margin: 0;">
    <div mat-dialog-content>
        <div class="row" style="margin: 0;">
            <div class="col">
                <p style="float: right;">Solicitud de la tabla realizada el día <strong>{{request.created_time}}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field class="input-help">
                    <input matInput placeholder="UUAA RAW" [(ngModel)]="backlog.uuaaRaw" [formControl]="requiredFormControlRaw" maxlength="4">
                    <mat-hint *ngIf="!answerFlag" align="start">Max. 4 caracteres.</mat-hint>
                    <mat-error *ngIf="requiredFormControlRaw.hasError('firstLetter')">
                        País <strong>inválido</strong>
                    </mat-error>
                    <mat-error *ngIf="requiredFormControlRaw.hasError('appCode')">
                        Código applicativo <strong>inválido</strong>
                    </mat-error>
                    <mat-error *ngIf="requiredFormControlRaw.hasError('lastLett')">
                        Sistema origen <strong>inválido</strong>
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'raw'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-2 col-Ambito">
                <mat-form-field class="input-help">
                    <mat-select #selectorAmbito placeholder="Ámbito" (selectionChange)="updateAmbito($event.value)" [(ngModel)]="calcAmbito" [formControl]="formControlAmbito" required>
                        <mat-option *ngFor="let ambito of ambitoOptions" [value]="ambito.letter">
                            {{ambito.letter}} - {{ambito.country}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'ambito'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <mat-form-field class="input-help">
                    <input matInput placeholder="UUAA MASTER" [matAutocomplete]="autoUUAA" [formControl]="formControlUUAAMaster" (blur)="checkSelectedUUAA()" />
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
                <mat-autocomplete [panelWidth]="175" #autoUUAA="matAutocomplete" [displayWith]="displayUUAA" (optionSelected)="selectedUuaa($event)">
                    <mat-option *ngFor="let name of filteredUUAAs | async" class="selectPretty" [ngClass]="{'current-uuaa': backlog.uuaaMaster == name.full_name}" [value]="name">
                        <span style="color: #d185cb;">({{ name.full_name.charAt(0) }}) </span>
                        <span>{{ name.short_name }} | </span>
                        <small style="color: #004283">{{ name.country }}</small>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="col">
                <mat-form-field class="input-big-help">
                    <input matInput placeholder="Nombre base" [formControl]="requiredFormControlName" [(ngModel)]="backlog.baseName">
                    <mat-error *ngIf="requiredFormControlName.hasError('required')">
                        El nombre es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'base_name'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="input-help">
                    <input matInput placeholder="Perimetro" matTooltip="backlog.perimeter" [(ngModel)]="backlog.perimeter" [formControl]="requiredFormControlPerm">
                    <mat-error *ngIf="requiredFormControlPerm.hasError('required')">
                        El perimetro es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'peri'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <mat-form-field class="input-help">
                    <mat-select #originSystem placeholder="Fuente origen" [(ngModel)]="backlog.originSystem" (selectionChange)="selectedOriginSystem($event.value)" [formControl]="requiredFormControlOrigin">
                        <mat-option *ngFor="let s of originSystemOptions" [value]="s.system">
                            {{s.system}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requiredFormControlOrigin.hasError('required')">
                        El sistema de origen es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'origin'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <mat-form-field class="input-help">
                    <mat-select #fileType placeholder="Tipo archivo" [(ngModel)]="backlog.typeFile" (selectionChange)="selectedFileType($event.value)" [formControl]="requiredFormControlFile">
                        <mat-option *ngFor="let f of filetypes" [value]="f">
                            {{f}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requiredFormControlFile.hasError('required')">
                        El tipo de archivo es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'file'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-3">
                <mat-form-field class="input-help">
                    <mat-select #tacticalObject placeholder="Marca obj táctico" [(ngModel)]="backlog.tacticalObject" (selectionChange)="selectedTacticalObject($event.value)" [formControl]="requiredFormControlMark" value="backlog.tacticalObject">
                        <mat-option value="YES">SI</mat-option>
                        <mat-option value="NO">NO</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requiredFormControlMark.hasError('required')">
                        La marca de objeto táctico es <strong>requerida</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'mark'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row lastRow">
            <div class="col-7">
                <mat-form-field class="inputFull">
                    <textarea rows="2" cols="20" matInput placeholder="Descripción" [(ngModel)]="backlog.observationField" [formControl]="requiredFormControlDesc">
                    </textarea>
                    <mat-error *ngIf="requiredFormControlDesc.hasError('required')">
                        La descripción es <strong>requerida</strong>.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="input-help">
                    <mat-select #sPeriodicity placeholder="Periodicidad" [(ngModel)]="backlog.periodicity" (selectionChange)="selectedPeriodicity($event.value)" [formControl]="requiredFormControlPer">
                        <mat-option *ngFor="let p of periodicity" [value]="p.periodicity">
                            {{p.periodicity}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requiredFormControlPer.hasError('required')">
                        La Periodicidad es <strong>requerida</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'time'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-3">
                <mat-form-field class="input-help">
                    <input type="number" matInput placeholder="Histórico requerido" [(ngModel)]="tmpHist" [formControl]="requiredFormControlHist" (input)="inputValidatorHist($event)">
                    <mat-hint style="font-size: 13px;" align="start">En meses</mat-hint>
                    <mat-error *ngIf="requiredFormControlHist.hasError('required')">
                        El histórico es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <div class="helpPopdiv">
                    <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'hist'">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="showDivError" class="row">
            <div class="errorMessage" style="text-align: center; width: 100%;">
                <mat-icon>error_outline</mat-icon> {{ messagesError[0] }}
            </div>
        </div>
        <div *ngIf="viewAuditFlag">
            <p style="font-style: italic; font-size: 12px; color: #004283">
                Tabla legacy creada el <strong>{{backlog.created_time}}</strong> y su última modificación fue el
                <strong>{{backlog.modifications.date}}</strong> por <strong>{{backlog.modifications.user_name}}.</strong>
            </p>
        </div>
        <div class="row">
            <mat-accordion *ngIf="oldBacklogFlag" class="tableMat" style="margin-bottom: 10px;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="matHeader">
                        <mat-panel-title class="title" style="color: #004283;">
                            <span style="padding-bottom: 5px;"><strong>- Estado anterior de los datos -</strong></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container-fluid" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-2">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="UUAA RAW" [(ngModel)]="oldBacklog.uuaaRaw" maxlength="4" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="UUAA MASTER" [(ngModel)]="oldBacklog.uuaaMaster" maxlength="4" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Nombre de la base" [(ngModel)]="oldBacklog.baseName" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-5Per">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Perímetro" [(ngModel)]="oldBacklog.perimeter" maxlength=32 disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-2 col-2P">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Fuente origen" [(ngModel)]="oldBacklog.originSystem" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-3 col-3File">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Tipo archivo" [(ngModel)]="oldBacklog.typeFile" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-3 col-3TDS">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Marca objeto táctico" [(ngModel)]="oldBacklog.tacticalObject" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row lastRow">
                            <div class="col-6">
                                <mat-form-field class="inputFull">
                                    <textarea style="margin-top: -2px; margin-bottom: -2px; height: 60px;" rows="2" cols="20" matInput placeholder="Descripción" [(ngModel)]="backlog.observationField" disabled>
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-3 col-3File">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Periodicidad" [(ngModel)]="oldBacklog.periodicity" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-3 col-3TDS">
                                <mat-form-field class="input-help">
                                    <input matInput placeholder="Histórico requerido" [(ngModel)]="oldBacklog.history" maxlength=4 disabled>
                                    <mat-hint align="start">En meses</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div mat-dialog-actions *ngIf="closedFlag" class="row rowComment">
        <div class="col-6 colClosedComment">
            <mat-form-field style="width: 100%; top: 15px;">
                <textarea matInput placeholder="Comentario" [formControl]="requiredFormControlComment" style="resize: none;" [(ngModel)]="request.comment" rows="1" cols="10" disabled></textarea>
                <mat-error *ngIf="requiredFormControlComment.hasError('required')">
                    El comentario es <strong>requerido</strong>.
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="closedFlag" class="col-2">
            <button mat-button class="buttonscolor" (click)="modifySol()">Modificar</button>
        </div>
        <div *ngIf="closedFlag" class="col-2 colAcceptar">
            <button mat-button class="buttonscolor" (click)="approveSol()">Aprobar</button>
        </div>
        <div *ngIf="closedFlag" class="col-2 colRechazar">
            <button mat-button class="buttonscolorCancel" (click)="rejectSol()">Rechazar</button>
        </div>
    </div>
    <div mat-dialog-actions *ngIf="answerFlag" class="row rowComment">
        <div class="container-fluid">
            <div class="row" style="margin-top: 10px;">
                <div *ngIf="answerFlag" class="col-5" style="bottom: 5px;">
                    <span class="title">
                        <strong style="color: #004283;">Resultado Solicitud:</strong></span><span> {{answerResult}}</span>
                </div>
                <div *ngIf="answerFlag" class="col-6">
                    <span><strong>Atendida por:</strong> {{request.spo}}</span>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col colClosedComment">
                    <mat-form-field class="disabledF" style="width: 100%; top: 15px;">
                        <textarea matInput placeholder="Comentario:" [formControl]="requiredFormControlComment" style="resize: none;" [(ngModel)]="request.comment" rows="1" cols="10" disabled></textarea>
                        <mat-error *ngIf="requiredFormControlComment.hasError('required')">
                            El comentario es <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions *ngIf="!closedFlag && !answerFlag" class="row rowComment" style="top: 5px;">
        <div class="col"></div>
        <div *ngIf="!modifyFlag" class="col-2">
            <button mat-button class="buttonscolor" (click)="ValidateBacklog()">
                Crear Solicitud</button>
        </div>
        <div *ngIf="modifyFlag" class="col-2">
            <button mat-button class="buttonscolor" (click)="modifySol()">
                Modificar Solicitud</button>
        </div>
        <div *ngIf="modifyFlag" class="col-2">
            <button mat-button class="buttonscolorCancel" style="margin-left: 45px;" (click)="rejectSol()">
                Eliminar Solicitud</button>
        </div>
    </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card style="max-width: 400px;">
        <mat-card-content *ngIf="activeHelp === 'raw'">
            Siglas PAAO. <br> P: País (C -> Colombia). <br> AA: Aplicativo host o externo. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit" target="_blank">(ver
                Página 8 del
                documento).</a><br> O: Sistema Origen. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit" target="_blank">(ver Página 8 del
                documento).</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'master'">
            UUAA o nombre del proyecto al que pertenece la tabla/fichero. En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO"). <br> Tipo de información
            que contiene la base de acuerdo al
            <a href="https://docs.google.com/spreadsheets/d/1uUJOsXiUasms4PxZgw9nJm9IHexZ8bzHFkdqj51FRhU/edit#gid=1896753620" target="_blank">
                mapa funcional.</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'ambito'">
            Ámbito de la uuaa el cual indica en donde se va a trabajar el tablón, si en un entorno global o en el entorno local de Colombia.<br> Si el ámbito es global no se toma en cuenta el origen no se toma en cuenta para formar el nombre físico final.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'base_name'">
            Nombre de la base o tabla como la conoces en tu área o el nombre del sistemas core. (e.g El nombre de la tabla en HOST).
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'peri'">
            Se refiere al contenido de la tabla/fichero (información de una determinada geografía, entidad, contrapartida, tipo de cliente, titularidad, etc).
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'origin'">
            Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a la UUAA/Sistema Origen.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'file'">
            ​​Tipo de formato del archivo de entrada. Posibles valores fixed, csv.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'mark'">
            Identificador de si el objeto que se está aprovisionando en un sistema no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un objecto de creación táctica que se debe gestionar a posteriori como deuda
            técnica.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'time'">
            Frecuencia de actualización de la información contenida en el objeto. <br> Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No tiene porqué coincidir con la periodicidad de carga/aprovisionamiento
            de la información en el objeto.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'hist'">
            Tiempo en meses que se requiere migrar la información de la tabla.
        </mat-card-content>
    </mat-card>
</mde-popover>