h1 {
    color: #004283;
    margin-top: 3px;
    font-weight: bold;
}

mat-error {
    font-size: 10px;
}

mat-hint {
    font-size: 10px;
}

p {
    color: #004283
}

textarea {
    margin-top: -2px;
    margin-bottom: -2px;
    height: 60px;
    resize: none;
}

.buttonscolor {
    float: right;
    color: #004283;
    background: #2DCCCD;
    margin-left: 15px;
    width: 100%;
}

.buttonscolorCancel {
    float: right;
    color: white;
    background-color: #e84c3c99;
    margin-left: 15px;
    width: 100%;
}

.colAcceptar {
    padding-left: 0;
    padding-right: 30px;
}

.colClosedComment {
    bottom: 10px;
}

.colRechazar {
    flex: 0 0 15.666667%;
}

.col-Ambito {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-UUAA {
    flex: 0 0 12.666667%;
    max-width: 12.666667%;
}

.col-2P {
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
}

.col-3File {
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
}

.col-3TDS {
    flex: 0 0 22%;
    max-width: 22%;
}

.col-5Per {
    flex: 0 0 37.666667%;
    max-width: 37.666667%;
}

.closeIcon {
    color: #004283;
    font-size: 30px;
    float: left;
}

// .current-uuaa {
//   background-color: aliceblue;
// }
.inputFull {
    width: 100%;
}

.input-help {
    width: 90%;
}

.input-big-help {
    width: 95%;
}

.helpPopdiv {
    width: 5%;
    display: inline-block;
    padding-left: 5px;
}

.lastRow {
    margin-bottom: -5px;
}

.mat-card {
    background-color: aliceblue;
}

.mat-icon-button.small {
    width: 15px;
    height: 15px;
    line-height: 14px;
    .mat-icon {
        font-size: 18px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #004283;
    }
}

.matHeader {
    border-bottom-style: ridge;
    border-bottom-width: thin;
}

.margenTitle {
    width: 96%;
    margin: -3% 0 1% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

.row {
    margin-bottom: 15px;
}

.rowComment {
    margin-top: -5px;
    margin-bottom: -10px;
    padding-bottom: 0;
    border-top-style: outset;
}

.selectPretty {
    font-size: 12.5px;
    margin: 0;
    height: 40px;
}

.title {
    font-size: 19px;
    padding-top: 10px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

::ng-deep .disabledF .mat-form-field-label {
    font-size: 21px;
    color: black;
}

::ng-deep .mat-expansion-panel-body {
    margin-top: auto;
    margin-bottom: -10px;
    font-size: 15px;
    background-color: #d0dce66e;
}