<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
    <div class="row">
        <div class="divH2">
            <h2>Iniciar Tabla</h2>
        </div>
    </div>
</div>

<div autosize>
    <div class="creationtable-container">
        <div class="container-fluid">
            <div class="row" style="margin-top: 3%;">
                <div class="col-3" style="display: none;">
                    <mat-form-field class="inputFull" required>
                        <mat-select placeholder="Proyectos" (selectionChange)="selectedBacklog($event.value)" required>
                            <mat-option *ngFor="let s of backlogs" [value]="s" required>
                                {{s.baseName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="inputFull" required>
                        <mat-select placeholder="Tabla" (selectionChange)="selectedBacklog($event.value)" required>
                            <mat-option *ngFor="let s of backlogs" [value]="s" required>
                                {{s.baseName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3" style="margin-top: 10px;">
                    <button mat-button class="button-query-global" (click)="createTable()" [disabled]="checkFillStatus()">
            Confirmar Nueva Tabla
            <mat-icon class="buttonIcon">add_circle</mat-icon>
          </button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="inputFieldForHelpPop">
                        <mat-form-field class="inputHelp">
                            <mat-select placeholder="Deployment Type" class="select-destinationType" matTooltip="Tipo de despliegue" [(ngModel)]="deploymentType" [formControl]="formControlDeployType">
                                <mat-option *ngFor="let type of deployType_values" [value]="type">
                                    {{type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="helpPopdiv" style="padding-left: 0px;">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'deploymentType'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2Orig">
                    <mat-form-field class="inputHelp">
                        <input type="number" matInput placeholder="Número de campos *" [(ngModel)]="fieldNumberField" (input)="inputValidatorNumberFields($event)" [formControl]="formControlNumberField">
                        <mat-error *ngIf="formControlNumberField.hasError('required')">
                            El número es <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="formControlNumberField.hasError('min')">
                            Tiene que haber al menos <strong>un naming</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'numberField'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Separador" [(ngModel)]="separator" maxlength="3" [formControl]="formControlSep">
                        <mat-hint align="start">Max. 3 caracter</mat-hint>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'separator'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="deploymentType == 'Global-Implementation'">
                <div class="col-2 col-2ua">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Alias único" (input)="inputValidatorNaming($event)" [(ngModel)]="freeAlias" [formControl]="formControlAlias">
                        <mat-error *ngIf="formControlAlias.hasError('required')">
                            El Alias es <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'alias'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>

                </div>
                <div class="col-2 col-2Desc">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Nombre Completo" [(ngModel)]="fullName" (input)="inputValidatorNaming($event)" [formControl]="formControlDesc">
                        <mat-error *ngIf="formControlDesc.hasError('required')">
                            La descripción es <strong>requerida</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>

                <div *ngIf="showDivError" class="col">
                    <div class="errorMessage" style="text-align: center; width: 100%; background-color: white;">
                        <mat-icon style="margin-right: 5px; vertical-align: bottom;">error_outline</mat-icon>
                        El nombre completo en raw y master no puede pasar de 32 caracteres
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="deploymentType != 'Global-Implementation'">
                <div class="col-2 col-2ua">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Alias" [(ngModel)]="alias" maxlength="10" (input)="inputValidatorNaming($event)" [formControl]="formControlAlias">
                        <mat-error *ngIf="formControlAlias.hasError('required')">
                            El Alias es <strong>requerido</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv" style="display: none;">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'alias'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>

                </div>
                <div class="col-2 col-2Desc">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Descripción del Nombre" [(ngModel)]="descAlias" maxlength="17" (input)="inputValidatorNaming($event)" [formControl]="formControlDesc">
                        <mat-error *ngIf="formControlDesc.hasError('required')">
                            La descripción es <strong>requerida</strong>.
                        </mat-error>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'descAlias'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>

                <div *ngIf="showDivError" class="col">
                    <div class="errorMessage" style="text-align: center; width: 100%;">
                        <mat-icon style="margin-right: 5px; vertical-align: bottom;">error_outline</mat-icon>
                        El nombre completo en raw y master no puede pasar de 32 caracteres
                    </div>
                </div>
            </div>

            <div class="row rowUpperBorder">
                <div class="col-2 col-2Eleven">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="UUAA RAW" [(ngModel)]="backlogInfo.uuaaRaw" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'raw'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-3 col-3Name">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Nombre físico objecto RAW" [(ngModel)]="raw_name" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'raw_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2Eleven">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="UUAA MASTER" [(ngModel)]="backlogInfo.uuaaMaster" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2" style="top: 15px; left: 10px;">
                    <mat-checkbox matCheckbox class="example-margin" [(ngModel)]="masterCheck">Permitir master</mat-checkbox>
                </div>
                <div class="col-3 col-3Name" *ngIf="masterCheck">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Nombre físico objecto MASTER" [(ngModel)]="master_name" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'master_name'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Perímetro" [(ngModel)]="backlogInfo.perimeter" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'perimeter'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2ua">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Periodicidad" [(ngModel)]="backlogInfo.periodicity" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'periodicity'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2ua">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Tipo de archivo" [(ngModel)]="backlogInfo.typeFile" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'typeFile'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2Orig">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Marca objeto táctico" [(ngModel)]="backlogInfo.tacticalObject" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'mark'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
                <div class="col-2 col-2Orig">
                    <mat-form-field class="inputHelp">
                        <input matInput placeholder="Fuente de origen" [(ngModel)]="backlogInfo.originSystem" maxlength="4" disabled>
                    </mat-form-field>
                    <div class="helpPopdiv">
                        <button mat-icon-button [mdePopoverTriggerFor]="popoverHelp" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" class="small" (click)="activeHelp = 'origin'">
              <mat-icon>help_outline</mat-icon>
            </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5%;">
                <div class="col-11">
                    <mat-form-field class="inputFull descBorder">
                        <textarea matInput style="resize: none;" rows="5" cols="30" placeholder="Descripción" [(ngModel)]="backlogInfo.observationField" disabled>
            </textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="false" class="col-3">
                    <mat-form-field class="inputFull">
                        <input matInput placeholder="Responsable" [(ngModel)]="backlogInfo.responsable" disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mensajes de ayuda -->
<mde-popover #popoverHelp="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card [ngClass]="{'small-mat-card': (activeHelp !== 'descAlias'), 'big-mat-card': (activeHelp === 'descAlias')}">
        <mat-card-content *ngIf="activeHelp === 'descAlias'">
            <strong>Alias y descripción se encuentran conformado de la siguiente manera:</strong><br>
            <strong>(1 posición) Origen:</strong> Sistema de origen de la tabla. Por ejemplo, h: Host <br>
            <strong>(2 pos.) Contenido del archivo:</strong><br>
            <strong>"ta":</strong> Tabla paramétrica, tabla cuya información no se actualiza constantemente, por ejemplo, catálogos de los productos del banco.<br>
            <strong>"da":</strong> Data, todo aquello que no es una tabla paramétrica<br>
            <strong>(2 pos.) Códigos aplicativo:</strong> Se informará con la codificación de host. Eje: pe = Personas, bg = Cuentas personales, rv = riesgos.<br>
            <strong>(6 pos.) </strong>Si es Tabla se informará el nombre de Host pero sin las letras DT. Eje: "PEDT001" => "PE001_", "PEDT008" => "PE008_"<br>
            <strong>(15 pos.) Descripción:</strong> 15 Caracteres libres que describan el contenido de la tabla o del fichero.
            <br> Por ejemplo: hdape008_cliente_contrato, se informa en el campo.
            <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">Ver documento de
        buenas prácticas (Pag. 1)</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'separator'">
            ​​Delimitador de campos para los ficheros de datos de origen.
            <b>Nota:</b> Sólo aplica para ficheros de texto plano (tipo CSV, etc). No para ficheros de tipo AVRO o PARQUET. Ejemplos de posibles valores: "|", ";" o "#".
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'numberField'">
            ​​Cantidad de namings que va a tener la tabla.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'raw'">
            Siglas PAAO. <br> P: País (C -> colombia). <br> AA: Aplicativo host o externo. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a><br> O: Sistema Origen. <a href="https://docs.google.com/document/d/1V6ITeizjX54WYxw89BXkFpt7S9VUmGCF94vx0Tb39xM/edit">(ver Página 8 del
        documento).</a>
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'raw_name'">
            Nombre físico del objeto origen en la fase de RAW del que proviene el objeto que se está documentando.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'master'">
            UUAA o nombre del proyecto al que pertenece la tabla/fichero. En la herramienta, Se completará por defecto en función del Data Source que se haya seleccinoado (y la UUAA informada en el documento "DATA SOURCE MAP DE DATIO")
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'master_name'">
            Nombre físico del objeto origen en la fase de MASTER del que proviene el objeto que se está documentando.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'origin'">
            Nombre del Sistema Origen desde el que se carga. Nombre con el que se acostumbra a identificar a la UUAA/Sistema Origen. Si hay más de un sistema origen, se deberán separar por punto y coma (;). En caso de ser un sistema usuario tipo excel, access, informarlo
            con el mismo nombre que el código de sistema/UUAA, "Excel_tipos de cambio", Word_Ratings"...
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'perimeter'">
            Perímetro o contenido de la tabla/fichero (información de una determinada geografía, entidad, contrapartida, tipo de cliente, titularidad, …).
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'periodicity'">
            Frecuencia de actualización de la información contenida en el objeto. Hace referencia a si la información del objeto es de carácter diario, mensual, trimestral... No tiene porqué coincidir con la periodicidad de carga/aprovisionamiento de la información
            en el objeto.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'mark'">
            Identificador de si el objeto que se está aprovisionando en un sistema no cumple con las directrices/normativas técnicas para ser un aprovisionamiento estratégico y por tanto es un objecto de creación táctica que se debe gestionar a posteriori como deuda
            técnica.
        </mat-card-content>
        <mat-card-content *ngIf="activeHelp === 'typeFile'">
            ​​Tipo de formato del archivo de entrada. Posibles valores fixed, csv, avro, parquet, xml, text-extended
        </mat-card-content>
    </mat-card>
</mde-popover>