mat-error {
  font-size: 10px;
}
.button-query-global {
  color: #004283;
  background-color: #2dcccd;
}

.button-query-global:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

.creationtable-container {
  padding-top: 0;
}

.divH2 {
  margin-left: 2%;
  margin-top: 20px;
  color: #004283;
}

.mat-card {
  background-color: aliceblue;
}

.inputFieldForHelpPop {
  width: 93%;
  display: inline-block;
}

.small-mat-card {
  max-width: 400px;
}

.big-mat-card {
  max-width: 515px;
}

.menuIcon {
  font-size: 20px;
  margin-right: 5px;
}

.inputFull {
  width: 100%;
}

.rowUpperBorder {
  border-top-style: outset;
  padding-top: 15px;
  margin-top: 15px;
}

.subMargen {
  margin-left: 1%;
  width: 98%;
  border-bottom-color: #004283;
  border-bottom-style: inset;
  border-bottom-width: thin;
}

.inputHelp {
  width: 95%;
}

.helpPopdiv {
  width: 5%;
  display: inline-block;
  padding-left: 5px;
}

.mat-icon-button.small {
  width: 15px;
  height: 15px;
  line-height: 14px;
  .mat-icon {
    font-size: 18px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #004283;
  }
}

.col-3Name {
  flex: 0 0 27%;
  max-width: 27%;
}

.col-2TDS {
  flex: 0 0 22%;
  max-width: 22%;
}

.col-2Per {
  flex: 0 0 18.666667%;
  max-width: 18.666667%;
}

.col-2File {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-2Desc {
  flex: 0 0 16%;
  max-width: 16%;
}

.col-2Orig {
  flex: 0 0 13.666667%;
  max-width: 13.666667%;
}

.col-2ua {
  flex: 0 0 12.666667%;
  max-width: 12.666667%;
}

.col-2Eleven {
  flex: 0 0 11.666667%;
  max-width: 11.666667%;
}

.col-2-10 {
  flex: 0 0 10.666667%;
  max-width: 10.666667%;
}

.col-2P {
  flex: 0 0 18.666667%;
  max-width: 18.666667%;
}

.errorMessage {
  padding-top: 1%;
  padding-bottom: 1%;
}

::ng-deep .descBorder .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: #004283 !important;
  }

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #004283;
  }
}

::ng-deep .mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: #004283 !important;
  }
}
