h1 {
    color: #004283;
    margin-top: 3px;
    font-weight: bold;
}

.closeIcon {
    color: #004283;
    font-size: 30px;
    float: left;
}

.margenTitle {
    width: 97%;
    margin: 0 0 2% 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thick;
}

.subMargen {
    margin-bottom: 3%;
    margin-top: -10px;
    width: 100%;
    border-bottom-color: #2DCCCD;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.p-normal {
    margin-right: 5%;
    width: 100%;
}

.p-subtitle {
    margin-right: 5%;
    width: 100%;
    font-weight: bold;
}

.errors-table.ngx-datatable.material {
    z-index: 1;
    box-shadow: none !important;
}

.validNamingSpan {
    color: #54cd6a;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 0 70px;
}

 ::ng-deep .errorsTable .ngx-datatable.material .datatable-body .datatable-group-header {
    width: 100% !important;
    font-size: bold;
    color: white;
    background: #e84c3c99;
}

 ::ng-deep .errorsTable .ngx-datatable .datatable-body .datatable-row-wrapper {
    background: aliceblue;
    border-bottom: 1px solid #d9d8d9;
    border-top: 1px solid #d9d8d9;
    width: 100% !important;
}

 ::ng-deep .errorsTable .ngx-datatable .datatable-body .datatable-body-row {
    width: 700px !important;
    min-width: 100% !important;
    ;
}