<div class="container-fluid">
    <div class="row" style="height: 40px;">
        <div class="col-10">
            <h1 mat-dialog-title>Reporte de observaciones {{secondaryTitle}}</h1>
        </div>
        <div class="col-2" style="font-size: 30px; padding-left: 20px;">
            <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right;">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
        </div>
    </div>
    <div class="row margenTitle"></div>
</div>

<div class="container-fluid" style="margin: 0;">
    <div *ngIf="!prettyFlag" mat-dialog-content>
        <p><strong>{{title}}</strong></p>
        <div class="row"></div>
        <div class="row">
            <ul *ngIf="!isEmpty">
                <li *ngFor="let item of data">
                    <p style="font-family: inherit !important;" [ngClass]="{'p-normal': !item.includes('*'), 'p-subtitle': item.includes('*')}">
                        - {{item}}</p>
                </li>
            </ul>
            <ul *ngIf="isEmpty">
                <li>{{warning}}</li>
            </ul>
        </div>
    </div>
    <div *ngIf="prettyFlag" mat-dialog-content>
        <div class="container-fluid" style="margin: 0;">
            <div *ngIf="!singleFlag" class="row" style="padding-bottom: 5px; border-bottom-style: inset;">
                <div class="col-5">
                    <span><strong>Namings Correctos:</strong>{{okArr.length}}</span>
                </div>
                <div class="col-5">
                    <span><strong>Namings Incorrectos:</strong>{{badArr.length}}</span>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div *ngIf="badArr.length === 0" class="validNamingSpan">
            <span *ngIf="!singleFlag">Todos los namings correctos</span>
            <span *ngIf="singleFlag">Naming correcto</span>
        </div>
        <div *ngIf="badArr.length > 0" class="table-query-div errorsTable" style="padding: 10px 0 0 0;">
            <ngx-datatable #okTable class='material table errors-table' [rows]="badArr" [columnMode]="'force'" [headerHeight]="0" [footerHeight]="25" [rowHeight]="'auto'" [limit]="10" [groupRowsBy]="'naming'">
                <ngx-datatable-group-header [rowHeight]="50">
                    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                        <div style="width: 100%;">
                            <button mat-button style="margin-right: 35px; width: 100%; text-align: start;" (click)="toggleGroup(group)">
                <mat-icon *ngIf="!expanded" style="margin-left: 3px;">fast_forward</mat-icon>
                <mat-icon *ngIf="expanded" style="margin-left: 3px;">fast_rewind</mat-icon>
                {{group.value[0].naming}}
              </button>
                        </div>
                    </ng-template>
                </ngx-datatable-group-header>
                <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="Errores" prop="errors" [width]="200" [sortable]="false" [resizeable]="false">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <div *ngFor="let obj of row.errors">
                            <span><strong>{{obj}}</strong></span><br>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>