/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontEndGovernanceProject-primary: mat-palette($mat-indigo);
$FrontEndGovernanceProject-accent: mat-palette($mat-pink,
A200,
A100,
A400);
// The warn palette is optional (defaults to red).
$FrontEndGovernanceProject-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$FrontEndGovernanceProject-theme: mat-light-theme($FrontEndGovernanceProject-primary,
$FrontEndGovernanceProject-accent,
$FrontEndGovernanceProject-warn);
@include angular-material-theme($FrontEndGovernanceProject-theme);
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* You can add global styles to this file, and also import other style files */


/* //Para quitarle las flechitas al input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
*/

::ng-deep .datatable-row-detail {
    background-color: white !important;
}

.closeIcon {
    margin-right: 5px;
    float: none !important;
}

.close-icon {
    float: none !important;
    color: #004283;
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 2px;
}

//Para que los datatable sean fijos PENDIENTE POR VER SI SIRVE PA ALGO
.visible {
    height: 100% !important;
}

.progress-linear .container {
    max-width: 100%;
    margin: 0;
}

::ng-deep .datatable-scroll {
    display: inherit !important;
}

datatable-scroller {
    width: 100% !important; //Permite que el row detail sea largo
    display: inherit !important;
}

::ng-deep .datatable-scroller {
    width: 100% !important; //Permite que el row detail sea largo
    display: inherit !important;
}

//start-table
.expandIconClass {
    padding: 5px 5px 5px 15px !important;
}

//edit-tablon
.expandIconClassBig {
    padding: 0 5px 0 15px !important;
    datatable-body-cell {
        font-size: 13px !important;
    }
}

//edit-tablon
.expandIconClassMedium {
    padding: 10px 5px 0 15px !important;
    datatable-body-cell {
        font-size: 13px !important;
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    background: white;
}

table {
    width: 100%;
}

td {
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    color: black;
    text-align: center;
}

textarea {
    color: black;
    background: white;
    border: white;
    font-size: 11px;
}

input {
    color: black;
}

select {
    color: black;
    width: 120px;
}

textarea:focus,
input:focus {
    color: black;
}

p {
    font-family: Lato;
    color: black;
}

//Scrollbar bonito
textarea::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #F5F5F5;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 10px;
    background-color: #f7f1f1;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #004283;
    background-image: -webkit-linear-gradient(rgba(42, 205, 205, 0.76), rgba(42, 205, 205, 0.637), rgba(33, 69, 127, 1), transparent);
}

div::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #F5F5F5;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 10px;
    background-color: #f5f1f7;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #004283;
    background-image: -webkit-linear-gradient(rgba(42, 205, 205, 0.76), rgba(42, 205, 205, 0.637), rgba(33, 69, 127, 1), transparent);
}

.subMargen {
    margin-left: 1%;
    width: 98%;
    border-bottom-color: #004283;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.full-width-input {
    width: 100%;
}

.divH2 {
    margin-left: 2%;
    margin-top: 20px;
    color: #004283;
}

.mat-toolbar.mat-primary {
    color: white;
    background: #004283;
    padding-right: 0;
}

.title-center {
    text-align: center;
    width: 70%
}

.icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.mat-toolbar {
    width: 100%;
    height: 20%;
}

.smenu-sidenav-content {
    display: flex;
    height: 100%;
}

.smenu-sidenav {
    border: 1px solid rgba(254, 254, 254, 0.5);
    width: 20%;
    height: 100%;
}

.menu-tittle {
    color: white;
    background: #004283;
    border: 1px solid rgba(254, 254, 254, 0.5);
}

.creationtable-container {
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.fieldsearch-form {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 150px;
    font-size: 12px;
}

.fieldsearch-form-object {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 250px;
    font-size: 11px;
}

.fieldsearch-form-object2 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 200px;
    font-size: 11px;
}

.fieldsearch-form-object3 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 180px;
    font-size: 11px;
}

.fieldsearch-form2 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 500px;
    font-size: 12px;
}

.fieldsearch-form3 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 70px;
    font-size: 12px;
}

.observations {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 60%;
}

.select-query-form {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 20%;
}

.select-query-form2 {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 8%;
}

.margen-div {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.margen-div-selector {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.button-query-global {
    color: white;
    background: #004283;
}

.button-query-global2 {
    color: white;
    background: #2dcccd;
}

.table-query-div {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.generate-naming-div {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.buttons {
    margin-right: 5px;
    color: white;
    background: #004283;
    padding-bottom: 3%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.buttons2 {
    color: white;
    background: #004283;
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.buttonscolor {
    float: right;
    color: white;
    background: #004283;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

.creation-backlog {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.creation-backlog2 {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.file-upload {
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    width: 60%;
}

.tableFields {
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.tableFields2 {
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 60%;
    height: 60%;
}

.login-card {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.login-card-header {
    color: white;
    background: #004283;
    height: 80%;
    width: 100%;
}

.errorMessage {
    font-size: 100%;
    color: #D8000C;
    background-color: #FFD2D2;
    padding-top: 2%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-left: 20%;
    width: 60%;
}

.sucessMessage {
    color: #4F8A10;
    font-size: 100%;
    background-color: #DFF2BF;
    padding-top: 2%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-left: 20%;
    width: 60%;
}

.warnningMessage {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-size: 100%;
    padding-top: 2%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-left: 20%;
    width: 100%;
}

.hint {
    font-size: 140%;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-button {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 40%;
    width: 150px;
    border: 5px solid #fcfcfc;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -50px;
    color: white;
    background: #004283;
}

.title-center-not-found {
    text-align: center;
    width: 100%
}

.button-not-found {
    text-align: center;
    box-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
}

.table-ngx {
    width: 100%;
    height: 100%;
}

.list-type {
    list-style-type: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.table-generate-namings {
    width: 100%;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    font-size: 100%;
}

.input-check {
    width: 80px;
    font-size: 11px;
}

.table-div {
    width: 100%;
}

.mat-form-field-naming {
    color: black;
    font-size: 100%;
    height: 50%;
}

.table-generate-naming-ng {
    color: black;
    line-height: 6px;
    text-align: center;
}

.select-Y-N {
    color: black;
    width: 50px;
    font-size: 11px;
}

.select-destinationType {
    font-size: 11px;
    color: black;
}

.selected {
    color: #004283 !important;
    background-color: #2DCCCD;
}

.selectedDT {
    color: #214581 !important;
    background-color: #3773b887;
}

.generatedRow {
    background-color: #a9a9a996;
}

.is-tempok {
    background: #a9cef5;
}

.is-wrong {
    background: white;
}

.is-nok {
    background: #FFD2D2;
}

.is-ok {
    background: #DFF2BF;
}

.is-global {
    background: #f2f5a9;
}

.is-common-global {
    background: #f5d0a9;
}

.is-valid-proposal {
    background: #a9a9a954;
}

.is-proposal {
    background: #f5a9a9;
}

.is-common-proposal {
    background: #d0a9f5;
}

.is-directnaming {
    background: #b4e2bc;
}

.legacy-repeated {
    background: #AEDEF2;
}

.legacy {
    background: #19546d69;
}

.principal {
    background: #66ec65ba;
}

.secondary {
    background: #2fb17b;
}

.global-model {
    background: #f513138c;
}

.global-model-secondary {
    background: #f51818ad;
}

.specific {
    background: #b3daff;
}

.naming-open {
    background: #DFF2BF;
}

.naming-closed {
    background: #f5a9a9de;
}

.addProject-form {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.convenciones-div {
    p {
        color: black;
        padding-left: 6px;
        margin-bottom: 5px;
    }
}

.mat-card-title {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
}

.div-namings {
    width: 100%;
    display: flex;
    justify-content: center;
}

.selectPretty {
    font-size: 12.5px;
    margin: 0;
    height: 40px;
}

.current-uuaa {
    background-color: aliceblue;
}

.standard-button {
    color: white;
    background: #004283;
}

.important-button {
    color: #004283;
    background: #2DCCCD;
}

.valid-button {
    color: white;
    background-color: #4caf50;
}

.danger-button {
    color: white;
    background-color: #e84c3c99;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: .9rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    color: black;
    transition: width 0.3s ease;
    font-size: 11px;
    font-weight: 400;
}

.div-statistics-general {
    padding-right: 3%;
    padding-bottom: 3%;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    justify-content: center;
}

.graph-statistics-po {
    justify-content: center;
    height: 400px;
    width: 100%;
}

.graph-statistics {
    justify-content: center;
    height: 400px;
    width: 600px;
    padding-right: 3%;
}

.SeeUser-form {
    width: 350px;
    justify-content: center;
    margin-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.table-padding {
    padding-right: 0%;
    margin-right: 0%;
    margin-top: 1%;
    justify-content: center;
}

.graph-statistics-user {
    justify-content: center;
    height: 400px;
    width: 400px;
    padding-left: 17%;
    padding-top: 1%;
    padding-right: 20%;
    padding-bottom: 1%;
}

.logo-left {
    padding-left: 3%;
}

.login-title {
    padding-right: 10%;
}

.logo-rigth {
    padding-right: 2%;
}

.mat-card-header-text {
    width: 100%;
}

.table-info-table {
    justify-content: center;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.table-buttons {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.search-project {
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.input-length {
    width: 100%;
    font-size: 11px;
}

.input-length-comment {
    width: 100px;
    font-size: 11px;
    color: black;
}

.input-logic-naming {
    width: 170px;
    font-size: 11px;
}

.input-legacy {
    width: 120px;
    font-size: 11px;
}

ul,
li {
    list-style: none;
}

.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #B7B7B7;
    color: black;
}

.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #DCDCDC;
    color: black;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(66, 134, 244)
}

.tableSearchMed .mat-expansion-panel-body {
    margin-left: 0% !important;
    padding: 0 15px 15px 15px !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.tableSearchMat .mat-expansion-panel-body {
    margin-left: 3%;
    padding: 0 24px 15px 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tableSearchMatReview .mat-expansion-panel-body {
    margin-left: 0%;
    padding: 0 24px 15px 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.toolbarExp .mat-expansion-panel-body {
    margin-top: -15px;
    padding: 0px 24px 0px 16px;
}

.changedField .mat-select-value {
    color: red;
}

.changedField .mat-select-placeholder {
    color: red;
}

.fieldsearch-form {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 150px;
    font-size: 15px;
}

.fieldsearch-form-object {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 250px;
    font-size: 13px;
}

.fieldsearch-form-object2 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 200px;
    font-size: 13px;
}

.fieldsearch-form-object3 {
    padding-right: 0.1%;
    padding-left: 0.1%;
    width: 180px;
    font-size: 13px;
}

.fieldsearch-form2 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 500px;
    font-size: 12px;
}

.fieldsearch-form3 {
    padding-right: 0.5%;
    padding-left: 0.5%;
    width: 70px;
    font-size: 12px;
}

//Cell botones
.noPaddCell {
    padding-top: 5px !important;
}

.lavender {
    background-color: #AEDEF2;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    //border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}