<div class="container-fluid dialog-title">
  <div class="row row-title">
    <div class="col-10">
      <h1 mat-dialog-title>{{new_project_flag ? 'Creación' : 'Información'}} Proyecto</h1>
    </div>
    <div class="col-2 icon-col">
      <button mat-icon-button matTooltip="Cancelar" [mat-dialog-close]="null">
        <mat-icon class="close-icon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margen-title"></div>
</div>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <mat-form-field class="full-input" [ngClass]="{'dirty': datas.name != bk_name}">
          <input matInput placeholder="Nombre" [(ngModel)]="datas.name">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <mat-form-field class="full-input" [ngClass]="{'dirty': datas.shortDesc != bk_desc}">
          <textarea matInput style="min-height: 60px" rows="3" cols="30" placeholder="Descripción"
            [(ngModel)]="datas.shortDesc"></textarea>
        </mat-form-field>
      </div>
      <div class="col"></div>
    </div>
    <div *ngIf="!new_project_flag">
      <div class="row">
        <span class="sub-title">Casos de Uso</span>
      </div>
      <div class="row row-margin" style="padding-top: 10px; padding-bottom: 20px;">
        <div *ngFor="let case of use_cases_data">
          <div class="col-3">
            <div style="width: 100%; white-space: nowrap;">
              <span><strong>- </strong>{{case}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span class="sub-title">VoBos del Proyecto</span>
      <ng-container [ngTemplateOutlet]="help_div" [ngTemplateOutletContext]="{ help_type: 'vobo_projects' }">
      </ng-container>
    </div>
    <div class="row row-margin">
      <div class="col-4">
        <mat-form-field class="full-input">
          <mat-select placeholder="Usuario" (selectionChange)="selectedUser($event.value)" required>
            <mat-option *ngFor="let user of user_options" [value]="user" matTooltip="{{user.name}} - {{prettyRol(user.rol)}}">
              <strong>{{user.name}}</strong> - {{prettyRol(user.rol)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5" style="top: 10px;">
        <button mat-raised-button class="buttons valid-button" [disabled]="found_user || select_user == null"
          (click)="editVoBos('add')">
          Agregar VoBo</button>
        <button mat-raised-button class="buttons danger-button" style="margin-left: 15px;"
          [disabled]="!found_user || select_user == null" (click)="editVoBos('remove')">
          Remover VoBo</button>
      </div>
    </div>
    <div class="row">
      <span class="sub-title">Equipos</span>
      <ng-container [ngTemplateOutlet]="help_div" [ngTemplateOutletContext]="{ help_type: 'user_teams' }">
      </ng-container>
    </div>
    <div class="row row-margin">
      <div class="col-4">
        <mat-form-field class="full-input">
          <mat-select placeholder="Equipo" (selectionChange)="selectedTeam($event.value)" required>
            <mat-option *ngFor="let team of team_options" [value]="team">
              {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5" style="top: 10px;">
        <button mat-raised-button class="buttons valid-button" [disabled]="found_team || select_team == null"
          (click)="editTeams('add')">
          Agregar Equipo</button>
        <button mat-raised-button class="buttons danger-button" style="margin-left: 15px;"
          [disabled]="!found_team || select_team == null" (click)="editTeams('remove')">
          Remover Equipo</button>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col">
        <button mat-raised-button class="buttons" style="float: right;" (click)="confirm()">
          {{new_project_flag ? 'Crear' : 'Confirmar Cambios'}} Proyecto</button>
      </div>
    </div>
  </div>
</div>

<!--HELP DIV POPUP-->
<ng-template #help_div let-help_type="help_type">
  <button mat-icon-button class="small" (click)="active_help = help_type" [mdePopoverTriggerFor]="popover_help"
    mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
    <mat-icon>help</mat-icon>
  </button>
</ng-template>
<!-- Mensajes de ayuda -->
<mde-popover #popover_help="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card class="small-mat-card">
    <mat-card-content *ngIf="active_help === 'vobo_projects'"><strong>VoBos que pertenencen al proyecto:</strong><br>
      <span *ngFor="let vopo of datas['VoBo']">
        <strong>-</strong> {{prettyUserName(vopo)}}<br>
      </span>
    </mat-card-content>
    <mat-card-content *ngIf="active_help === 'user_teams'"><strong>Equipos que pertenecen al proyecto:</strong><br>
      <span *ngFor="let team of datas['teams']">
        <strong>-</strong> {{prettyTeamName(team)}}<br>
      </span>
    </mat-card-content>
  </mat-card>
</mde-popover>