.dialog-title {
    .row-title {
        height: 40px;
    }

    h1 {
        color: #004283;
        margin-top: 3px;
        font-weight: bold;
    }

    .icon-col {
        font-size: 30px;
        padding-left: 20px;
    }

    button {
        float: right;
    }

    .close-icon {
        float: none !important;
        color: #004283;
        font-size: 30px;
        margin-right: 5px;
        margin-bottom: 2px;
    }

    .margen-title {
        margin-bottom: 10px;
        border-bottom-color: #004283;
        border-bottom-style: inset;
        border-bottom-width: thick;
    }
}

.full-input {
    width: 100%;
}

.user-option {
    width: 300px;
    max-width: 400px;
    background-color: hotpink;
}

.row-margin {
    padding-top: 20px;
    border-top-style: outset;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
    color: #939393;
    margin-right: 10px;
}

.mat-card {
    max-width: 305px;
    background-color: aliceblue;
}

.mat-icon-button.small {
    width: 26px;
    height: 26px;
    line-height: 26px;

    .mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 19px;
        color: #004283;
    }
}

#infotext {
    width: 100%;
    height: 70px;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

#infotext:focus-visible {
    outline: none;
}

::ng-deep .dirty.mat-form-field .mat-form-field-label {
    color: orange !important;
}

::ng-deep .dirty.mat-form-field .mat-form-field-underline {
    background-color: orange;
}

::ng-deep .mat-select-content {
    width: 2000px;
    background-color: red;
    font-size: 10px;   
}