<app-toolbar></app-toolbar>


<div class="container-fluid subMargen">
    <div class="row">
        <div class="divH2">
            <h2>Tablas / Tablones Pendientes</h2>
        </div>
    </div>
</div>
<div autosize>
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
                Tablas
            </ng-template>
            <div class="margen-div">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-5 col-md-2" style="font-size: 18px;">
                            <mat-form-field class="fullInput">
                                <mat-select placeholder="Búsqueda por estado" [(ngModel)]="state" (selectionChange)="selectedSearch('DD', $event.value)">
                                    <mat-option *ngFor="let r of stateTables" [value]="r.value">
                                        {{ r.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row search-filter-box">
                        <div class="col">
                            <div class="row">
                                <div class="col search-filter-title-box">
                                    <h5>Filtros de búsqueda</h5>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-3">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Nombre Lógico" [(ngModel)]="searchBaseName" (keyup)="filterCurrentTables('baseName', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Alias" [(ngModel)]="searchAlias" (keyup)="filterCurrentTables('alias', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Nombre Raw" [(ngModel)]="searchRawName" (keyup)="filterCurrentTables('raw_name', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Nombre Master" [(ngModel)]="searchMasterName" (keyup)="filterCurrentTables('master_name', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-1">
                                    <button mat-button class="button-query-global" style="margin-top: 10px" matTooltip="Limpiar Filtros" (click)="cleanSearchFilters()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngx-datatable class="material search-table" [rows]="currentTables" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingFlag">
                <ngx-datatable-column name="Nombre Lógico" prop="baseName" [flexGrow]="5" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Alias" prop="alias" [flexGrow]="3" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Nombre Raw" prop="raw_name" [flexGrow]="5" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.rawLength > 0 ? row.raw_name : '---'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="No. Raw" prop="rawLength" [flexGrow]="2" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.rawLength > 0 ? row.rawLength : '---'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre Master" prop="master_name" [flexGrow]="5" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.masterLength > 0 ? row.master_name : '---'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="No. Master" prop="masterLength" [flexGrow]="2" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.masterLength > 0 ? row.masterLength : '---'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Detalles" [flexGrow]="2" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div *ngIf="row.stateTable !== 'F'">
                            <button mat-button matTooltip="Última modificación: {{row.last_mod}}" class="button-query-global bigButtons" (click)="goToEdit(row, 'DD')">
                                <mat-icon class="buttonIcon">edit</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
                Tablones
            </ng-template>
            <div class="margen-div">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-5 col-md-2" style="font-size: 18px;">
                            <mat-form-field class="fullInput">
                                <mat-select placeholder="Búsqueda por estado" [(ngModel)]="state" (selectionChange)="selectedSearch('DT', $event.value)">
                                    <mat-option *ngFor="let r of stateTables" [value]="r.value">
                                        {{ r.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row search-filter-box">
                        <div class="col">
                            <div class="row">
                                <div class="col search-filter-title-box">
                                    <h5>Filtros de búsqueda</h5>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-3">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Nombre Lógico" [(ngModel)]="searchBaseName" (keyup)="filterCurrentTables('baseName', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Alias" [(ngModel)]="searchAlias" (keyup)="filterCurrentTables('alias', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="fullInput">
                                        <input matInput type="text" placeholder="Nombre Master" [(ngModel)]="searchMasterName" (keyup)="filterCurrentTables('master_name', $event.target.value)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-1">
                                    <button mat-button class="button-query-global" style="margin-top: 10px" matTooltip="Limpiar Filtros" (click)="cleanSearchFilters()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngx-datatable class="material search-table" [rows]="currentTables" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingFlag">
                <ngx-datatable-column name="Nombre Lógico" prop="baseName" [flexGrow]="4" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre Master" prop="master_name" [flexGrow]="4" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Alias" prop="alias" [flexGrow]="2" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Descripción" prop="observationField" [flexGrow]="4" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="No. campos" prop="fieldsLength" [flexGrow]="2" [sortable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Detalles" [flexGrow]="2" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-button matTooltip="Última modificación: {{row.last_mod}}" class="button-query-global bigButtons" (click)="goToEdit(row, 'DT')">
                            <mat-icon class="buttonIcon">edit</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-tab>
    </mat-tab-group>
</div>