.fullInput{
    width: 100%;
}

.searchFields{
    margin-left: 15px;
    margin-right: 15px;
}




.standard-button {
    top: 10px;
}

.search-table.ngx-datatable.material{
    z-index: 1;
    border-top-style: outset;
    box-shadow: none !important;
}

.selected-button{
    color: #004283;
    background-color: #2DCCCD;
    top: 10px;
}

.search-filter-box{
    padding: 1rem;
    border-radius: 3px; 
    background-color: #f6f6f6; 
}

.search-filter-title-box{
    color: #004283; 
    border-color: #004283; 
    border-width: 1px;
    border-bottom-style: outset; 
}

.bigButtons{
    bottom: 7px;
    margin-right: 30px;
    color: #004283;
    background-color: #2DCCCD;
}

.bigButtons:hover{
    color: white;
    background-color: #004283;
}

.borderMain{
    border-bottom-style: outset;
    border-bottom-width: thin;
    border-bottom-color: #0042833b;
    margin-right: 3%;
}

.borderInput{
    border-bottom-style: inset;
    border-bottom-width: thin;
    margin-right: 1%;
}

.semiInput{
    min-width: 200px;
    padding-right: 5%;
}

.col-4Search{
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
}

.col-3Status{
    flex: 0 0 12.666667%;
    max-width: 12.666667%;
}