<app-toolbar></app-toolbar>

<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Buscar Namings Legacy</h2>
    </div>
  </div>
</div>

<div autosize class="allGlobalRows">
  <div class="container-fluid">
    <div class="row firstRowMargin">
      <div class="col-3">
        <mat-form-field class="fullInput" (keyup.enter)="queryLegacyTables()">
          <input matInput placeholder="Naming Legacy" [(ngModel)]="legacyNaming">
          <mat-hint align="start">Max. 32 caracteres</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3 buttonsCol">
        <button mat-button matTooltip="Buscar" class="button-query-global" (click)="queryLegacyTables()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button matTooltip="Limpiar búsqueda" class="cleanButton button-query-global" (click)="clean()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="table-query-div" style="padding-bottom: 2%; position: relative">
    <ngx-datatable #myTable class='material' [rows]='result' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [loadingIndicator]="loadingIndicator" [limit]="12" [offset]="tableOffset"
      (page)="onChange($event)">
      <ngx-datatable-row-detail [rowHeight]="200" (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="container-fluid onlyView">
            <div class="row" style="margin-left: 3%;">
              <div class="col-5">
                <mat-form-field class="fullInput">
                  <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Descripción Tabla"
                    [(ngModel)]="row.tableDesc" disabled>
                </textarea>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="fullInput">
                  <textarea matInput style="resize: none;" rows="3" cols="150" placeholder="Descripción Legacy"
                    [(ngModel)]="row.legacy.legacyDescription" disabled>
                </textarea>
                </mat-form-field>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60" [resizeable]="true" [draggable]="true"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <button mat-icon-button class="expandButton" matTooltip="Detalles" (click)="toggleExpandRow(row)">
            <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nombre Raw" prop="rawName" [width]="100" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Nombre Master" prop="masterName" [width]="100" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Alias" prop="alias" [width]="40" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Naming" prop="naming" [width]="120" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Legacy" prop="legacy.legacy" [width]="140" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Estado" prop="state" [width]="20" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Fase" prop="fase" [width]="30" [sortable]="true"></ngx-datatable-column>

      <!--
    <ngx-datatable-column name="" [width]="40">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button color="primary" (click)="deleteField(row)">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    -->
    </ngx-datatable>
  </div>
</div>