::ng-deep .allGlobalRows .row{
    margin-top: 15px;
}

::ng-deep .ngx-datatable.material .datatable-body .datatable-row-detail {
	height: inherit !important;
	//max-height: 340px !important;
}

::ng-deep .onlyView{ 
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
}

.fullInput{
    width: 100%;
}

.firstRowMargin { 
    margin: 15px 5% 0 5%
}

.buttonsCol {
    line-height: 50px;
}

.bottomMargin {
    margin-bottom: 3%;
}

.cleanButton {
    margin-left: 5px;
    background-color: #2DCCCD;
}

.expandButton{
    color: #004283;
}

.expandButton:hover{
    background-color: #004283;
    color: #2DCCCD;
}

::ng-deep .onlyView{ 
    font-size: 12px;
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
}