h3 {
    display: inline-block;
}

.createButton {
    float: right; 
    bottom: 0px !important;
}


.bigButtons{
    bottom: 7px;
    color: #004283;
    background-color: #2DCCCD;
}

.bigButtons:hover{
    color: #2DCCCD;
    background-color: #004283;
}

.searchContainer{
    font-size: 13px;
    margin-left: 7%;
}


.expandButton{
    color: #004283;
}

.expandButton:hover{
    background-color: #004283;
    color: #2DCCCD;
}

.fullInput{
    width: 100%;
 }



::ng-deep .onlyView{ 
    label{
        font-weight: bold !important;
        color: black !important;
    }
    textarea{
        color: black !important;
    }
    input{
        color: black !important;
    }
}

::ng-deep .table .mat-icon-button.mat-primary{
    bottom: 7px;
}

.aboveMenu {
    z-index: 9000; 
}

.search-table.ngx-datatable.material{
    z-index: 1;
    border-top-style: outset;
    box-shadow: none !important;
}

//matspinner loading overlay
.smallLoadingOverlay {
    height: 102px !important; 
  }
  
  .loadingOverlay {
    height: 609px; 
    width: 98%; 
    z-index: 8000; 
    position: absolute; 
    left: 1%; 
    background-color: #00000073;
    div {
        margin-top: 5%; 
        line-height: 100px; 
        height: 200px; 
        text-align: center;
    }
  }
  
  .matSpinner {
    line-height: 1.5; 
    display: inline-block; 
    vertical-align: middle;
  }

  .subH3{
    color: #004283; 
    margin: 3% 3% 0 3%; 
    border-bottom-style: outset; 
    border-bottom-width: thin; 
    border-bottom-color: #004283;
  }

  ::ng-deep .foldersTable
   .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
   text-align: left;
   padding: .9rem 1.2rem;
   vertical-align: top;
   border-top: 0;
   color: black;
   transition: width 0.3s ease;
   font-size: 14px;
   font-weight: 400;
 }

::ng-deep .aclTable .ngx-datatable .datatable-body .datatable-row-wrapper{
   background: aliceblue;
   border-bottom: 1px solid #d9d8d9;
   border-top: 1px solid #d9d8d9;
   width: 100% !important;
}

::ng-deep .cleanTable .ngx-datatable.material{
   background: none;
   box-shadow: none;
}

::ng-deep .aclTable .ngx-datatable.material{
   background: none;
   box-shadow: none;
}

::ng-deep .aclTable .ngx-datatable.material .datatable-body .datatable-group-header{
   width: 100% !important;
   font-size: bold;
   color: white;
   background: #00428396;
}


 ::ng-deep .aclOk .ngx-datatable.material .datatable-header{
   background-color: #86d394;
 }

 ::ng-deep .aclNOk .ngx-datatable.material .datatable-header{
   background-color: #e84c3c99;
 }

::ng-deep .subTab .mat-tab-label-container{
   padding-left: 70px;
   background-color: aliceblue;
}

.hiddenStuff {
    display: none;
}