<app-toolbar></app-toolbar>
<div class="container-fluid subMargen">
  <div class="row">
    <div class="divH2">
      <h2>Functional Data Map</h2>
    </div>
  </div>
</div>
<div autosize>
  <ng-container *ngTemplateOutlet="masterTemplate"></ng-container>
  <ng-container *ngTemplateOutlet="rawTemplate"></ng-container>
</div>
<ng-template #masterTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="subH3">
          <h3>Master</h3>
          <button mat-button class="createButton bigButtons" (click)="exportExcelMaster('master')"
            style="margin-right: 15px"> Exportar UUAAs Master </button>
            <button mat-button class="createButton bigButtons" (click)="exportReportTables()"
            style="margin-right: 15px"> Reporte Tablas</button>
        </div>
        <div style="margin-left: 5rem;">
          <div class="row" style="margin: 2% 3% 0px 5%; font-size: 14px;">
            <div class="col-1">
              <mat-form-field class="fullInput">
                <input matInput placeholder="UUAA" [(ngModel)]="uuaa_master"/>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="fullInput">
                <input matInput placeholder="SYSTEM NAME" [(ngModel)]="system_name"/>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="fullInput">
                <input matInput placeholder="DATA SOURCE" [matAutocomplete]="autoDataSource" [formControl]="dataSourceControl" [(ngModel)]="data_source"/>
              </mat-form-field>
              <mat-autocomplete ngDefaultControl #autoDataSource="matAutocomplete" [panelWidth]="320">
                <mat-option *ngFor="let option of filteredDataSource | async" class="selectPretty" [value]="option">
                  <span>{{ option }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="row" style="margin: 0px 3% 10px 10%; font-size: 14px;">
            <div class="col-2">
              <mat-form-field class="fullInput">
                <mat-select #selectState placeholder="COUNTRY" [formControl]="countryControl" [(ngModel)]="country">
                  <mat-option *ngFor="let country of countryOptions" [value]="country">
                    {{country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="fullInput">
                <input matInput placeholder="NIVEL INFORMACIÓN 1" [matAutocomplete]="autoLevel1Master" [(ngModel)]="level1"
                  [formControl]="level1MasterControl" />
              </mat-form-field>
              <mat-autocomplete #autoLevel1Master="matAutocomplete" [panelWidth]="320">
                <mat-option *ngFor="let option of filteredLevel1Master | async" class="selectPretty" [value]="option">
                  <span>{{ option }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="col-3">
              <mat-form-field class="fullInput">
                <input matInput placeholder="NIVEL INFORMACIÓN 2" [matAutocomplete]="autoLevel2Master" [(ngModel)]="level2"
                  [formControl]="level2MasterControl" />
              </mat-form-field>
              <mat-autocomplete ngDefaultControl #autoLevel2Master="matAutocomplete" [panelWidth]="320">
                <mat-option *ngFor="let option of filteredLevel2Master | async" class="selectPretty" [value]="option">
                  <span>{{ option }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="row" style="margin: 0px 3% 10px 15%; font-size: 14px;">
            <div class="col-7">
              <mat-form-field class="fullInput">
                <input matInput placeholder="DESCRIPCIÓN" [(ngModel)]="description" />
              </mat-form-field>
            </div>
            <div class="col-3" style="top: 10px">
              <button mat-button (click)="query_uuaas_masterNEW()" class="button-query-global" style="margin-right: 5px">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-button class="button-query-global2" (click)="clearQueryMaster()" style="margin-right: 5px">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="" style="padding-bottom: 0%; border-top-style: outset">
          <ngx-datatable #tableMaster class="material table search-table" [rows]="queryUuaasMaster" [columnMode]="'force'"
            [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator">
            <ngx-datatable-row-detail #myDetailRow [rowHeight]="120">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="container-fluid onlyView" style="font-size: 12px">
                  <div class="row" style="margin-left: 3%">
                    <div class="col-3">
                      <mat-form-field class="fullInput">
                        <input matInput placeholder="FUNCTIONAL GROUP" [(ngModel)]="row.functional_group_data_source" disabled/>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="fullInput">
                        <textarea matInput rows="2" cols="150" placeholder="DESCRIPTION"
                          style="height: 85px; resize: none;" [(ngModel)]="row.system_description" disabled>
                        </textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60" [resizeable]="true" [draggable]="true"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <button mat-icon-button class="expandButton" matTooltip="Detalles"
                  (click)="toggleExpandRow(row, expanded)">
                  <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="UUAA" [width]="80" [sortable]="true" [canAutoResize]="false" [cellClass]="getboldCell">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span style="font-weight: bold">{{ row.full_name }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="SYSTEM NAME" prop="system_name" [width]="20" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="DATA SOURCE" prop="data_source" [width]="20" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="INFORMATION LEVEL 1" prop="information_level_1" [width]="20" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="INFORMATION LEVEL 2" prop="information_level_2" [width]="20" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="COUNTRY" prop="country" [width]="70" [sortable]="true"></ngx-datatable-column>
            <!--
            <ngx-datatable-column name="ACCIONES" [width]="1" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-button class="button-query-global bigButtons" (click)="view_uuaaDetail(row, 'master')">
                  <mat-icon class="buttonIcon">collections_bookmark</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
            -->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #rawTemplate>
  <div class="container-fluid" [ngClass]="{ hiddenStuff: queryUuaasRaw.length == 0 }">
    <div class="row">
      <div class="col">
        <div class="subH3">
          <h3>Raw</h3>
          <button mat-button class="bigButtons createButton" (click)="new_uuaa('raw')"> Crear UUAA Raw </button>
        </div>
        <div class="row" style="margin: 2% 3% 10px 5%">
          <div class="col-1">
            <mat-form-field class="fullInput">
              <input matInput placeholder="UUAA" [(ngModel)]="selected_uuaa_name_Raw" />
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field class="fullInput">
              <input matInput placeholder="NOMBRE" [(ngModel)]="selected_app_name" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="fullInput">
              <input matInput placeholder="NIVEL INFORMACIÓN 1" [(ngModel)]="selected_level1_rawname" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="fullInput">
              <input matInput placeholder="NIVEL INFORMACIÓN 2" [(ngModel)]="selected_level2_rawname" />
            </mat-form-field>
          </div>
          <div class="col-3" style="top: 10px">
            <button mat-button (click)="query_uuaas_rawNEW()" class="button-query-global" style="margin-right: 5px">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button class="button-query-global2" (click)="clearQueryRaw()" style="margin-right: 5px">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
        <div class="table-query-div aclTable" style="padding-bottom: 0%; border-top-style: outset">
          <ngx-datatable #tableRaw class="material table" [rows]="queryUuaasRaw" [columnMode]="'force'"
            [headerHeight]="40" [footerHeight]="50" [rowHeight]="50" [limit]="7" [loadingIndicator]="loadingIndicator">
            <ngx-datatable-row-detail #myDetailRow [rowHeight]="80">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="container-fluid onlyView" style="font-size: 12px">
                  <div class="row" style="margin-left: 3%">
                    <div class="col-9">
                      <mat-form-field class="fullInput">
                        <textarea matInput rows="2" cols="150" placeholder="DESCRIPCIÓN FUNCIONAL"
                          style="height: 90px; resize: none" [(ngModel)]="row.descriptionFunctional" disabled>
                        </textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [cellClass]="'expandIconClass'" [width]="60" [resizeable]="true" [draggable]="true"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <button mat-icon-button class="expandButton" matTooltip="Detalles"
                  (click)="toggleExpandRowRaw(row, expanded)">
                  <mat-icon *ngIf="expanded">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="!expanded">arrow_drop_down</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="UUAA" prop="uuaa" [width]="80" [sortable]="true" [canAutoResize]="false"
              [cellClass]="getboldCell">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span style="font-weight: bold">{{ row.uuaa }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="NOMBRE" prop="nameSimple" [width]="80" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="DESCRIPCION" prop="descriptionApp" [width]="80" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="NIVEL INFORMACION 1" prop="level1" [width]="25" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="NIVEL INFORMACION 2" prop="level2" [width]="25" [sortable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="ROUTE" prop="route" [width]="10" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="ACCIONES" [width]="1" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-button class="button-query-global bigButtons" (click)="view_uuaaDetail(row, 'raw')">
                  <mat-icon class="buttonIcon">collections_bookmark</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</ng-template>