.fullInput {
    width: 100%;
}

.secTitleRow {
    margin-top: 1%;
}

.niceFont{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bottomMarginAddOrigins {
	border-bottom-style: inset;
	border-bottom-color: #004283;
	border-bottom-left-radius: 6px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dotLabel {
    margin-left: 5px; 
    display: inline-block;
}


////////////////////@at-root

.dot {
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	margin-right: 5px;
    margin-top: 5px;
	display: inline-block;
  }

.margingGroup {
	margin-left: 30px;
	margin-right: 30px;
}

.bold {
	font-weight: bold;
}

.iconSize {
	font-size: 35px;
}

.ml-auto,
.mx-auto {
	margin-left: auto!important
}

.opacity-7,
.overlay .overlay-buttons .custom-btn:hover {
	opacity: .7
}

.text-muted {
	color: #9eabc0!important
}

.card-shadows {
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15); 
    -webkit-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
}

#campaign-v2 .c3-chart-arc path {
	stroke-width: 4px
}

.divH2 {
	margin-left: 3%; 
}

.subMargen {
	margin-left: 0%; 
	width: 100%; 
  }

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f9fbfd;
    //background-color: #dee2e6;
	background-clip: border-box;
	border: 0 solid #e9ecef;
	border-radius: .25rem
}

.card-group {
	display: flex;
	flex-direction: column
}

.card-group>.card {
	margin-bottom: 15px
}

@media (min-width:576px) {
	.card-group {
		flex-flow: row wrap
	}
	.card-group>.card {
		flex: 1 0 0%;
		margin-bottom: 0
	}
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}
	.card-group>.card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-header,
	.card-group>.card:not(:last-child) .card-img-top {
		border-top-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-footer,
	.card-group>.card:not(:last-child) .card-img-bottom {
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-header,
	.card-group>.card:not(:first-child) .card-img-top {
		border-top-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-footer,
	.card-group>.card:not(:first-child) .card-img-bottom {
		border-bottom-left-radius: 0
	}
	.card-columns {
		column-count: 3;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1
	}
	.card-columns .card {
		display: inline-block;
		width: 100%
	}
}


.card>hr {
	margin-right: 0;
	margin-left: 0
}

.card>.list-group:first-child .list-group-item:first-child {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.card-body {
	flex: 1 1 auto;
	padding: 25px
}

.card-body-group {
	padding: 1.25rem;
}

.card-footer,
.card-header {
	padding: .75rem 25px;
	background-color: rgba(0, 0, 0, .03)
}

.card-title {
	margin-bottom: .75rem
}

.card-header,
.card-subtitle,
.card-text:last-child {
	margin-bottom: 0
}

.card-subtitle {
	margin-top: -.375rem
}

.card-link+.card-link {
	margin-left: 25px
}

.card-header-pills,
.card-header-tabs {
	margin-right: -12.5px;
	margin-left: -12.5px
}

.card-header {
	border-bottom: 0 solid #e9ecef
}

.card-header:first-child {
	border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.card-footer {
	border-top: 0 solid #e9ecef
}

.card-footer:last-child {
	border-radius: 0 0 calc(.25rem - 0) calc(.25rem - 0)
}

.card-header-tabs {
	margin-bottom: -.75rem;
	border-bottom: 0
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem
}