<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1 mat-dialog-title>Detalles Columna/Propiedad</h1>
    </div>
    <div class="col-2" style="font-size: 30px; padding-left: 20px;">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null" style="float: right;">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width" >
          <input matInput placeholder="Nombre de la Columna" [(ngModel)]="data.name">
        </mat-form-field>
      </div>
      
    </div>
    <div class="row rowUpperBorder">
      <div class="col-4">
        <mat-form-field class="full-width" >
          <mat-select #selectorProp placeholder="Nombre de la Propiedad" [(ngModel)]="data.property"
              (selectionChange)="selectedProp($event.value)" required>
              <mat-option *ngFor="let prop of fieldsOptions" [(value)]="prop.property">
                {{prop.property}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="col"></div>
      <div class="col-4">
        <mat-form-field class="full-width" >
          <mat-select placeholder="Opciones de validación" [(ngModel)]="data.validation" >
              <mat-option *ngFor="let prop of validOptions" [value]="prop">
                {{prop}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea rows="2" cols="20" matInput
          placeholder="Descripción de la Propiedad" [value]="data.description" disabled>
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button mat-button class="updateButton" (click)="pushSettings()">Actualizar</button>
      </div>
      <div class="col"></div>
      <div class="col-2">
        <button mat-button class="updateButton" (click)="deleteDialog()" style="background-color: #e84c3c99; color: white;">Borrar</button>
      </div>
    </div>
  </div>
