h1 {
    color:#004283;
    margin-top: 3px; 
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.rowUpperBorder {
    border-top-style: outset;
    padding-top: 15px;
}

.closeIcon {
    color:#004283;
    font-size: 30px; 
    float: left;
}

.margenTitle {
    width: 95%; 
    margin: -3% 0 0 1%;
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thick;
}

.subMargen {
    margin-left: 1%; 
    margin-bottom: 3%;
    width: 95%; 
    border-bottom-color: #004283;
    border-bottom-style: inset; 
    border-bottom-width: thin;
}

.goodHeader {
    color: #004283;
    background-color: #86d394;
}

.badHeader {
    color: #004283;
    background-color: #e84c3c99;
}

.expandButton{
    color: #004283;
    bottom: 5px;
}
.expandButton:hover:enabled{
    background-color: #004283;
    color: #2DCCCD;
}

::ng-deep .compaTable {
    padding-bottom: 0;
    .ngx-datatable.material{
        background: none;
        box-shadow: none;
        .datatable-group-header{
            width: 100% !important;
        }
    }
}