<div class="container-fluid">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-11">
      <h1 mat-dialog-title>Detalles Comparación Orígenes</h1>
    </div>
    <div class="col-1" style="font-size: 30px">
      <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="null">
        <mat-icon class="closeIcon">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row margenTitle"></div>
</div>

<div mat-dialog-content class="container-fluid" style="margin: 0; max-height: 370px; overflow-y: visible;">
  <div *ngIf="isAvailable">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Objects">
        <ng-container *ngTemplateOutlet="objectsTemplate"></ng-container>
      </mat-tab>
      <mat-tab label="Fields">
        <ng-container *ngTemplateOutlet="fieldsTemplate"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="!isAvailable">
    <span style="padding: 5%;">El tablón esta en propuesta de namings</span>
  </div>
</div>

<ng-template #objectsTemplate>
  <div class="table-query-div compaTable">
    <ngx-datatable #objectsTab class='material table' [rows]="objects" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="35" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator"
      [groupRowsBy]="'name'">
      <ngx-datatable-group-header [rowHeight]="50">
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="width: 100%;" [ngClass]="{'badHeader': group.value[0].source !== '-', 'goodHeader': group.value[0].source == '-'}">
            <button mat-button style="margin-right: 35px; width: 100%; text-align: start;"
              (click)="toggleExpandObjectGroup(group, group.value[0].source !== '-')">
              <mat-icon *ngIf="!expanded && group.value[0].source !== '-'" style="margin-left: 3px;">fast_forward</mat-icon>
              <mat-icon *ngIf="expanded" style="margin-left: 3px;">fast_rewind</mat-icon>
              <mat-icon *ngIf="group.value[0].source == '-'" style="margin-left: 3px;">check_circle_outline</mat-icon>
              {{group.value[0].name}}
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Fuente" prop="source" [width]="190" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <!--<ngx-datatable-column name="Porcentaje" prop="percentage" [width]="190" [sortable]="false" [canAutoResize]="false"></ngx-datatable-column>-->
      <ngx-datatable-column name="Acciones" prop="nada" [width]="190" [sortable]="false" [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div style="text-align: center;">
            <button mat-button class="expandButton" matTooltip="Ver Origen" (click)="goToOrigin(row)">
              <mat-icon>zoom_in</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div *ngIf="showGraph" style="margin-bottom: 15px;">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="matHeader">
          <mat-panel-title class="title" style="color: #004283;">
            <span style="padding-bottom: 5px;"><strong>- Gráfico de Barras -</strong></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<ng-template #fieldsTemplate>
  <div class="table-query-div compaTable">
    <ngx-datatable #fieldsTab class='material table' [rows]="fields" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="35" [rowHeight]="50" [limit]="10" [loadingIndicator]="loadingIndicator"
      [groupRowsBy]="'naming'">
      <ngx-datatable-group-header [rowHeight]="50">
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="width: 100%;" [ngClass]="{'badHeader': group.value[0].source !== '-', 'goodHeader': group.value[0].source == '-'}">
            <button mat-button style="margin-right: 35px; width: 100%; text-align: start;"
              (click)="toggleExpandFieldsGroup(group)">
              <mat-icon *ngIf="!expanded" style="margin-left: 3px;">fast_forward</mat-icon>
              <mat-icon *ngIf="expanded" style="margin-left: 3px;">fast_rewind</mat-icon>
              {{group.value[0].naming}}
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column name="" prop="nada" [width]="20" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Fuente" prop="source" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo" prop="type" [width]="190" [sortable]="false" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Acciones" prop="nada" [width]="190" [sortable]="false" [canAutoResize]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button mat-button class="expandButton" matTooltip="Ver Naming en el Origen" (click)="openNamingDetails(row)">
            <mat-icon>zoom_in</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div *ngIf="showGraphFields" style="margin-bottom: 15px;">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="matHeader">
          <mat-panel-title class="title" style="color: #004283;">
            <span style="padding-bottom: 5px;"><strong>- Gráfico de Barras -</strong></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="chartFieldContainer" style="height: 370px; width: 100%;"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>